[2017-11-11 09:46] jvican opened #1 "Add nailgun integration and instructions"

[2017-11-11 09:52] jvican opened #2 "Add fast check mode"
This is just an idea, and it's long-term.

We should add a fast check mode to bloop that allows the compiler to run only until refchecks while still being incremental and being able to do things like semanticdb generation (to be tooling friendly). This would require changes to the compiler because we need to have the mapping between classess and targeted class files right after `rechecks`.

The ma

[2017-11-11 09:52] jvican opened #3 "Add parallel execution"

[2017-11-11 09:54] jvican opened #4 "Find a better name"
Blossom is the best that @Duhemm and I came up with for now, but we didn't give it too much thought. We're looking for a better name, that is simpler to pronounce and ideally related to nature.

We're open for suggestions.

[2017-11-11 09:57] jvican opened #5 "Add support for running tests"
Support for running tests is crucial. Adding support for it will require to also comply with sbt's test interface so that we can already reuse some of the implementations written by test frameworks. Or, at least, we need to figure out some strategy.

[2017-11-11 09:57] jvican opened #6 "Add support for console"

[2017-11-11 10:07] jvican opened #7 "Add support for file watching `~`"
We should probably add a really fast source file watching for `~compile` and `~test`. We may want to add this directly to Zinc rather than experiment with it directly in blossom. I prefer this approach since it's more generic.

[2017-11-11 10:21] jvican opened #8 "Bring Zinc as a source dependency"
We should bring Zinc as a source dependency so that we can have make changes really fast to the project and publish it on our own. This is something I'll do before doing the Nailgun integration.

[2017-11-11 11:00] jvican opened #9 "Change logger for zinc"
I want colors, highlighted stack traces, nicer way of reporting log levels, and a simpler logger architecture than the one that sbt has.

[2017-11-13 13:04] jvican opened #12 "Recycle compilation across different live loop instances"

[2017-11-13 13:05] jvican opened #13 "Port nice term display for the progress bar"
From coursier and ammonite: https://github.com/coursier/coursier/blob/master/cache/src/main/scala/coursier/TermDisplay.scala

[2017-11-13 13:57] #3 closed, assigned to Duhemm

[2017-11-13 20:39] #12 closed, assigned to nobody

[2017-11-13 22:17] #8 closed, assigned to jvican

[2017-11-13 22:17] jvican opened #18 "Add some tests"
Our wrapper needs some tests :smile:. @Duhemm volunteered to make some tomorrow, I'm assingning this task to you.

[2017-11-14 21:52] #4 closed, assigned to Duhemm, jvican

[2017-11-15 13:10] Duhemm opened #27 "Show the compilation speed in LOC/s"
See scala/bug#10601

[2017-11-15 13:12] Duhemm opened #28 "Compilation error shouldn't freeze bloop"
If a compilation task fails, then all the dependent tasks will be blocked, waiting for the failed task to finish.

[2017-11-16 09:20] jvican opened #31 "Use the resident compiler when caching works"
The resident compiler avoids classfiles parsing, which has a significant cost (!): https://github.com/scala/compiler-benchmark/pull/39. The argument goes that is quite expensive for compilation of small projects (or for incremental compiles that only compile a small subset), and so bloop is the most likely candidate to benefit from this work.

[2017-11-16 09:35] jvican opened #32 "Use a better hashing algorithm for classpath hashing"
We're currently using SHA-1. I believe a cryptographic hash is not necessary for hashing and detecting changes in jars, so we should use something faster and more lightweight like `xxHash`, see my previous attempt to merge this into Zinc here: https://github.com/sbt/zinc/pull/371. We could in theory implement it in bloop since we have the classpath hooks in latest Zinc 1.x for this.

However, this

[2017-11-16 09:39] jvican opened #33 "Prefer incremental compiles with jars over classes directory"
There's this hypothesis that I haven't had yet the time to test that the JVM prefers jars rather than classes and performs better with the former. This has already been documented upstream: https://github.com/sbt/zinc/issues/305.

This ticket wants to investigate this further by:

1. Confirming the claim.
2. If true, implementing it in bloop.

[2017-11-16 09:56] jvican opened #34 "Use idiomatic configuration folders instead of `$HOME/.bloop`"
We can rely on https://github.com/soc/directories, LICENSE is good.

[2017-11-16 12:13] jvican opened #36 "Use custom reporter *from within Scalac*"
This is a crazy idea.

I didn't realize this was possible as of 2.12: https://github.com/scala/scala/pull/4544.

I think it would be cool to experiment with better error messages only for 2.12.x. That approach would allow us to create a reporter that would understand concrete error messages (by using regexes, since we don't have context information of where those messages were created) and then pr

[2017-11-16 13:45] #28 closed, assigned to nobody

[2017-11-16 14:06] jvican opened #37 "Reuse classloaders of the same Scala version"
We're potentially classloading the Scala universe twice, one in `ScalaInstance` and another one in the `ClassLoaderCache` created internally by `ZincUtil.scalaCompiler`. We should unify these two so that we construct the classloader cache ourselves, we share it across the two different use sites, and we pass it in explicitly to create `AnalyzingCompiler`.

[2017-11-16 15:12] #34 closed, assigned to nobody

[2017-11-17 14:26] Duhemm opened #43 "Dotty support"
Would be cool to support Dotty someday.

See https://github.com/scalacenter/bloop/pull/30#discussion_r151400970

[2017-11-21 11:05] Duhemm opened #45 "Bloop will compile multiple times the same bridge concurrently"
For instance when compiling sbt/sbt, there are multiple leave projects that will be built concurrently. If Bloop needs a new compiler bridge, it'll compile multiple times the same bridge concurrently.

[2017-11-21 11:08] Duhemm opened #46 "Test projects should depend on their "normal" projects"
Currently, for every project in the sbt build, we define 2 projects: the "normal" project, and the test project. The test project should have a dependency on the normal project.

The issue arises when we try to build everything concurrently. Because the test projects do not depend on their normal project, we build them without having built the normal project before, and compilation will fail.

[2017-11-21 13:29] Duhemm opened #47 "Project loading is slower than it should be"
It should be super fast. I have a strong feeling it comes from the creation of all the `ScalaInstance`s (which all go through Coursier). We should probably cache / share `ScalaInstance`s.

It needs to be profiled and fixed.

[2017-11-21 13:32] Duhemm opened #48 "Report compilation messages in a readable way"

[2017-11-21 18:31] Duhemm opened #50 "Cross publishing sbt-bloop does a weird thing with sbt 0.13.16"
Not sure what kind of sick joke this is (publishes twice for sbt 1 / scala 2.12):

Workaround:
[code]

Problem:
[code]

[2017-11-22 07:03] #50 closed, assigned to nobody

[2017-11-22 17:35] #18 closed, assigned to Duhemm

[2017-11-22 23:56] #47 closed, assigned to nobody

[2017-11-23 09:16] jvican opened #53 "Add integration tests for the CLI"
Now we have a cute CLI. We need to have integration tests for it, to make sure the most important commands work! So far we're testing this manually.

[2017-11-23 12:47] jvican opened #56 "Make the sbt plugin reconstruct the dependency classpath manually"
Because of the way sbt works, when you get the `dependencyClasspath` of a root project you need to compile dependent projects. However, this is in theory not required because we can reconstruct the classpath based on the target directories of the project dependencies and the jars of the library dependencies (and probably also resource target directories -- this needs research). We don't care if th

[2017-11-23 13:58] Duhemm opened #57 "Support `--verbose`"
Most of the commands expose `--verbose` to enable verbose logging, but this option is not passed anywhere at the moment.

Enabling verbose logging in Log4J:
[code]

The issue is that we must disable it after the command has run (otherwise, all the commands will run with verbose logging enabled, and there's no obvious place to do it elegantly at the moment.

[2017-11-23 14:31] jvican opened #58 "Use a standard configuration format that other tools can reuse"
This is a ticket to keep track of collaboration with other tools in the Scala commuinty. Bloop should settle on a configuration format that can be read by any tool (from LSP servers, scalafix to other build tools).

As this format doesn't exist, we should probably pioneer one. Another possibility is to reuse `.eclipse` configuration files -- that are widely supported by Eclipse, Intellij and vscod

[2017-11-23 14:35] jvican opened #59 "Figure out the proper error handling abstraction"
The state of errors in this codebase is a little bit... messy, let's say. We need to have a good story with regard to error handling here, and make it impossible that the nailgun server crashes because of an unwanted exception.

[2017-11-23 18:17] #46 closed, assigned to Duhemm

[2017-11-24 08:35] Duhemm opened #61 "Add support for test quick execution"
I never use it so I completely forgot about it.

Do people actually use it often? If so, we should probably support it since the idea is nice.

[2017-11-24 13:57] jvican opened #62 "Add lichess to our community build"
Current projects:

- sbt/sbt
- lihaoyi/utest
- scalacenter/versions

We need more. I propose to add heavy projects, possibly from the community build. Extra ideas:

* [ornicar/lila](https://github.com/ornicar/lila)
* [quasar-analytics/quasar](https://github.com/quasar-analytics/quasar)
* And similar projects... but we need a big testing suite to catch performance regressions.

[2017-11-26 16:32] #56 closed, assigned to nobody

[2017-11-26 16:33] Duhemm opened #65 "`install` should run source and resource generators"
Otherwise, the project won't compile or the tests won't pass if they are needed.

[2017-11-28 08:38] #57 closed, assigned to nobody

[2017-11-28 12:58] #5 closed, assigned to Duhemm

[2017-11-28 13:01] jvican opened #71 "Remove redundant loging"
We have redundant labels for the logs. Example (both times [W] and [Warn]):

[code]

[2017-11-28 16:28] #65 closed, assigned to nobody

[2017-11-28 16:59] Duhemm opened #75 "Let users configure the size of the thread pool"
#72 introduced a thread pool to execute the task. By default, it's size is the `Runtime.getRuntime.availableProcessors()`. It should be configurable.

[2017-11-29 09:11] #37 closed, assigned to jvican

[2017-11-29 12:20] jvican opened #77 "Log4j error when running tests"
[code]

[2017-11-29 12:48] jvican opened #78 "Find out why the jars of scala instance are required for sbt to compile"
Our sbt integration test fails to compile when we don't add the scala instance jars at the end of the classpath for some misterious reason. I need to figure out why, because these jars should not be there in the first place (they should come from the classpath we get from the `.bloop-config`). See https://github.com/scalacenter/bloop/pull/66/commits/a227c4e9ab0e303ebe9368620d331ec3ea9d6a8a.

[2017-11-29 16:23] #77 closed, assigned to Duhemm

[2017-11-29 17:55] #9 closed, assigned to Duhemm

[2017-11-29 18:00] #71 closed, assigned to nobody

[2017-11-29 18:01] #48 closed, assigned to Duhemm

[2017-11-29 19:25] jvican opened #84 "Remove macros and reduce dependencies in bloop"
- utest -> junit
- caseapp -> roll our own? find something macro-less?

[2017-11-30 08:15] Duhemm opened #87 "Running `bloop --help` shows Nailgun help"
`bloop --help` shows nailgun help:
[code]

[2017-11-30 08:15] Duhemm opened #88 "Running a non-existing command throws a scary exception"
[code]

[2017-11-30 08:19] Duhemm opened #89 "Running commands against an non-existing project crashes bloop"

[2017-11-30 09:59] #89 closed, assigned to nobody

[2017-11-30 10:07] olafurpg opened #92 "Nailgun prints out cryptic error messages"
While trying out bloop I get some errors from the nailgun server
[code]

Compared to when I start scalafmt with nailgun
[code]

Every bloop command ends with a nailgun exception
[code]

I have not seen these errors when running scalafmt with nailgun. However, I have no idea what's causing those errors. I tried

- using the same nailgun version as scalafmt
- redirect out/in/err in case the logging

[2017-11-30 10:29] #87 closed, assigned to nobody

[2017-11-30 10:30] #88 closed, assigned to nobody

[2017-11-30 12:09] olafurpg opened #94 "Clean puts bloop in bad state"
Using bloop to compile bloop

[code]
It seems the exception gets caught by nailgun

[2017-11-30 19:09] jvican commented on #94
Is this done @Duhemm ?

[2017-11-30 19:20] Duhemm commented on #94
Didn't have time yet. First thing tomorrow though. Or just re-assign if you want to have a stab at it!

[2017-11-30 21:06] Duhemm commented on #13
We got rid of the progress bar in #83

[2017-11-30 21:06] #13 closed

[2017-11-30 22:18] ShaneDelmore commented on #61
I use test-only more often but I want to use test-quick, it just doesn't have great change detection.
In my perfect world I want test-quick to run tests in roughly this order:

1. Tests that failed last run
2. New tests
3. Changed tests
4. Tests impacted by changes since last run

Additionally in my beautiful perfect world I then want test to run with the above order, followed by
5. Test suite las

[2017-11-30 22:55] ShaneDelmore commented on #58
2 more cents, no more novelty.  The Clang community has settled on a format and quite a lot of tooling has sprung up around it.  I would love if we could do the same in the scala community.  It may make sense to re-use the same keys they use for our shared bits of information and then just enrich the file with additional information we need to help us interoperate with existing tooling.

https://s

[2017-11-30 22:56] ShaneDelmore commented on #36
This sounds like it could be some variation of scala-clippy.  I love the idea.

[2017-12-01 08:39] leszekgruchala opened #100 "Unable to to pass option to bloop script"
MacOS 10.13.1
Zsh
Bloop version: `66018e0a`
[code]

[2017-12-01 08:40] Duhemm commented on #100
I think that `bloop -- compile -p root` should work as a workaround.

[2017-12-01 08:45] leszekgruchala commented on #100
That was quick! Thank you, helped.

But another thing, running tests does nothing
[code]
No output at all. Should I fill another issue?

[2017-12-01 08:49] Duhemm commented on #100
Yes please! There are some issues with messages being lost between the server and the client, that could also be the cause. In that case, restarting the server usually helps.

You can also add `--verbose` to test to have bloop show the tests that it discovered.

[2017-12-01 08:59] leszekgruchala opened #101 "No tests run for project which aggregates others"
Bloop version: `66018e0a`

I have multi module sbt project.
- core
- web (which depends on core)
- root (which aggregates core and web).

Running tests on root does nothing
[code]
No output at all.

I have to run tests on project which contains them.

[2017-12-01 09:07] leszekgruchala opened #102 "Running tests does not read from resources directory"
Bloop version: `66018e0a`

I have Akka-http project and `application.conf` in `src/main/resources` as well some overrided properties in `src/test/resources` directories. When I run tests in sbt all is fine, but with bloop I get errors about missing configuration:

[code]

[2017-12-01 09:55] jvican commented on #101
Can you not do `--aggregate`?

[2017-12-01 09:57] #1 closed

[2017-12-01 10:05] leszekgruchala commented on #101
`bloop -- test -p root-test --aggregate` helped 👍

[2017-12-01 10:25] #94 closed

[2017-12-01 10:25] #101 closed

[2017-12-01 10:40] Duhemm opened #104 "Should bloop remove old projects when doing install?"
Steps:
 - I run `installBloop`
 - I remove a project from my `build.sbt`
 - I re-run `installBloop`

Problem:
 - The configuration file for the old project is still there

Question:
 - Should bloop remove all the existing configuration files when doing `bloopInstall`?

[2017-12-01 10:40] leszekgruchala commented on #101
Can you derive this information from sbt configuratation?

[2017-12-01 10:47] olafurpg commented on #104
I personally think for now it's best to delegate this to users with `rm -rf .bloop-config`. I like the fact that I can incrementally update the config for one project.

[2017-12-01 11:15] jvican commented on #104
I think it should indeed be removed. Otherwise, users can still see how bloop is trying to compile their projects if the dependencies are maintained. That's bad.

[2017-12-01 11:16] jvican opened #106 "The cache of projects should take into account config file metadata"
In the same way we do for classpath hashing. Otherwise, users will need to kill the server to have their projects detected.

[2017-12-01 11:17] olafurpg commented on #104
Yeah you're probably right, `install` is fast anyways so it's probably best to clean up `.bloop-config` to avoid staleness issues

[2017-12-01 11:51] Jasper-M commented on #7
Is there something inherently wrong with just using `java.nio.file.WatchService` for this? Not that it has the most beautiful interface...

[2017-12-01 12:14] jvican commented on #7
We're using directory-watcher because it claims speedups in OSX and does not do polling. I have a prototype with it I'll PR any time soon.

[2017-12-01 12:18] jvican commented on #101
We do have all that information from sbt, I guess that what you want is the `--aggregate` is enabled directly for "root" sbt projects, right? If this is what you wanted it wasn't clear :smile:.

A better and cleaner option than that one would be to make `--aggregate` the default, since it's the most common anyway. We would add `--isolated` or `--single` to signal that only the single project shoul

[2017-12-01 12:19] jvican commented on #104
Note we can still accomplish the goal in this ticket while staying incremental :smile:.

[2017-12-01 12:46] fsvehla commented on #7
It uses polling under macOS and Linux, which leads to for example SBT using 40% of CPU constantly watching a medium size code base.

[2017-12-01 12:50] jvican commented on #7
Does it under LInux? I think under linux it uses fsevents.

[2017-12-01 12:51] fsvehla commented on #7
My information re: Linux might be outdated, I am not using it for development.

[2017-12-01 14:19] strobe commented on #92
I got same error (osx)
[code]

[2017-12-01 14:38] strobe opened #107 "The nailgun script is only compatible with Python 2"
got following error when tried to use bloop cli
[code]
seems reason for that 3x python installed on system as default python version
[code]
It works well after downgrade to 2.7 by `conda install python=2.7`

[2017-12-01 17:11] olafurpg commented on #92
bloop.plist has been working great for me so far, to update  bloop I re-bootstrap `bloop-server` with coursier and then `launchctl stop Bloop`. I'm happy to try and bundle this in a homebrew install script if there is interest.

[2017-12-01 19:16] jvican commented on #107
You can only use it with Python 2. The nailgun team at Facebook wants it this way, and we borrow the script from them.

[2017-12-01 19:23] jvican commented on #107
By the way, note that you can execute it with `python2 ${PATH_TO_SCRIPT}`, :wink:.

[2017-12-01 23:16] gmethvin commented on #7
The OS differences are basically:
 - Windows JDK `WatchService` does async watching and recursive watching (`ExtendedWatchEventModifier.FILE_TREE`).
 - Linux JDK `WatchService` does async watching but not recursive watching. In practice you can handle the recursive case you can register a new `WatchKey` for directories when they are created.
 - macOS JDK `WatchService` uses polling and at best can

[2017-12-03 15:59] olafurpg opened #111 "Bloop does not handle forked test execution"
I was trying out bloop in scalameta/language-server and our test suite failed because it currently requires `fork := true` due to JNI dependencies. Would it be possible for bloop to pick up fork configuration from the build?

[2017-12-07 14:57] jvican opened #122 "Expose bloop dot graph generation in `showProjects`"
#121 adds dot graph generation for projects. We should allow people to visualize their projects from the CLI, and pipe the contents of the dot graph to the dot CLI tool.

[2017-12-07 14:58] jvican opened #123 "Add better testing for compile and test"
We test the products of these tasks, but we should also test that we don't have duplicated compilation or test execution, for example. Test does this to some extent, but it would be better to make it better.

[2017-12-08 13:14] #122 closed

[2017-12-11 16:08] jvican commented on #7
#125 successfully implements this feature with your work, thanks @gmethvin. In the next days we'll experiment with file watching in bloop in larger projects and we'll see how it fares in comparison with the default file watching algorithms in sbt/sbt.

[2017-12-11 16:10] jvican commented on #92
I'm not a OSX user, it would be great if you could add a section in the README on how to set up automatic bloop server initialization via plist.

I'm looking into this issue now, let's see if I can reproduce.

[2017-12-11 16:15] olafurpg commented on #92
I haven't seen any cryptic nailgun errors since I setup bloop.plist, feel free to close if you can't reproduce.

[2017-12-11 16:46] jvican commented on #92
I'm closing. If someone reproduces it, please do ask to open this ticket. Thanks 👍

[2017-12-11 16:46] #92 closed

[2017-12-11 20:56] jvican commented on #102
This will be in for our next release, that will happen at the end of the week. Thanks for reporting @leszekgruchala :heart:.

[2017-12-11 20:57] jvican commented on #123
We already do this indirectly via the file watching tests in #125. Closing.

[2017-12-11 20:57] #123 closed

[2017-12-11 23:13] jvican commented on #100
What was the way we decided to solve this issue? Forwarding CLI arguments from the nailgun server to the underlying app?

[2017-12-11 23:21] #59 closed

[2017-12-11 23:29] jvican opened #131 "Rework instructions to be cross-platform"
There are lots of assumptions in our instructions that rely on the users owning a Linux or OSX machine. For example, paths:

It does not have a solid way to use bloop. I believe that in the next 0.2 release, we can do a much better job at solving these two issues.

[2017-12-11 23:37] olafurpg commented on #131
I can recommend setting up appveyor, it's quite easy to do and I've found the appveyor CI quite fast to run

[2017-12-11 23:38] olafurpg commented on #100
I think I fixed this with `alias bloop = ng bloop.Cli` @jvican

[2017-12-12 11:44] jvican commented on #92
I've filed a ticket upstream: https://github.com/facebook/nailgun/issues/112, I was able to reproduce. Updates will happen there.

[2017-12-12 11:46] jvican commented on #131
Oh, absolutely. There's a wip PR to add appveyor in Zinc https://github.com/sbt/zinc/pull/370 -- I also had a smooth experience with it.

[2017-12-12 17:06] bloopoid opened #132 "polling service exception"
polling service exception

[2017-12-12 17:12] bloopoid opened #133 "job queue exception"
job queue exception

[2017-12-12 17:13] #132 closed

[2017-12-12 17:13] #133 closed

[2017-12-13 05:32] #7 closed

[2017-12-14 22:43] abhijeetardale opened #134 "Missing required configuration entry: cookie.encryption.key"
most of test failed with common error

[error] application - Missing required configuration entry: cookie.encryption.key
Exception encountered when attempting to run a suite with class name: TestSpec ABORTED
java.lang.SecurityException: Missing required configuration entry: cookie.encryption.key

However all these tests are running smoothly with sbt test

[2017-12-15 08:21] Duhemm commented on #134
Thanks for the report!

I strongly suspect that this happens because either resources are not copied over (see #102), or because these tests require forking and passing options to the JVM (see #111). Both these things will be supported in the future.

Can you confirm?

[2017-12-18 16:18] jvican commented on #6
Done by both of us in #120

[2017-12-20 12:26] #75 closed

[2017-12-20 12:30] bloopoid opened #139 "job queue exception"
job queue exception

[2017-12-20 12:30] #139 closed

[2017-12-22 10:23] jvican opened #140 "Automatic generation of bloop configuration files"
The idea behind bloop is that it only understands its own configuration files, which have to be written from several mainstream build tools in order to be used. One small issue with this is that whenever users change the project definitions, they have to run `bloopInstall` or a similar task in other build tools to generate new configuration files.

This ticket proposes to change the status quo to

[2017-12-26 19:17] abhijeetardale commented on #134
Hi,
with recent changes, I am not getting the above error but couple of test got failed with "com.typesafe.config.ConfigException$Missing: No configuration setting found for key 'akka'" which is already reported (#[102](https://github.com/scalacenter/bloop/issues/102)). I tried by copying the resources as suggested but doesn't worked.

Also after running the test with bloop-ng.py -- test -p my-pro

[2017-12-26 21:08] Duhemm commented on #134
That's fixed as part of #136.

Is it an open source project that we can try directly? Otherwise, can you tell us what kind of application this is (Play, Akka HTTP, etc.)?

Thanks again for the report.

[2017-12-26 23:53] #6 closed

[2017-12-31 01:06] abhijeetardale commented on #134
Hi Duhemm, thanks for update.
No its not open source project. Its play application.

[2018-01-01 20:38] #111 closed

[2018-01-01 21:28] jvican opened #146 "Test infrastructure is (spuriously) causing a null pointer exception"
Merging #136 made the CI failed with this error message:

[code]

I restarted the process, we'll see if it's an spurious error or not.

[2018-01-01 23:43] jvican commented on #146
Seems it was a spurious error. Let's hope it doesn't show up anymore, otherwise that'd be a sign this is, most likely, a concurrency issue.

[2018-01-02 01:44] jvican opened #147 "Allow bloop configuration files to specify where the analysis file is stored"
We have an ad-hoc URI where we store the analysis file, independently of the original setup in all our supported build tools. However, we should allow users to specify where the Zinc analysis file should be stored.

[2018-01-02 19:10] Duhemm commented on #146
I'm wondering if it's not due to the forked JVM having too little memory to run the tests. I was seeing this problem in #124, and I think I didn't see it after I pushed this commit: https://github.com/scalacenter/bloop/pull/124/commits/c803ad39c5f5881a949219aec8f87de07eb3eac4

[2018-01-05 20:54] Duhemm commented on #134
@abhijeetardale Can you confirm that #149 fixes this issue?

[2018-01-08 09:42] jvican opened #150 "Update to latest directory-watcher version"
https://github.com/gmethvin/directory-watcher/pull/6#issuecomment-158349534 is in and seems important. We can also benefit from other updates that we've missed in the meanwhile.

[2018-01-08 09:45] jvican commented on #146
Maybe, closing preemptively.

[2018-01-08 09:45] #146 closed

[2018-01-08 13:21] jvican commented on #150
Just realised we're already using the latest version.

[2018-01-08 13:21] #150 closed

[2018-01-08 19:20] jvican commented on #134
@abhijeetardale Happy New Year! It would be awesome if you can tell us if latest master fixes your issue, so that we can finally close this issue and call it a day :smile:.

[2018-01-09 11:02] #134 closed

[2018-01-11 00:31] jvican opened #152 "Implement the gradle integration"
This is work in progress. It's an umbrella ticket so that interested people can subscribe to this and receive updates when the integrations is merged. /cc @time2die

[2018-01-12 10:12] olafurpg opened #154 "Avoid "Required option --project / -p not specified""
I ran
[code]

It would be nice if bloop inferred `-p` here.

[2018-01-12 10:16] jvican opened #155 "Allow users to compile, test and run a list of projects"
Users should be able to compile, test and run a list of projects. Right now, we only allow one via `-p`. It would look like `bloop compile -p a -p b`, or something similar.

Internally, bloop gets this list of project and then finds the minimum amount of compile invocations that have to be done (accounting for incrementality).

[2018-01-12 14:52] Duhemm opened #158 "`MultiplexedStreams` should be used when running tests, too"
We currently use them to redirect output in `run` only, but we should do the same for tests.

[2018-01-14 14:58] Duhemm opened #159 "`MultiplexedOutputStream` kills Nailgun from the second `run` on when not forking"
It turns out that Nailgun replaces `System.out` and `System.err` with `ThreadLocalPrintStream` (which happen to do the *exact* same thing as `MultiplexedStreams`), and it expects to find `ThreadLocalPrintStream` instances in `System.out` and `System.err`.

Because we replace those streams in the first run, Nailgun will crash after that because of a `ClassCastException`.

The solution would be to u

[2018-01-15 21:16] jvican opened #162 "Allow users to fork tests"
Bloop does not allow you to set whether test execution should be forked, even though we have the same for running projects. When this is implemented, it needs to be updated in the maven mojo so that it's configurable from Maven too.

[2018-01-16 09:59] jvican opened #166 "Make the sbt-bloop plugin work for source dependencies"
When `bloopGenerate` is run in the root project, it will not run it for all the projects in external source dependencies because they are not aggregated. This also happens with projects in the same build that are not aggregated in the root project either.

I propose that we make the `bloopGenerate` task to detect root projects (sbt's base directory matches the base directory of the project) and ru

[2018-01-16 14:47] Duhemm commented on #162
We support forking in test, it was added in #136. See #111.

https://github.com/scalacenter/bloop/blob/c899f3ad31fadd22b9b498d5080c362ebbfd4b2d/sbt-bloop/src/main/scala/bloop/SbtBloop.scala#L194-L209

[2018-01-16 14:47] #162 closed

[2018-01-16 15:58] jvican opened #167 "Make the CI faster"
- [x] Speed up git cloning: https://github.com/lampepfl/dotty/pull/3850
- [x] Split up our gigantic test suite into chunks we can run in parallel (probably two jobs is enough)
- [ ] Share the bridge by setting the sbt home global in the scripted tests

[2018-01-16 18:20] #159 closed

[2018-01-16 18:42] jvican opened #168 "Deprecate/remove bloop shell"
I'd like to explore the possibility of removing the bloop shell. In my opinion, it doesn't give us any more value than what the nailgun client/server architecture does, and it's confusing to explain it to the users.

What do you think @Duhemm?

[2018-01-16 22:24] jvican opened #169 "Upgrade to latest nailgun"
There have been important changes upstream. Catch up.

[2018-01-16 22:24] #84 closed

[2018-01-16 22:25] #78 closed

[2018-01-17 10:25] jvican commented on #169
Important PR has just been opened: https://github.com/facebook/nailgun/pull/114. We may want to include it before it gets merged upstream given how important fixing this race condition is for bsp.

[2018-01-17 21:12] jvican commented on #162
@Duhemm Merci, I know get it how it works. The reason why I thought it didn't exist is because we don't have an special option for fork in the configuration file, but I know get the semantics of what we have now: when we have a test project, our `fork` option mean s`fork in Test` while in a compile project it means `fork in run`. There's some conflation of the concept here, but I think it's unlike

[2018-01-18 12:35] jvican opened #172 "Add integration tests for nailgun"
We badly need integration tests for nailgun. The way bloop works with or without nailgun is not the same, and nailgun is eventually the UX for bloop. Having integration tests for nailgun will help us assert that issues with stdin, stdout and stderr (as I'm having right now with the bsp implementation) don't happen, or that the CLI interface works as expected, to prevent errors like #88 or https://

[2018-01-18 12:37] jvican commented on #100
I have the same alias and this problem still occurs in my machine.

[2018-01-18 12:39] jvican opened #173 "Make sure that nailgun aliases register all bloop commands"
Currently, the nailgun aliases are strings that are detached from our bloop commands, and we forgot to add some of them like `configure` to the nailgun aliases.

[2018-01-18 12:40] Duhemm commented on #100
I have
[code]

And commands such as
[code]

work fine.

[2018-01-18 12:41] jvican commented on #100
The `--` at the end does the trick. However, I wonder if we can fix this in a more fundamental way. I'd like to avoid the need of `--` altogether.

[2018-01-18 12:58] #168 closed

[2018-01-18 13:17] olafurpg commented on #173
Why do you use nailgun aliases? I would rather configure the installation to let commands go directly to bloop. The nailgun error messages are very cryptic when you get the aliases wrong.

[2018-01-18 13:42] jvican commented on #173
Because I want to avoid the use of `--`, and I prefer the CLI to be intuitive. See #175 and its commit messages for details.

[2018-01-18 13:44] jvican commented on #100
`python2 nailgun/pynailgun/ng.py compile -p frontend` should work out of the box with #175. This is more intuitive because what the user can easily assume that the bloop CLI is the equivalent of running the python script `python2 nailgun/pynailgun/ng.py`, without any nailgun-specific implementation detail.

[2018-01-18 13:54] jvican commented on #100
Note that, from now on, in case you want to modify one of the nailgun flags (port, server, filearg, show version), you will indeed need to use `--` like `python2 nailgun/pynailgun/ng.py --nailgun-port=1717 -- compile -p frontend` (and this, knowing how CLI parsers work, is intuitive).

But the cool thing with #175 is that it won't require you to add `--` for the simplest and most likely use cases.

[2018-01-18 14:12] Duhemm opened #176 "The `ExecutionContext` still has non-daemon threads when exiting"
See in the benchmark logs for instance:

[code]

Related: #113

[2018-01-18 14:43] #173 closed

[2018-01-18 15:13] olafurpg commented on #173
What error message gets printed out when the user types `bloop tes` or `bloop compil`? I would expect it to print out "Command not found: compil". The user won't have to type `--` if `bloop` is aliased correctly.

[2018-01-18 15:15] olafurpg commented on #173
Here's what I get on a slightly outdated version

[code]

[2018-01-19 10:46] jvican opened #179 "Use the classloader cache in `AnalyzingCompiler`"
I've just realised that because the constructor of `ZincUtil.scalaCompiler` does not take the classloader cache, we forgot to use it. In order to use it we need to use `analyzingCompiler.withClassLoaderCache`.

This cache is important to alleviate some aggressive JIT deoptimizations, as [explained in this popular zinc ticket](https://github.com/sbt/sbt/pull/2754). We were just missing adding the e

[2018-01-19 11:53] jvican opened #181 "Use `akka` for integration tests and benchmarks"
Akka is a good project to add to our integration test suite and benchmark it to test the impact of our changes. We should add it to our project so that we have results about it too. The akka sbt build is not trivial too, and that will give us an extra assurance that projects of such a high importance work.

[2018-01-19 13:02] olafurpg commented on #181
Another personal favorite of mine is slick/slick, it's less heavy than akka but is still interesting both as a build (codegen, many modules) and the code patterns used (heavy path dependent types, type inference, although that's less interesting for bloop).

[2018-01-19 13:39] jvican commented on #179
It turns out that `ZincUtil.scalaCompiler` is already calling that under the hood, and we're already caching compilers based on `ScalaInstance`s. The `scalaCompiler` method creates a new loader per compiler. Though it's not meant to be used this way it works, because it caches the instance for different invocations of `getInterfaceClass`.

[2018-01-19 13:39] #179 closed

[2018-01-19 13:52] jvican opened #182 "Have a careful handling of the caches for Scala instance"
It turns out that all the `ClassLoaderCache`s and the `Compilers` caches rely on the hash code of scala instance. The problem with `ScalaInstance`, however, is that it stores not only the core jars (library and compiler) but also extra jars (scala reflect, scala xml and jline).

Imagine now that because of a misconfiguration, project `A` has xml in the classpath but project `B` doesnt, or that pro

[2018-01-19 14:03] Duhemm opened #184 "Don't use the bloop shell for benchmarks"
Bloop shell was just created for prototyping and easing development while Nailgun integration was very experimental. However, we ended up using it also for the benchmarks.

It'd still be nice to finally remove it, since it isn't demonstrating how Bloop is supposed to be used.

Todo before re-removing Bloop shell:

- [ ] Stop using Bloop shell for the benchmarks
- [x] Remove all mentions of Bloop s

[2018-01-19 17:11] Duhemm commented on #102
This was fixed in #149

[2018-01-19 17:11] #102 closed

[2018-01-19 18:32] #169 closed

[2018-01-20 19:59] #158 closed

[2018-01-23 08:54] jvican opened #190 "Handle CTRL-C in nailgun"
We need to figure out a way to handle CTRL-C (SIGINT) signals produced by our nailgun client so that we can appropriately act on the server. This is useful for two use cases: stopping file watching and the bsp server.

[2018-01-23 08:56] jvican opened #191 "Upgrade nailgun to 0.9.3"
There's a huge nailgun update that has redesigned the way it works. It looks really nice. Sooner or later we'll need to upgrade to it, since it already made it into master: https://github.com/facebook/nailgun/.

[2018-01-23 09:03] jvican opened #192 "Handle error output in our streams"
I think we're not handling error output in our streams, and we only redirect output streams (stdout) to loggers.

[2018-01-23 09:05] Duhemm commented on #192
`System.err` and `System.out` are redirected to the best of my knowledge:

https://github.com/scalacenter/bloop/blob/d292681b23628347ab003c60d018ea9bc8b28c66/frontend/src/main/scala/bloop/exec/MultiplexedStreams.scala#L14-L15

https://github.com/scalacenter/bloop/blob/d292681b23628347ab003c60d018ea9bc8b28c66/backend/src/main/scala/bloop/logging/ProcessLogger.scala#L20-L27

[2018-01-23 09:12] jvican commented on #192
I remember seeing somewhere it wasn't the case, but perhaps it was fixed in one of your latest PRs and didn't update my knowledge :smile:. I'm closing.

[2018-01-23 09:12] #192 closed

[2018-01-26 08:14] propensive commented on #154
Relatedly,
`bloop clean -p foo`
works where
`bloop clean --project foo`
does not.

This isn't a problem with the `compile` subcommand, though it may be for others.

[2018-01-26 08:26] propensive opened #195 "Bloop returns nonzero exit status without explatation"
Sometimes Bloop will return a nonzero exit status, without printing any output, so it's not clear why it wasn't successful. I think that in the cases where it fails, it should always print *something*.

Here is an example, which I've not been able to diagnose:
[code]
while the bloop-server reports only the following:
[code]

[2018-01-26 08:51] Duhemm commented on #195
Thanks for the report!

Does it happen in cases where you the command to fail, or it doesn't matter? Do you get at least some output when running with `--verbose`?

[2018-01-26 11:10] propensive commented on #195
It happens in a case where I expect the command to succeed, so it's failing and I don't know why. `--verbose` does not change anything, unfortunately (though thanks for making me aware of it)!

[2018-01-26 11:10] propensive commented on #195
I say "where I expect the command to succeed", but there are quite possibly reasons why it wouldn't succeed.

[2018-01-26 14:07] jvican opened #196 "Allow users to customize bloop's string encoding"
Bloop may need access to a user-defined encoding that may not be UTF-8, especifically under Windows. Therefore, we need to allow users to tweak this encoding so that we can safely assume a correct string representation, and users can change it if they don't like the default one.

[2018-01-27 23:31] propensive opened #202 ""--watch" mode should print something when successful compilation is complete"
When using `bloop compile --watch`, multiple messages are displayed saying, for example,
[code]
but it's not possible to distinguish between compilation having successfully completed, and an ongoing, incomplete compilation.

Some sort of visual cue would be very helpful. The easiest solution would be to print an additional line when each successful compilation finishes.

[2018-01-28 11:53] propensive opened #203 "Missing configuration parameters cause NPEs"
If a configuration file is missing an expected parameter, the outcome in at least certain cases is a null-pointer exception being thrown in the server.

Supporting hand-written configuration files probably shouldn't be your highest priority, but it should be a relatively easy fix.

[2018-01-28 11:59] propensive commented on #195
The cause for this particular failure was trying to do a `bloop run` with the `classpath` parameter in the configuration file empty, which is obviously a mistake: it could do nothing other than fail.

I haven't experimented much, but the complete lack of output may have been a consequence of not even the Scala library jars being on my classpath.

[2018-01-28 12:03] propensive opened #204 "`bloop run --watch` runs even when compilation fails"
I think that running should be conditional on successful compilation.

[2018-01-28 12:08] propensive commented on #204
Just experimenting further, and it seems like bloop works as desired if the compilation failure is in the same project as the one being run, but not if the compilation failure happens in a dependent submodule.

If a dependent submodule fails, compilation appears to continue, using an earlier successful build.

[2018-01-28 12:18] propensive opened #205 "Errors are output in reverse order"
Is this a bug or a feature?! It seemed weird at first, but I could learn to love it, as the "first" errors appear in the part of the output I see.

I don't mind what the default is, but I think this should be configurable.

[2018-01-28 12:38] propensive opened #206 "Match error relating to caching in Zinc"
I'm reporting this in the hope that the stack trace is useful. The actual type of exception is not reported, but it appears to be a match error happening in Zinc, which looks a lot like a programming error.

Note that the following is the entire output; it is not cut short.

[code]

[2018-01-28 12:43] propensive commented on #206
I've raised a PR against `scalacenter/zinc/loop` which should avoid this.

[2018-01-28 13:55] jvican commented on #206
This will be fixed this Monday when I update our Zinc instance to the one in sbt/zinc, which already fixed this error.

[2018-01-28 13:56] jvican commented on #205
It's a feature, it's the way sbt-errors-summary works. You have a way to disable it with `--reporter`.

[2018-01-28 13:57] jvican commented on #204
I'll have a look at this when I'm done with the bsp implementation, should be easy to fix. Thanks for reporting Jon.

[2018-01-28 13:57] jvican commented on #203
Yeah, I'm aware of this. I'd like to solve this issue together with the refactoring to use metaconfig, which I'll do in the upcoming week.

[2018-01-28 16:03] propensive commented on #203
When you do, please spare a thought for people wanting to interact with the configuration files through shell scripting. The current format is quite convenient as I'm able to work with it using tools like `grep`, `cut` and `tr`.

Most of the time, I'm not reading them; I'm writing them, so don't get too hung up about this concern of mine. If you've got other reasons to switch to a new format, they

[2018-01-28 16:05] propensive commented on #204
Seems like it should be, though it's more difficult to test whether it's actually fixed, I think.

As I mentioned on Gitter, let me know if you're interested in having a `docker` integration test setup.

[2018-01-28 16:05] propensive commented on #205
Cool, I quite like it, actually. Just took me by surprise! ;)

[2018-01-28 20:30] propensive commented on #58
I know I brought this up in another ticket, but I'll reiterate here, as it's more relevant.

If the file format needs to be read by other tools, JSON is too heavyweight a dependency to require, as it becomes largely inaccessible to shell scripting (which is a particular use-case for Bloop). JSON can be read with `jq`, but it's not standard.

The existing key/value format works very well for shell

[2018-01-28 20:41] propensive opened #207 "bloop exit status is not consistent"
Using the invocation,
[code]
I notice that `success` is printed both for successful and unsuccessful (compile errors) compilations on a *freshly-started* bloop server. Hence, the exit status is `0`.

If I do something to "break" bloop, even something very simple like trying to compile a project which doesn't exist, it seems like this and any subsequent invocations of `bloop compile` return a nonze

[2018-01-28 20:45] propensive commented on #207
For the avoidance of doubt, the exit status should be `0` if and only if the classfiles exist and are an accurate reflection of the current source inputs after the `bloop` command has run (regardless of whether anything was actually compiled).

I don't think it's going to be useful to indicate that "bloop did not need to do anything" through a nonzero exit status.

[2018-01-28 20:53] propensive opened #208 "A developers' guide would be useful"
It would be nice to be able to work on my own changes for `bloop`. Unfortunately, the installation instructions in the README file do not scale well: the build/install cycle takes many minutes, and (from what I can tell, though it's too time-expensive to test more than twice) installing using the script uses `coursier` which expects to find an artifact in a remote repository somewhere, correspondi

[2018-01-29 07:33] Duhemm opened #209 "Bloop should explain how to start itself when it cannot connect to the server"
Currently, running `bloop` when there's no server started prints:

It would be better to add something along the lines of:

Moreover, if we're changing the name of the server executable, that will make it harder to discover, and more users risk hitting that.

This should be improved in the python script.

[2018-01-29 10:48] propensive commented on #209
I have wrapped `bloop` in a script which checks whether the server is running, and if not, starts it in a `screen` session, something like,
[code]
There's a lot of ugly stuff in there, and it relies on `screen` and `netstat` and (worst of all) `sleep`, but it has meant I haven't had to think much about starter the server when it's not running.

Might be useful as the basis for something less hacky

[2018-01-29 11:10] olafurpg commented on #209
On OSX, I've found launch agents to work really well. I set it up once in December and the server has always been up when I've run on `bloop` since then. To restart the server I run `launchctl stop Bloop`.

[2018-01-29 13:13] Duhemm opened #213 "Completions for zsh and bash should be autogenerated"
Currently, completion functions for zsh are hardcoded in `etc/_bloop`. It'd be better if they were generated using Case App data structures. Prior work exists in scalafix for instance: https://github.com/coursier/coursier/pull/756#issuecomment-361066113

See also: https://github.com/scalacenter/scalafix/blob/76ed12d695714156d3a910d3b431d04c9db7a036/scalafix-cli/src/main/scala/scalafix/cli/Cli.scal

[2018-01-29 13:26] Duhemm opened #214 "Homebrew formula should install zsh completions"
Currently they're not installed by our homebrew formula, but it'd be incredibly cool if they were.

There's support for that in homebrew. See for instance this formula:

https://github.com/Homebrew/homebrew-core/blob/a1bf6dd10502fc153a2c84b7c240a4f0c0f0c7c0/Formula/kerl.rb#L10-L14

It is probably easier to wait for #213 to be fixed before taking care of that.

[2018-01-30 15:17] jvican opened #217 "Implement good batching support for compilation in bsp"
See https://github.com/scalacenter/bloop/pull/153/files/74c8d7a3d08d5c0c34b994564f6b19303fb2c48d#diff-6a5568f260cb9c6ed0c7ff2ccc7e5f5e. I'll get to this soon, when I get back to #170.

[2018-01-30 15:31] jvican opened #218 "Use a sensible scheduler for the bsp server"
See https://github.com/scalacenter/bloop/pull/153/files/74c8d7a3d08d5c0c34b994564f6b19303fb2c48d#diff-8d31c646821d4a6c741b0d971c62a5f4. This will be done with the monix refactoring in #170.

[2018-02-01 12:46] Duhemm commented on #166
You should use `installBloop` to do this instead, <3

[2018-02-01 12:46] #166 closed

[2018-02-01 17:05] jvican opened #225 "Improve README installation instructions"
Jon (@propensive) speaks:

[2018-02-02 09:00] jvican opened #227 "Handle user cancellation gracefully"
When the user quits a long-running bloop process with `CTRL-C`, we need to gracefully handle the signal and appropriately close all the resources. This is true especifically for two kinds of use cases: bsp server and file watching.

In this ticket, I investigate how to do so when our users are behind a nailgun client, and bloop is a long-running nailgun server.

[2018-02-02 09:09] jvican commented on #190
Closing in favor of #227

[2018-02-02 09:09] #190 closed

[2018-02-02 10:25] jvican opened #229 "Stabilise benchmark machine"
Our benchmarks machine has ms variations that are significant and must be minimized. In order to make it more stable, we're going to disable hyper threading, TurboBoost, NUMA and we'll do a few tricks more. We won't be disabling intel_pstate though, since I've read some comments claiming that `acpi_cpufreq` can have a bad impact for new Intel processors.

In essence, we'll be running a subset of t

[2018-02-02 16:00] jvican commented on #229
Update: the stable benchmark support they have in scala/scala is excellent, see https://github.com/scala/scala-dev/issues/338. We're only doing a subset of it: we don't do IRQ setup, we don't have a tickless kernel and still use `intel_pstate` (we do set the frequency to one concrete frequency).

Here's a copy of the script that we use internally:

[code]

The machine has already been set up. We m

[2018-02-03 09:41] jvican commented on #229
Missing item:

- [ ] We must make sure that is not rebooted, and if it is that we run the script again.

[2018-02-10 19:25] Duhemm opened #248 "Bloop should report resolutions errors"
Bloop does dependency resolution to fetch the scala instance and the test agent. Resolution errors are silently discard.

We should report these errors and probably abort the operation that triggered dependency resolution.

See https://github.com/scalacenter/bloop/blob/master/backend/src/main/scala/bloop/DependencyResolution.scala#L57

[2018-02-10 20:02] jvican commented on #202
This was addressed in a recent PR because we default to upstream Zinc's behaviour: we print "Done compiling." so that it is totally informative of what module has just been compiled and that compilation is obviously finished.

[2018-02-10 20:02] #202 closed

[2018-02-10 20:02] jvican commented on #206
Fixed in master.

[2018-02-10 20:02] #206 closed

[2018-02-10 20:17] jvican opened #249 "Fix spurious error in TestLoggingSpec"
[code]

It seems this error happens quite often on the CI. @Duhemm Could you look into it? I think you're the author of this test.

[2018-02-10 20:59] Duhemm opened #250 "Bloop's homebrew formula shouldn't install coursier"
Currently, we download Coursier and use it to build Bloop when installing via homebrew. The `coursier` binary that we download is not removed, and is installed along with the bloop. If the user already has coursier installed via homebrew, homebrew will tell the user to unlink coursier and link bloop.

Our homebrew formula should simply depend on coursier?

[2018-02-11 15:57] olafurpg commented on #250
You can either depend on the `coursier` formula or `wget` the slim bootstrap script for single use and then delete it https://github.com/coursier/coursier/blob/master/coursier

[2018-02-11 15:58] olafurpg commented on #250
What do you mean?

I think it's possible to depend on another formula. Alternatively, you can `wget` the slim bootstrap script and delete it afterwards https://github.com/coursier/coursier/blob/master/coursier

[2018-02-11 16:17] Duhemm commented on #250
Whoops, I meant depend on coursier. I fixed it, thanks.

It's indeed possible to depend on other formulas. For instance, we already depend on the python formula.

[2018-02-12 01:23] laughedelic commented on #250
Moreover you can depend on it only in while building/installing your formula ([docs](https://github.com/Homebrew/brew/blob/master/docs/Formula-Cookbook.md#specifying-other-formulae-as-dependencies)):

[code]

[2018-02-12 10:09] olafurpg opened #251 "bloop --help prints out nailgun help"
Using 1.0.0-M3

[code]

I expected it to print out the bloop help.

[2018-02-12 10:36] MasseGuillaume opened #252 "Cannot load bloop sbt bulid"
[code]

[2018-02-12 10:40] MasseGuillaume commented on #252
`git clone --recursive git@github.com:scalacenter/bloop.git`

[2018-02-12 10:40] #252 closed

[2018-02-12 10:51] olafurpg opened #253 "--args is not convenient when passing multiple arguments"
Example command I need to run vork
[code]

It would be nice to write this instead
[code]

case-app supports this via RemainingArgs.

[2018-02-12 10:55] olafurpg opened #254 "Working directory for bloop run is root"
I installed bloop via homebrew and the working directory with `bloop run` seems to be root `/`

[code]

Adding `$(pwd)/` fixes the problem
[code]

I would expect bloop to use the working directory from where the nailgun client is invoked, which might require forking. Not sure if setting `sys.props("user.dir")` could work

[2018-02-12 11:02] olafurpg opened #255 "JVM options for bloop run?"
I was testing `bloop run` on vork and hit a stack overflow

[code]

How do I go about configuring the JVM options to increase the stack size?

[2018-02-12 11:06] olafurpg opened #256 "bloop test does not test/compile test config"
At commit https://github.com/olafurpg/vork/commit/85e63f7dff59b2a6051f77fbea0c7ed3e17b4a80
[code]

I tried

[code]

[2018-02-12 11:09] olafurpg opened #257 "--watch prints out a lot of noise and false compile errors"
At commit https://github.com/olafurpg/vork/commit/85e63f7dff59b2a6051f77fbea0c7ed3e17b4a80
[code]

I have no idea why the compile errors happen when I add a single newline to my file. I cannot reproduce without --watch.

[2018-02-12 11:11] olafurpg opened #258 "Print out total compile time on success/error"
Currently, bloop prints out "Done compiling." after compilation. It would be nice if it included the total time it took to compile, like

[code]

Even nicer would be to include total number of lines compiled, but that's a separate ticket probably.

[2018-02-12 11:23] Duhemm commented on #255
Bloop should pick up the `javaOptions` from the sbt build, but they won't be used unless `fork` is set to true.

[2018-02-12 11:24] olafurpg commented on #255
I'm wondering if `fork := false` is a good default for bloop run. It might make more sense from the sbt shell but with nailgun in the mix the working directory is different.

[2018-02-12 11:25] olafurpg commented on #255
I'll try to configure my sbt build for `fork := true` and configure `javaOptions`. Thanks!

[2018-02-12 11:25] #255 closed

[2018-02-12 13:21] Duhemm commented on #254
Thanks for the report!

This is easy to fix when `fork = true`, but it's going to be a bit more involved when running in the same JVM. We'll probably do as we did with the standard streams.

[2018-02-12 13:37] Duhemm opened #259 "Consider auto start server"
As suggested by @olafurpg, we may want to have Bloop server start automatically after installation via Homebrew, instead of telling the user to type `brew services start scalacenter/bloop/bloop`.

Pros:
 - Smoother installation
 - No risk of the user missing this message and not being able to use Bloop
 - Users that don't want it can still disable it.

Cons:
 - Waste of resources? Not sure about t

[2018-02-13 09:07] Duhemm commented on #256
Would you by any chance have used `bloopGenerate` instead of `installBloop`? I can reproduce your output with `bloopGenerate`, but everything works out great (😄) with `installBloop`.

We shouldn't expose `bloopGenerate`

[2018-02-13 09:52] olafurpg commented on #256
Indeed, I ran bloopGenerate. I did not find `installBloop` because I opened sbt and `bloop<TAB>` and took whatever was the most likely candidate. By convention, sbt plugins should prefix their tasks by the plugin name so I think it would make sense to rename installBloop to bloopInstall.

[2018-02-13 10:34] olafurpg commented on #256
I can confirm that test works with `bloopInstall`, thanks!

[2018-02-13 10:34] #256 closed

[2018-02-13 10:36] olafurpg opened #261 "bloop projects shows outdated information"
I ran the following
[code]
I expected `bloop projects` to pick up the new generated files from `installBloop`.

[2018-02-13 10:37] Duhemm commented on #261
You'll need to restart the server 😭

[2018-02-13 10:38] olafurpg commented on #261
Yup, the workaround I used was
[code]

[2018-02-13 10:54] olafurpg commented on #261
Even better workaround
[code]

[2018-02-13 10:56] olafurpg opened #262 "NullPointerException running bloop projects"
* Clone https://github.com/scalameta/scalameta
* sbt installBloop
* bloop projects

[code]

[2018-02-13 10:58] olafurpg commented on #262
Nevermind, `rm -rf .bloop-config` and restart fixed the problem. Seems I had some legacy config files lying around that cause problems. installBloop should probably clean up old files, and bloop should probably add more graceful error handling while decoding config files.

[2018-02-13 10:58] #262 closed

[2018-02-13 11:01] olafurpg opened #263 "File paths include leading slash /"
[code]
The leading slash makes it impossible to cmd+click on the path to open in the editor.

[2018-02-13 11:03] olafurpg commented on #263
Wait, the path is relativized from the sourceDirectory. I would expect it to be relative from the working directory from where I invoke bloop.
[code]

[2018-02-13 12:35] jvican commented on #261
Yeah, this has been on the backburner, I must do proper state invalidation when the bloop files change.

[2018-02-14 06:01] Duhemm commented on #250
Fixed #266

[2018-02-14 06:01] #250 closed

[2018-02-15 08:35] Duhemm commented on #258
You can see how long the compilation took by adding `--verbose` to your options.

Adding it to the current `Done compiling.` would be hard because this is a message that is output by Zinc (and which I would really much like to remove).

[2018-02-16 10:54] jvican commented on #258
I think it's about time we send a PR upstream fixing this. And not only saying how much time it took, but also which module was compiled...

[2018-02-19 11:01] #225 closed

[2018-02-19 11:04] jvican commented on #209
For now, I lean towards not focusing on this issue and letting users deal with it manually. In the future, it would be nice if bloop starts the server on its own, but this is not something we should focus on in the long term.

The very notion of a client-server should be ingrained in people's mind when they use bloop, and I find this kind of user error to be beneficial in the long-term: it prevent

[2018-02-19 11:09] jvican opened #278 "Explore the use of bloop in CI and distributed environments"
Use cases:

1. Bloop is used in the CI across different compiler runs to always compile with hot compilers.
2. Bloop is used to compile project changes that developers make locally in distributed, powerful servers owned by a company

How can we accommodate these use cases? How would something like this be feasible? What do we do when bloop has too many compiles under way and cannot take more? Hint

[2018-02-19 11:11] jvican opened #279 "The docs of the website do not work"
We merged #225, but the docs are not accessible. https://scalacenter.github.com/bloop/docs/installation/

@Duhemm Do you know what's up?

[2018-02-19 11:11] jvican commented on #279
The homepage redirects to https://scalacenter.github.io/, which sheds some light into what causes this misbehaviour.

[2018-02-19 12:57] #263 closed

[2018-02-19 13:30] Duhemm opened #281 "BSP `Local` communication channel doesn't work on Windows"
See:

https://github.com/scalacenter/bloop/pull/216/files#diff-e35ad9d16b8aa5f828fd6950e0a7caf0R57
https://github.com/scalacenter/bloop/pull/216/files#diff-e35ad9d16b8aa5f828fd6950e0a7caf0R74

[2018-02-19 17:21] Duhemm opened #282 "Bloop should support test framework arguments"

[2018-02-20 09:25] #279 closed

[2018-02-20 12:08] #207 closed

[2018-02-20 14:05] Duhemm commented on #208
I started something in #287

[2018-02-22 10:44] olafurpg opened #289 "Add a drop-in replacement for the scalac command line interface"
It would be nice if there was a `bloop scalac` command that could be used as a drop in replacement for the `scalac` command line interface. This would enable users to `alias scalac = "bloop scalac"` and enjoy always-hot compilation from the command line.

[2018-02-27 14:32] jvican opened #296 "Can we replace the 'question' label by docs?"
It seems it's not necessary to have both. `docs` already covers what `question` should.

[2018-02-28 16:05] olafurpg opened #297 "Add anchor links in the website"
Currently it's a bit difficult to link to a section of a page like https://scalacenter.github.io/bloop/docs/getting-started-sbt/#configuring-sbt (see `#configuring-sbt` suffix). I use "Inspect element"

<img width="441" alt="screen shot 2018-02-28 at 17 02 00" src="https://user-images.githubusercontent.com/1408093/36797862-58a4d78a-1ca9-11e8-854a-82a905f5af94.png">

It would be nice to have anchor

[2018-02-28 16:06] olafurpg opened #298 "Copy-paste friendly addSbtPlugin"
Currently, the sbt-bloop installation instructions require the user to manually insert the latest bloop version in the addSbtPlugin command.

<img width="890" alt="screen shot 2018-02-28 at 17 06 07" src="https://user-images.githubusercontent.com/1408093/36797981-af649768-1ca9-11e8-8fd3-3c0b6922296d.png">

It would be nice if the command was copy-pasteable. Alternatively, it would be nice to have

[2018-03-01 09:26] #249 closed

[2018-03-01 09:26] #254 closed

[2018-03-02 08:33] jvican commented on #298
We cannot link to the badge because it shows the latest on-merge release, not the latest release. The best way of enabling this use case is adding support for tut in our docs, which is something we have to do anyway, and then get the latest release from `git describe`.

[2018-03-02 14:29] Duhemm opened #301 "Add "Edit this page" links on the website"
It would be cool to have links that let you directly jump to the source of a page on GitHub so that it's super easy for everyone to contribute to our documentation.

[2018-03-02 16:53] easel opened #303 "homebrew formula should support systems with python3 installed"
The install.py script seems to force python 2.7 when home-brew sets it up, but /usr/local/bin/bloop has the standard `#!/usr/bin/env python` at the top, which fails if python3 is installed and set as default (which seems to be happening in the latest home-brew python3 packages).

The ideal would be to detect python 3 and install a python3 friendly version of the script, but the short term workarou

[2018-03-02 17:04] easel commented on #303
Turns out the relevant fix is already in a PR:
https://github.com/scalacenter/nailgun/pull/2

[2018-03-05 09:08] jvican commented on #107
It's been fixed upstream, we'll be upgrading our nailgun integration soon https://github.com/facebook/nailgun/pull/128/files. WIP PR https://github.com/scalacenter/bloop/pull/293.

[2018-03-05 09:08] jvican commented on #191
Implemented in https://github.com/scalacenter/bloop/pull/293.

[2018-03-05 16:52] olafurpg opened #304 "Parallel compilation doesn't work"
I tried bloop on the scalafix and scalameta repos and noticed that it compiles independent modules synchronously

[code]

I expected bloop to compile the modules in parallel, something like here below (the logs below are hypothetical, some of those scalafix module names are dependent)

[code]

[2018-03-05 22:11] #301 closed

[2018-03-06 09:58] jvican commented on #208
The developers guide has been merged in #287, try it out and let us know if it's useful or which things you'd like us to elaborate on.

[2018-03-06 09:58] #208 closed

[2018-03-06 11:58] jvican opened #306 "Add search box to docs"
This needs to be ready before 1.0.0. I have signed up for Algolia's free service https://community.algolia.com/docsearch/, and they will index our page for free. All we need to do is to reuse the html utils we have from Kube to add search boxes and add some javascript.

This is blocked until Algolia's team gets back to me.

[2018-03-06 11:59] #304 closed

[2018-03-06 12:24] #191 closed

[2018-03-06 12:24] #107 closed

[2018-03-06 12:24] jvican commented on #209
Fixed in #293.

[2018-03-06 12:25] #209 closed

[2018-03-06 12:25] jvican commented on #296
We agreed on using `discussion` instead of `question`.

[2018-03-06 12:25] #296 closed

[2018-03-06 12:37] jvican commented on #303
This is already fixed in latest master, and it's been released as the `1.0.0-M4+8-7b0276a7` development release. It will be accessible in a stable release on Thursday/Friday. Thanks guys for chiming in! :rocket:

[2018-03-06 12:37] #303 closed

[2018-03-06 12:48] jvican commented on #297
I have registered a feature request upstream: https://github.com/jeblister/kube/issues/22. Implementing it ourselves doesn't seem difficult, but it's better to ask upstream first.

[2018-03-06 16:05] jvican commented on #297
The search support in the website has made this pretty easy because when you search it automatically brings you to the anchor heading.

[2018-03-06 19:14] MasseGuillaume commented on #298
Scaladex knows this:

[![Latest version](https://index.scala-lang.org/scalacenter/bloop/sbt-bloop/latest.svg?color=orange&style=flat-square)](https://index.scala-lang.org/scalacenter/bloop/sbt-bloop)

[2018-03-07 07:33] #306 closed

[2018-03-07 08:29] jvican commented on #298
We can add that for now until we have the tut-based solution, which is ultimately the solution I favor because our docs won't depend on Sonatype/Bintray delays to show us the latest version. :+1:

[2018-03-07 08:29] jvican commented on #281
Windows CI support is not yet merged, so I'm closing this ticket until the PR is picked up again :smile:.

[2018-03-07 08:36] jvican commented on #259
I discussed about this in #209.

[2018-03-07 08:36] jvican commented on #167
Would be great to share the bridge and what not, but CI is faster enough not to bother with this.

[2018-03-07 08:36] #167 closed

[2018-03-07 08:37] jvican commented on #196
I don't think this is important, I'm closing.

[2018-03-07 08:37] #196 closed

[2018-03-07 08:38] jvican commented on #205
I don't want to have open issues in the tracker that are docs, so I'm closing them. I'll explain how to access them in the developer guide in our website soon.

[2018-03-07 08:38] #205 closed

[2018-03-07 08:40] jvican commented on #176
Is this still happening?

[2018-03-07 08:40] jvican commented on #100
This is already fixed, thanks to all who chimed in. :tada:

[2018-03-07 08:40] #100 closed

[2018-03-07 08:41] jvican commented on #172
@Duhemm You did have a prototype for this, right? Would love to check it out.

[2018-03-07 08:42] jvican commented on #131
This can be closed when #216 is merged.

[2018-03-07 08:42] #131 closed

[2018-03-07 08:42] Duhemm commented on #172
It was merged 15 days ago: #271

[2018-03-07 08:42] jvican commented on #43
To this date, we're still blocked on Dotty to fully work with sbt 1.0.

[2018-03-07 08:42] #43 closed

[2018-03-07 08:42] ivanopagano opened #312 "Unclear commands documentation for flags usage of bsp"
The `commands-reference.md` page documents confusing usage of some flags related to the `protocol` option when calling `bloop bsp`, i.e.

 * note under `--protocol` says " when using the `tcp` protocol, the `--socket` option must be set, too."
 * under `--socket` says "this option can only be set when the `--protocol` is set to `only`."
 * under `--pipename` says "this option can only be set when

[2018-03-07 08:43] #172 closed

[2018-03-07 08:44] ivanopagano commented on #312
I would contribute myself to correct this section if only I had an idea of what actually is the correct usage.

Also I can't make the project locally update its deps, but that maybe related to my local .ivy cache

[2018-03-07 08:45] jvican commented on #45
In essence, what we want to do here is to have all bloop instances coordinate to compile and reuse the compiler bridge if it's missing. I think this is a great good first issue where we could get help from contributors :smile:.

[2018-03-07 08:49] jvican commented on #33
As discussed in https://github.com/scala/scala-dev/issues/458, I was not able to find a significant speedup when using jars over classes directories. Maybe I had a different speedup than @stuhood had?

[2018-03-07 09:32] olafurpg commented on #298
This is sometimes a blessing. In my projects where the docs update after merge I've had people unhappy about the docs showing unreleased version numbers (for example, pending sync to maven central)

[2018-03-07 09:35] MasseGuillaume commented on #298
The disadvantage of the solution above is that you cannot copy paste.

[2018-03-07 16:38] jvican commented on #154
@propensive I think that's a case-app bug :smile:. Would be great if you report it.

[2018-03-07 16:49] #261 closed

[2018-03-07 22:13] jvican commented on #312
This is a problem with our current sbt build... Could you add coursier as a global plugin directory? That will solve it -- I'm adding this step to our docs.

I recently added docs on how to improve our documentation in https://scalacenter.github.io/bloop/docs/developer-documentation/. I'm fixing this issue now (thank you for reporting!) but next time something is not clear, feel free to open a PR

[2018-03-08 09:15] ivanopagano commented on #312
Thanks @jvican , do you guys plan to fix the coursier issue without forcing users to set it up globally?

I used to have it like so, but in time I had to work on client projects that wouldn't always work correctly, based on projects and deps versions, so I'm not very fond of such solution...

[2018-03-08 09:22] #154 closed

[2018-03-08 09:22] #253 closed

[2018-03-08 09:22] #312 closed

[2018-03-08 09:39] jvican commented on #140
/cc @julienrf this is an old ticket addressing an issue we discussed yesterday.

[2018-03-08 09:40] jvican commented on #61
I think this is an artifact of sbt's implementation. I believe we could make it work better, following a similar strategy to the one you propose, but that goes against one of my short-term goals in Zinc: remove the API representation altogether and not serialize it in the analysis file.

[2018-03-08 10:17] jvican opened #315 "Offload compilation from sbt to bloop"
The idea is to have our sbt integration delegate the `compile`, `test` and `run` tasks to bloop via BSP. The benefit of this is that sbt can always reuse hot compilers, no matter if users `reload` their builds or open multiple sbt shells in different projects.

While `bloop` can still be used via CLI (and it's the recommended workflow, since sbt is just too memory consuming and blows up from time

[2018-03-08 10:23] jvican opened #316 "Integrate with developers' workflow in sbt"
This is an umbrella ticket to keep track of all our integration goals with regards to developer adoption and bloop's easiness of use. The overarching goal is that bloop needs to fit in people's workflow by design, minimizing aggressively what they need to learn or get used to in order to use it.

In this ticket, I want to explore the materialization of this idea in sbt. Even though bloop is build-

[2018-03-08 10:40] jvican commented on #154
@propensive It's not, it was due to the fact that this field was called `projects` instead of `project`. Fixed that as well as the issue described in this ticket.

[2018-03-08 10:42] jvican commented on #312
Yeah, that's our plan in the long term, but the real fix to this issue has to happen in sbt/sbt which has issues with build dependencies. The main problem is that our benchmarking facilities depend on some stuff from our core project, and making them independent (and hence solving this issue) is not as easy as it sounds, and it definitely requires some time and dedication.

This is not the priorit

[2018-03-08 11:11] olafurpg opened #318 "Unable to install 1.0.0-M5"
[code]

The full log in that file

[code]

[2018-03-08 12:35] olafurpg opened #320 "Rename blp-server to bloop-server"
blp-server pros:
* tab completion

blp-server cons:
* not self-explanatory. One more thing the user needs to learn, whereas `bloop-server` needs no explanation
* cryptic named long-running binary process that appears in htop/activity monitor

Most users won't invoke blp-server manually because it can be handled by something like `services start bloop`. And even if you invoke it manually, you do it

[2018-03-08 12:41] olafurpg commented on #320
Alternatively, we could tweak the `bloop` python client to support `bloop startserver` and the user never needs to know the difference between bloop and bloop-server.

[2018-03-09 10:08] jvican commented on #320
I lean towards having `bloop server --start` so that if we, in the future, want to add more flags to control the server, we can.

[2018-03-09 11:22] propensive commented on #320
Aesthetically, @jvican's suggestion is the best I've seen. :)

[2018-03-12 09:38] jvican commented on #155
This is fixed in master via https://github.com/scalacenter/bloop/pull/313.

[2018-03-12 09:38] #155 closed

[2018-03-12 11:17] jvican opened #327 "Rename `--filter` to `--only`"
Instead of `bloop test my-tests -f test.Foo`, it should be `bloop test my-tests -o test.Foo`. It's more idiomatic and people are already used to that style.

[2018-03-12 12:04] olafurpg commented on #327
Would it be possible to support without the flag `bloop test core com.FooSuite`?

[2018-03-12 12:06] jvican commented on #327
What do you do when there is more than one project? `bloop test core foo bar com.FooSuite`? What's the criteria that allows us to tell project and filters apart?

[2018-03-12 12:55] olafurpg commented on #327
That's a good question. I haven't used that functionality before because it's not supported in sbt.

One option would be to separate the filter with `--` so the command becomes `bloop test core foo bar -- com.FooSuite`. I use this functionality frequently with scalatest to run an individual test or enable full stack traces with `core/testOnly *FooSuite -- -z -oF`

[2018-03-12 13:13] jvican commented on #327
The issue here is that `--` would be reserved for test options https://github.com/scalacenter/bloop/pull/291/files, just as sbt does (your input here is valuable @Duhemm, I don't remember if this holds anymore).

So, in this case, the only reasonable option left would be to have the filter in the test options too (and have them only at the beginning, since there's no CLI parser we can use for them

[2018-03-12 15:43] jvican opened #329 "The junit test framework doesn't output test logs by default"
If you do `bloop test frontend -f bloop.engine.DagSpec`, you'll see that the test execution doesn't output anything. However, the tests are *indeed* run! The only issue why it doesn't work is because the junit-interface framework needs `-v` (https://github.com/sbt/junit-interface) to show the logs, and that needs to be set manually via a test option. This test option is a default in sbt.

We'll fi

[2018-03-12 15:49] jvican commented on #33
Given that we cannot allocate many resources to this for the time being, I'm closing but I'm open to reopen the ticket and work on it if we can find some evidence that this has indeed an impact in performance.

[2018-03-12 15:49] #33 closed

[2018-03-12 16:43] jvican commented on #257
@olafurpg I cannot reproduce this issue anymore, I think it's fixed in master. Can you try this out when M6 is out? We're cutting the release now.

[2018-03-12 21:29] jvican commented on #251
Fixed in scalacenter/nailgun#3.

[2018-03-12 21:29] #251 closed

[2018-03-12 21:55] Duhemm opened #330 "Clear the screen before each iteration in `--watch` mode"
When running Bloop with `--watch`, we should clear the screen before each iteration. Otherwise, it's hard to know to what iteration every bit of output belongs.

If we don't clear the screen, we should at least print some separator?

[code]

[2018-03-12 21:55] Duhemm commented on #257
I can't even reproduce in M5 actually...

[2018-03-12 22:04] Duhemm commented on #257
@jvican Can you try inside IntelliJ? I can't reproduce with M4 + Vim

[2018-03-12 22:24] jvican commented on #257
OK, was able to reproduce this issue within Intellij. It seems to do a weird thing. Investigating yet.

[2018-03-12 23:21] jvican opened #333 "Allow bloop to filter out debug output"
The sea of logs we get under `--debug` is difficult to read because it contains too much unrelated information. Particularly, it shows a lot of unnecessary info from Zinc's side, and annoying gigantic classpaths that clutter up our users' screens.

I propose to add a CLI option in `CliOptions` that is called `--debug` and takes an optional selector (`file-watching`, `compilation`, `test`, `bsp` et

[2018-03-13 01:23] valencik opened #334 "install.py in release is broken"
The [install.py](https://github.com/scalacenter/bloop/releases/download/v1.0.0-M6/install.py) that makes it into the release assets on GitHub is broken as it contains python expressions before the almighty import `from __future__`.

The following should just be moved below the imports.
[code]

[2018-03-13 08:01] jvican commented on #334
Thanks for the heads up @valencik, @Duhemm has already a fix on its way to the PR queue.

[2018-03-13 08:42] jvican opened #335 "Make sure that we get the environment variables from Nailgun"
The nailgun protocol transmits all the environment variables every time there is a connection between the client and the server so that the server can be up-to-date with changes in their developer environment.

I think nailgun does not update the environment variables on its own, but rather exposes them in the `NGContext` and waits for us to do something with them. To be on the safe side, we'd nee

[2018-03-13 08:57] jvican commented on #318
Fixed in M6 via #336 and more release related changes.

[2018-03-13 08:57] #318 closed

[2018-03-13 09:00] #334 closed

[2018-03-13 09:25] jvican commented on #53
This is already fixed via our nailgun integration tests, so it can go to bed.

[2018-03-13 09:25] #53 closed

[2018-03-13 09:26] jvican commented on #106
This was already merged in https://github.com/scalacenter/bloop/pull/264! :tada:

[2018-03-13 09:26] #106 closed

[2018-03-13 09:27] jvican commented on #36
We already have our own reporter via Zinc, I think that work on this area should happen in the actual compiler, and I would consider doing so in the future.

[2018-03-13 09:27] #36 closed

[2018-03-13 09:30] jvican commented on #184
I've changed the title of this issue since the work in two out of three ticket items has already been completed in related pull requests. Now, the only thing missing here is removing the bloop shell for benchmarks.

[2018-03-13 10:14] jvican opened #337 "Add docs to set up systemd to run bloop server"
It would be great if Linux/*BSD users have a template they can copy-paste to install a systemd service in their machine that would run the bloop server in the background. This would be quite a big improvement in terms of usability for those users (e.g. me) because it would mean they don't need to manually handle the creation of the server themselves, and they can keep track of their lifetime over

[2018-03-13 10:53] olafurpg opened #338 "Make bloop projects output friendly for scripting"
[code]

It would be nice if the output only contained the project names, that would make it easy to for example use it for tab completions.

[code]

[2018-03-13 10:54] jvican opened #339 "Add python `future` dependency in the brew formula and update docs"
As we rely on python to install bloop, those who don't have `future` installed will see the following error:

[code]

That can be fixed with `pip2 install future`, `pip3 install future` or `pip install future` depending on which Python version is used. If we add the dependency on the brew formula, OSX users won't need to do that.

The rest of users will because we only use a package manager for OS

[2018-03-13 10:54] Duhemm commented on #338
I'm working on that as we speak :)

[2018-03-13 11:40] olafurpg opened #340 "Print out summary after bloop test completes"
I have a project using scalatest and currently `bloop test` does not include how many tests failed/succeeded. It would be great if bloop printed out a summary of the test run.

The lack of a summary is particularly confusing with `bloop test --watch` because you don't return to the shell after the tests completes so it's not clear whether the tests are hanging (infinite loop) or if bloop is waitin

[2018-03-13 13:56] jastice commented on #318
Install still fails for me:
[code]

[2018-03-13 13:57] Duhemm commented on #318
@jastice `pip install future` should solve your problem. I'll update the brew formula shortly.

[2018-03-13 14:27] olafurpg opened #341 "Rename `installBloop` to `bloopInstall`"
To follow sbt plugin conventions, the `installBloop` plugin should be called `bloopInstall`. I think this is a nice convention since it makes it easy to use tab completion to discover from the shell was tasks/command are available.

[2018-03-13 14:32] olafurpg opened #342 "bloop test in project with no tests should report error"
I was trying bloop on the slick repo (https://github.com/slick/slick) and was surprised to see `bloop test slick-test` passed successfully (0 exit code) without running any tests. I expected it either to run some actual tests or return a non-zero exit code.

[2018-03-13 15:23] valencik commented on #339
Hopefully solved by https://github.com/scalacenter/bloop/pull/343

[2018-03-13 15:25] Duhemm commented on #339
Fixed In #343 by @valencik 🎉

[2018-03-13 15:25] #339 closed

[2018-03-14 11:58] jastice commented on #339
Still getting the error (even after manually doing `pip3 install future`). Does the formula or release still need an update?

[2018-03-14 12:57] jvican commented on #339
Did you do `pip2 install future`? I think that we need to cut a release for this fix to be in. We're cutting one this afternoon most likely.

[2018-03-14 13:09] olafurpg opened #344 "Use a different classes directory than sbt"
Currently, `bloop compile` writes classfiles to the same directoy as `sbt compile`. This is annoying when working in a project where I mix `bloop compile` and `sbt compile` because it seems to trigger clean recompilation. In a perfect world, the two can share analysis files so that `sbt compile` can pick up the latest incremental updates from `bloop compile`, and vice versa. In the meantime howeve

[2018-03-14 13:25] jvican commented on #342
I have no idea why this is happening, I'll investigate today.

[2018-03-14 13:27] jvican commented on #340
It's weird that this is not being shown... Could you give a way to reproduce this?

[2018-03-14 13:28] olafurpg commented on #340
scalafix `bloop test unit`

[2018-03-14 13:28] olafurpg commented on #340
scalafix `bloop test --watch unit`

[2018-03-14 15:42] #341 closed

[2018-03-14 15:51] #257 closed

[2018-03-14 16:26] jastice commented on #339
I didn't have any `pip` or `pip2` available. I'll try againa fter next release

[2018-03-14 16:38] #344 closed

[2018-03-14 16:46] #338 closed

[2018-03-14 16:56] jvican commented on #176
Closing until it's proven that this is an issue. I tried to reproduce and I couldn't. So assuming the best here.

[2018-03-14 16:56] #176 closed

[2018-03-14 20:16] Duhemm opened #355 "Don't test [DOCS] commits"
We used to skip the building and testing for commits that have `[DOCS]` in their body to save some time when modifying the docs, but unfortunately we started having some problems with Drone that would skip randomly the build.

This logic has been removed in #352, it would be nice to bring it back sometime.

[2018-03-14 20:23] jvican commented on #355
I think this is caused by `DRONE_COMMIT_MESSAGE` not being correctly populated by Drone. What I don't know is what triggered this error, since this worked correctly first.

I'd love if we have this feature back so that testing changes to the docs is way easier than it currently is.

[2018-03-14 20:46] #213 closed

[2018-03-14 20:46] #214 closed

[2018-03-14 20:55] jvican opened #356 "Add autocompletions for flags of commands when no project is required"
Support for completions has just been merged in #353. However, it's not yet complete. One thing that is missing is that we don't autocomplete flags of commands *when no project is required*.

That is, `bloop compile foo -<TAB>` autocompletes, but `bloop configure -` or `bloop compile -` doesn't.

[2018-03-15 22:54] jvican opened #368 "Remove one level of heading in Design Goals docs page"
https://scalacenter.github.io/bloop/docs/bloop-basics/

[2018-03-15 23:56] olafurpg opened #370 "Make `bloopInstall` less verbose"
[code]
In a narrow screen the line gets wrapped which makes the output unreadable.

<img width="699" alt="screen shot 2018-03-16 at 00 55 12" src="https://user-images.githubusercontent.com/1408093/37496762-b7e9fbf0-28b4-11e8-85aa-520d72e8f88c.png">

It would be nice to have a more compact output, for example
[code]

[2018-03-15 23:57] olafurpg opened #371 "Replace .bloop-config with .bloop"
Now that classfiles are output in .bloop-config the "-config" suffix is kind of a misnomer. I think it would make sense to rename it to `.bloop`.

[2018-03-16 06:43] jvican commented on #371
Yeah, this is on the roadmap, but not an easy change to do because all of our test infrastructure kinda relies on this name.

[2018-03-16 09:55] sid2201 commented on #368
Hey @jvican ! I would like to take this one. Could you please let me know which heading needs resizing?

[2018-03-16 10:44] jvican commented on #368
@sid2201 Cool :smile: Just decrease one level for all the headers, that should work!

[2018-03-16 11:02] jvican opened #373 "No autocompletion for `bloopInstall` in sbt"
`bloopInstall` is a global task key, and global task keys are for some reason not autocompleted in sbt. This is not a bug in bloop, so I'm not labelling it as such.

I don't know what we could do to fix this issue in bloop... Maybe scoping it `in ThisBuild` will fix it? Who knows.

I'm adding this so that our users are not confused if autocompletion doesn't work for this task. This will be allevia

[2018-03-16 11:22] olafurpg commented on #373
I hit on this because `bloopIn<TAB>` completes to `bloopInternalClasspath` which is definitely what I wanted to do.

[2018-03-16 11:23] jvican opened #375 "Support source dependencies in sbt-bloop"
Bloop doesn't support source dependencies in sbt because they are tricky to support and there are more important things to work on in the sbt integration. The main issue seems to be that doing `bloopInstall` applies the project filter in the *current* build, but not all the source builds loaded by sbt.

This is a ticket to keep track of support of source deps in sbt.

[2018-03-16 11:23] jvican commented on #373
We should probably add a clarification in our docs.

[2018-03-16 12:50] jvican commented on #298
Guillaume implemented a JS script to get the version from Central. In the future, we'll have tut support so that if that fails we at least get the latest version that was published from the dev environment.

[2018-03-16 13:41] #298 closed

[2018-03-16 14:27] MasseGuillaume opened #377 "Update commands reference automatically"
I was looking for an example of `test -filter`:

obtained on the cli:

[code]

obtained on the website:

https://scalacenter.github.io/bloop/docs/commands-reference

[code]

[2018-03-16 14:31] MasseGuillaume opened #378 "Don't create extra folders when doing `bloopInstall`"
[code]

they had the same issue in ensime-sbt: https://github.com/fommil/ensime-sbt/commit/147315e0e4962e5355fc40b51a5576bfd1548db0

[2018-03-16 14:46] MasseGuillaume opened #379 "Even watch file iterations do not trigger test or compile"
![out2](https://user-images.githubusercontent.com/921490/37526995-2f106882-2931-11e8-817e-2a2f506de17e.gif)

steps:

[code]

expected:

tests should be triggered the first time I save.

[2018-03-16 14:51] jvican commented on #378
This is a problem in sbt/sbt, and it's probably caused because of `managedSources`. These files are not checked into the repo (folders is empty), so I'm closing this issue because this should be filed in sbt/sbt.

[2018-03-16 15:16] MasseGuillaume commented on #378
This is fixed in `ensime-sbt`.

[2018-03-19 07:49] Duhemm commented on #281
Reopening now that we have a Windows CI

[2018-03-19 09:42] jvican opened #383 "Update to latest zinc"
See https://github.com/sbt/zinc/pull/505. This should be done when the PR is merged and we catch up with those changes.

The main task is to migrate the scala instance constructor to use our own cached Scala library classloader.

[2018-03-22 21:28] propensive opened #385 "REPL appears not to start"
A command invocation such as `bloop console kaleidoscope/core` appears to work right up until it starts the REPL. The last lines I see are (including a blank one),
[code]
The invocation does not appear to terminate, and the cursor is left "hanging".

There is no output at all on the server until I hit `Ctrl+C`, then:
[code]

This is the beaviour for the first five invocations of `bloop console`. O

[2018-03-22 21:36] propensive commented on #385
Update: running `bloop console` on a freshly-started bloop server, it gets a bit further: It reports the intro message from the REPL (`Welcome to Scala 2.12.4...`), and sends an ANSI code to turn my text pink, but it doesn't work interactively. This appears to only be the case if it's the first thing bloop does.

I wonder if the JLine interactivity in the REPL is failing due to some sort of buffer

[2018-03-23 00:24] propensive opened #386 ""Compiling..." message should indicate project"
When a compilation triggers several dependent projects to compile, `bloop` indicates how many source files are being compiled, and where they are being compiled to, but not which dependency they relate to. This would be very useful information, especially if you can't infer it from the destination (which is probably less interesting in many cases).

I would suggest prefixing the message with the p

[2018-03-23 09:40] olafurpg opened #387 "Cryptic 'Symbol is missing from the classpath' error"
After running `bloop test testsJVM` in the scalameta repo several times to fix compilation errors I hit on the following cryptic error
[code]

Workaround: `rm -rf .bloop-config/contribJVM` fixed the problem.

It's difficult to give a minimal repro since this happened after several invocations.

[2018-03-23 11:18] jvican commented on #386
I agree, I want this too. Unfortunately, it's not that easy...

These logs are printed by Zinc, and the project name is only known by Bloop. If we want to print this, we need to have a way to tell Zinc that the project that we compile is called `X` or a way to intercept this message, identify the project it comes from, and then replace it by the nice version.

This will most likely go into our Zin

[2018-03-23 12:15] olafurpg commented on #387
No file watching at any point (which is unusual for me actually)

[2018-03-23 13:15] propensive commented on #386
Ah, I see... not quite as easy as those tags I added! :(

[2018-03-23 13:16] propensive commented on #386
Thanks for the detailed explanation.

[2018-03-25 11:41] jvican commented on #387
It seems that this was reproduced in sbt too, which signals that it's a misbehaviour caused by Zinc (maybe because of the lacking incremental support). The fact that removing the target directory in `contribJVM` fixes the issue also tells us that there's something going on with the class files generated by `contribJVM`s compilation. I'm closing this since there's no way to reproduce and fix. If th

[2018-03-25 11:41] #387 closed

[2018-03-25 13:00] jvican commented on #330
Fixed in #350.

[2018-03-25 13:00] #330 closed

[2018-03-26 09:53] #379 closed

[2018-03-26 15:40] propensive opened #392 "The --args parameter only passes a single argument"
A command such as,
[code]
will take `foo` as the single argument to the `--args` parameter, and will interpret `bar` as a second project name (which is invalid).

I would suggest going with the convention of replacing `--args` with just `--`, and requiring that it be the final item on the `bloop` parameter list, with all subsequent arguments being passed to the application's `main` method.

[2018-03-26 15:51] propensive opened #393 "Bloop does not seem to handle compiler crashes"
If you write some code which causes `scalac` to crash (i.e. print out a stack trace), the bloop front-end does not terminate. Instead it just hangs until you press Ctrl+C. This does not seem to have any lasting damage, though I would not be surprised if it tied up one hot-compiler thread permanently, until you restart the server.

[2018-03-26 15:55] jvican commented on #392
This is supported, I think. Can you try? In any case, if you want to pass in several args parameters you can do `--args foo --args bar`. That's how case-app works.

[2018-03-26 15:57] jvican commented on #393
Can you elaborate on what's happening and provide a way to reproduce? I don't quite get what you mean by "Bloop frontend does not terminate". It would be good if you can try with one of the latest versions to check if you can reproduce `1.0.0-M7+34-92721ec4`.

[2018-03-26 16:04] jvican commented on #392
Indeed, this was already fixed in https://github.com/scalacenter/bloop/commit/b81241cd73c422ebe7c7987386efa3c22429e0f4.

[2018-03-26 16:04] #392 closed

[2018-03-26 16:15] jvican commented on #375
With #394, those that want source dependencies to work with bloop have to do `bloopSupportSourceDependencies in Global := true`. That will output all the configuration files to the same configuration directory, therefore making Bloop detect the projects of the source deps.

[2018-03-26 16:19] jvican commented on #204
I think this is fixed in current master. @propensive Could you please confirm? :smile:

[2018-03-27 01:07] propensive commented on #393
Sorry if it wasn't clear. As I understand it, the front-end process which launches the compilation pipes the output from `scalac` back to the user's terminal. Under normal circumstances, when `scalac` has finished compiling, the thing I'm calling the "frontend process" (i.e. the nailgun python script that communicates with the bloop server) receives some indication from `scalac` that it has finish

[2018-03-27 06:27] #375 closed

[2018-03-27 06:30] jvican commented on #393
Do you use file watching? (I assume not, but I need a confirmation) This seems weird, if there’s a compile error that throws an exception that is caught by our monix task engine.

When you say “compiler bug”, do you mean that scalac throws an exception while compiling code or while initializing the compiler?

[2018-03-27 09:22] jvican commented on #327
I don't think there's a reasonable way to support several filters with ease. Given that it's not supported in sbt, I think it's fair that we support it under several `-o` args: `bloop test foo bar -o ch.epfl.scala.CoolSuite -o ch.epfl.scala.FunSuite`.

[2018-03-27 09:26] jvican commented on #204
I confirm this is fixed.

[2018-03-27 09:26] #204 closed

[2018-03-27 09:27] jvican commented on #204
OK, just found a nitpick though. I'm fixing it and releasing it in M8.

[2018-03-27 09:37] jvican commented on #340
I couldn't get to reproduce this issue because `unit` does not compile with bloop (I still don't know why). However, I've checked with several of our projects in the community build and rechecked with our testing suite, and bloop successfully prints the summary of scalatest suites.

Therefore, I'm closing. If there's a way we can reproduce and this issue is indeed a problem, I'll be opening it aga

[2018-03-27 11:34] jvican commented on #327
Note that for those test frameworks like junit that do support several test filters in their test options, you can do `bloop test foo bar -- ch.epfl.scala.CoolSuite ch.epfl.scala.FunSuite` if you want nicer syntax.

[2018-03-27 11:46] #320 closed

[2018-03-27 14:19] #370 closed

[2018-03-27 14:19] #373 closed

[2018-03-27 15:08] #327 closed

[2018-03-27 15:15] propensive commented on #392
Yes, that does work with `M7`, and the fix you linked is perfect, thank you. :)

[2018-03-27 16:00] jvican commented on #335
See my upstream proposal to add this feature in a generic way: https://github.com/facebook/nailgun/issues/129

[2018-03-27 18:16] propensive commented on #393
I wasn't using file-watching (that still isn't working for me with M7). But I can now confirm that this doesn't always happen: I have encountered two compiler crashes, one "hung", and the other one exited normally.

When I say compiler crash, I mean a definite bug in the compiler, where it crashes when trying to compile code (in typer, in my case).

So this most recent time, it exited normally, bu

[2018-03-28 09:26] stasimus opened #403 "install.py Error while downloading https://repo1.maven.org/maven2/io/get-coursier/coursier-cli_2.11/1.0.1/coursier-cli_2.11-1.0.1-standalone.jar: repo1.maven.org, ignoring it"
I'm using proxy server

and my env variables are set to:

export SBT_OPTS="-Dhttp.proxyHost=myhost -Dhttp.proxyPort=myport"
export http_proxy=myproxy
export https_proxy=$http_proxy
export ftp_proxy=$http_proxy
export rsync_proxy=$http_proxy
export ANT_OPTS="-Dhttp.proxyHost=myhost -Dhttp.proxyPort=myport"
export JAVA_OPTS=$ANT_OPTS

[2018-03-28 10:16] jvican commented on #403
It looks like this has to do with sbt, you need to report it upstream in sbt/sbt. Also, please, for the next time, if you report such a ticket make sure you specify which commands you ran. This is not a ticket anyone can act upon.

[2018-03-28 10:16] #403 closed

[2018-03-28 10:20] jvican commented on #393
Yup, at some point I'll need to get back to that and get accurate exit status codes. I'm leaving this open for now, and not labelling it as a bug, because it's not clear what this ticket is about. If someone gets to reproduce it again, I'll look more closely into it.

[2018-03-28 10:43] jvican opened #404 "Use paiges to prettify output and adjust to column size in terminals"
[Paiges](https://github.com/typelevel/paiges) is a text pretty printer that can be really useful for us as a CLI tool. It allows us to tabulate the output and prettify it, and we could even use it to adjust the output to the column size of the terminal.

This is a nice to have. If somebody wants to pick it up, please comment and I'm more than happy to elaborate on this idea.

[2018-03-28 10:46] stasimus opened #405 "Coursier resolution error from the install.py python script under a proxy"
When I run
  `python install.py` to install bloop on my Ubuntu environment

I'm getting the output error log:
`Error while downloading https://repo1.maven.org/maven2/io/get-coursier/coursier-cli_2.11/1.0.1/coursier-cli_2.11-1.0.1-standalone.jar: repo1.maven.org, ignoring it
Coursier couldn't create /home/stas/.bloop/blp-server. Please report an issue.`
`Command: ['java', '-jar', '/home/stas/.bloop

[2018-03-28 11:15] jvican commented on #405
Now we're getting somewhere, thanks for reporting :smile:.

This error comes from coursier because you're behind a proxy. Could you run `java -jar /home/stas/.bloop/blp-coursier bootstrap ch.epfl.scala:bloop-frontend_2.12:1.0.0-M7 -r bintray:scalameta/maven -r bintray:scalacenter/releases -o /home/stas/.bloop/blp-server -f --standalone --main bloop.Server` in a terminal and report the error you ge

[2018-03-28 12:59] stasimus commented on #405
`java -jar /home/stas/.bloop/blp-coursier bootstrap ch.epfl.scala:bloop-frontend_2.12:1.0.0-M7 -r bintray:scalameta/maven -r bintray:scalacenter/releases -o /home/stas/.bloop/blp-server -f --standalone --main bloop.Server`

produces

`Error while downloading https://repo1.maven.org/maven2/io/get-coursier/coursier-cli_2.11/1.0.1/coursier-cli_2.11-1.0.1-standalone.jar: repo1.maven.org, ignoring it`

[2018-03-28 14:12] jvican commented on #405
Yes, please, if you got it go to send a PR :+1:

[2018-03-29 09:26] jvican commented on #335
Reminder: ping @etaque who showed interest in this ticket.

[2018-03-29 11:58] jvican opened #412 "Don't show camel case flags in autocompletion"
Autocompletions get the flag names from caseapp directly without converting camel case to the actual CLI format. An example is `configDir`, which should be shown as `--config-dir`:

[code]

[2018-03-29 12:44] jvican commented on #335
@etaque Are you using env variables for running and testing right? I guess you're not using them for compilation.

[2018-03-29 12:55] etaque commented on #335
@jvican exact, using them for app configuration

[2018-03-29 15:23] propensive commented on #393
Seems reasonable. These sorts of things are difficult to reproduce, but having a background awareness of this should provide context to someone the next time it happens.

[2018-03-29 15:25] propensive commented on #204
Ok, give me a shout when M8 is actually released. Note that in M7, filewatching was more or less unusable for me. (There's a separate issue about this, and *that* will be the first thing I check when I upgrade!)

[2018-03-29 17:05] jvican commented on #204
M8 is already out!

[2018-03-29 18:43] propensive commented on #385
Still not working with M8, including the behavior described in my "update" comment.

[2018-03-30 10:32] #371 closed

[2018-03-31 15:20] jvican commented on #405
@stasimus How is that PR coming along? Would love to support proxies in our installation script :smile:.

[2018-04-02 19:50] jvican commented on #45
This is not a major issue for now -- just a nice to have. Removing from the milestone and leaving it for the future.

[2018-04-03 09:34] jvican commented on #337
Another avenue we may want to consider is using desktop entries: https://wiki.archlinux.org/index.php/desktop_entries. We can still consider having both ways of starting up a service, but the good thing is that this mechanism works across different Linux distributions.

A desktop entry looks like the following one, extracted from jetbrains-toolbox:

[code]

The good thing about desktop entries is

[2018-04-04 20:03] jastice opened #414 "sbt-bloop: bloopInstall does not remove obsolete configs"
here's one way to reproduce:

1. create multi-module project with a module `temp`
2. `bloopInstall`
3. `.bloop-config/temp.config` will be created
4. remove module temp, sbt reload, `bloopInstall`

expectation: `temp.config` is removed
reality: it stays there and causes errors :)

[2018-04-05 08:25] olafurpg commented on #104
I take back my comment, I think `bloopInstall` should overwrite old configurations.

[2018-04-05 10:51] jastice commented on #104
This has been causing confusion and errors for me. Especially when upgrading bloop, some of the old files still being there caused problems because they were incompatible.

[2018-04-05 10:57] rberenguel commented on #412
Hi @jvican have never touched caseapp, but I'd guess it has a way of doing this as an interface... otherwise it sounds like downcasing and adding a dash where needed is what is required. I'll give this a look if no-one else picks it up before I can, I want to confirm I have a local setup allowing me to build and test bloop so I can help with something slightly harder (installed bloop today and I'm

[2018-04-05 11:01] Duhemm commented on #412
Thanks for volunteering @rberenguel ! We have some developer documentation here: https://scalacenter.github.io/bloop/docs/developer-documentation/.

The code that you'd need to change to fix this issue is probably here: https://github.com/scalacenter/bloop/blob/09d685fe1ee79a106ef44d3a2107f711ccfa5abe/frontend/src/main/scala/bloop/engine/Interpreter.scala#L224-L230

[2018-04-05 11:09] olafurpg commented on #412
There are tons of ways to convert camel to kebab, but I'll throw in my implementation from here just in case https://github.com/olafurpg/metaconfig/blob/490e4cee64d9f4a265ce789102cc2be5fa0609fe/metaconfig-core/shared/src/main/scala/metaconfig/internal/Case.scala#L19

[2018-04-05 13:16] rberenguel commented on #412
Hi @Duhemm thanks for the pointers, but it's pretty well addressed in the readme and docs, good work there for making it easy for contributors.

Thanks @olafurpg I'll have a look!

[2018-04-05 22:38] jvican commented on #335
This is merged now and published in version 1.0.0-M8+20-0dbe10a0: https://ci.scala-lang.org/scalacenter/bloop/2629/9! I'll be cutting M9 tomorrow afternoon, in case you want a better stable.

[2018-04-06 08:05] #58 closed

[2018-04-06 14:06] #329 closed

[2018-04-06 14:08] #104 closed

[2018-04-06 16:59] jvican commented on #368
This is fixed in master by #415.

[2018-04-06 16:59] #368 closed

[2018-04-06 18:25] jvican commented on #195
The examples to reproduce this ticket now work. We can reopen if users catch more examples, but I'm fairly confident that the handling of status codes is now more reasonable and resilient.

[2018-04-06 18:25] #195 closed

[2018-04-06 18:33] jvican commented on #335
M9 is available @etaque, just in case you want to give it a try :wink:.

[2018-04-07 14:54] olafurpg commented on #340
To reproduce

[code]

The last line printed out after tests complete is

[code]

The output gives no indication if the tests completed running of if there's an infinite loop. It would be great to get a summary of passes/failures/aborts after completing tests. Something like this:

[code]

[2018-04-07 14:57] olafurpg opened #422 "Bloop should indicate when --watch is waiting for source changes"
I ran `bloop test --watch tests-test` in the metadoc repo and when the tests complete the last line that is printed out is

[code]
It would be nice if that line was followed with some message from bloop indicating that bloop is waiting for more source changes, something like

[code]

[2018-04-07 14:59] jvican commented on #422
Thanks for the ticket! @rberenguel you may wanna be interested in this ticket too, fix should be two lines of code :smile: ^^

[2018-04-07 15:04] rberenguel commented on #422
@jvican :D I will, I'm still getting used to the development cycle for bloop

[2018-04-07 15:33] jvican commented on #340
:open_mouth: I was able to reproduce. I'm not sure why this is happening at all! It works in other builds and in our tests. `--verbose` doesn't show anything either.

Any idea what's up here? @Duhemm Do you remember what could go wrong?

[2018-04-07 15:39] jvican commented on #217
Problem statement: given a list of projects, we want Bloop to take into account the project graph to minimize the amount of compiler requests done.

For example, take the following structure:

* `A` -> `B`
* `B` -> `C`
* `C` -> `D`

Let's say we enable `compile` to accept a list of projects to compils like `bloop compile A B C D`. We want bloop to detect that the compilation of `B`, `C`, and `D` i

[2018-04-07 18:25] rberenguel commented on #422
@olafurpg @jvican I can't reproduce this locally, I get `File watching 28 directories...` as last message when watching on tests or compile the same.

[2018-04-07 18:29] rberenguel commented on #422
Oh, got it now, the message only appears on first run, does not get repeated on file modified

[2018-04-08 16:02] #422 closed

[2018-04-08 16:32] jvican commented on #378
The directory watcher requires that all the watched source directories exist. Bloop is currently creating the directories for the watcher not to throw an exception.

If Bloop wasn't creating these directories, the watcher will fail or at best ignore them. The problem with that is that if a new file is created in `scala-2.12`, for example, it won't be picked up by the watcher, and the user will be

[2018-04-08 16:32] #378 closed

[2018-04-08 16:42] jvican commented on #152
Yes, writing a bloop configuration file https://scalacenter.github.io/bloop/docs/configuration-format/ is all it's required.

In the sbt integration, bloop does not share the classes directories with the stock build tool by default to avoid misinteractions. This can be changed by redefining an sbt setting, though. In Maven's case, it currently shares the classes directories. We can change that as

[2018-04-08 16:43] jvican commented on #356
@rberenguel As you're already familiar with how autocompletion works, fixing this ticket would be a good way to continue contributing to bloop :smile:.

[2018-04-08 16:45] rberenguel commented on #356
:+1: got it

[2018-04-08 17:20] rberenguel opened #426 "Add tests for autocompletion features"
Currently there is no way of testing autocompletion functionality. Autocomplete helpers for [Zsh](https://github.com/scalacenter/bloop/blob/master/frontend/src/main/scala/bloop/cli/completion/ZshFormat.scala) and [Bash](https://github.com/scalacenter/bloop/blob/master/frontend/src/main/scala/bloop/cli/completion/BashFormat.scala), Autocomplete functionality is provided with the [Autocomplete comma

[2018-04-08 18:02] jvican commented on #412
Fixed by #423 :tada:

[2018-04-08 18:02] #412 closed

[2018-04-08 18:41] rberenguel commented on #356
@jvican @Duhemm is [this](https://github.com/scalacenter/bloop/blob/master/etc/zsh/_bloop#L45) autogenerated? The problem is with `_arguments`, it's not smart enough for the usage we need here since it will always expects a project. If you ac `bloop configure` in a project folder, it will complete projects (but, configure expects no projects so makes little sense, adding a colon to the project opt

[2018-04-08 18:55] jvican commented on #356
No, that's not autogenerated. My intuition is that what we need to do the following actions:

1. Make `_projects` optional for the commands that do not take project commands (we could add this query to the `autocomplete` command)
2. Detect automatically that anything starting with `-` is to be interpreted as a flag, and therefore no query to the projects is necessary.

I've never tinkered with the

[2018-04-08 18:57] rberenguel commented on #356
Yep know how to do it in zsh @jvican and probably can handle it with bash too. I'll give it a think so it's easy to maintain and we don't need to rewrite it later on ;)

[2018-04-08 21:08] jvican opened #427 "Add bazel integration"
I've been working in a bloop worker process in @andyscott's https://github.com/andyscott/rules_scala_annex, which will eventually be merged in https://github.com/bazelbuild/rules_scala in some way or another.

The integration is basic for now, but the most difficult things have already been figured out. The ongoing implementation can be found in https://github.com/jvican/rules_scala_annex/tree/top

[2018-04-08 21:10] andyscott commented on #427
I'm also very excited to see how this shapes up!

[2018-04-09 14:39] olafurpg opened #428 "Respect sources.in(Test) during bloopInstall"
Using M9, steps to reproduce in the scalafix repo
[code]

results in compile error

[code]

which may origin from the following sbt setting
[code]
I expect sbt-bloop to respect custom `sources.in(Test)` changes.

[2018-04-09 15:00] jvican commented on #428
This is a very good catch! :+1:

[2018-04-09 15:29] matthewpflueger opened #429 "Reference to undefined settings error during bloopInstall with Lagom plugin"
This seems like a conflict with the Lagom plugin and its internal projects. I have a fairly simple project using Lagom 1.4.4 and receive this error when running bloopInstall (I'm using bloop M9):

[code]

[2018-04-10 07:13] propensive commented on #195
Yes, that's been my experience with the M8 release. Thank you!

[2018-04-10 08:14] jvican commented on #195
Update to M9!

[2018-04-10 09:47] jvican commented on #429
So you just followed the instructions in the README, and you got this error?

Are you or the lagom plugin using source dependencies? This error can only happen if:

1. The plugin is not applied to these projects (most likely).
1. Sbt or a plugin is nuking the project settings coming from Bloop (less likely).

Can you copy paste here the output of the `plugins` and `projects` sbt commands?

[2018-04-10 14:46] jvican opened #433 "Pretty print stack traces in our logger"
Our logger should be pretty printing stack traces in a similar fashion to what utest does https://github.com/lihaoyi/utest#output-formatting. We should probably just borrow his code and credit him for it.

By default, we would highlight everything that does not come from bloop, zinc and anything related to our compiler infrastructure. That would help make stack traces prettier, easier to read and

[2018-04-11 11:26] martin-g commented on #340
I am facing the same issue in my project.
Scala: 2.12.5
Bloop: 1.0.0-M9
Test frameworks: ScalaTest, JUnit

1. There is no summary at the end of the output
2. The exit status is 0, so I cannot use it to detect that something went wrong

[2018-04-12 08:51] jvican commented on #217
Fixed in https://github.com/scalacenter/bloop/commit/c6f3f3c1011f6195e347901441a0710bc6d3d569.

[2018-04-12 08:51] #217 closed

[2018-04-13 21:13] rberenguel commented on #356
@jvican I gave it a first shot with https://github.com/scalacenter/bloop/pull/438 without needing to modify any of the Scala sources. Basically complicated the internal completion state machine with:
1. Expects a command
2. If in a project, and the command is a "project bound command", complete project. Otherwise, flags
3. Flags otherwise

This can be readily improved by adding a new `autocomplete

[2018-04-16 12:08] #356 closed

[2018-04-17 08:54] dragos opened #446 "Brew package depends on sphinx-doc"
This seems like an oversight.

[code]

[2018-04-17 09:05] dragos commented on #446
..it also depends on Python 3, maybe it is a transitive dependency of sphinx? This seems like a huge dependency for bloop:

[code]

[2018-04-18 05:04] stewSquared commented on #252
Easy to miss. Thank you.
Perhaps that should be more explicit in the docs.

[2018-04-18 12:19] dragos opened #447 "Detected shadowing in Zinc forces recompilation"
[code]

These are my test sources. Notice that if I compile `hydra-test`, it compiles those 7 files *in the same output directory* as for hydra:

[code]

[2018-04-18 14:27] jvican commented on #259
Now that we have OSX and Systemd support I’ve realized this is not something worth investing in. Users will need anyway to control logs of the server, and given how long running we’re aiming for this process to be and how critical this is to maximize raw compilation speed, I’m closing the ticket. I feel an automatic server start wouldn’t emphasize this enough. Feel free to comment if you disagree

[2018-04-18 14:27] #259 closed

[2018-04-18 16:51] Duhemm commented on #447
Hi @dragos,

Thanks for the report! Looking at the log, it looks to me as if Bloop was not finding any sources in `hydra-test`, only in `hydra`.

It's extremely strange that running `bloop compile hydra` or `bloop compile hydra-test` again recompiles when there have been no changes. Is it always reproducible with `bloop clean hydra; bloop compile hydra; bloop compile hydra --verbose`? Could you sh

[2018-04-19 10:57] jvican commented on #446
Thanks for reporting Iulian!

[code]

@Duhemm do you have any idea what's happening here? [Our only dependencies are java and python](https://github.com/scalacenter/homebrew-bloop/blob/master/bloop.rb#L9-L10), so it seems sphinx is a transitive dependency of bloop?

We currently support both python2 and python3. I think the dependency download depends on what "python" means in every OSX system (wh

[2018-04-19 10:57] jvican commented on #446
Thanks for reporting Iulian!

[code]

@Duhemm do you have any idea what's happening here? [Our only dependencies are java and python](https://github.com/scalacenter/homebrew-bloop/blob/master/bloop.rb#L9-L10), so it seems sphinx is a transitive dependency of bloop?

We currently support both python2 and python3. I think the dependency download depends on what "python" means in every OSX system (wh

[2018-04-19 10:58] jvican commented on #337
Kudos to @tues for picking this up :tada:.

[2018-04-19 10:58] #337 closed

[2018-04-19 17:18] tues commented on #337
Hi @jvican, thanks for merging #440 (and thanks to the reviewers) 🙂

What about https://github.com/tues/bloop/tree/ticket/337-xdg? Do you want me to open a PR for that one as well?
I guess it's not very important to have both a systemd service and a desktop entry, but in case anyone is interested it looks like this: https://imgur.com/CU9mz3L

[2018-04-19 23:30] tues commented on #386
I know this is far from ideal, but what about: https://github.com/tues/bloop/commit/c3669dd7893ced354f87cb49256814ce488e93db?

Seems to be working quite well:

[code]

[2018-04-20 12:09] propensive commented on #386
Seems like a step in the right direction! It would be nice to have messages align vertically, but that's hardly more important than getting the information. :)

[2018-04-20 12:11] propensive commented on #385
Thanks for the detailed analysis, @tues! Hopefully gets us a step closer to a fix. :)

[2018-04-20 13:41] tues commented on #386
Yes, I'd love to have vertical alignment. I guess we could take the list of all projects, check what is the longest name and align to that. If I get a green light for using this `ProjectLogger` approach I will definitely try to improve it.

For now the biggest problem is with:
[code]
because there's no easy way to prepend project name to that. The only way I can think of is something like:
[code]

[2018-04-20 15:39] jastice opened #450 "Position of diagnostics in BSP are off"
compiling something in bloop via bsp, compile error diagnostics are reported with
line == character and start == end

bloop version: 1.0.0-M9+84-c59d6fcc

<img width="486" alt="image" src="https://user-images.githubusercontent.com/770879/39060436-ffb801d0-44c9-11e8-8fa4-12ef0fbdd5fa.png">

[2018-04-20 16:14] jvican commented on #450
The positions are the same because `-Yrangepos` is not enabled. The positions are the same because the convention is to make them equal range positions are disabled. Thanks for reporting!

[2018-04-20 16:14] #450 closed

[2018-04-20 18:36] jvican commented on #337
@tues it looks great! Didn’t know that Ubuntu shows desktop entries in the launcher. Can you PR the changes? 😄 it may be worth it explaining in which cases users should prefer desktop entries over systemd .

[2018-04-20 20:59] tues commented on #337
Created PR.

KDE does the same and other DEs should do as well :slightly_smiling_face:

By the way, I've found out that if `$XDG_CONFIG_HOME` is not set explicitly, then the default value is `$HOME/.config`, so we could probably reconsider installing systemd service and/or desktop entry automatically (a new issue for someone to pick?). I think systemd could be detected by checking if process with

[2018-04-22 13:03] matthewpflueger commented on #429
Sorry for the delayed response! Yes, after following the instructions exactly I received the error and nobody is using source dependencies. The steps to repeat the issue with a fresh repo (https://github.com/matthewpflueger/scalacenter_bloop_issues_429) are below:

1. Follow the instructions [here](https://www.lagomframework.com/documentation/1.4.x/scala/IntroGetStarted.html) to create the example

[2018-04-23 06:07] jvican commented on #386
@tues Good observation, I also thought that duplicating the logger to contain the information of the project name would be a good way to solve this problem. However, I'm not sure we want to solve this problem by prepending to the logs. I feel that a better fix would be to let Zinc output "Compiling 'frontend': 50 Scala sources to..." and likewise for the rest of the projects.

The coupling of Bloo

[2018-04-23 13:38] dragos commented on #447
Here's the relevant part of `hydra-test.json`:

[code]

I see the problem, it was just a coincidence in the number of files. The root problem seems to be:

[code]
and a few more like that. What is shadowing? I have some files in `src/main/scala-2.12` and `.../scala-2.11` with the same types, but only one source directory is ever part of a compilation.

[2018-04-23 17:09] ArulselvanMadhavan opened #453 "Adding bloop breaks scalafmt"
Hello,
Thanks for creating bloop. I love it. I tried adding bloop to our workflow at work. We also use scalafmt. After adding bloop, whenever I try running `scalafmt` I get this error.

Bloop Version:
[code]
scalafmt Version:
[code]

[code]

FWIW, we don't use source dependencies.

[2018-04-23 17:10] olafurpg commented on #453
Thanks for reporting! Upgrading bloop's dependency to metaconfig:0.7.0 (released yesterday after https://github.com/olafurpg/metaconfig/pull/42) should fix this binary incompatibility :)

[2018-04-23 21:34] jvican commented on #446
ping @Duhemm wanna close this soon.

[2018-04-23 21:35] jvican commented on #429
Thanks for the detailed reproduction @matthewpflueger. I'll give it a try soon and find out what's happening.

[2018-04-23 22:36] #181 closed

[2018-04-23 22:37] jvican commented on #447
Yes, this is the issue I've noticed in our codebase as well. I'll have a look at it tomorrow and try to fix it. Thanks for the logs and the reproduction @dragos.

[2018-04-24 01:51] valencik commented on #446
`sphinx-doc` appears to be a ["build" dependency on Homebrew's python formula](https://github.com/Homebrew/homebrew-core/blob/01bb91d7d99636cccb610088604cc6d44b1c2f38/Formula/python.rb#L23).

Although, I think this should only affect people building the python formula, as they have bottles for the major macOS versions.

[2018-04-24 07:27] jvican commented on #446
@valencik :+1: It seems we cannot get rid of the dependency because the installation scripts are all written in Python. I'm closing, if you guys have any idea of we can sidestep the use of sphinx, let me know, I'll be happy to listen to potential solutions.

[2018-04-24 07:27] #446 closed

[2018-04-24 07:34] jvican commented on #45
I'm removing this from the issue tracker. This is not an issue we'll devote time to fix soon, and it's very difficult that will bite someone in the future.

[2018-04-24 07:34] #45 closed

[2018-04-24 07:50] dragos commented on #446
Couldn't you use Python 2.x, which is already available on most systems, instead of Python 3 which comes with 10k files?

[2018-04-24 07:52] #453 closed

[2018-04-24 07:53] jvican commented on #453
@ArulselvanMadhavan You should be able to use the new bloop in a bit. It's on its way to Bintray, so you'll be able to depend on it as soon as the https://ci.scala-lang.org/scalacenter/bloop/2891/9 job is done. The publish step will tell you what the version number is.

[2018-04-24 09:08] jvican commented on #446
Our scripts are compatible with both, I think it's a matter of what alias python redirects to in your system. I'm not an OSX user, so I cannot provide more insights. But in Linux world, `python` is aliased to either python2 or python3 depending on how you configured it (or what the default is).

@dragos Maybe you have python be python3 and can change to default to python2? I don't see what else we

[2018-04-28 16:00] jvican opened #456 "Avoid scala instance classloader creation if version is the same as host's"
Bloop is currently not re-using the current classloader when it creates a scala instance for the same scala version of that of the runtime. This makes us miss some of the JVM optimizations and force the JVM to JIT another class universe.

It would be good if Bloop would reuse the host classloaders for the library and for the whole compiler universe if they are the same.

[2018-04-30 05:24] Duhemm opened #458 "Support Scala Native"
This is a meta issue to follow what's left to do to support fully Scala Native.

 - [x] Extract the platform in sbt-bloop (Done in #457)
 - [ ] Extract all the configuration options relevant to Scala Native & store them in the config
 - [x] Compile Scala Native projects (Done in #457)
 - [x] Link Scala Native projects (Done in #457)
    - [ ] Autocomplete `native-link` only for Scala Native projec

[2018-05-01 14:12] jvican commented on #377
I think a good idea would be to automatically update this part of the documentation by using the `BaseMessagesParser` information that is available in `Cli.scala`.

[2018-05-02 09:10] jvican commented on #184
Let's just close this. We can live with our tiny shell, as it's actually not that bad for things like benchmarking. :smile:

[2018-05-02 09:10] #184 closed

[2018-05-02 09:12] jvican commented on #278
I'm closing this as it's not actionable.

[2018-05-02 09:12] #278 closed

[2018-05-02 11:59] #428 closed

[2018-05-02 14:23] avdv opened #463 "NoSuchMethodError running `bloop about`"
Hi.

On my Linux box, I installed bloop using `curl -L https://github.com/scalacenter/bloop/releases/download/v1.0.0-M9/install.py | python`

I have started the server with `~/.bloop/bloop server` in an xterm.

Trying to run `bloop about` results in an exception:

[code]

Seems that this method has been removed from soc/directories-jvm in version 7, commit soc/directories-jvm@4305e70a93ab9acc6256b

[2018-05-02 14:46] avdv commented on #463
I could fix this with manually downloading https://github.com/coursier/coursier/raw/06796458b576e9bd8a49f8b121c0048b257bc08f/coursier to `~/.bloop/blp-coursier` (coursier v1.1.0-M1 is broken too).

[2018-05-02 18:58] jvican commented on #463
I just tried it locally and that fixes it, but I'd prefer to upgrade the `directories` version instead. We're behind anyway :smile:.

[2018-05-02 20:34] avdv commented on #463
Hi Jorge, thank you for your reply. +1 for upgrading `directories`!

[2018-05-02 20:44] tpolecat commented on #303
`brew install scalacenter/bloop/bloop` still fails for me. Does the brew formulate need to be updated?

[2018-05-03 10:07] #463 closed

[2018-05-03 14:25] tues commented on #385
I've tested this with the newest `master` and it seems that the first issue has been fixed:

The other two issues are still present:
[code]
I was typing `:help\n` but nailgun client didn't even send it to the server.

I've been experimenting with `Tasks.console` a bit:
[code]

and `readLine` seems to be working perfectly fine:

[code]

so it seems that `sbt.internal.inc.AnalyzingCompiler` doesn't

[2018-05-03 16:38] tues commented on #385
Turned out to be much easier to fix. I was fooled by `xsbt.ConsoleInterface` overriding `ILoop.createInterpreter` and forcefully setting its own input reader, but somehow passing `-Xnojline` (which should affect only `ILoop`'s `preLoop` reader) worked.

[code]

[2018-05-03 17:33] jvican opened #469 "Handle cancellation of the REPL"
For consistency with the rest of operations, the REPL should be gracefully cancelled whenever <kbd>Ctrl</kbd><kbd>C</kbd> is typed, otherwise the execution will never stop and could cause a potential deadlock. Currently, users can gracefully cancel it by typing `:q` as they usually do.

[2018-05-03 17:44] #385 closed

[2018-05-04 06:33] jvican commented on #469
I meant the latter. The logic to handle cancellation is already present in ‘Cli.scala’ but it has no effect for console because we don’t do ‘doOnCancel’ upon the creation of the console task.

[2018-05-04 06:43] jvican commented on #340
It is no surprise that this is not working: the original test framework implementation didn't implement the test summary as it is present in sbt: https://github.com/jvican/sbt/blob/7ae83cc755e5b7f0aeb404163861c7966189688e/main-actions/src/main/scala/sbt/TestResultLogger.scala. I'll try to get to this soon if no one beats me to it, but cannot promise anything.

[2018-05-04 13:25] jvican commented on #62
I've renamed this ticket into "Add lichess to our community build".

[2018-05-06 08:19] tues opened #472 "Use fixed version of Coursier and make it configurable"
Currently Bloop is using https://git.io/vgvpD as the link for downloading Coursier in the `install.py` script, which is a link to the `master` branch of Coursier:
https://github.com/alexarchambault/coursier/raw/master/coursier
This makes it possible for the installation to break if Coursier changes in an incompatible way, as in #463.

I think that ideally `install.py` should download the same vers

[2018-05-06 19:00] tindzk opened #475 "Run does not register file watcher"
When I run `compile` with the `--watch` parameter, the output is:

[code]

However, `bloop run --watch project` does not set up any file watchers.

[2018-05-06 19:15] tindzk opened #476 "Separate configuration files from compiled sources"
Although it is possible to change the path of the `.bloop` directory, it would be desirable to specify a different path for the compiled sources. For example, using `/dev/shm/bloop-$project/` should yield speed gains similar to [sbt-tmpfs](https://github.com/cuzfrog/sbt-tmpfs).

[2018-05-06 19:51] #248 closed

[2018-05-06 20:50] jvican commented on #472
Fixed in #473.

[2018-05-06 20:50] #472 closed

[2018-05-06 20:52] jvican commented on #476
I don't know how https://github.com/cuzfrog/sbt-tmpfs works, but you can control where the classes directories are written via the `classesDir` field in our bloop configuration file: https://scalacenter.github.io/bloop/docs/configuration-format/. There are two options to remount it to `tmpfs`:

1. You have an script that rewrites the prefix of `classesDir`.
2. You modify your `classesDir` in sbt d

[2018-05-06 20:53] jvican commented on #475
Strange, `test -w` works. Does `bloop run --watch project` at least run the application once? Because if it doesn't, then the problem is that the main class is not found or you're not running the application in the right project.

[2018-05-06 20:59] jvican commented on #355
I'm closing this ticket. The changes in docs are usually correlated with changes in code, so I don't see much value in investing manpower to fix this.

[2018-05-06 20:59] #355 closed

[2018-05-06 21:05] jvican commented on #297
This is a nice ticket, but with the search capabilities and the short doc pages we have I don't think it's something worthy of being open in the issue tracker for now. If there's interest in this, either by a contributor or by a spree author, we can reopen.

[2018-05-06 21:10] jvican commented on #32
We need benchmarks to back up the need for this. The numbers are there, but what we need to answer more concretely is: how is this change going to affect big projects? Is the price high only in batch (and clean) compilation, or does it affect incremental compilation too, and to which extent?

(Note: classpath hashing happens on every incremental compile, so it's no joke. Some of the questions abov

[2018-05-06 21:30] #297 closed

[2018-05-07 07:51] tindzk commented on #475
Yes, the command runs the application, but does not restart it when changes to the sources were made.

[2018-05-07 08:03] jvican commented on #476
@tindzk Can you elaborate on the kind of solution you'd like to see here for this ticket to be closed?

[2018-05-07 09:39] jvican commented on #476
Where is target pointing to? The bloop configuration directory created in the project under `.bloop`? If that's the case, you can already do that via `--config-dir` and you can also change the place where the bloop configuration directory is written in the sbt-bloop plugin via https://github.com/scalacenter/bloop/blob/master/integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.sca

[2018-05-07 12:44] jvican opened #477 "Relativize configuration directory based on current wd"
The config dir is converted to an absolute path based on the working directory of the server, not the client. For the `--config-dir` to work correctly one needs to pass in the absolute path, otherwise the relative path is expanded to a most likely wrong path. The working directory of the session is available through the `wd` in `CommonOptions`.

[2018-05-07 14:09] tindzk commented on #476
No, `--target` from my example above would only store the compiled classes in the RAM (`/dev/shm`). I would like to keep it separate from `.bloop` such that the JSON configuration files are retained when I restart the system. Thanks for hint on `bloopTargetDir`. That should cover my use case.

[2018-05-07 14:09] #476 closed

[2018-05-08 15:27] #62 closed

[2018-05-08 15:46] jvican commented on #383
Fixed in #478.

[2018-05-08 15:46] #383 closed

[2018-05-08 16:07] bloopoid opened #480 "job queue exception"
job queue exception

[2018-05-08 16:08] #480 closed

[2018-05-08 16:08] bloopoid opened #481 "polling service exception"
polling service exception

[2018-05-08 16:08] #481 closed

[2018-05-08 16:35] bloopoid opened #482 "job queue exception"
job queue exception

[2018-05-08 16:36] jvican commented on #482
LOL, what are you doing nice killer whale?

[2018-05-08 16:36] #482 closed

[2018-05-08 16:36] bloopoid opened #483 "job queue exception"
job queue exception

[2018-05-08 16:36] #483 closed

[2018-05-17 13:17] ArulselvanMadhavan opened #490 "Bloop breaks scalafmt"
Hello Bloop team,

I had filed an [issue](https://github.com/scalacenter/bloop/issues/453) earlier about not being able to use bloop and `scalafmt` together. The issue was closed with an update saying that the fix will be available in the next release. I tried to upgrade to bloop 1.0.0-M10 today but I got this new error

[code]

[code]
[code]

[2018-05-17 13:28] Duhemm commented on #490
It looks like both bloop and scalafmt pull in binary incompatible versions of metaconfig. This should be fixed by using the latest pre-release of scalafmt, which updates metaconfig: ![alt text](https://api.bintray.com/packages/scalameta/maven/scalafmt-cli/images/download.svg "Logo Title Text 1")

[2018-05-17 13:28] Duhemm commented on #490
Olaf says it's his fault!

[2018-05-17 13:28] #490 closed

[2018-05-18 00:15] tues opened #491 "Parallel REPL sessions not working as expected"
If you run multiple REPL sessions (`bloop console`) in parallel, they seem to be executed in turns. E.g. running:

[code]

in shell A, then:

[code]

in shell B, and then:

[code]

the `scala>` prompt isn't displayed until you do:

[code]

and now `scala>` isn't displayed in shell B until something is typed in shell A.

I'm not sure yet if it's Nailgun's fault or if it's caused by the implementati

[2018-05-18 00:27] tues commented on #491
Actually no, if you try running some side-effecting code like writing to files it won't be executed until you press `Enter` a few times in the other shell, so I'm not sure if it's Nailgun. I'll try sniffing network traffic between the Nailgun client and the server to see what's going on tomorrow.

[2018-05-18 07:26] lefou opened #492 "Could not find goal 'bloopInstall'"
When running the following maven command:

[code]

 I get an error:

[code]

As the goal name was changed from `bloop`to `bloopInstall` quite a while before the release, I suspect that the released version does not correspond to the git tag 1.0.0-M10.

[2018-05-18 07:51] lefou opened #493 "Maven integration throws `java.lang.ClassCastException`"
When running `mvn ch.epfl.scala:maven-bloop_2.12:1.0.0-M10:bloop` I get a `java.lang.ClassCastException`. Same with older version `1.0.0-M9`.

Here is the full error message:

[code]

One speciality about the Maven project is, that it uses the Polyglot Scala Extension. Thus the dependencies were defined as Scala `Seq` and then wrapped as Java collections internally, before given to Maven.

[2018-05-18 07:52] jvican commented on #492
And that is a good suspicion. You're right! We just merged the PR that adds support for Maven. Could you remove the version number to make it work? It will fetch the latest merged release in our repo.

[2018-05-18 07:54] jvican commented on #493
Could you try with latest master? Version is `1.0.0-M10+21-76187ec5`. I think I fixed this issue in the PR that just got merged.

[2018-05-18 07:58] jvican commented on #491
@tues I have the impression this is an implementation limitation from the REPL (which probably uses some kind of global state). I wonder if Ammonite also has this problem.

[2018-05-18 08:00] lefou commented on #493
For reference, the project is https://github.com/woq-blended/blended.

One idea for the issue is, that `scala.collection.JavaConverters` try to avoid unnecessary wrapping and thus inspect if the given collection is already wrapped. And if it is, it is just unwrapped. But if the scala libraries come from different classloaders (which I would assume here, one from the polyglot extension, and the oth

[2018-05-18 08:13] jvican commented on #493
Does your build work with https://github.com/davidB/scala-maven-plugin/?

The Scala maven integration is difficult to achieve because there is no official Scala support in Maven, and therefore our plugin needs to integrate with other third-party Scala plugins to extract the Scala-specific information of your build.

Also, I wonder why Polyglot Scala doesn't use latest Scala 2.12.

[2018-05-18 08:13] jvican commented on #492
I'll close this ticket as soon as Maven support is in a stable release. We're planning to release another one next week.

[2018-05-18 08:48] lefou commented on #492
After locally building and installing version `1.0.0-M10+21-76187ec5` from current master, the goal is properly called `bloopInstall`.

[2018-05-18 08:49] lefou commented on #493
Version 1.0.0-M10+21-76187ec5 now runs properly without errors.

[2018-05-18 09:55] jarrodu commented on #475
When I edit my file and save the bloop server does not pick up on the changes.

I am running on Ubuntu and using the developer version of bloop. I had the same problem with 1.0.0-M10.
[code]

[code]

[code]

[2018-05-18 10:35] lefou commented on #493
Ok, to be more clear. The above comment was only a guess for the issue of the problem, but as it turned out, the issue was already fixed in master. We used to use
https://github.com/davidB/scala-maven-plugin/ which is still the fastest option under maven as it can use zinc 0.3.x server. But currently we use  '"com.google.code.sbt-compiler-maven-plugin" % "sbt-compiler-maven-plugin" % "1.0.0"' whic

[2018-05-18 10:39] lefou commented on #493
The only reason polyglot doesn't use Scala 2.12 is that Maven 3.3 is suspected to run with Java 7, but Scala 2.12 needs Java 8.

[2018-05-18 21:14] jvican commented on #493
Alright, then I’m closing this. I’m happy it’s fixed. Could you open a new ticket with a reproduction for the wrongly generated Scala version in the configuration file?

[2018-05-18 21:14] #493 closed

[2018-05-19 00:00] tues commented on #491
I haven't checked Ammonite yet, but I have looked at the data Nailgun sends:

[code]

`46008` and `46010` are port numbers of the two REPLs.

It seems that the `S` ("start reading input") chunk is sent to one console only after some input is typed in the other one (which already got `S` chunk before). That is, only one console has `stdin` working at any time, which means that it's either an issue

[2018-05-19 00:13] tues commented on #491
Ammonite uses separate processes for each REPL so obviously it's not affected.

[2018-05-19 01:07] tues commented on #491
I added:

[code]

before the creation of `ILoop` in Zinc's `CompilerInterface` and it's showing the same behaviour, so I guess it's not ILoop's global state.

Nailgun seems to be using `InheritableThreadLocal` variables for its `InputStream`s, so I'm wondering if it's because the same `InputStream` gets inherited by both `console` tasks...

[2018-05-19 14:42] jvican commented on #491
I would be surprised if the input stream is used for different processes because it's supposed to change on a per client basis. Whenever we get the cached state, we redefine common options:

[code]

[2018-05-19 20:51] tindzk opened #496 "Test failure returns always success exit code"
The exit code is always 0 regardless of whether the tests failed or succeeded. Unfortunately, this makes it difficult to use `bloop test` in CI jobs.

[2018-05-19 22:39] tues commented on #491
Yes, Nailgun does override that `InheritableThreadLocal` variable for each client. However, Scala itself uses an `InheritableThreadLocal` variable to hold in/out/err stream instances in the form of `Console.in`, `Console.out` and `Console.err`. I have tried replacing `io.StdIn` with `System.in` in my last code snippet and it started working correctly indeed.

As it turns out, somewhere between Zin

[2018-05-20 08:19] jvican commented on #491
Great debugging skills!

As you note, this is probably something that should be fixed in Zinc somehow, but as we have this workaround I suggest we use it and move to the next challenge! What's happening here is that the console initialization sees the old input streams somehow, instead of the ones we set in the session.

[2018-05-20 09:15] jvican commented on #496
Thanks for the bug report, I'm happy to accept a PR to fix this! By the way Tim, I'll try to have a look at your open PR soon, I've been quite busy these last days at Scaladays.

[2018-05-20 23:33] tues opened #497 "Sometimes REPL exits immediately"
This was actually reported as part of #385:

Back then I thought it had been magically fixed by some other changes, but it seems that it just depends on the project for which `bloop console` is run. For small projects it always works fine, for big projects it works only once, while for medium-size projects it works a few times, then the server needs to be restarted.

Apparently `ILoop.createInterp

[2018-05-21 11:14] abigailbunyan opened #498 "Can bloop be installed with JDK7?"
Our multilingual project is still stuck on JDK7 due to legacy clients, which means we can't use Bloop. (Currently we use [`typesafehub/zinc`](https://github.com/typesafehub/zinc).) Would it be possible to release against Scala 2.11 as well as 2.12?

[2018-05-21 22:07] tindzk commented on #496
No problem. I submitted a pull request to implement the required functionality.

[2018-05-21 22:16] tindzk opened #500 "Deduplicate --threads flag in command help"
The following command lists `--threads` twice:

[code]

[2018-05-21 22:27] tindzk opened #501 "Don't make --verbose position dependent in the CLI"
Specifying `--verbose` after the command behaves as expected: `bloop test module --verbose`.

However, many CLI programs allow to specify `--verbose` at any position. The following does not work with Bloop:

[code]

[2018-05-21 23:45] jvican commented on #498
I'm sorry, it isn't possible. Zinc 1 (the incremental compiler, a binary dep for bloop) assumes JDK8. Isn't there a chance you use JDK8 for devops and then test everything with JDK7? That should work.

[2018-05-21 23:52] jvican commented on #501
This is most likely due to the fact that parsing `--verbose` requires the caseapp parser for `CliOptions`, which is `@Recurse`d in the class definition. I'm not sure how to fix this issue, but sounds like something we could fix.

[2018-05-24 08:05] bloopoid opened #504 "job queue exception"
job queue exception

[2018-05-24 08:05] #504 closed

[2018-05-24 08:05] #498 closed

[2018-05-24 22:01] tues opened #505 "Export custom sbt configurations (e.g. IntegrationTest)"
Currently the sbt plugin exports only `Main` (e.g. `root`) and `Test` (e.g. `root-test`) configurations. It's quite common for projects to also have `IntegrationTest` configuration: https://www.scala-sbt.org/1.x/docs/Testing.html#Integration+Tests

It would be nice to support at least common configurations like `IntegrationTest`. Exporting all custom configurations would be even better, but obviou

[2018-05-24 22:15] tues commented on #505
As a proof of concept, I've tried manually copying `.bloop/root-test.json` to `.bloop/root-it.json` in one of my projects, replacing just a few values and adding an `it->test` dependency. The `IntegrationTest` config in this project simply extends `Test` with `Defaults.itSettings`, so it was pretty straightforward:

[code]

Now `bloop test root-it` works like a charm :slightly_smiling_face: So it'

[2018-05-29 13:39] lefou opened #506 "Don't ignore additional source folders in mvn project"
Additional Scala source folders (e.g. `shared/main/scala`), added with the build-helper plugin in the `initialize` phase, are ignored by `bloopInstall` goal. The generated json config files only reference the `src/main/scala` directory in the `sources` section.

When compiling with `net.alchim31.maven:scala-maven-plugin:3.3.2` those sources are properly compiled.

[2018-05-30 11:02] lefou opened #507 "Maven integration: maven plugin fails when there are non-Scala projects"
When running `maven-bloop:bloopInstall` from the cmdline I get an error like this:

[code]

After working around this issue by running the plugin by configuring it in the pom, it generates JSON config files, which have dependencies to these non-Scala projects:

[code]

[2018-05-30 11:20] propensive commented on #497
I'm continuing to see the behavior I reported in #385, however it's working better now. I can actually use the REPL iff it's the first thing I do after starting `bloop`.

The jline interactivity appears to be nonexistent, though. Unfortunately, I'm so familiar with this that it's barely usable without it these days...

Ping me if you'd like to chat about this some time. I've been using NuProcess s

[2018-05-30 11:59] tues commented on #497
Yes, AFAIK the REPL isn't intended to be used directly without `jline`. This mode is rather for integration with other tools which take advantage of the `:completions` command, like `emacs-sbt-mode`.

Unfortunately because of Nailgun's limitations we can't use `jline`. We would have to enhance Nailgun significantly or switch to something else.

Alternatively, we could probably modify Nailgun's cli

[2018-05-31 09:50] vilu opened #508 "Build fails because of missing 'sourceDir'"
Command: `mvn ch.epfl.scala:maven-bloop_2.12:1.0.0-M10+28-ce2c8158:bloopInstall -X`

Error:
[code]

[2018-05-31 12:04] jvican commented on #507
The issue here is that our current Maven integration only works with `scala-maven-plugin` because it gets all the scala configuration from there by using some special tricks from Maven. I apologize for not clarifying that in the docs, I'll submit a PR to fix that.

There's nothing that can be done here unless you also add compatibility for whatever maven plugin you're using to do Scala.

[2018-05-31 12:11] lefou commented on #507
There are two cases here:

Case 1, the simple one, also my case: some project isn't a scala project at all. bloop-maven should handle it gracefully by not failing and by not creating bloop dependencies on this project

Case 2, the advanced one, we don't need to support (right now). It's a scala project, but build with some other currently not supported maven plugin. I think, bloop-maven should jus

[2018-05-31 12:50] #147 closed

[2018-05-31 12:50] #447 closed

[2018-05-31 12:55] jvican commented on #447
@dragos Should be fixed with the linked commit. Our sbt integration was using the same out dir for both compile and test class files :wink:.

[2018-06-01 10:59] jvican opened #510 "Pretty print test reports"
@tindzk has kindly submitted a PR to add a nice test report at the end of test execution, thus closing https://github.com/scalacenter/bloop/issues/340 mainly.

I believe there's some room for experimentation in the best way we can report test results. For example, right now we put in one line all the tests that failed, were ignored, succeeded, etc.

I think it would be interesting to experiment wi

[2018-06-01 12:35] jvican commented on #501
I'm closing this ticket since this should be reported upstream in alexarchambault/case-app :smile:.

[2018-06-01 12:35] #501 closed

[2018-06-01 12:35] #492 closed

[2018-06-01 12:36] jvican commented on #505
Looking forward to this improvement @tues :smile:

[2018-06-01 12:40] jvican commented on #500
This seems to be a bug in case-app that should also be fixed upstream. I'm closing, but anyone interesting in taking a stab at this and updating the case-app version can ask for this ticket to be reopen.

[2018-06-01 12:40] #500 closed

[2018-06-01 12:40] jvican commented on #386
This will be fixed when pipelined compilation is merged.

[2018-06-01 13:29] jvican commented on #429
The issue here is that `LagomPlugin` adds projects of its own into the sbt build in the `onLoad` startup hook, and the newly added projects don't have the plugins that would be automatically added to every sbt project.

I worked around this issue in a more general way by changing the semantics of `bloopInstall`. `bloopInstall` will only be run on those projects that have the `BloopPlugin` enabled.

[2018-06-01 13:30] jvican commented on #393
This has been sitting in the issue tracker for a long time and we don't have a reproduction for it. So i'm closing it! If someone gets to reproduce it and we can act on the ticket, ask for it to be reopened please! :smile:

[2018-06-01 13:30] #393 closed

[2018-06-01 14:54] tindzk commented on #496
Implemented in #499.

[2018-06-01 14:54] #496 closed

[2018-06-01 15:47] tues commented on #505
It's almost ready, but I have refactored `SbtBloop.scala` quite heavily, so I'm not sure you will like it :wink: I will create the PR today.

[2018-06-01 20:01] #507 closed

[2018-06-02 19:51] lefou commented on #507
Unfortunately, PR #511 only fixes the Maven error, but not the inter-project dependencies of bloop. I created a simple Maven project to reproduce the issue. https://github.com/lefou/bloop-it-maven-non-scala

After thinking more about it, ignoring Java projects seems to be not the right move, as they still need to be compiled with bloop when other (scala) projects depend on it. But, we should not t

[2018-06-04 09:41] #505 closed

[2018-06-04 10:29] jvican commented on #429
Fixed by #512.

[2018-06-04 10:29] #429 closed

[2018-06-04 15:48] MateuszKubuszok opened #514 "sbt-bloop does not create projects for all configs"
In my project I use `Compile`, `Test` and `IntegrationTest`. sbt-bloop generates projects only for `Compile` and `Test` configs, so I cannot benefit from using Bloop when I compile integration tests.

I have bloop enabled globally and I globally set up `bloopAggregateSourceDependencies in Global := true`.

I see that [it is hardcoded](https://github.com/scalacenter/bloop/blob/f7d1bbb7d28529d3479fb

[2018-06-04 16:42] tues commented on #514
Hi @MateuszKubuszok, please take a look at #505 - basically it was fixed and merged today :slightly_smiling_face: We still need to update user documentation, but if you follow the instructions from #512 it should work :slightly_smiling_face:

[2018-06-04 23:40] tues opened #515 "Sbt plugin ignores Configuration.extends dependencies"
As mentioned in #512, this can be easily reproduced by adding:

[code]

before:
https://github.com/scalacenter/bloop/blob/d6bdcadf652380b609287fa33f802d30ae7448ac/integrations/sbt-bloop/src/sbt-test/sbt-bloop/custom-configurations/build.sbt#L3

This is caused by sbt's `Configuration.extendsConfigs` returning wrong data here:
https://github.com/scalacenter/bloop/blob/d6bdcadf652380b609287fa33f802d3

[2018-06-05 06:28] Tomahna opened #518 "Sbt plugin crash when scalafmt is loaded too"
When I try to generate a bloop config with sbt bloopInstall on a project using sbt-scalafmt (ensime-server for example), it crashes with ```[error] java.lang.BootstrapMethodError: java.lang.NoClassDefFoundError: metaconfig/HasFields```

I assume it comes from incompatible versions of metaconfig-core.

[2018-06-05 06:51] lefou opened #519 "Detect java projects in the Maven plugin"
Currently, bloops Maven plugin ignores non-scala projects, but it shouldn't.

See also this repo: https://github.com/lefou/bloop-it-maven-non-scala  for a minimal test case.

(This is a follow up to #507)

[2018-06-05 07:56] jvican commented on #518
Yes, this issue was already filed as https://github.com/scalacenter/bloop/issues/490. Updating to the linked version or 1.6.0-RC1 should fix it.

[2018-06-05 07:56] #518 closed

[2018-06-05 07:58] jvican commented on #514
@MateuszKubuszok As Pawel says, this was just fixed yesterday. To use it, use the latest release `1.0.0-M10+69-f7d1bbb7` and follow the instructions of the linked PR. Docs should be available in the website soon.

[2018-06-05 11:00] MateuszKubuszok commented on #514
Awesome! Great thanks for your hard work!

[2018-06-05 11:39] tues commented on #514
Also, if your `IntegrationTest` configuration depends on `Test` (or some other configuration different than `Compile`), there's an open bug about Bloop not generating the dependency in that case: #515. However, you can simply add `"<project>-test"` to `.bloop/<project>-it.json`'s `dependencies` manually as a temporary workaround.

[2018-06-05 12:07] stephennancekivell opened #520 "Maven cannot find customised charset"
Hi, I get this error when trying to generate the bloop config from my maven project.

Any ideas? I cant see any reference to charset in the source for the maven plugin.

[code]

I do have a charset configured in the scala-maven-plugin, and I tried running on sub projects.

Heres the full log,

Thanks

[code]

[2018-06-05 17:48] jvican commented on #514
Great to see this is fixed, closing!

[2018-06-05 17:48] #514 closed

[2018-06-05 17:51] jvican commented on #520
Can you run with `-e` to show the full stack trace @stephennancekivell ?

[2018-06-05 18:06] jvican commented on #515
The issue why this doesn't work is because configurations in sbt are by name, so any reference to `IntegrationTest` inside the sbt engine will fallback into the already existing `IntegrationTest` sbt configuration, which does not extend `Test`. The linked PR shows how changing the name from `"it"` to another string makes the sbt integration pick up the dependency on the test project.

[2018-06-05 18:21] #515 closed

[2018-06-05 19:10] tues commented on #515
OK, so no chance to get this working without breaking existing sbt project? I think we should let people override such settings, especially since:
[code]
seems to be relatively common, e.g.: https://stackoverflow.com/a/20683597

[2018-06-05 20:35] jvican commented on #515
I think there's nothing we can do, maybe you can have a closer look? The issue here seems to be sbt, that has by-name reference to configurations. Our use of the configuration APIs comes from:
https://github.com/scalacenter/bloop/blob/f7d1bbb7d28529d3479fb246338ffca766c461f2/integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala#L181

All we're doing is iterating through the c

[2018-06-06 07:34] jvican commented on #520
Ah, I see what's happening here... Can you depend on the version of latest master? `1.0.0-M10+75-405896f4` That version should fix both errors. And you need to use the `bloopInstall` goal.

[2018-06-06 07:36] jvican commented on #520
I just updated the version in the docs so that this misunderstanding doesn't happen again. We fixed some regressions in master but forgot to update the docs with the new version. I want to cut 1.0.0 soon and that's why I'm not cutting more milestones for now.

[2018-06-06 08:00] lefou opened #522 "Simplify Maven plugin build process in the sbt build"
I created a PR in scala-maven-plugin (https://github.com/davidB/scala-maven-plugin/pull/269) which makes the plugin configuration visible from the classfiles. Thus, the normal generation process for Maven Plugin Descriptors (`META-INF/maven/plugin.xml`) should work again.

Currently, the inherited configuration (based on javadoc-style annotation) is not visible and there is a lot of cruft to work

[2018-06-06 08:07] lefou commented on #522
Btw, after that, it should also be possible to write the plugin in Scala instead of Java.

[2018-06-06 08:48] jvican commented on #520
I'm closing @stephennancekivell, let me know if you find out more issues.

[2018-06-06 11:37] stephennancekivell commented on #520
Thanks @jvican, can confirm that fixes it. Im a but unsure about that charset though, I still have to comment it out..

[2018-06-06 12:41] jvican commented on #520
If you could reproduce in a maven project, I could add it to the integration test Maven battery I need to create soon. That would help a lot :+1:

[2018-06-06 23:19] stephennancekivell commented on #520
Sure thing @jvican, But Im not sure if this is worth looking into. Im not sure I even need that charset.

https://github.com/stephennancekivell/bloop-mvn-install-charset

[2018-06-07 09:18] jvican commented on #520
Thank you for reporting and the reproduction, much appreciated. I'm gonna leave this open and whenever we have one of our Scala Center sprees I'll propose this issue a ticket. This way somebody will be able to a) investigate what's going on, and b) find a fix.

[2018-06-08 13:54] jvican commented on #458
Fixed in #457.

[2018-06-08 13:54] #458 closed

[2018-06-08 23:08] #229 closed

[2018-06-08 23:09] jvican commented on #27
We cannot act on this in the short term, so I'm closing. Happy to reopen if somebody works on this :smile:

[2018-06-08 23:09] #27 closed

[2018-06-08 23:10] jvican commented on #2
Not actionable, closing for now.

[2018-06-08 23:10] #2 closed

[2018-06-08 23:40] tues commented on #469
This one was a bit tricky, because `AnalyzingCompiler.console` returns `Unit`, so obviously there's no way to close it externally. However, the REPL also exits when it encounters `EOF`.

We can expect Nailgun to close `stdin` when a client disconnects, and indeed it seems to be the case: I attached a debugger and set a breakpoint in:
https://github.com/scalacenter/zinc/blob/0f4ad9d59f3f366d272f28a

[2018-06-08 23:40] #469 closed

[2018-06-09 15:09] jvican commented on #289
This is a good idea but we lack manpower to implement it! I'd imagine this would behave as `fsc` did back in the day. If somebody is willing to contribute it, let's reopen.

[2018-06-09 15:09] #289 closed

[2018-06-09 23:54] tues opened #531 "Allow custom JVM options when running via Nailgun"
As mentioned in #530, there seems to be no way to pass additional JVM arguments when running `bloop server`.

Solving this will probably involve adding a new command line option to Nailgun clients, or at least respecting some commonly used environment variables like `JAVA_OPTS`.

This is how the Python client runs JVM currently:
https://github.com/scalacenter/nailgun/blob/60c2d1307d88cb798abf5022d

[2018-06-10 08:27] jvican commented on #531
Nitpick: this cannot be merged upstream because the default nailgun python client doesn't have support for the `server` command, that's bloop specific.

[2018-06-10 10:00] tues commented on #531
I've tried `JAVA_TOOL_OPTIONS` ([doc](https://docs.oracle.com/javase/8/docs/platform/jvmti/jvmti.html#tooloptions)) and it seems to work:

[code]

[2018-06-10 12:31] jvican commented on #531
Yeah, that's another way to do it. It's great that `java` detects that automatically. I didn't know about `JAVA_TOOL_OPTIONS` though, thanks for the info :wink:. I'll submit PR modifying the nailgun script and adding this to the docs!

[2018-06-10 12:48] tues commented on #531
Yes, those environment variables aren't documented very well... And I never remember whether it's `JVM_OPTS`, `JAVA_OPTS`, `JVM_OPTIONS`, `JAVA_OPTIONS`, `JAVA_TOOL_OPTS`, `JAVA_TOOL_OPTIONS`... :sweat_smile:

[2018-06-10 17:06] jvican opened #533 "Improve error messages for better UX"
Bloop has decent error messages, but I'd like to strive for excellent error messages. An error message is excellent if describes the issue at hand shortly and gives actionable feedback to the user.

The idea of this ticket is that some present or future Bloop contributor goes through all the instances of `state.logger.error` or `state.logger.info` or `state.logger.warn` and derivatives to find whi

[2018-06-10 18:03] jvican opened #534 "Write integration tests for mill"
We should figure out how to test the recently contributed mill integration by @Baccata. I have no idea how mill is supposed to be tested... but ideally, we'd like something that we can run from the host sbt process via `millBloop/test`.

[2018-06-10 20:03] Baccata commented on #534
Here's some pointers :

* https://github.com/lihaoyi/mill/blob/master/main/test/src/mill/util/ScriptTestSuite.scala#L8
* https://github.com/lihaoyi/mill/blob/b659cb97f58a3d7be641f94885c940375b1aa23f/main/test/src/mill/main/JavaCompileJarTests.scala

The gist of it is basically instantiating a runner using whichever directory where a test project is located, call a command using the runner(assert t

[2018-06-10 20:31] #531 closed

[2018-06-11 15:37] gabro opened #536 "Include line next to file in Bloop reporter"
This little diff would allow to jump to the error in the editor when running bloop into an integrated terminal in VSCode (and similar editors, I assume)

[code]

This is currently the only reason why I use the scalac reporter, but I'd like to switch to bloop's reporter (I like seeing the errors in reverse order).

@jvican is this a change that would be welcome? I can try submitting a PR if you're

[2018-06-11 15:47] Duhemm commented on #536
@gabro That sounds like a great idea. I think that you’ll need to tweak https://github.com/scalacenter/bloop/blob/master/backend/src/main/scala/bloop/reporter/DefaultReporterFormat.scala to get that to work.

Thanks in advance !

[2018-06-11 15:54] jvican commented on #536
Echo that!

[2018-06-11 16:28] gabro commented on #536
Cool, I'll get to it as soon as I have second :) Thanks for the prompt feedback

[2018-06-12 13:10] #536 closed

[2018-06-12 17:51] jvican opened #539 "Run scalafix to remove dead imports"
It would be nice if someone from the Community contributes this change. The instructions to do so can be found in the scalafix website. https://scalacenter.github.io/scalafix/docs/users/installation

The contribution doesn't need to add scalafix to our build, it just needs to be installed locally for the purpose of removing the imports.

[2018-06-14 09:15] jvican opened #543 "Fix non-working test summary"
The test summary for all the test suites doesn't work, even if test suites are run.

[code]

Code: https://github.com/scalacenter/bloop/blob/topic/bsp-1.0.0-M2/frontend/src/main/scala/bloop/testing/TestSuiteEvent.scala#L99-L122

If there's work in this area, it would be good if the printing of test summary is better, see https://github.com/scalacenter/bloop/issues/510.

[2018-06-14 10:59] gabro opened #544 "Add these user questions to the FAQ"
Hi! 👋
I've given an internal presentation about Bloop at my company and I've collected a few questions from the audience that I haven't found answered in the docs:

- can't the problem of losing a hot JVM be mitigated by the caching mechanism of JIT-ed code mentioned [here](https://docs.oracle.com/cd/B28359_01/java.111/b31225/chnine.htm#BABJFAIF)? I'll highlight here the relevant sentence:

- bloo

[2018-06-14 11:47] tindzk commented on #533
We could also use colours and format the messages if these features are supported by the terminal. For example:

With italics, the message would be more concise and readable:

Recent terminals even support RGB colours, so we can even use a custom colour scheme for [better readability](https://www.viget.com/articles/color-contrast/). [Here](https://asciinema.org/a/0urh4T5dDimpFF6gA7EbdjiSw?t=8) is

[2018-06-14 11:48] tindzk commented on #543
I noticed the same yesterday. It appears to be a regression as it worked before.

[2018-06-14 11:51] jvican commented on #533
Yes, I also had this in mind. We'll soon have the project name in the compilation logs, so we'll be able to implement it. In general, I think it would be useful to add all the infrastructure to change messages gradually.

We should probably use `fansi` or something similar that is supported in Windows. Or even support Windows in fansi and just depend on that. I would prefer to use a widely used co

[2018-06-14 12:16] jvican commented on #544
This is much appreciate Gabriele, thanks!

The article linked just describes a custom Oracle-implemented integration between databases and the JIT, it doesn't go into details but has no relationship with mitigating the loss of JVM codes.

However, there's some experimentation about persisting JIT profiles to disk and reusing those to warm up the compiler directly instead of going through the norma

[2018-06-14 12:32] tindzk commented on #533
fansi looks good. We could also show progress bars for each project like in [cargo-fancy](https://github.com/alexcrichton/cargo-fancy).

[2018-06-14 14:54] jvican commented on #533
Man, that's pretty cool. I would be super happy to have such thing in our UI (we can support it since we have access to the compiler progress notifications).

Do you know what happens if there's a compiler error? The asciicast in https://asciinema.org/a/dbid3w8jqdpc7sauqdzkn784t doesn't show how they are displayed to the user.

[2018-06-14 15:43] tindzk commented on #533
I did not try it, but I presume it would print the errors above the progress bars. Does Bloop/Zinc compile project dependencies in parallel?

[2018-06-14 15:57] jvican commented on #533
Yeah it does. Thanks for the links, let me know if you wanna tackle this issue or r otherwise I’ll see if I can have a look at it next week.

[2018-06-14 16:15] tindzk commented on #533
Feel free to look into it. I will focus on consolidating Scala.js support for now and in a few weeks could help with the UX improvements.

[2018-06-14 16:36] tindzk commented on #533
We should also improve the UX of the CLI parameter parsing. For example, when I pass in a wrong value to the optimisation parameter, it should give a suggestion or list all valid options. The current message is not particularly helpful:

Recently, I have started using [argyle](https://github.com/jfkelley/argyle) which is more flexible than caseapp and does not suffer from the issues I reported her

[2018-06-14 19:27] tindzk opened #546 "Add a shutdown command in bloop"
I am running Bloop as follows in Drone CI:

[code]

However, after the execution of the test cases, the Bloop server is killed even before the analysis files has been written to disk. I could work around the problem by adding `sleep 5`.

A better solution would be one of the following:

1. `test` would only terminate once the analysis files were written
2. Introduce a blocking command `bloop shutd

[2018-06-15 08:30] jvican commented on #546
I would rather lean towards a `dump` or `persist` command that would write all in-memory state to the disk. However, why do you need the analysis files to be written to disk in your CI? Are you processing the analysis files later on with another tool?

[2018-06-15 15:57] tindzk commented on #546
@jvican Yes, or we could call it `sync` (in analogy to the `sync` command on Linux). The analysis files are shared across my CI builds. I thought they contain cache information such that future compilation passes can be performed incrementally.

[2018-06-15 20:02] RobertoUa opened #548 "Maven plugin doesn't work"
When I run `mvn ch.epfl.scala:maven-bloop_2.12:1.0.0-M10:bloopInstall`
I get `[ERROR] Could not find goal 'bloopInstall' in plugin ch.epfl.scala:maven-bloop_2.12:1.0.0-M10 among available goals bloop`

[2018-06-15 20:11] martin-g commented on #548
Duplicate of https://github.com/scalacenter/bloop/issues/492

[2018-06-15 20:28] RobertoUa commented on #548
sorry, I search for the issue but back then I couldn't find it.
I added ScalaCenter repository to get the latest version and now I get this `Unable to parse configuration of mojo ch.epfl.scala:maven-bloop_2.12:1.0.0-M10+186-b7c9e1a5:bloopInstall for parameter charset: Cannot find 'charset' in class bloop.integrations.maven.BloopMojo`

[2018-06-15 21:01] jvican commented on #548
Yeah, that’s a known issue too, if you give a reproduction I’ll try to fix it https://github.com/scalacenter/bloop/issues/520

[2018-06-16 06:57] jvican commented on #546
Yes, the analysis files serve that purpose. However, I'm surprised you see they are not written quickly -- Bloop schedules a write to disk right after the client disconnects.

What is the current architecture in your CI? We should be able to handle this scenario when Bloop supports remote compilation. The idea is that you submit jobs and Bloop will compile, and you won't need to wait for analysis

[2018-06-16 14:06] tindzk commented on #546
I created a minimal Docker instance for Bloop which is spawned by Drone CI. Right after the `test` command, the instance gets destroyed and I found that a few analysis files were missing.

Remote compilation is exactly what I am looking for, but it could be challenging to implement with Drone CI as the compilation jobs do not have direct access to the host system. As far as I know, they cannot eve

[2018-06-19 09:01] jarrodu commented on #475
I think this might be fixed with M11.
I can't reproduce the bug any more. :+1:

[2018-06-19 14:25] shamsak58 opened #552 "Colors are not supported on windows powershell"
[code]

[2018-06-19 17:14] dzamlo opened #553 "Add a way to define a default project"
The sbt plugin generates at least two project. But, most of the time, I want to use the same project (the one  without the "-test-" suffix) when using bloop.

It would be nice if instead of having to indicate the project on each bloop invocation, I could specify which one to use by default.

If this is implemented, I think it would also be a good idea for the sbt plugin to set the default project

[2018-06-21 14:01] guersam opened #558 "Add restarting mode to `bloop run --watch`"
Currently, `bloop run --watch` only works for self-terminating apps so that it's not applicable for non-terminating apps such as servers.

What about adding an option to kill the forked vm and restart it when a source file change is detected? This feature would be drop-in replacement of https://github.com/spray/sbt-revolver.

[2018-06-21 14:28] jvican commented on #552
Thanks for reporting! It's my knowledge that this is fixed in Windows 10, so I'm closing the ticket. If someone wants to open the ticket and open a pull request fixing this issue, feel free to comment on it.

[2018-06-21 14:28] #552 closed

[2018-06-21 14:33] jvican commented on #553
Thanks for the suggestion! :smile: I think I don't really understand the motivation of this feature request, but I'm very wary of adding fields to the configuration file formats only to improve user ergonomics. If you want to improve the ease of invoking a command, you should probably be doing `alias`es in your shell to type less. Also note two things:

1. You have autocompletions, so whenever you

[2018-06-21 14:36] jvican commented on #558
Thanks for opening this ticket Jisco. I agree this is valuable and would love to see it available in a release soon. Feel free to give it a try, I don't think the changes will be big because we already support cancellation of forked processes via Monix.

[2018-06-21 15:58] #543 closed

[2018-06-21 17:22] philwalk opened #559 "Unable to reference kernel32 dll within cygwin64"
In my cygwin64 environment, I was unable to run the bloop script as-is.  Here's the error I was seeing:

[code]

Experimentation led to the following fix :  bloop script section near line 726 change from:

[code]

to
[code]

In summary, changing the first argument to ctypes.CDLL from 'Kernel32' to 'Kernel32.dll' fixes the problem in my environment.

What I don't know is whether the original proble

[2018-06-21 17:43] tindzk commented on #558
This is a duplicate of https://github.com/scalacenter/bloop/issues/475.

[2018-06-21 18:36] jvican commented on #558
Is it? You didn't specify that your application was still running and you were expecting bloop to kill the JVM and restart it. If it is, let's close #475 in favor of this ticket that is clearer about the goal and more actionable.

[2018-06-21 18:36] #475 closed

[2018-06-21 18:55] Duhemm commented on #559
Thanks a lot for the report. I've never tried Bloop with Cygwin on Windows, so I can't tell if the issue comes from there or not, and I really can't tell whether the changes that you propose would solve the issues for good.

The Bloop client `bloop` is actually a very slightly modified version of the stock python Nailgun client (see https://github.com/facebook/nailgun). Could you try using the unm

[2018-06-22 12:12] philwalk commented on #559
I downloaded nailgun and did the suggested experiment, here's the output:

[code]
I have searched online for references to python/cygwin/dll and have found almost nothing.   It could be that very few are using cygwin/python/nailgun, and that the bug exists also in nailgun.   Since filing the report I also tested my Windows 10 laptop with the same result.   My python skills are limited, but I'll se

[2018-06-22 12:22] philwalk commented on #559
The following fix (replacing the line 725) avoids the question of whether this is a bug in nailgun or not.

``
    try:
        k32 = ctypes.CDLL("Kernel32", use_errno=True)
    except:
        k32 = ctypes.CDLL("Kernel32.dll", use_errno=True)
[code]

[2018-06-22 18:45] philwalk commented on #559
I also filed a bug with the nailgun project.

[2018-06-24 06:16] japgolly opened #562 "Clear screen on startup during watch mode"
Currently Bloop clears the screen between runs during watch mode. It would be nice to also clear the screen before the first run during watch mode too. I believe most other tools behave this way too.

[2018-06-25 11:18] jozic opened #563 "A required class was missing while executing ch.epfl.scala:maven-bloop_2.12:1.0.0-M11:bloopInstall: scala/Product"
I was following maven section of docs and got to the step `mvn ch.epfl.scala:maven-bloop_2.12:1.0.0-M11:bloopInstall`
On running it in sample project (as well as real projects) bloop returns following error

[code]

sample project generated with
[code]

[code]

[2018-06-25 21:04] eyalroth commented on #152
I'm a little confused about this.

From the original PR of the maven integration (#148) I understand that the integration is in fact an additional maven plugin which extends from [davidB's Scala Maven Plugin](https://github.com/davidB/scala-maven-plugin), and according to issue [#208](https://github.com/davidB/scala-maven-plugin/issues/208) on said repository I gather that the maven plugin integra

[2018-06-26 06:45] Duhemm commented on #559
(See: https://github.com/facebook/nailgun/issues/145)

[2018-06-26 06:52] Duhemm commented on #563
Thanks for the report!

I can't reproduce the issue that you had with

[code]

Everything appears to be working as expected for me.

What version of Maven are you using? Can you copy-paste the output of

[code]

This is what I get:

[code]

[2018-06-26 06:55] jozic commented on #563
[code]

[2018-06-26 07:02] Duhemm commented on #562
This sounds like a good idea, and shouldn't be too hard to do.

Thanks for the suggestion, PRs are welcome!

Relevant source positions:
https://github.com/scalacenter/bloop/blob/07bf16e7731457ca48e32df47e22e9e0b8b89f0a/frontend/src/main/scala/bloop/engine/Interpreter.scala#L107-L119
https://github.com/scalacenter/bloop/blob/07bf16e7731457ca48e32df47e22e9e0b8b89f0a/frontend/src/main/scala/bloop/io/

[2018-06-26 07:18] Duhemm commented on #563
I'm at loss... Maybe that the debug output of `bloopInstall` could help us?

Can you try running this please ?

[code]

[2018-06-26 07:42] Duhemm commented on #152
Yes

Do you mean automatically re-generating the Bloop configuration files when the project definition changes? I don't know Maven well enough to tell whether this is possible, but it could very well be.

It is not. The idea is that you use Bloop for your daily development, and Maven only for publishing and other unfrequent tasks, so not sharing the state of the incremental compiler is not such a

[2018-06-26 08:34] andrezimmermann opened #564 "Missing JRE from scalac invocation using sbt plugin"
My project depends on the JRE classes (rt.jar) which compiles fines with sbt compile.

During a `bloop compile`, after running `sbt bloopInstall`, the compilation fails with the following error
[code]
Meaning the the jre jars are not included within the configuration json

I have only JDK 8
I exported to `JAVA_HOME` with
[code]
and set in the build.sbt the key javaHome := sys.env.get("JAVA_HOME")

[2018-06-26 09:37] Duhemm commented on #564
I think there are several issues. First, we do not correctly pass the `JAVA_HOME` to the `Compilers` instance that we create with Zinc:

https://github.com/scalacenter/bloop/blob/07bf16e7731457ca48e32df47e22e9e0b8b89f0a/backend/src/main/scala/bloop/CompilerCache.scala#L23-L26

Second, we create the `bootclasspath` using the environment in which the Bloop server has been created, which is wrong, si

[2018-06-26 10:16] andrezimmermann commented on #564
Thanks for the quick reply.
I might take a while to create a MCVE (no free time)

If that is true,  any project with any dependency to JRE would fail.
So having a `val arrayList = new java.util.ArrayList()` would reproduce the ClassNotFound Exception

https://github.com/scalacenter/bloop/blob/07bf16e7731457ca48e32df47e22e9e0b8b89f0a/integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtB

[2018-06-26 10:45] eyalroth commented on #152
@Duhemm Ooohhh. That explains it. I had a different idea of an integration means - I was indeed imagining what you coined as a "second stage integration". I believe that might be the first thing that comes into some people minds when reading about the integration on the official site; perhaps it is worth clarifying what this integration entails.

I would guess that for most developers the day-to-d

[2018-06-26 12:01] lefou commented on #522
@jvican Although I understand, that you have to inherit from the scala-maven-plugin to get access to it's internal configuration (via some undocumented Maven-magic trickery), I do not understand why the `BloopMojo` class inself inherits from the scala-maven-plugin (or some of it's classes). IMHO, this inheritance makes any addition/change to the bloop plugin very hard.

[2018-06-26 13:18] vigoo commented on #152
I did something very similar to the second phase integration a few years ago for Haskell, generating configuration for and invoking the `stack` compiler (https://github.com/prezi/gradle-haskell-plugin). I'm happy to help with this one.

[2018-06-26 19:16] natevecc opened #565 "Document how to set jvm options in OSX"
When I run the Bloop compile command it fails with stack overflow errors which was a problem I ran into when using SBT. To fix it I created a `.sbtopts` file and increased the `-J-XX:MaxMetaspaceSize`, `-J-Xss` and `-J-Xmx` options to give the compiler some more juice to make it through what I'm guessing is some unoptimized implicit resolution code (shapeless, etc). Is there a way to set the same

[2018-06-27 10:29] andrezimmermann commented on #564
If I manually add the missing jars into the `scala.jars` I can compile my project.
The sbt compile --debug had two weird entries that weren't accepted by bloop
[code]
They indeed do not exist, I have no idea why sbt generated these entries and why it work as is with SBT.

[2018-06-27 12:07] dzamlo commented on #553
The issue with using `alias`es is that when you ofter switch projects, you need to either change you alias, use different alias, or implement an ad-hoc solution that detect the current projects.

 That one more reason to support having a default project, because that one more command when you want to use the same project name.

If a command has some obvious default for one of the parameter, I thin

[2018-06-27 13:41] jvican commented on #563
@andrezimmerman can you reproduce? This has most likely to do with maven and how it’s resolving the maven bloop plugin, I cannot reproduce with either maven or coursier.

[2018-06-27 13:45] jvican commented on #565
You can only modify the JVM options when you start up bloop’s server, so there’s no way to change them in the fly (this is a limitation of the JVM).

Tip: use `-XX:MaxInlineLevel:20` if you wanna have faster compilation in the server.

[2018-06-27 13:53] natevecc commented on #565
@jvican thanks for the quick response! If I installed Bloop via Homebrew where's the correct place to change those settings? Or should I install it another way to have more control over those settings?

[2018-06-27 14:04] jvican commented on #565
That sounds like something we should add to the docs, @Duhemm should be able to tell you where :smile:

[2018-06-27 14:07] andrezimmermann commented on #563
I ran with a fresh install of maven (never used it on this machine), it worked fine.
[code]

The maven version
[code]
Below the whole bloop mojo log

[code]

[2018-06-27 14:39] jvican commented on #563
I propose we reopen whenever there’s a working reproduction, I’ve seen this error in the past with M10, but M11 has been working fine so far.

[2018-06-27 14:39] #563 closed

[2018-06-27 22:21] vigoo commented on #152
FYI I started working on this and have an initial "first stage" implementation.
https://github.com/scalacenter/bloop/compare/master...vigoo:gradle-support?expand=1

I will open a PR soon but first want to test it better and make a few things configurable.

[2018-06-27 22:41] jvican commented on #152
@vigoo I am really impressed about your proof of concept. Especifically, the gradle integration you've added, that includes copying the gradle API and all so that we can test it from sbt. Looking forward to a pull request.

[2018-06-28 22:53] jozic commented on #563
I can reproduce it 100% on my laptop (and can't use bloop because of it), but it's your call if you want to keep it close

[2018-06-28 23:10] jozic commented on #563
here's full log with debug enabled

[code]

[2018-06-29 06:22] jvican commented on #563
Happy to keep it open whenever we can reproduce it. If we cannot reproduce it, it means we cannot fix it, so there isn't a point in keeping it open. People that stumble upon this issue will search for your stack trace in the issue tracker and find the closed ticket with it.

That said, it doesn't mean I'm not here to help you out fix this issue. I suspect there's something wrong going on with the

[2018-06-30 14:53] jozic commented on #563
will do that and post results here

scala 2.10.x is brought by zinc 0.3.5 which is a dependency on scala-maven-plugin.

see here

<pre>
[DEBUG] ch.epfl.scala:maven-bloop_2.12:jar:1.0.0-M11:
[DEBUG]    org.scala-lang:scala-library:jar:2.12.6:compile
[DEBUG]    ch.epfl.scala:bloop-config_2.12:jar:1.0.0-M11:compile
[DEBUG]       io.circe:circe-parser_2.12:jar:0.9.3:compile
[DEBUG]          io.circe:c

[2018-06-30 16:29] jvican commented on #563
You’re using scala-maven-plugin 3.2.2, which seems to be an outdated version. Would you mind using 3.4.1 which is the latest and confirm if this is gone? http://davidb.github.io/scala-maven-plugin/usage.html

[2018-06-30 20:59] jozic commented on #563
I've tried 3.4.1, but it has same dependency on zinc 0.3.5 (and scala 2.10.3 libs)
I've removed all bloop files from maven cache (~/.m2/repository), you can see maven downloaded them in logs, but I didn't find any bloop files in ivy2 cache
  I'm not sure maven plugin will even use ivy cache, but could you please let me know where in iv2 cache I should look for it?

here's the log with debug enable

[2018-06-30 21:32] jvican commented on #563
We should be able to fix this by releasing the maven bloop plugin with Scala 2.10 instead of 2.12, but I'm still perplexed that this issue is not happening to more users and that we cannot reproduce it. It most likely depends on the order in which maven is class loading the plugin in its own universe.

[2018-07-01 19:18] jozic commented on #563
I also suspect order of jars jre selects, probably depends on OS

Another option is to exclude old zinc from scala maven plugin. Will try to send PR there

[2018-07-01 21:48] jvican commented on #563
Let’s just publish the 2.10 version. There’s no reason why we shouldn’t be able to cross compile it, all its dependencies are available for 2.10 and we do the same for the 0.13 sbt plugin.

[2018-07-01 22:50] jvican commented on #563
Can you try it out on your own by changing the sbt settings, fixing a few compiler errors and doing ‘install’? 😄 More info is in the developer docs of our website. Should be easy to do, if it works a pull request would be much appreciated.

[2018-07-02 07:37] andrezimmermann commented on #564
I'm going to close this since I can't reproduce the error anymore
The -bootclasspath is being correctly generated
I think also setting the javaHome in sbt and expecting that the bloop server actually starts a new process with that jvm if not running already, is a bit problematic given the architecture of the bloop server.
As a compromise, like maven, honoring the JAVA_HOME var would be good.

[2018-07-02 07:37] #564 closed

[2018-07-02 12:43] andrezimmermann opened #567 "Improve the ergonomics of the Windows installation"
The python script could add the bloop install folder in the `PATH` and having an simple `bloop.cmd` we can have the same experience as mac users with the home brew installation.

It's safe to assume that since you ran the python script you would already have the python in your `PATH`

Example of `bloop.cmd` that works for me.

[code]
I would gladly open a PR if this is approved

[2018-07-02 12:49] andrezimmermann opened #568 "Use colors on Powershell or cmd.exe"
SBT does correctly output color on powershell or `cmd.exe`. I don't see why not bloop can't also support color on windows.

[2018-07-02 16:15] jvican commented on #567
I would definitely be happy to have a better Windows installation, so :+1: for this ticket.

A few questions:

1. Is it common to add the bloop install folder in the `PATH` automatically? This seems borderline for me, anything that auto-adds to PATH is scary in the Unix world and therefore to be avoided.
2. Is there a default way we can help Windows users manage the lifecycle of bloop through the

[2018-07-02 16:18] jvican commented on #559
Hey Phil, do you want to submit a fix to our bloop plugin script so that we unblock you? It looks like the nailgun bug won't be fixed any time soon. It would be a pity you cannot try bloop out because of that.

[2018-07-02 16:23] jvican commented on #568
A pull request on this is very much welcome, labeling as "Help Wanted".

[2018-07-02 22:32] jvican commented on #565
By the way, Nate, now that I re-read your description: you should not be required to increase the metaspace and the xmx with bloop as much as you do with sbt (bloop is **much** lightweight than sbt is).

I recommend you try it with a more reasonable set of jvm options first (if your app doesn't have more than ~200.000 LOC you don't want to go higher than 2g).

[2018-07-02 22:35] jvican commented on #522
If I understand your question correctly, the reason why we need to extend their classes is because they define maven settings that are set by maven via reflection. These fields are required in our end too and we want to re-use those without writing all the logic to process them, so that's why inheritance helps us here: we don't write the fields and the processing of them on our own before delegati

[2018-07-03 07:34] jvican commented on #559
I wonder if instead of doing this workaround you would be happy with making this change in facebook/nailgun, and then we would upgrade our nailgun version to it. The change would only need to be the addition of the extra `try` clause in the python script. Note that we have our own fork of nailgun (https://github.com/scalacenter/nailgun).

[2018-07-03 07:49] jvican opened #569 "Upgrade to latest facebook/nailgun"
There have been some improvements upstream that we need to catch up with. Aside from that, we recently merged [@tues's change to flush the output as early as possible](https://github.com/scalacenter/nailgun/pull/7), so we need to incorporate it in the new release.

[2018-07-03 08:58] jvican commented on #569
Done in https://github.com/scalacenter/nailgun, version `27614371` is on its way to Maven Central.

[2018-07-03 09:00] #559 closed

[2018-07-03 09:02] jvican commented on #559
Actually, I just did the change in the linked nailgun commit. Assuming the fix you linked at the beginning works, this will be fixed in 1.0.0 for you.

[2018-07-03 11:04] jvican commented on #456
This is a tricky thing to do. Implementing it and testing it correctly will take too much time compared to the value it will give end users. Closing for now, we can come back to it in the future.

[2018-07-03 11:04] #456 closed

[2018-07-03 11:14] jvican commented on #497
If we can do this without modifying the semantics that the nailgun reader has, I would be happy to merge it. We've added so many bloop-specific changes to the python script that I think it's already fair to call it Bloopgun :smile:

[2018-07-03 11:16] jvican commented on #508
@lefou Do you have any idea if your recent changes fixed this? It seems to happen because it does `bloopInstall` in a project that is not Scala and does not set up `scala-maven-plugin`.

[2018-07-03 11:19] jvican commented on #491
@tues That kind of change merits a pull request in sbt/zinc, it seems general-purpose enough that it will not conflict with the current behaviour. We'll merge it then and propagate it to use it in Bloop. Would you mind doing so when you've got some free time?

[2018-07-03 12:04] jvican opened #571 "Update docs after 1.0.0"
Before 1.0.0, we need to:

1. Update docs and fix as many doc-related tickets as possible.
2. Update the documentation for the configuration file format.

[2018-07-03 12:29] #569 closed

[2018-07-03 14:39] philwalk commented on #559
Wow, a much better approach, thanks!

[2018-07-03 20:02] tindzk opened #573 "Fix Scala.js linker to be incremental"
The Zinc back-end currently does not expose a list of class files that changed during the last compilation run. Therefore, every time `run` and `link` is executed on a Scala.js or Scala Native project, the target file is linked anew.

[2018-07-03 20:15] tindzk opened #574 "Eliminate Nailgun messages"
The following messages are printed by the Bloop server:

[code]

If Bloop is used in a CI setup, these messages pollute the output and therefore should be hidden.

[2018-07-03 20:18] tindzk opened #575 "Compile, link and test on several projects at once"
It should be possible to specify multiple projects when compiling, linking or testing:

[code]

We need to make sure that this functionality also extends to the `--watch` parameter:

[code]

**Discussion:** https://gitter.im/scalacenter/bloop?at=5b2ceda1479ca2668975803b

[2018-07-03 22:12] jvican commented on #559
Yeah, I realized that from your response! :smile:

[2018-07-04 08:23] vilu commented on #508
Can I help with this issue in any way? I just did minor debugging by running this plugin in debug mode but I didn't find the cause. If you gave me a few pointers on normal debug flow for this kind of issues I would give it a shot myself.

[2018-07-04 12:38] jvican commented on #574
These messages won't go away because they are sometimes useful to debug what the server is doing. If you're running this in the CI, you should find a way to redirect the output of the bloop server to a file.

[2018-07-04 12:38] #574 closed

[2018-07-04 12:45] jvican commented on #573
The underlying reason for this is that the sbt plugin for Scala.js and Native have an extra level of caching in the build tool that checks that if no changes in the source files has happened it's not worth running the linker again. For Scala.js, this happens here:

https://github.com/scala-js/scala-js/blob/88ed21bff68b7baddbd2ab93b7ed6c026908d957/sbt-plugin/src/main/scala/org/scalajs/sbtplugin/Sca

[2018-07-04 12:49] jvican commented on #575
The logic for this is already implemented since we support that in BSP. The only change required for this is in the CLI handling logic.

[2018-07-04 12:57] sjrd commented on #573
`Linker.link` will link and produce a new .js file every time you call it. That's its contract. It will probably do stuff internally to maintain an incremental state (if you're reusing the same instance of `Linker`), but in all cases it will produce a new .js file.

If the set of inputs hasn't changed at all, it is the responsibility of the code calling `Linker.link` to avoid calling it in the fir

[2018-07-04 13:05] jvican commented on #573
Thanks for explaining the contract of `link`.

The logic for this is in Zinc, so it's not easily usable. I'll rework how it works so that we can also re-use the change detection in the sources across the different use cases in Bloop.

@tindzk As commented in Gitter, I'll take on this in my branch of pipelined compilation that gives us direct access to Zinc internal APIs.

[2018-07-04 13:09] Duhemm commented on #573
`FileTracker` could be used to check whether the `sjsir` files have changed: https://github.com/scalacenter/bloop/blob/master/frontend/src/main/scala/bloop/io/FileTracker.scala

[2018-07-04 13:22] jvican commented on #573
I lean towards the implementation of an in-memory index of changed files. An index is required because this information is required by several tasks in our task pipeline and currently each of those tasks compute change detection in its own way. For example, Zinc uses hashes to detect changes in sources, the file watcher does the same to deduplicate file watch events, this task requires also the ch

[2018-07-04 13:32] sjrd commented on #573
[Here](https://github.com/scalacenter/bloop/blob/07bf16e7731457ca48e32df47e22e9e0b8b89f0a/bridges/scalajs-0.6/src/main/scala/bloop/scalajs/JsBridge.scala#L81) you are recreating a new instance of `Linker` every time you call `link`, so you're definitely not linking incrementally.

[2018-07-04 14:01] tindzk commented on #573
@jvican If no files have changed in a project, linking it with Bloop only takes 1-2s, but this overhead becomes noticeable when linking multiple unchanged projects.

@sjrd Thanks for pointing that out! I will fix it.

[2018-07-04 14:05] jvican commented on #573
So let's fix incremental linking in Scala.js, since that's the bottleneck here. In the future, when I implement this index, we'll avoid the call to the linker.

[2018-07-04 14:10] jvican commented on #564
@andrezimmermann Just saw this. I think we honor `JAVA_HOME`, but it needs to be set in whichever environment you launch the bloop server (if you do it via systemctl, for example, you need to make sure that `JAVA_HOME` is available from there).

If you mean that you want the bloop server to run with this java home, then yeah, that's impossible. But if you mean that run or test processes will use `

[2018-07-04 14:34] jvican commented on #508
@vilu I don't understand what's happening here but let's look into it.

1. What's the maven version you use? Upgrade to the latest one you can.
2. Have you confirmed you use `scala-maven-plugin`? What version? Upgrade to the latest one you can.
3. Can you grep in your repository for instances of `sourceDir`? It's weird that this field makes the plugin fail because the plugin cannot be configured w

[2018-07-04 22:09] jozic commented on #563
i've tried it with 2.10 and it worked fine, so I sent a PR, please take a look

[2018-07-05 08:16] folex commented on #385
I'm experiencing this on M11, is that expected?
[code]

[2018-07-05 08:42] tues commented on #385
Hi @folex :slightly_smiling_face: No, it's not expected, it's a bug: please see #497. Unfortunately I haven't managed to find the cause yet :slightly_frowning_face:

[2018-07-05 09:11] jvican opened #578 "Don't test dependent targets by default"
Bloop's default test behavior is to test a project and all its dependencies. I think this is not the best default because it does exactly the opposite that many build tools do. We should change `--isolated` to `--dependent` or `--aggregate` or `--cascade` and revert the default behaviour.

[2018-07-05 09:43] Duhemm commented on #578
I agree that the default behavior should be to test only the specified project.

We should maybe support calling `bloop test` without specifying a project to test all the projects.

What would be cooler than testing a project and its dependencies in my opinion, would be to test a project and the projects that depend on them. I'm not sure `--dependent` is actually useful. When we're changing a proj

[2018-07-05 09:55] jvican commented on #578
`--dependent` is our way of simulating aggregate in build tools like sbt, so that users can do `bloop test --dependent rootJS` and `bloop test --dependent rootJVM`.

It seems that the `--dependent` flag feels natural here, so let's use that one.

We can take on this one when we do #575.

Yes, I agree this would be cool. I always though of this as a partial step to implement reliable incremental te

[2018-07-05 09:57] jvican commented on #578
This proposal reminds me of https://github.com/sbt/sbt-pull-request-validator which does the execution at the project level too.

[2018-07-05 09:59] jvican commented on #575
As said by @Duhemm in #578, we should probably allow `bloop test` to mean test all the projects in the build graph.

[2018-07-05 18:35] jvican commented on #31
Looks like this will take a while, so I'm closing it. I'll re-open when we have more in-field experience with resident compilation.

[2018-07-05 18:35] #31 closed

[2018-07-05 18:35] #218 closed

[2018-07-06 07:40] kimxogus opened #580 "No release notes for 1.0.0-RC1?"
I'm having bloop upgrade error and it seems to be caused by missing release for `1.0.0-RC1`.
Is release note missing? or is bloop's homebrew repo mis-updated?

[code]

[2018-07-06 09:05] jvican commented on #580
Hey @kimxogus, unfortunately I'm having problems with the CI and the release didn't succeed, will ping you whenever it's out.

[2018-07-06 09:05] #580 closed

[2018-07-06 09:10] jvican commented on #573
I initially added this to the `v1.0.0` milestone, but now that I think more about it I'll delay work on this area to `v1.0.1` or `v1.1.0`, which should happen relatively soon after 1.0.0. I don't have time to work on a serious fix for this, which will require some changes to use `ClearableLinker` and keep the linker state in Scala.js controlled. We also need to make sure that the linker is thread-

[2018-07-06 11:12] jvican commented on #564
By the way, linking to https://stackoverflow.com/questions/7701692/setting-up-sbt-to-use-java-7-for-compilation. Even if we supported java home for compilation as sbt does, it wouldn't solve this problem. The most reliable way is to expose `JAVA_HOME` in the environment where you spawn bloop's server.

[2018-07-06 11:41] jvican opened #581 "Remove any kind of dependency resolution"
Bloop does three conceptual tasks: compile, test and run (that also includes link and console, but those are special case of `run`). These tasks are the ones we intend to support well.

However, the implementation of compile, test and run require to this day some degree of dependency resolution. This is an implementation detail not exposed to users, but can affect them in various ways:

1. Users w