[2019-07-23 08:27] jvican commented on #968
This issue will be fixed before the 1.3.3 release which I want to release next Thursday.

[2019-07-23 09:37] ArturGajowy commented on #970
Isn't there an option of adding custom doc text for a command?

[2019-07-23 15:06] isomarcte commented on #974
@jvican will do.

[2019-07-24 08:18] pkolaczk opened #978 "Direct jar dependencies not imported from Gradle"
Create a project with the following dependency:

[code]

Expected:
The tools.jar is included in the bloop project classpath.

Actual:
The tools.jar is missing from the bloop project classpath.

[2019-07-24 10:10] jvican commented on #978
Thanks for reporting! I hope this dependency is not for compiling, but just for running/testing.

[2019-07-24 10:15] pkolaczk commented on #978
Running/testing.
So far I've found the problem is caused by the fact that Gradle API doesn't include this dependency in the list of `ResolvedArtifact` objects. This comes as a `SelfResolvingDependency` and is returned by the `runtimeClassPathConfiguration.getResolvedConfiguration.getFiles`. Bloop is generating dependencies only from the resolved artifact list, and this way it skips these directly

[2019-07-25 05:57] pkolaczk opened #980 "Watch changes while compilation is happening"
1. Run

[code]

2. Open a multi-module bloop-enabled project in an IDE.
3. Go to Refactoring and Rename a class that's used in multiple modules.
4. See plenty compilation failures (missing class: (new name))
5. Bloop does *not* retry the failed compilation after the renaming is finished.
6. Rerun compilation manually - compiles fine.

Proposed solutions:
A. Watch for changes happening *during* com

[2019-07-25 07:22] tindzk opened #981 "Indicate cause of failure when execution is unsuccessful"
While debugging some local test failures (https://github.com/tindzk/seed/pull/31), we noticed that Bloop does not report any errors to stderr when the Node.js process could not be started.

However, when passing in `--verbose`, the following stack trace is visible:

[code]

[2019-07-25 09:50] jvican commented on #980
I've tried it but it's quite difficult to get it working reliably. The file watching logic is far from trivial and all changes there heavily affect the cancellation of the processes in negative ways, so this is not a trivial change.

Thought about it, we have the infrastructure about it but don't want to implement it because it's too complex for little gain.

We're already doing this, too, but not

[2019-07-25 09:53] jvican commented on #981
Thanks for reporting Tim, I'm marking as help wanted, I'd appreciate if someone can figure out why we're swallowing this exception and send a PR to fix this.

[2019-07-25 09:55] #978 closed

[2019-07-25 12:42] pkolaczk commented on #980
I don't understand what's the difficulty here. Can you elaborate a bit more?

There is a file-change detection logic already implemented. The project recompiles fine if I trigger compilation manually after refactoring, even though background compilation failed.

If a change happens *during* compilation, just store the change event into a queue instead of ignoring. When the compilation finishes, ch

[2019-07-25 12:46] pkolaczk opened #982 "Unexpected lock when two CLI clients are active"
I can't run a test or do anything with bloop from another terminal when the background compilation is waiting for file changes.

I get:

```Waiting on external CLI client to release lock on this build...```

Why is it needed?
Why can't we release the lock during the time it is *not* compiling and just waiting?

This seriously limits usefullness of background compilation mode.
We care about every 0

[2019-07-25 12:50] pkolaczk commented on #978
Thank you! :)

[2019-07-26 12:29] pkolaczk commented on #956
Sbt/zinc patch has been merged.
Can you sync bloop with it, so I can finalize the bloop side of the patch?
Thank you!

[2019-07-26 16:45] pkolaczk commented on #972
I've hit it several times in our project, in different modules. Any estimate when you have a chance to look into it? Or a few hints where I should look? I'd like to fix it before the others start using bloop and run into problems. Thank you.

[2019-07-27 18:48] pkolaczk commented on #972
After a short investigation I must say this class invalidation algorithm behaves weirdly on this example.
1. Start of test. The compiler compiles all classes. All classes are compiled and placed in a directory (confirmed). So far good.
2. Then the test code modifies class A and B.
3. The compiler seems to properly detect A and B sources changed. A and B are invalidated and recompoiled. New version

[2019-07-27 19:26] pkolaczk commented on #972
What is the purpose of this line?

https://github.com/scalacenter/bloop/blob/b8c88079ede994450cd8009b43ca9ca9b35213d1/backend/src/main/scala/bloop/Compiler.scala#L261

This condition is true for class B (in the stage where initially B and O are invalidated), which seems to contradict the logic that's in the else. Basically this check seems to contradict the comment that's a bit further in line 272

[2019-07-27 19:47] pkolaczk commented on #972
I think I found it. The compiled but invalidated classes are hidden from the compiler by use of `BloopInvalidatingFileManager`:

https://github.com/scalacenter/bloop/blob/62af02e2c2228a37be4aa33446f7e1c6b6fe7e20/backend/src/main/scala/bloop/CompilerCache.scala#L286-L293

So, if a source file is not passed to the compiler, but the class was invalidated, then we get type not found. Is it right?

[2019-07-28 05:58] pkolaczk commented on #972
PR ready, I also verified it fixes the original issues with type not found errors in our real project.

[2019-07-28 08:11] pkolaczk opened #986 "Worst-case incremental Java compile is slower than full compile"
I observed a very weird behavior.

[code]

However, when I later unapply the patch, recompile project, then apply the patch again and recompile the project - this time it is crazy fast and recompiles just a few files in a few seconds!

Why is that? Is there any form of caching other than caching the direct previous compilation?

[2019-07-28 13:58] pkolaczk commented on #986
Run this tiny example:

[code]

Log:
[code]

Compare logs in section 1 -> 2 with logs 2 -> 3.
Semantically both changes are identical. So why is compiler doing different work?

Invalidations 1 -> 2:
Modified: Set(A.java, B.java)
All initially invalidated classes: Set(A, B)
New invalidations: Set(B, O)
New invalidations: Set(C)

Invalidations 2 -> 3:
Modified: Set(A.java, B.java)
All initially inva

[2019-07-28 18:09] pkolaczk opened #987 "Incremental compilation of Java classes is non-deterministic and invalidates far too many classes"
Compiling the same type of change on the same Java sources repeatedly is causing different invalidation sets each time.

On a real project (2000+ files) I observe the following erratic behavior:
Sometimes on the same sources, incremental compilation goes totally wild and ends up recompiling everything (2000+ files) and takes 3 minutes, and sometimes on the exactly same initial source set, but diff

[2019-07-28 18:21] pkolaczk commented on #987
This looks fishy:
[code]

[2019-07-28 20:08] pkolaczk commented on #972
Closed? Why?

[2019-07-29 04:29] pkolaczk commented on #968
Thank you. Let me know when you merge it. I'll test! :)

[2019-07-29 04:31] pkolaczk commented on #980
Possibly related:
https://github.com/sbt/zinc/issues/683

[2019-07-29 05:23] pkolaczk commented on #987
I've found a pretty serious bug that may lead to a lot of unneeded recompilation:

After the second compile iteration (compiling (B, O)) of step 1 -> 2 of the above test, I get the following state:

[code]

See, current analysis **does not contain class B at all**. Hence it somehow assumed all class B members changed (!) and it invalidates like crazy from this point on.

In the first iteration it

[2019-07-29 05:26] pkolaczk commented on #987
BTW: I did revert my recent change of `Compiler#invalidatedClassNames` and this didn't change the above result.

[2019-07-29 06:17] pkolaczk commented on #987
In the first step, classes A and B are recompiled:

[code]

Then, class A API change is detected, and because B -> A & O -> A, so B and O classes get invalidated:

[code]

Now it looks like a freshly generated class B was invalidated.
However, I can't see an old class B in `classes-p7ST0AzmRtiOKAecEaANfA` on the invalidation list now. So it looks like the compiler is invoked to recompile B and O,

[2019-07-29 10:05] jvican commented on #987
Thanks for reporting this issue!

* Let's close this and mark the investigation for this issue as "on hold". I might have a closer look at this after fixing https://github.com/scalacenter/bloop/issues/972 and see if the problem persists
* If I confirm the problem persists, we can move this ticket to sbt/zinc, where all bugs regarding incremental compilation should be reported, bloop is a smart use

[2019-07-29 10:05] #987 closed

[2019-07-29 10:11] jvican commented on #986
This is an interesting behavior, good catch. Off the top my head, I cannot find a reason why this could be happening so I need to have a closer look at the problem.

It could be that it's a normal behavior of javac or that it's project-dependent. I mark it "on hold" as I won't have the time to look at it for at least two weeks. However, in anticipation of the questions I'll ask then:

1. Can you r

[2019-07-29 10:12] jvican commented on #956
I'll take care of syncing this with latest zinc and also finishing the patch. Thanks for the investigation and all the follow-up work in the zinc repo.

[2019-07-29 10:23] jvican commented on #982
At the moment, this use case is not supported on purpose. You can have multiple BSP clients per build but you can only have one CLI. The reason for this is because a CLI has a stable set of compile directories and stable directories can't be properly isolated across concurrent clients.

This is likely to change with some changes I'll work on soon, where a CLI won't use nailgun anymore and instead

[2019-07-29 11:08] pkolaczk commented on #986
1. Not yet.
2. Using built-in JDK

I noticed the Previous Analysis objects that both compilations (the fast and the slow one) start from are different:

The slow one:
previous = Analysis: 4123 Java sources, 5235 classes, 3 external source dependencies, 52 binary dependencies

The fast one:
previous = Analysis: 3728 Java sources, 4648 classes, 3 external source dependencies, 50 binary dependencies

[2019-07-29 11:39] pkolaczk commented on #987
Ok, I think it *is* a problem with sbt/zinc.
I debugged it down to the following mehod:

https://github.com/scalacenter/zinc/blob/1ae71880a5876f4a192747705579e344867cb380/internal/zinc-core/src/main/scala/sbt/internal/inc/IncrementalCommon.scala#L322

What happens is this:
User modifies sources A and B. Because only API of A changed, only class A is passed as a starting point for recursive invalid

[2019-07-29 12:46] pkolaczk commented on #986
One more experiment. I disabled transitive step.
Now I get this:

[code]

Recompiled 2600+ files, when the whole project has 2208. Interesting, isn't it?
So it must be recompiling the same files over and over again.

I stopped bloop in the middle and took a quick look at the API changes that trigger these recompilations. There were plenty of changes of methods like `toString`, `equals`, `notifyAll

[2019-07-29 13:00] jvican commented on #986
Just as in https://github.com/scalacenter/bloop/issues/987, bloop has nothing to do with this behaviour, Zinc does. It's complicated what's happening internally and interpreting requires internal knowledge and a grain of salt. I'm going to follow the same strategy as in #987 and close this ticket. When I have the time to look into this and give an educated guess to what's happening and how to proc

[2019-07-29 13:00] #986 closed

[2019-07-29 15:12] pkolaczk commented on #986
I agree, but I managed to reproduce the issue in the test and the patch also passes all the other remaining tests. The issue is highly critical, it is not a new feature I wanted to be added. Java incremental compilation is broken and not dependable.

[2019-07-29 15:20] schleumer commented on #957
I don't if related, but somehow i'm getting "Unexpected error when compiling", but mine is about `java.sql`:

[code]

I can't create a repro now, but i can relate that i'm using Slick with PostgreSQL.

[2019-07-29 22:09] jvican commented on #974
I'm planning to make some changes in this area soon, @isomarcte if you look into this let me know and I'll try to dig deeper into what might be causing this :smile:

[2019-07-29 22:13] jvican commented on #947
Upstream nailgun ticket about supporting JDK 11, looks like we will need to make changes in our fork to support JDK 11. https://github.com/facebook/nailgun/issues/172

[2019-07-29 22:20] jvican commented on #506
Been a long time this ticket has been opened and marked as "help wanted". If someone wants to take a stab at it, please let me know and I'll reopen it.

[2019-07-29 22:20] #506 closed

[2019-07-29 22:22] jvican commented on #880
The fix for this is quite straight-forward :smile: When you're free, can you have a look at this @tgodzik ? I expect this can be fixed in half an hour; the only required change here would be to change `languageIds` in `BloopBspServices` to only include `Java` if `project.scalaInstance.isEmpty`.

[2019-07-29 22:24] #940 closed

[2019-07-29 22:25] jvican commented on #433
Sure, would be a nice addition! But I'm closing due to inactivity. If someone wants to take a stab at pretty printing stack traces in the whole codebase, ping me, I'll reopen this ticket.

[2019-07-29 22:25] #433 closed

[2019-07-29 22:28] jvican commented on #673
I'll reopen this ticket when I consider bloop ready to take on this challenge. It's still not clear to me I want to include remote compilation in the scope of bloop. IMO, any tool that wants remote compilation can implement it outside of bloop and that flexibility might be even better as the design space to implement remote compilation is too big and there are many trade-offs involved.

[2019-07-29 22:28] #673 closed

[2019-07-29 22:30] jvican commented on #520
This hasn't been a very popular ticket in our sprees and probably hacking on the maven integration isn't anyway the best people to get onboarded on bloop, so I'm closing the ticket. The issue described here has a workaround on the maven side. I welcome anyone else that runs into this issue to investigate what's going on and send a PR, which would be very much appreciated.

[2019-07-29 22:30] #520 closed

[2019-07-29 22:30] jvican commented on #316
No need for an umbrella ticket.

[2019-07-29 22:30] #316 closed

[2019-07-29 22:32] #976 closed

[2019-07-30 09:09] tgodzik commented on #880
@jvican It was somewhere on my list, I will take a stab at it sure.

[2019-07-30 10:32] edrevo commented on #853
Is there a link to the conversation on why this is by design? It is because BuildInfo is generated by an SBT plugin? I'm trying to make bloop work with a Play Framework project, but I'm getting a similar error with the Routes class (my guess is this is due to it also being a generated source file).

[2019-07-30 12:32] gervaisb opened #990 "Unexpected error when starting server via systemd"
I have installed bloop 1.3.2 via curl, I can start it from the CLI and get an answer from `bloop about`.

    $ bloop server

    $ bloop about

But trying to start it via systemcl fail.

    $ systemctl --user status bloop

    $ journalctl --user-unit bloop

Since it start via the CLI I assume taht all depencies are met. So I don't have any idea on how to solve that issue.

[2019-07-30 14:45] tgodzik commented on #880
I remember why I never finished it - project.scalaInstance is *never* empty - we have a default scala instance if one is not specified.

[2019-07-30 16:31] jvican commented on #853
It is this way by design because sbt exports projects to bloop that use its resources and when sbt `cleans` it removes those resources, therefore making them unavailable to bloop.

[2019-07-30 16:52] jvican commented on #990
Hey @gervaisb, this usually happens when you don't have `$PATH` correctly configured in your systemd. The system process API in bloop is failing because it most likely can't call `java` from there. You need to change your environment for the operation to work. As you see, `bloop server` works inside your terminal.

[2019-07-30 21:38] #880 closed

[2019-07-30 21:42] #990 closed

[2019-07-30 22:10] jvican commented on #947
After a little bit more investigation, I can confirm this doesn't look like an issue caused by nailgun but by sbt's test interface. My guess is that if we've got this far with JDK 11 is that nailgun is indeed compatible with JDK 11. I will confirm this test by running tests on JDK 11 in our CI.

[2019-07-31 06:59] pkolaczk opened #992 "Incorrect compile order after exporting project from Gradle"
Gradle compile order semantics are different than Bloop's.
Consider the following config:
[code]

This means: compile `src/java` with the Java compiler first, then compile `src/scala` with the Scala compiler. For such config, we should set compile order to JavaThenScala.

However, it is possible to specify joint compilation in Gradle like this:

[code]

This means, mixed compilation should be used

[2019-07-31 08:57] #972 closed

[2019-07-31 11:56] Arthurm1 opened #996 "Support JUnit 5 tests"
Currently there is support for JUnit 4 testing in Bloop and SBT by including `"com.novocode" % "junit-interface" % "0.11"`

This library will run JUnit 5 tests only if they are annotated with `@RunWith(JUnitPlatform.class)`.  Gradle directly supports JUnit 5 so non of my projects' tests are marked with this and therefore no classes are recognised as tests.

There is `"net.aichler" % "sbt-jupiter-i

[2019-07-31 12:00] #895 closed

[2019-07-31 19:56] jvican commented on #992
I believe this should be the way we do it given that the compile order semantics are implicitly derived from the contents of the java and Scala configuration of a target.

Does #993 fix this?

[2019-07-31 20:02] #992 closed

[2019-07-31 22:07] jvican commented on #956
https://github.com/scalacenter/bloop/pull/997 upgrades with latest zinc, I won't have time to finish this ticket, @pkolaczk could you send a PR to add a test case and finish the patch?

[2019-08-01 04:16] pkolaczk commented on #956
Yes, I'll do it today. Thank you so much!

[2019-08-01 07:30] pkolaczk commented on #956
I'm missing this change:

https://github.com/pkolaczk/zinc/blob/32d752cb3da0b8cf82635bf68187a92b08187d43/internal/zinc-compile-core/src/main/scala/sbt/internal/inc/javac/LocalJava.scala#L292

Have you applied that patch to bloop's zinc?

[2019-08-01 19:25] pkolaczk opened #999 "Meanings of "downstream" and "upstream" are reversed in the docs, as well as semantics of --propagate and --cascade"
Wrong. Dependencies of something are called *upstream*.

Wrong. Projects depending on foo are *downstream* from foo.

As a result, options `--propagate` and `--cascade` are reversed. :(

The words "upstream" and "downstream" are rooted in production process and have well established meanings. Please read this: https://reflectoring.io/upstream-downstream/

---
Not sure what we can do with this thou

[2019-08-02 17:25] jvican commented on #999
First of all, saying "wrong" twice with that arrogance is not an appropiate way of pointing out what you believe it's a mistake on the docs. In this project, the way you communicate things is more important than what you say. I take it that you have good intentions and that your choice of words and abrupt sentences might be a byproduct of the social norms in your native language where such strong

[2019-08-02 17:25] #999 closed

[2019-08-02 18:14] pkolaczk commented on #999
I apologize if I used incorrect words. I didn't mean to be offensive and didn't want to hurt anyone's feelings. However, I wanted to be precise in pointing out what I felt was incorrect and confusing for me.

As for the "blog post of a random guy", I pointed you to a blog post that I feel described the issue very accurately and with which I totally agree in order to save writing the same stuff her

[2019-08-02 18:37] tgodzik commented on #999
This discussion seems purely academical and I don't think there is any purpose here. Really changing the parameters right now is more unnecessary work, when there is still things to do and fix. The intellectual effort of understanding how it works in Bloop is rather negligible.

Let's maybe focus on real issues, rather than trying to prove each other wrong. We loose a lot of time and effort this w

[2019-08-02 18:39] pkolaczk commented on #999
The discussion is not academical. This is usability stuff. Using meanings of words in a different way than the rest of the world is doing causes confusion for the users.

[2019-08-02 18:53] tgodzik commented on #999
I must say `cascade` does make sense for me when it comes compiling everything that depends on the changed project. But maybe since there is so much confusion when it comes to downstream  and upstream we can drop those words from the docs? Make them more descriptive with something everybody can agree on?

[2019-08-02 19:38] pkolaczk commented on #999
Yes, I also find cascade ok. I think had a bigger issue just with the docs and --propagate. Seriously, I tried to use --propagate on a compile task thinking it would compile all children depending on the project and I was surprised that it means the opposite thing.

+1 to rephrasing the docs without using upstream/downstream.

[2019-08-02 20:48] pkolaczk commented on #999
Ok, I talked to one of our architects and indeed it looks like the meaning of word "upstream" and "downstream" is understood differently by different developers. Consider them unsafe / confusing.

[2019-08-02 22:04] jvican commented on #999
Nope, I'm not removing these words from the docs. Let's move on.

[2019-08-03 17:13] Zanadar opened #1000 "Unable to find any JVMs matching version "1.8""
Install states java 8+. I'm running java 11 on OsX 10.13. Bloop doesn't work. See:
[code]

[code]

[2019-08-04 06:23] pkolaczk commented on #999
Because?

[2019-08-04 19:26] jvican commented on #1000
Hey @Zanadar, yeah, bloop still tries to use Java 8 in macOS machines because of some performance issues, see https://github.com/scalacenter/bloop/issues/933 and its associated PR

The plan at some point is to change that, I'm just thinking the best way to do it. Whenever I've made up my mind I'll follow up on the open PR.

[2019-08-04 19:26] #1000 closed

[2019-08-05 05:37] marek1840 commented on #999
Because the terms downstream and upstream are not confusing but **relative** and to use such terms correctly one has to know the answer to the question "In relation to what I am thinking". When it comes to dependency graphs those can be "A is a dependency of B" and its inversion "B depends on A".

Thinking one point of view is better than the other is not only arrogant but also ignorant of the fac

[2019-08-05 09:26] pkolaczk commented on #999
Agreed. In bloop context, they are used always in relation to the project that is currently being compiled. The project being compiled is the reference point. Therefore, if I'm compiling project X, then the *dependencies* of X are upstream and the *dependants* of it are downstream. The documentation says "downstream dependencies" and this is a misnomer  - there is no such thing like a downstream d

[2019-08-07 11:24] edrevo commented on #375
This flag doesn't seem to exist anymore. What is the correct way of using source dependencies in bloop now?

[code]

[2019-08-07 12:03] edrevo opened #1002 "Is SBT's ProjectRoot supported?"
I have added `bloopAggregateSourceDependencies in Global := true` as per https://github.com/scalacenter/bloop/issues/375, but I'm still not getting a bloop config file generated for a project that is defined as `RootProject` in my build.sbt

Is this a supported scenario?

[2019-08-07 20:29] jvican commented on #1002
Hey @edrevo thanks for reporting! Please don't use issues to ask questions. If you want to ask questions, Gitter is a better place.

Bloop should export source dependencies correctly when that option is enabled (which IIRC it's now enabled by default). However, note that support for source dependencies in sbt has always been experimental and buggy in some surreptitious ways, so I cannot guarantee

[2019-08-07 20:29] #1002 closed

[2019-08-07 20:35] jvican commented on #996
@Arthurm1 Thanks for reporting this ticket, we should definitely find a way to support JUnit 5! I cannot speak to the details of how I imagine this can work now because of lack of time, but I propose that you contact the author and that we have a quick chat in our Gitter channel about this. Porting the code in the sbt plugin to bloop would definitely be welcome, though we should first investigate

[2019-08-08 07:22] jvican commented on #957
@schleumer Interesting. Would be lovely if you can provide a repro and I can look into this, your error seems to suggests this issue isn't caused solely with resources! In the meanwhile I'm closing this ticket until we have something actionable.

[2019-08-08 07:51] bloopoid commented on #865
The job tasked with running benchmarking jobs has exited. Contact administrators to run it again so that benchmarks can keep running.

[2019-08-08 12:05] bloopoid commented on #865
The job tasked with running benchmarking jobs has exited. Contact administrators to run it again so that benchmarks can keep running.

[2019-08-08 15:40] raul782 commented on #585
Thank you, @jvican This issue fell out of my sight, I will test and report back

[2019-08-08 16:11] #679 closed

[2019-08-08 16:19] fooblahblah commented on #932
Sorry to post to a closed issue, but I'm using Idea Ultimate 2019.2 and sbt-bloop to export. When I try and run tests I experience the issue with the classpath mentioned about. I was curious how #964 factors into this and if there's some option I need to pass to SBT?

[2019-08-08 16:25] jvican commented on #932
The fix hasn’t yet been released, i recommend installing from master by following the docs in bloop or waiting until the next version is ready.

[2019-08-08 16:56] #947 closed

[2019-08-08 22:23] #588 closed

[2019-08-09 06:23] bloopoid commented on #865
The job tasked with running benchmarking jobs has exited. Contact administrators to run it again so that benchmarks can keep running.

[2019-08-09 16:30] schleumer commented on #957
Done that! https://github.com/schleumer/bloop-repro-957

[2019-08-09 16:56] schleumer commented on #957
Just for report, worked in:
✅ OpenJDK8
❌ OpenJDK10
❌ OpenJDK11
❌ OpenJDK12

Somehow worked on Oracle's JDK12 🤔

[2019-08-09 18:27] jastice opened #1007 "errors in Java files are ignored in BSP publishDiagnostics"
1. create a Java file with some compile error
2. run `buildTarget/compile` over BSP in bloop
3. Bloop will send an empty `build/publishDiagnostics`

[code]

See https://youtrack.jetbrains.com/issue/SCL-15984

[2019-08-09 19:14] jastice opened #1008 "Unexpected Scala module type for non-Scala targets"
via https://youtrack.jetbrains.com/issue/SCL-15984

Bloop supplies a default Scala module data in BSP when none is defined in the Bloop config.
This causes problems in IntelliJ, because we pass the classpath when running applications or tests.

For example: Module `S` uses Scala 2.11, and depends on module `J` which is Java only. Running a test in `S` will pass in the merged classpath of `J` and `

[2019-08-10 05:39] pkolaczk commented on #1007
Cause:

[code]

Error positions coming from Java don't have `startColumn` nor `pointer` set. They have `startLine` and `startOffset`.

[2019-08-10 10:05] Tomahna commented on #947
I can confirm that it works well with bloop v1.3.2+125-2d6bf327. Thanks @jvican for your hard work.

[2019-08-10 15:03] tindzk commented on #981
Another error that gets swallowed is when running a JavaScript test module without JSDOM installed. When I ran `bloop test <module>-test --verbose`, the following stack trace was printed:

[code]

[2019-08-10 16:50] mushtaq commented on #947
@Tomahna curious how can I try `v1.3.2+125-2d6bf327`. I can use `resolvers += Resolver.bintrayRepo("scalacenter", "releases")` in `plugins.sbt`, but from where to download and install the bloop binary for CLI?

[2019-08-12 11:57] Tomahna commented on #947
@mushtaq it depends on how you install bloop. If you install bloop on linux using the curl method. Instead of piping the install script to python, you can download [it](https://github.com/scalacenter/bloop/releases/download/v1.3.2/install.py) and run it with a version.
```python install.py -v 1.3.2+125-2d6bf327``` or something along these line.

[2019-08-12 12:34] mushtaq commented on #947
@Tomahna thanks!

[2019-08-12 13:01] arbitrary-dev opened #1010 "Unable to compile JDK11 project"
How can one configure Bloop to run with JDK11?

Currently both aproaches fail for me on **MacOS**:
[code]

From logs:
[code]

Failure:
[code]

[2019-08-12 16:17] isomarcte commented on #974
@jvican Sorry, I've been out of town (and away from my computer) for the past bit. I'll try to take a look at it today.

[2019-08-13 07:45] arbitrary-dev commented on #1010
Fixed by:
[code]

[2019-08-13 11:33] pkolaczk opened #1011 "Java compilation excessively slow after detecting >50% classes changed"
Fresh compilation of a project after clean takes ~30 seconds.
Change >50% of classes (e.g. branch switch), so bloop decides to recompile everything, yet this time it takes 190 seconds, over 6x slower.

I attached the profiler when this happens, and it looks like majority of time is being spent in the Bloop invalidating file manager:

![Profile](https://user-images.githubusercontent.com/1352795/629

[2019-08-13 12:15] pkolaczk commented on #1011
I noticed these methods are called many times in the project - the bigger the project, the more times they are called. Each call is doing work at least O(n log n), so the total complexity is at least O(n^2 log n). This explains it is not visible in the small projects, but can get quickly bad in a project with 2000+ classes.

[2019-08-16 07:41] intracer opened #1015 "Unexpected error: 'enclosing tree does not include tree'"
INFO  compiling projectname-test (282 scala sources)
INFO  ======= Position error
Enclosing tree [40442] does not include tree [40441]
INFO  == Enclosing tree [40442] of type TypeApply at [1618:1754]OurTestNameSpec.scala
INFO
INFO  [L  38        ] #40442  [1618:1754]     TypeApply  // must not throwA[IllegalArgumentException]()
INFO
INFO  == Enclosed tree [40441] of type Select at [1618:1761]OurTe

[2019-08-16 07:43] intracer commented on #1015
[bloop.log](https://github.com/scalacenter/bloop/files/3508556/bloop.log)

[2019-08-19 11:35] lolgab opened #1017 "Support for Scala Native 0.4.0-M2"
I tried without success to use mill on a Scala Native 0.4.0-M2 project.
Is this support on the roadmap? If you give me some guidance I can try to make a PR.

[2019-08-20 06:36] nafg commented on #957
I'm having the same error as @schleumer

[2019-08-20 06:43] nafg commented on #957
...and switching the bloop server from java 10 to 8 worked (via `sudo update-alternatives --config java`)! Thanks reporting that factor!

[2019-08-21 18:18] neko-kai opened #1018 "Failure exporting sbt project with recursive sbt plugin?"
To reproduce execute:

[code]

(assuming `~/.sbt/1.0/plugins/metals.sbt` file exists, installed by Metals)

Got exceptions:

[code]

[2019-08-23 15:55] KieranCTaylor commented on #981
Hey @jvican I'm interested in investigating this one and trying to make a fix. I'm totally new to contributing to open source but have been working with scala for a couple years now so should be able to figure out what to do.

[2019-08-23 20:47] KieranCTaylor commented on #981
So I had a look and as far as I can see this is the expected behaviour, in BloopLogger we have:

`  @scala.annotation.tailrec
  private def trace(prefix: String, exception: Throwable): Unit = {
    if (isVerbose) {
      print(prefix + exception.toString, printTrace)
      exception.getStackTrace.foreach(ste => print("\t" + ste.toString, printTrace))

      val cause = exception.getCause
      if

[2019-08-25 03:13] nafg commented on #61
What is the current behavior exactly?

[2019-08-26 05:01] jvican commented on #981
Hey @KieranCTaylor, happy to see you're interested in contributing! `trace` never prints exceptions to users intentionally. My suggestion to address this issue is to modify the part that runs the application/forks the running process and make sure that if there's an exception thrown it's logged manually via `logger.error`.

[2019-08-26 06:07] jvican commented on #1010
See https://github.com/scalacenter/bloop/issues/933

[2019-08-26 06:07] #1010 closed

[2019-08-26 06:27] jvican commented on #1017
@lolgab You should be able to upgrade the Scala Native version in the build, more concretely in the `Dependencies.scala` file. Make sure you read the docs in the documentation website to get set up and be familiar with the structure of the codebase. However, we won't be able to merge your PR until there's an official stable 4.0 version out.

[2019-08-26 06:31] jvican commented on #1018
Thanks for reporting @neko-kai You're probably doing something funky in sbt. Bloop exports the bloop build just fine which in turn uses recursive sbt plugins too. I'm not even sure this error has a potential fix on the sbt side.

[2019-08-26 06:35] jvican commented on #1015
Judging from the stack trace, this is most likely not a problem in bloop but scalac. There's nothing we can do to fix this. Also, next time you file a ticket in this repository make sure you file a ticker properly, formatting errors and describing the issue in detail. I have zero context to look into this.

[2019-08-26 06:35] #1015 closed

[2019-08-26 10:18] lolgab commented on #1017
Can't two versions be supported (stable and milestone) like the thing that happens on Scala.js?
It will take very long time to Scala Native 0.4 be out.. I see if I can open a PR if this scala.js-like cross support is appreciated.

[2019-08-26 13:16] neko-kai commented on #1018
Well, replacing `RootProject` references with `unmanagedSources in Compile += ...` in `plugins.sbt` fixes that. Maybe the difference could be that [izumi](https://github.com/7mind/izumi) uses TWO plugins recursively?..

[2019-08-27 09:44] ayoub-benali opened #1020 "Fails to compile maven project"
Bloop fails to compile a maven workspace with multi project. Instead I get this error
[code]

**step to reproduce:**
1. Clone `https://github.com/dcmn-com/herringbone.git`
2. switch to `upgrade-scala-2.12` branch
3. run `mvn install -DskipTests` see https://github.com/scalameta/metals/issues/882
4. import build with Metals in any text editor
5. Notice error in logs

Using bloop CLI also leads to t

[2019-08-28 07:27] intracer commented on #1015
2.11.12

you are right, -Yrangepos was present in .bloop/*.json, and after removing this option, this error disappered. Project still failed to compile, this time with no error messages.

[2019-08-28 16:30] tindzk commented on #982
I hit the same problem in several projects. It is a common use case in client-server applications.

In previous Bloop versions, I could open two terminals with:

[code]

But with Bloop v1.3.2, the second command will wait for the lock to be released. The lock is actually not needed since `client` and `server` do not have any overlapping `.class` files.

If BSP is not affected by this limitation, I

[2019-08-28 17:47] jvican commented on #982
@tindzk All build tool integrations should exist over BSP instead of CLI. Once a BSP integration is in place, you'll be able to run two seed commands where each of it uses a different part of the build graph.

[2019-08-29 13:06] tgodzik opened #1022 "Jar dependencies between projects not working without publishing local jars"
Reported by @ayoub-benali in Metals

Given this workspace:
[code]
with project B depending on project A. Maven can't compile project B because project's A jar isn't available. Probably the generated bloop configuration isn't correct.

Current workaround is to do a mvn install -DskipTests to force JARs to be published locally but this isn't ideal for development .

To Reproduce

1. Clone https://gi

[2019-08-29 13:11] tgodzik commented on #1022
@jvican Not sure what we can do here actually coming to think of this. It fails, because we need those dependencies while running `bloopInstall`, so the only solution is to generate them :/

[2019-08-29 13:36] tgodzik commented on #1022
@ayoub-benali I looked into this a bit more.

The dependencies are specified as:
[code]

it only works because Maven publishes those jars. There is nothing we can do here aside from running install. Can the interproject dependencies be specified differently? Not a Maven expert.

[2019-08-29 14:04] ayoub-benali commented on #1022
don't know much about Maven to be honest, I am not the author of the project as I forked it.

I just know that when you do `mvn compile`, maven is able to compile the dependency without having to run `mvn install`. Why isn't bloop able to do the same ?

[2019-08-29 14:19] tgodzik commented on #1022
It's maven that is failing due to not having the dependency. There is no way around it - look here https://stackoverflow.com/questions/12223754/how-do-i-setup-maven-sub-projects-with-inter-dependencies

You need to install first for it to work. The only thing we can do is make bloopInstall depend on isntall, but not sure if we want that.

[2019-08-30 10:16] domdorn opened #1024 "Annotation processors from Immutables.org breaks bloop"
In my project I have two modules, one for my main code and one java module which contains classes that are using the immutables.org library.

Bloop (in connection with SBT?) apparently has problems with compiler-processors..
[code]

I'm using bloop through metals / vscode / sbt

[2019-08-30 19:03] jvican commented on #1024
Thanks for the bug report. Looks like https://github.com/scalacenter/bloop/issues/962 and https://github.com/scalacenter/bloop/issues/956. When they are fixed, we can look if there's anything else that needs to be fixed to support your project. Could you find a minimal reproduction case so that we can look at it at some point? Whenever you have it we can reopen the ticket.

[2019-08-30 19:03] #1024 closed

[2019-08-30 23:38] KieranCTaylor commented on #981
Hey @jvican I just had another look at this now.

I'm not sure what you mean by `trace` not printing exceptions intentionally, as far as I can see that is the intended action when verbose is on. I feel like this has to be the cause of the second example where it is being logged out as [T]. Again apologies if I am missing something obvious.

As for the first example where it's coming out as a debug

[2019-08-31 18:50] jvican commented on #974
@isomarcte In the next release I'm removing the python CLI, I hope this error will no longer exist. I think this error is caused by the Python script so I'm fairly confident this will not happen with our native GraalVM binary generated from our Scala implementation of nailgun.

[2019-09-05 10:51] lolgab commented on #1017
@jvican Are you ok with cross support for 0.3 and 0.4 ? I think it will take more than one year for 0.4.0 to be out, and most people that use Scala Native are using 0.4.0-M2 now because it's much better than 0.3.9, faster and solves some serious bugs..
If you give me the ok I can prepare a PR doing something like the thing you did for Scala.js 0.6.x and 1.0-Mx

[2019-09-05 13:20] jvican commented on #1017
@lolgab I apologise for my delay responding, I've been in a conference and my access to the Internet has been limited.

I think supporting both versions makes sense. I'd welcome a PR on this, thanks for taking it on.

[2019-09-05 13:46] jvican commented on #981
I meant by default, which means verbose is not enabled.

In the code snippet you quote, could we perhaps make `logger.debug` and `logger.trace` be a `logger.error` with an explicit error message? I'm happy to give you more guidance over Gitter, I'm happy to schedule a chat too.

Do you mean this?

[code]

[2019-09-07 15:41] mardukbp opened #1028 "Use picocli instead of Python for the installer"
[Picocli](https://github.com/remkop/picocli) - Java command line parser with both an annotations API and a programmatic API

- It is a single file. No external dependencies.
- Support for GraalVM native-image compilation -> distribute a single executable
- auto-generate tab-completion for Bash and ZSH
- and many more features

It is funny that a Scala build tool needs Python for the installation.

[2019-09-07 19:52] lolgab commented on #1017
@jvican No problems for the delay. Thank you for accepting the cross support.
You can find the PR for cross support here: https://github.com/scalacenter/bloop/pull/1029

[2019-09-09 14:02] arbitrary-dev commented on #476
For those who struggle...
[code]

[2019-09-09 14:39] arbitrary-dev commented on #476
But unfortunately it results in:
[code]

[2019-09-09 16:09] KieranCTaylor commented on #981
@jvican OK perfect I will drop you a message on gitter

[2019-09-10 08:37] arbitrary-dev commented on #476
I tried adding this to project's modules settings:
[code]

But `.bloop/*.json` configs are still being created with default path for `classesDir`.

Can someone help me out?

[2019-09-10 08:46] jvican commented on #476
This feature is not supported @arbitrary-dev

[2019-09-10 08:56] arbitrary-dev opened #1031 "Allow compilation of files to tmpfs directories"
Please add support for Tmpfs storage for compiled sources.

Currently compiled classes are stored in local `.bloop/` folder:
[code]

Would be nice to make this destination configurable, so that allow users to utilize Tmpfs for compilation purposes, for example:
[code]

[2019-09-10 08:57] arbitrary-dev commented on #476
Created feature request :-)
https://github.com/scalacenter/bloop/issues/1031

[2019-09-11 07:22] jvican commented on #1028
Something like this is already in the works and will be available in the next release.

[2019-09-11 07:22] jvican commented on #1028
Btw, we already autogenerate bash and zsh completions.

[2019-09-11 23:21] jvican commented on #1022
I have a fuzzy idea of what's going on here, but it'd be good if there's someone more familiar with Maven builds than myself and @tgodzik that can look into this and propose a solution that doesn't affect the current fast workflows to export bloop from Maven. One thing I'm afraid is that supporting this use case would mean compiling while we export the build, which is a no-go.

[2019-09-11 23:25] jvican commented on #1031
With regards to #476: Are you scoping `bloopClassDirectory` to either `Compile` or `Test`? Otherwise it makes sense it doesn't work, you're actually not overriding the existing setting. BTW, you might also need to change `bloopTargetDir`. You can make sure the values are overridden by using `show` or `inspect` in the sbt shell.

[2019-09-11 23:26] jvican commented on #1031
(Marking as duplicate because I think we are indeed supporting this use case as described in #476, my last comment in that thread seems wrong)

[2019-09-13 16:54] jvican commented on #1031
Any update @arbitrary-dev ?

[2019-09-13 16:58] jvican commented on #1018
I don't know of any reason why two plugins would cause an error and one wouldn't, but in any case this does look like an upstream issue in sbt. I'm not a big fan of `RootProject` because it's not well supported and has many implementation issues internally in sbt, I'd recommend to avoid using it.

Given that it's a little bit of a niche use case and we know a workaround, let's close this ticket. I

[2019-09-13 16:58] #1018 closed

[2019-09-13 17:00] jvican commented on #949
Hey @tkroman! Are you planning to work on build press any time soon?

[2019-09-13 17:01] jvican commented on #996
@Arthurm1 Are you interested in contributing this?

[2019-09-13 19:00] Arthurm1 commented on #996
I've been mulling over how to best to approach it.

JUnit 5 allows various different ways of annotating tests that go beyond what the SBT test-interface can identify e.g.
[code]

So I see 2 options...
1) Could the SBT test-interface AnnotatedFingerprint interface be changed to allow checks on non-public methods of non-public classes? (I'm leaning towards this)

2) Or could the whole classpath just

[2019-09-13 19:57] tkroman commented on #949
Hey @jvican! Yes, hopefully soon. I got stuck between changing jobs and trying to do my own project, going to make some free time in the next couple of weeks. Let me get back into the problem first. Also, if you could have some time for call to sync on this, I would appreciate that very much.

[2019-09-13 21:01] arbitrary-dev commented on #1031
Tried the following...
[code]

Generated JSON configs are correct:
[code]

Seems like all the classes are compiled in a couple of folders (though on Tmpfs) and module related ones just remain empty:
[code]

Still there are some `*-analysis.bin` files created out of Tmpfs, but not sure if it worth moving them also:
[code]

[2019-09-13 21:04] jvican commented on #1031
`bloopAnalysisOut` can help you tweak that too https://github.com/scalacenter/bloop/blob/master/integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala#L67

Happy to hear this works! I'm closing, adding some docs about this in the website would be highly appreciated 👍

[2019-09-13 21:04] #1031 closed

[2019-09-14 17:33] svalaskevicius commented on #558
btw this can be worked around with some tools :)
 `fd scala | entr -r bloop run ...`

[2019-09-14 17:38] jvican commented on #558
Nice :smile:

I'd like to implement this for the CLI at some point too, but if I can avoid developing/maintaining it the better. Thanks for sharing that incantation!

On the IDE side (Metals/IntelliJ), a way to emulate the behavior expected in the ticket is to have the build clients send a BSP `buildTarget/run` request to a file whenever there are are changes in a file in the editor.

[2019-09-14 18:25] svalaskevicius commented on #558
Bloop starts up quickly (thanks for that!), so using entr for this is actually quite ok usability-wise.

Also, the Unix philosophy.. :)

[2019-09-14 18:36] #1011 closed

[2019-09-14 21:06] #956 closed

[2019-09-15 01:07] jvican commented on #859
Fixed by https://github.com/scalacenter/bloop/pull/1025

[2019-09-15 01:07] #859 closed

[2019-09-16 12:17] jvican commented on #1017
Fixed by #1029

[2019-09-16 12:17] #1017 closed

[2019-09-16 12:32] lolgab commented on #1017
Thank you very much 🙏

[2019-09-16 18:40] kurnevsky commented on #974
It seems I faced the same issue. Running bloop compile with verbose writes only `[D] Computing sources and classpath hashes for engine` and then hangs.

[2019-09-16 18:43] jvican commented on #974
Can you drop by our Gitter channel and we try to find what the issue here is?

[2019-09-23 14:06] rtar commented on #957
I wonder if anyone found workaround for this as it is effectively blocking Slick development using Bloop on JDK11.

[2019-09-24 07:56] jqno commented on #928
I just saw the 'help wanted' tag. Is there something I can do to help? I noticed that the debug information of #941 is merged but not released net. I just tried to build the current snapshot by cloning the bloop repo and running `bin/install.py` but I couldn't get it to work. If you can help me with this, I'd be happy to research this issue further.

[2019-09-24 08:05] jvican commented on #928
You can follow the Contributing guide to get set up https://scalacenter.github.io/bloop/docs/contributing-guide You can then do `install` to generate package manager recipes and an `install.py` binary that you can use to debug. Feel free to drop by our Gitter channel if you have more questions!

[2019-09-24 11:12] jqno commented on #928
Thanks, that worked! The new debug information wasn't too helpful for me, but I'll try to make a minimal reproduction project as soon as I can find the time for it. Hopefully that will make it easier to find the problem.

[2019-09-24 17:22] jvican commented on #957
I've done some progress understanding what's going on here, I think it's related to the fact that we don't use the same `bootclasspath` in JDK 8 than JDK 11.

Here's the `bootclasspath` in JDK 8:

[code]

Here's in JDK 11:
[code]

I need to figure out why that's not the case. I'll keep you updated.

[2019-09-24 17:39] jvican commented on #957
Alright, I think I have a fix. If successful will open PR soon.

[2019-09-24 21:52] jvican commented on #957
Alright @schleumer your issue is now fixed, a fix will be soon available in master. The original issue you reported and the one @pkolaczk are fundamentally different, I think @pkolaczk's is related to the compilation engine while yours it's related to a patch we were missing to fully support Java platforms greater or equal than 9.

I'm nonetheless going to mark the fix for this issue as a fix for

[2019-09-25 13:07] tkroman commented on #949
Actually @jvican looks like I'm having too much on my plate right now, not sure I will be able to pay proper attention to this in the next month or so, so if there is anyone who wants to jump on this, they are welcome to. Sorry for the delay and/or inconvenience.

[2019-09-26 12:44] jvican commented on #949
Thank you for letting me know @tkroman!

[2019-09-27 07:51] jvican commented on #928
Any news @jqno?

[2019-09-27 08:02] jqno commented on #928
Sorry for the silence! I'm going to work on this today. I hope to have something later today.

[2019-09-27 12:21] jqno commented on #928
I found a minimal `pom.xml` that reproduces the issue:

[code]

The culprit is the `scala.compiler.additional.argument` variable. If I keep it empty, the error occurs. If I fill it in, for instance like `<scala.compiler.additional.argument>-deprecation</scala.compiler.additional.argument>`, bloopInstall works fine.

The use case for us is that we have a large parent pom that we use for all of our

[2019-09-27 13:27] jvican commented on #928
Hmmm, I think we should handle your use case just fine :smile: If we're throwing that NPE, then we should protect the bloop-maven plugin logic from it. Mind sending a PR that avoids the NPE when hadnling the additional compler arguments field? :smile:

[2019-09-27 13:28] jqno commented on #928
Sure, I'm willing to give that a shot. I'll try to find some time for that next week.

[2019-09-28 12:39] jvican commented on #624
Fixed by https://github.com/scalacenter/bloop/pull/1032

[2019-09-28 12:39] #624 closed

[2019-09-28 12:39] jvican commented on #281
@jackkoenig Are you still interested in having a look at this? If so I'll assign the ticket to you

[2019-09-29 22:51] #957 closed

[2019-09-30 12:56] olafurpg opened #1043 "BSP compile request does not respond in a large process"
While trying out Metals on a large workspace with 976 targets, I observed that a compile request did not respond and the Bloop process CPU usage up with the following profile pointing at `Dag.reduce`

[dag-reduce.svg.zip](https://github.com/scalacenter/bloop/files/3671171/dag-reduce.svg.zip)

I am unable to reproduce this issue when compiling from the command-line interface. I will open a PR soon

[2019-09-30 14:31] #1043 closed

[2019-10-01 07:09] jqno commented on #928
I've submitted PR #1045 for this!

[2019-10-01 10:25] #928 closed

[2019-10-01 14:59] jvican commented on #1020
I'm marking this as "help wanted" because I cannot personally look into it any time soon. I would appreciate if somebody can have a look at this error.

[2019-10-02 13:00] jvican commented on #950
I'm closing this ticket as this issue is fixed in the next bloop release.

[2019-10-02 13:00] #950 closed

[2019-10-02 13:01] jvican commented on #568
Let's open this when someone is interested in having a look at this

[2019-10-02 13:01] #568 closed

[2019-10-03 01:25] jackkoenig commented on #281
I am interested but I'm not sure if I can commit to it. Is this related/required for getting named pipes working in `bloopgun` or are these separate issues?

[2019-10-03 08:15] jvican commented on #281
They are the same issue

[2019-10-05 13:53] marcin-rzeznicki opened #1051 "Unexpected error compiling the bridge in 1.3.3"
After upgrading to `1.3.3`, `bloop compile x` fails with:
[code]

_jar_ it complains is published to [MC](https://mvnrepository.com/artifact/ch.epfl.scala/compiler-bridge_2.12/1.3.0-M4+26-045d2c8c). I can locate it in coursier cache on my machine.

[2019-10-05 14:44] jvican commented on #1051
@marcin-rzeznicki Thanks for reporting! This issue is not Arch-specific and there's already a fix for it. I'll release 1.3.4 on Monday early in the morning with that fix included, in the meanwhile you can use 1.3.2 as a workaround.

[2019-10-05 17:30] marcin-rzeznicki commented on #1051
@jvican Thank you! I thought that it might be caused by `pacaur` install (BTW, I use Arch Linux :smiley: ). Keep up the good work!

[2019-10-05 18:25] #1051 closed

[2019-10-05 22:42] #980 closed

[2019-10-05 22:58] jvican commented on #974
So I'm closing this ticket because it's not actionable in its current form.

I believe the `SocketError` mentioned in the logs is not problematic, it's intead expected -- a mere side-effect of how the nailgun server works. I don't know if @kurnevsky's comment is related to the original bug reported in this ticket, but that one is fixed in the latest master.

If this issue can be reproduced after t

[2019-10-05 22:58] #974 closed

[2019-10-05 23:00] jvican commented on #982
I'm closing this ticket because this is a design decision I'm not planning to revisit any time soon. I might experiment with productionizing a prototype to make the CLI a bsp client down the road, but for now it's not a priority. Thanks for reporting, I think it's great there's some trace of this behavior in the issue tracker as well as a reiteration that build tool integrations should always pref

[2019-10-05 23:00] #982 closed

[2019-10-05 23:02] jvican commented on #933
I'm closing this ticket because we will be removing this limitation soon, thanks for reporting @fredfp and following up with the PR.

[2019-10-05 23:02] #933 closed

[2019-10-05 23:14] jvican commented on #1020
I've had a closer look at what's happening here. The Bloop plugin for Maven doesn't seem to be adding the scala library jar in the classpath field. However, the `scala.jars` section of the configuration file does indeed have a reference to all of the relevant scala jars (library, reflect, compiler, etc): https://gist.github.com/jvican/074499727a125d17c445d8c4fa2c9492

Adding the Scala library jar

[2019-10-05 23:16] jvican commented on #591
Bloop 2.0 will move completely away from the Scala console REPL interface and instead settle on Ammonite, which will in turn have support to offload compilation to Bloop via the upcoming code snippet API that it's in the works. Therefore, the idea proposed in this ticket won't be explored anymore.

[2019-10-05 23:16] #591 closed

[2019-10-05 23:17] jvican commented on #491
Scala REPL sessions won't be supported in 2.0 anymore, so I'm closing because I intend to deprecate this integration in favor of Ammonite's integration.

[2019-10-05 23:17] #491 closed

[2019-10-05 23:20] jvican commented on #949
Hey @tkroman, I'm not that much interested in `ProjectRef`s but I do intend to be using buildpress soon to power some of our upcoming GitHub CI integrations and it'd be nice if you could quickly look at https://github.com/scalacenter/bloop/issues/948 and implement detection for source sbt plugins, it would unblock some interesting work and allow me to move forward quicker in the next few days.

[2019-10-05 23:25] jvican commented on #1022
I'd love to have a closer look at this ticket but it doesn't look like there's anyone available to implement @marek1840's proposed improvement and therefore I'm inclined to close.

If someone volunteers to look at this, I'd be more than happy to reopen! There's too many things on our plate right now and improving Maven support isn't a priority even though it'd be really nice to support it as well

[2019-10-06 00:47] jvican commented on #497
@tpolecat To keep you in the loop, the plan is to deprecate the Scala REPL integration and instead favor our Ammonite integration, which we partially support now by default via `bloop console $PROJECT`. The Ammonite integration needs to be improved (for example, we'll be adding support for Ammonite to offload compilation of code snippets to Bloop) but for now it's good enough that the deprecation

[2019-10-06 00:47] #497 closed

[2019-10-06 00:50] jvican opened #1053 "Cross-compile bloop modules to 2.13"
We only need to cross-compile those modules used by build tool integrations that want to cross-compile to Scala 2.13 too. @lihaoyi pinged me about release bloop-config for 2.13. I expect I'll be able to look at this ticket this week, cross-compiling to Scala 2.13 should be an easy task.

[2019-10-06 14:13] KenCoder opened #1054 "Install link from main website is broken"
At 10/6/2019 10:10AM EST, running the [universal installer](https://scalacenter.github.io/bloop/setup#universal) gets a 404.

The failing command is:

curl -L https://github.com/scalacenter/bloop/releases/download/v1.3.3+16-a63edbcb/install.py | python

[2019-10-06 14:22] tkroman commented on #948
@jvican in reply to your comment (https://github.com/scalacenter/bloop/issues/949#issuecomment-538697266) - yes, let me see if I can do this on my own, if not - I'll have to ask for your help.

[2019-10-06 14:23] jvican commented on #948
Excellent, thanks @tkroman :smile:

[2019-10-06 14:25] jvican commented on #1054
Thanks for reporting! There has been a change in the website infrastructure and the version is off. Could you please replace that version with `1.3.3`? The installation should then work.

[2019-10-06 17:59] #1054 closed

[2019-10-06 21:12] jvican commented on #723
Any chance you could look at this soon @philwalk ? To recap, the issue here is caused by `logger.info` which uses `System.lineSeparator` to print a message to the client streams. The Windows line separator is `\r\n`. My intuition is that the Bash autocompletion implementation in Cygwin expects `\n` instead of `\r\n` so it shows `^M` in the terminal.

The fix here should be to replace `logger.info`

[2019-10-07 15:14] philwalk commented on #723
I'm looking at it now, hopefully I can get back up to speed without too much delay ...

[2019-10-07 15:30] jvican commented on #723
Thanks a lot @philwalk, please let me know if you have questions or you run into any problem. I'll be available in our Gitter channel https://gitter.im/scalacenter/bloop

[2019-10-07 15:44] philwalk commented on #723
I started out with a fresh clone, and when I start an sbt session I get this:

[code]

[2019-10-07 15:45] jvican commented on #723
OK, that's really weird. Can you `rm -rf project/target project/project/target project/project/project/target`? You shouldn't get that at all with a fresh clone!

[2019-10-07 15:48] jvican commented on #723
This is the workflow you should use to test your changes:

1. Kill the bloop server running if there's one running
1. `sbt frontend/runMain bloop.Server` to start your modified version of the server
2. use the bloop CLI currently installed in your machine to trigger completions, your server's implementation of autocompletions will be triggered

[2019-10-07 15:48] philwalk commented on #723
[code]

[2019-10-07 15:50] jvican commented on #723
Do you have global plugins installed that could be causing that resolution error? If there are, try removing them, `rm -rf`ing again and running `sbt`. You should not be seeing this resolution error (our build works in our Windows Jenkins instance without problems).

[2019-10-07 16:00] philwalk commented on #723
After disabling all global plugins, I got past the above problem, and now I'm getting a problem we ran into last Spring where it incorrectly sets SCRIPT_PATH and then produces a bad path to the sbt.bat file.      Here's the error message.   I'll spend some more time on it this afternoon.

[info] Generating bloop configuration files for C:\Users\philwalk\workspace\bloop\frontend\src\test\resources\

[2019-10-07 16:03] jvican commented on #723
Go to `project/BuildPlugin.scala` and disable the exporting of those projects in a method called `bloopOnLoad` by just plainly returning `state`, something like this:

[code]

That should be it. Fixing this issue with scriptpath should not block you anymore. There will be some tests unrelated to autocompletion that will fail but you can just ignore them, focus on the autocompletion test suite inst

[2019-10-07 16:09] philwalk commented on #723
Here's an error message that it printed, although it doesn't seem to have caused any problems.   I've seen this before, it's caused by script code that tries to parse a java version string but doesn't first strip out the  carriage return.

[code]

It seems to have completed the build now.

[2019-10-07 19:29] philwalk commented on #723
I'm
I have Intellij working, but here's what I'm getting when I run the frontend tests.  Many of the errors seem to result because nailgun can't find the built classes:

`  java.lang.NoClassDefFoundError: Could not initialize class bloop.util.TestUtil$
`

The file exists:

[code]

Here's the full test output:

$ bloop test frontend

[code]

[2019-10-07 21:25] philwalk commented on #723
I just noticed your note about how to launch the server, ignore the previous and I'll launch it correctly this time :)

[2019-10-07 21:56] jvican commented on #723
Those errors you're getting are weird :thinking: Your machine seems to be pushing our build pretty hard 😛

Let me know if launching the server like that helps. You might consider cleaning everything with `clean` to see if the tests run again just fine.

[2019-10-07 22:17] philwalk commented on #723
ok, I'll give it a try

[2019-10-08 12:29] kurnevsky commented on #974
It works for me now, thanks.

[2019-10-08 14:00] philwalk commented on #723
I have a fix for the specific ^M problem in the autocompletion context, although it's difficult to know if it breaks anything because tests are failing.     I figured out one of the causes, which might explain many or most of the test failures.    It's also related to a non-portable use of the System.lineSeparator variable in bloop.util.TestUtil.scala, at line 540:

[code]

This code explicitly as

[2019-10-09 12:28] jvican opened #1057 "Support debugging breakpoints in Bloop"
This ticket collects my thoughts on how we can implement breakpoint support in Bloop, what are the different implementation avenues, their pros/cons and specifies what is the relationship between Bloop as a DAP server and BSP clients.

### Constraints

1. Breakpoint support should not depend on information from the BSP/DAP frontends unless it's strictly necessary.
2. Bloop should handle breakpoint

[2019-10-09 15:37] olafurpg opened #1059 "Include Dotty fixes in Zinc"
Would it be possible to get fixes from https://github.com/sbt/zinc/pull/700 into the Bloop fork of Zinc?

[2019-10-10 11:02] olafurpg commented on #1057
Thank you for the detailed write-up! Metals is able to provide the mapping between source file + position to a fully qualified name. Do I understand correctly that Metals DAP proxy would update the `setBreakpoints` parameters before passing it onto Bloop?

[2019-10-10 22:54] philwalk commented on #723
The change I listed above fixed all but two of the tests in  `bloop.CompileSpec`

I'm still working on this part time.   Here's my first attempt at adding a new `test5 ` to AutoCompleteSpec.scala.

[code]

I clearly don't understand the semantics, my intent was to verify that if the client types "abou<TAB>" it will autocomplete "about" without a CR.    No such luck, suggestions are welcome.

I'll

[2019-10-10 23:30] jvican commented on #723
@philwalk You should replace the mode from `Mode.Projects` to `Mode.Commands` given that you want an autocompletion query for a command. In fact I've just tried it out and I think I've reproduced the same behaviour you were experiencing.

We share expectations on what that test should have done. However, it turns out this is not the way autocompletions work. Instead, the autocompletions engine exp

[2019-10-11 11:05] tindzk opened #1062 "Use linker version set in Bloop configuration"
When a library was compiled with a newer Scala.js version than the [one](https://github.com/scalacenter/bloop/blob/master/project/Dependencies.scala#L43) used by Bloop, the module cannot be linked.

For example, https://github.com/sparsetech/toml-scala/pull/16 fails as it updates ScalaCheck from 1.14.0 to 1.14.2 which was compiled for Scala.js 0.6.29, however the linker version used by Bloop is 0.

[2019-10-11 14:23] philwalk commented on #723
@jvican just to make sure I understand what you're saying, here's what I experience on both windows and linux.   When I type in "bloop abou" and then hit a <TAB> key, it completes the spelling of the command (it only prints the single word "about", in this example, rather than a list of commands).
The fix I'm testing merely removes the ^M from the word "about".   BTW, I wonder if bash_completion i

[2019-10-14 11:03] davojan commented on #558
The only downside of the ``entr`` workaround is that whenever you add new a new source file, it won't be watched. So native support of killing daemons will work a little better.

@svalaskevicius big thanks for this solution.

[2019-10-15 08:40] jvican commented on #1057
Yes, Metals would update the `path` field in the `Source` field of the `SetBreakpointArguments`. `java-debug` considers that to be a URI that we then will parse.

We should use an URI format that is not Metals specific but instead can also be used by other frontends such as IntelliJ. I propose `bloop://dap?fqn=$FQN_NAME` as this format is for now only supported in bloop.

/cc @marek1840

[2019-10-15 19:44] #1053 closed

[2019-10-15 22:06] jvican commented on #1053
The 2.13 modules are not published yet but the changes in the build made it to master. I'll cut a release with them shortly.

[2019-10-18 11:31] jvican opened #1067 "Allow `buildTarget/testClasses` after `taskFinish`"
BSP clients can make the sensible choice of sending `buildTarget/testClasses` or `buildTarget/mainClasses` BSP requests after they have received `taskFinish` notifications for a given build target. However, Bloop doesn't ensure that the compile products are available until the *whole* compile transaction has been executed. Therefore, there can be race conditions where the clients ask for it before

[2019-10-18 11:53] jastice commented on #1067
Currently in IntelliJ `buildTarget/testClasses` is requested completely independently from compile tasks, afaik. @samvel1024 might know the details. But I agree this behavior makes sense.

[2019-10-22 08:34] jvican commented on #982
Note for casual readers: the workaround to this problem is to run tests/application from other Bloop clients than the CLI client. For example, you can run your application once from your CLI and from your editor concurrently (IntelliJ/VS Code/vim, etc). The problem discussed here only affects concurrent CLI clients.

[2019-10-22 09:00] jypma commented on #982
Interesting. Why would CLI clients require a different kind of locking from editor clients?

[2019-10-22 10:25] jvican commented on #982
@jypma Because BSP clients are isolated (every BSP client has its own unique set of classes directories granted upon their connection) while the CLI classes directories are stable (at least for now). You can read more about this in my Scala World talk https://www.youtube.com/watch?v=PgQyCnqm4QQ

[2019-10-22 11:03] Arthurm1 opened #1068 "Exception thrown in compilation on Windows"
I get an exception on Windows when I create an error in a Java file and Bloop attempts to recompile.

This doesn't happen on Linux.

I'm using version 1.3.4

[code]

[2019-10-23 11:00] jvican commented on #1068
Thanks for reporting! Are you using WSL or Cygwin? Also, can you share the classpath for `gradtest-test`?

[2019-10-23 11:13] Arthurm1 commented on #1068
Using Windows 7.  No WSL or Cygwin.

I've attached all projects json files as txt (I hope)
Classpath is...
[code]

[gradtest-test.txt](https://github.com/scalacenter/bloop/files/3761959/gradtest-test.txt)
[gradtest.txt](https://github.com/scalacenter/bloop/files/3761960/gradtest.txt)

[2019-10-23 11:33] jvican commented on #1068
Can you also run compile on the offending target with `--verbose`? It will print logs that will be helpful to figure out what's wrong.

[2019-10-23 11:43] Arthurm1 commented on #1068
[code]

[2019-10-24 18:03] jvican commented on #1068
Thanks a lot for that log! Hope I'll be able to look into this soon :+1:

[2019-10-30 06:47] marek1840 opened #1072 "Make forker aware of JDI hardcoded '\n' message"
Currently, the output from the JVM is being split into lines using the `System.lineSeparator` as a separator.

Unfortunately, this stopped being a correct approach with the [introduction of a Debug Adapter Protocol](https://github.com/scalacenter/bloop/pull/944) where we depend on a first line from the JVM - a JDI notification telling us when we can attach to the debuggee.

Regrettably, the JVM it

[2019-11-01 09:57] jvican commented on #1062
Hi @tindzk, how do you expect this to work? An actionable thing out of this ticket is to upgrade to the latest Scala.js version, however I'm not sure how you envision Bloop would behave here.

[2019-11-01 15:24] tindzk commented on #1062
It should be possible to resolve the linker during runtime. [This](https://github.com/lihaoyi/mill/blob/master/scalajslib/src/ScalaJSModule.scala#L38) is how Mill does it.

[2019-11-01 15:37] jvican commented on #1062
Could you look into how we can use a similar trick in bloop?

[2019-11-02 13:49] jvican commented on #982
Hi all! I found a sensible way to guarantee the isolation of CLI clients so the next release will remove the CLI lock and allow users to use as many concurrent CLI clients as they want.

[2019-11-02 15:24] olafurpg opened #1076 "Don't throw NullPointerException if compiles is missing in Scala jars"
I encountered the following exception
[code]
with the following Scala jars section
[code]
I expected Bloop to report a helpful error message explaining that scala-compiler is missing from the Scala jars section.

[2019-11-02 17:27] tindzk commented on #1062
Yes, I will try to come up with something in the next few days.

[2019-11-03 15:36] tindzk opened #1077 "Compiler bridge resolution blocks CLI"
After [updating Bloop](https://github.com/tindzk/seed/pull/64) from v1.3.2 to v1.3.4, Seed's integration tests stopped working.

The two failed CI runs ([1](http://ci.sparse.tech/tindzk/seed/444/1/3), [2](http://ci.sparse.tech/tindzk/seed/445/1/3)) both block on the first `bloop compile <module>` command during the compiler bridge resolution:

[code]

In case it helps, [here](https://github.com/ti

[2019-11-03 18:23] jvican commented on #1077
Thanks for opening the ticket! This issue was fixed in v1.3.5 (which hasn't yet been officially released but which can be resolved from the CI) and it's also fixed in master. Next official release will advertise that we fixed this bug.

[2019-11-03 18:23] #1077 closed

[2019-11-03 22:17] tindzk commented on #1077
Great to hear.

Where are the latest builds published? I have checked [Bintray](https://bintray.com/scalacenter/releases/bloop), but there have not been any artefacts since v1.3.3.

[2019-11-03 22:18] jvican commented on #1077
Stable releases go to https://search.maven.org/artifact/ch.epfl.scala/bloop-frontend_2.12/1.3.5/jar. Binary has been dormant since we've done some changes in our build, I plan to add on-merge releases back soon.

[2019-11-04 12:59] jvican commented on #1068
I found a fix for this issue @Arthurm1, will add it to a big PR and then merge it.

[2019-11-04 15:48] #315 closed

[2019-11-04 15:48] #1068 closed

[2019-11-04 15:48] #1076 closed

[2019-11-04 18:22] #1008 closed

[2019-11-06 06:25] jackkoenig opened #1080 "Bloop doesn't build on Windows + PowerShell"
I never develop on Windows so apologies if I'm missing something obvious.

I tried following the developer instructions (https://scalacenter.github.io/bloop/docs/contributing-guide) on Windows 10 and got the following error when running `sbt` in PowerShell. I got the same error when trying to import `bloop` into IntelliJ using `sbt`.

[code]

I installed `sbt` using `scoop` per the SBT instruction

[2019-11-06 08:12] jvican commented on #1080
Thanks for reporting @jackkoenig! It looks like the offending line is https://github.com/scalacenter/bloop/blob/master/project/BuildPlugin.scala#L447

I'm not sure why it's not using the Windows command, I wonder if this is related to PowerShell even though I used it a few weeks ago and worked fine.

[2019-11-06 23:32] jvican commented on #1072
Fixed with #1073

[2019-11-06 23:32] #1072 closed

[2019-11-07 14:58] jvican commented on #1080
Any update here? @jackkoenig

[2019-11-07 15:28] pkolaczk opened #1082 "Passing JVM options to test throws unrecognised option"
[code]

`-J` prefix is not stripped?

[2019-11-07 16:15] jvican commented on #1082
Thanks for reporting! This kind of ticket needs more information to be actionable. What's the Bloop version you're using? How did you build bloop?

[2019-11-07 16:20] pkolaczk commented on #1082
Bloop v1.3.4 + a few minor remaining patches not merged yet; but not related to code running tests. I also remember someone reporting the same problem in scalacenter gitter.

[2019-11-07 16:21] jvican commented on #1082
Thanks for the info, I'll look into this shortly.

[2019-11-07 18:10] jackkoenig commented on #1080
Thanks for the response! No update yet, hoping to take a deeper look soon. I appreciate the pointer, that is almost certainly the offending line so debugging shouldn't be too bad.

For posterity, since master has already moved, here's a permalink: https://github.com/scalacenter/bloop/blob/f8402c3d47cd6ec6215ad39e554598a6b9caef4a/project/BuildPlugin.scala#L460

[2019-11-08 12:47] #968 closed

[2019-11-08 15:25] schleumer opened #1084 "Unexpected `CreateProcessW` error in Windows"
There's an issue i've found running my project on Windows, when running(`bloop run`) large projects bloop generates really big command which causes CreateProcessW to reject the execution thus making `bloop run fails`, command limitation is 32768 characters, bloop generated one with 44540 characters for my project. It's actually just a report of a compatibility issue on Windows, running it on Linux

[2019-11-08 19:08] jvican commented on #1084
Thanks for reporting! @schleumer Is this something you can look into and provide a fix? I can give you pointers, I think I know where this is happening.

[2019-11-08 19:18] schleumer commented on #1084
I forgot do add the stack trace:

[code]

Also:

OpenJDK 12
Scala(global) 2.13.1
Scala(local) 2.12.9
SBT(global) 1.3.3
SBT(local) 1.3.0

If you can point me, i can work it out as soon as possible.

[2019-11-08 19:21] jvican commented on #1084
Thanks for providing the additional information, will be important for people running into the same issue.

The line where we generate the java command to run/test a project is this one:
https://github.com/scalacenter/bloop/blob/f5e1cfe2ccb63b3cab12d20a6e4e611b981b01c4/frontend/src/main/scala/bloop/exec/JvmProcessForker.scala#L119

I've run into this error before and I don't remember what I did to

[2019-11-08 19:54] schleumer commented on #1084
I found a way that involves the creating of a temporary file containing all the args and passing to Java executable, this will be acceptable only on Java 9+. Also, from the workarounds I found, none worked, even the one to put all files on root directory to reduce class path characters. I've edited the previous comment to add the command generated by the bloop.

[2019-11-08 20:31] #1082 closed

[2019-11-08 20:36] jvican commented on #1084
Thanks for looking into this!

The first workaround seems good to me. I propose we do that only in Windows machines and only once the character limit has been surpassed. If the workaround fails because, for example, the user doesn't use Java 9 (which is likely), can we detect the exception and throw a helpful message pinpointing what the issue is and recommending them to use Java 9 to run that pro

[2019-11-08 20:50] jvican commented on #1062
Great! Let me know how you want to implement this, I'm curious to know how you're thinking about this and would like to provide some early feedback.

[2019-11-11 02:58] jvican commented on #1057
Fixed by #1087.

[2019-11-11 02:58] #1057 closed

[2019-11-11 03:49] jackkoenig commented on #1080
It appears the issue I originally reported comes from installing `sbt` via `scoop`. I noticed that I got a very similar error trying to run `sbt` from `cmd.exe` (rather than PowerShell):
[code]
So I uninstalled `sbt` from `scoop` and reinstalled it with the `.msi` and was able to get passed that error.

[2019-11-11 03:50] jvican commented on #1080
Sounds good! Let's close this then.

[2019-11-11 03:50] #1080 closed

[2019-11-11 15:14] marcsaegesser opened #1088 "Emacs interlock files break Bloop compile"
When a buffer is modified, Emacs creates an [interlock](https://www.gnu.org/software/emacs/manual/html_node/emacs/Interlocking.html#Interlocking) file in order to detect and prevent another user (or another Emacs instance) from editing the same file and possibly overwriting changes. These interlock files have the form .#filename and (at least on Linux) are symlinks to a non-existent file whose nam

[2019-11-11 16:10] jvican commented on #1088
Hi @marcsaegesser, thanks for reporting! It looks this could be fixed in `SourceWatcher.scala` by intentionally skipping these interlock files. I would also re-run the command with `--verbose` to have more information about the type of exception thrown by the file watcher, that should tell us what's at fault here.

Is this issue something you'd be interested in working on?

[2019-11-11 18:24] marcsaegesser commented on #1088
Running with --verbose I get the following (with the very annoying ANSI escape codes removed):

Unfortunately, Bloop doesn't show the actual exception, just the exception's message, so I can't tell what actually went wrong or where. Given that this gets reported in the ```onException()``` callback the exception obviously comes from within ```io.methvin.watcher.DirectoryWatcher```. After a quick lo

[2019-11-11 23:35] olafurpg opened #1089 "Make buildTarget/scalacOptions run faster"
While importing a workspace with ~100 targets with large dependency classpaths, I observed that `buildTarget/scalacOptions` is a lot slower compared to other requests
[code]

A profile of the Bloop server shows that `AbsolutePath.toBspUri` is a bottleneck

<img width="1202" alt="Screenshot 2019-11-11 at 15 32 13" src="https://user-images.githubusercontent.com/1408093/68629374-743e4700-0498-11ea-9a

[2019-11-12 01:11] #1089 closed

[2019-11-12 01:12] jvican commented on #1088
That's quite a weird error. My guess is that you're using an sbt launcher that is old. I recommend running `brew upgrade sbt` and trying to get bloop set up again.

[2019-11-12 01:42] marcsaegesser commented on #1088
It's Linux, not Mac, and I'd triple checked it was the most recent version. I blew away some stuff under ~/.sbt/1.0 and that fixed that problem. There was probably an old plugin in there with some outdated dependencies. Why it only failed for Bloop is a mystery I just don't care to solve.

The build then failed because there's a dependency on clang that's not listed in the installation notes. It w

[2019-11-12 03:27] jvican commented on #1088
Hi Marc, this project is a safe place for people learn, teach and contribute. Your snarky and negative tone is not welcome here, I encourage you to improve your attitude.

Feel free to send a PR blacklisting interlock files from the file watcher. We don't need to fix this in the file watching library we use, this is a problem niche enough that I'm okay with merging a brute-force solution.

[2019-11-12 04:03] marcsaegesser commented on #1088
OK, no more snark.

It's a timing problem that happens when the compilation gets started before the file deletion actually happens. The exception from the directory watcher was a complete red herring.

The code below is from CompileTask.scala at line 295. I commented out the original wildcard match that quietly ate supposed non-errors and replaced it with a log statement. Below is the output from

[2019-11-12 09:57] Alexey-NM opened #1091 "Reload analysis files when they change"
It will be very useful to have the ability to refresh bloop without restarting.
Would it be possible to add a bloop command for that purpose, it could be something like 'refresh project'

It is very important for large project to have the ability reuse CI compilation cache.
[jvican has writen](https://github.com/scalacenter/bloop/issues/673#issuecomment-516186219):
_any tool that wants remote comp

[2019-11-12 12:54] pkolaczk opened #1092 "Add an option to control downloading javadocs / sources"
It looks like currently `bloopInstall` gradle task downloads sources and javadocs for all resolved jars. This takes a significant amount of time, particularly when everything is proxied through another maven repo that doesn't have these jars cached.

Could we get an option to configure downloading of these additional jars? E.g make it similar to other plugins:
[code]

[2019-11-12 14:39] tgodzik commented on #1092
This is being currently done here: https://github.com/scalacenter/bloop/blob/e8ec4d7ce6db36417e300ae114de823b4474d6f1/integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/model/BloopConverter.scala#L586

It might make sense to configure via project property. Something like `-PbloopIncludeSource=true`

[2019-11-12 14:59] pkolaczk commented on #1092
Right. How do you set custom project properties (that would not be overriden by `bloopInstall`) ?

[2019-11-12 15:26] tgodzik commented on #1092
Not sure I understand. Custom project properties can be provided when running `bloopInstall`

So we would run:
[code]

and by default we would only download the regular jars.

[2019-11-12 21:47] olafurpg opened #1093 "Improve runtime performance of no-op compilations"
Currently, no-op compilation for targets with a large classpath can sometimes be slow. The profile below hints that slow no-op compilation is bottlenecked by `java.io.File.isDirectory()`, which invokes the native system call `stat64`

<img width="798" alt="Screenshot 2019-11-12 at 10 37 37" src="https://user-images.githubusercontent.com/1408093/68713233-3aca1200-0552-11ea-9a37-8e95139d17c7.png">

[2019-11-12 22:11] jvican commented on #1092
Downloading sources is usually a must to get IDE support working nicely, I'm not sure if it makes a lot of sense to disable them. I agree downloading java docs is not very useful and I'm open to switching the default to avoid downloading them when `gradle bloopInstall` is run. Does that make sense?

[2019-11-12 22:20] jvican commented on #1091
Thanks for filing this ticket! Let me get back to this in a few days when I have more bandwidth and we can discuss implementing something like this. Also, if you're building some solution in this space, I suggest you open-source it, it'd be great to have this capability available for folks already using Bloop in their company.

[2019-11-12 22:26] jvican commented on #1093
Thanks for reporting! Yes, I've wanted to use swoval for a few weeks now. We should avoid expensive stat64 operations as much as possible to speed up no-op compilations, class path hashing and other IO-intensive tasks the compilation engine.

I don't think I'll have the time to look into this any time soon but I'm very open to accepting PRs contributing this feature. I'd recommend going through al

[2019-11-13 02:56] eatkins commented on #1093
I’d be happy to provide guidance and PR feedback but I’m mostly taking a break from open source right now.

[2019-11-13 09:47] pkolaczk commented on #1092
Makes sense, thank you.
Any way to provide the defaults in `build.gradle` though?
The default on our gradle project is to *not* download the sources and javadocs. So I'd like this to be opt-in (by -P or gradle.properties) rather than opt-out.

[2019-11-13 22:39] olafurpg opened #1094 "Test fails to run because Java argument list is too long"
When running `bloop test` for a project with a large classpath, I get the following output
[code]

When I re-run the same command with `--verbose` and pull out the executed command `java -classpath ...` and run it directly from my terminal I get the following output

[code]

One possible workaround would be to use `-classpath manifest.jar` where the manifest jar links to all the other jars on the

[2019-11-13 22:50] jvican commented on #1084
@schleumer I've just gotten a report by @olafurpg in https://github.com/scalacenter/bloop/issues/1094 where this issue seems to be cross-platform. We've bounced off some ideas about how to solve this. It looks like the best solution is to create a simple jar file with only one MANIFEST file in it that contains the `Class-Path:` attribute and perhaps also the main class.

I think this solution is s

[2019-11-14 10:57] 1mdc opened #1095 "Improve documentation/help command"
Hi,

I'm new to bloop and trying to learn things but some parts lack of documentation making hard for new user get started. For example, CLI page does not tell exact what is each command for. Some parameters in CLI is also unclear such as `bloop autocomplete --mode <value>` I'm not sure what is possible value there.

Can someone have good understand add more documentation?

[2019-11-14 15:55] andywhite37 opened #1096 "IDEA bsp plugin doesn't seem to respect setting "Automatically show first error in editor""
I'm not sure if this is the right place to ask about the IDEA plugin, so I can close/move this if needed.

The IDEA plugin for bsp doesn't seem to honor the IDEA setting "Automatically show first error in editor," when that option is **unchecked**.

I have this setting unchecked, yet when a build finishes, and there's an error, I'm taken to the file containing that error, and away from the file I'

[2019-11-16 15:49] jvican commented on #1096
Hi @andywhite37, thanks for reporting! This is not the right place to report this behavior since bloop doesn’t control this code, it's better to move this ticket to IntelliJ's issue tracker. See @jastice

[2019-11-16 15:49] #1096 closed

[2019-11-16 15:52] jvican commented on #1092
We could definitely have an option for that, feel free to open a PR. I don’t mind having that option customizable via system properties or via gradle build files.

[2019-11-16 15:54] jvican commented on #1095
Hi @1mdc, thanks for reporting! Have you checked out https://scalacenter.github.io/bloop/docs/cli-reference ?

[2019-11-16 18:15] 1mdc commented on #1095
Hi @jvican , thanks for getting back to me.

Yes I looked at that page. Can you please add a short description for each of the command?

Some of them are quite obvious e.g. bloop run/test. I don't know exact purpose some others.

Thanks.

[2019-11-16 19:17] tindzk commented on #1062
Unfortunately, I did not manage to run the test cases yet. I checked out the latest `master` and ran these commands as per the [documentation](https://scalacenter.github.io/bloop/docs/contributing-guide#learn-the-developer-workflow):

[code]

The [output](https://gist.github.com/tindzk/17e5c610420d92650a43acad922b67e4) indicates that the bridge is missing.

Here are the changes I would like to mak

[2019-11-16 20:16] jvican commented on #1062
You need to publish the js bridges manually every time you make a change in them or the version of the build changes (which happens roughly every time you reload the sbt shell or quit it).

[2019-11-18 04:21] er1c commented on #724
This might be partially incomplete.  In a multi-project config

[code]

The working directory for compiling should be the parent (e.g. `ta-catalog`)

We have templates stored in the root project directory that get expanded from macros in a dependency project (e.g. `website`) that refer to simply `templates/foo.ssp` - which is relative to the parent project.

There is also a corresponding sbt confi

[2019-11-18 18:10] olafurpg opened #1101 "Classes directory should not contain colon"
Steps to reproduce: follow instructions in this repo here https://github.com/olafurpg/intellij-bsp-pants

The problem manifests in error messages like

[code]

when testing and running a Pants build that was exported to Bloop and then imported into IntelliJ via BSP. The problem seems caused by the combination of

* Pants targets can have colons `:` in their names such as `src:src` and the Pants ta

[2019-11-18 18:12] olafurpg commented on #1101
I tried coming up with a way for IntelliJ to escape the colon in the directory name but it doesn't seem to be possible 🤔  At least, escaping the colon with `\:` doesn't seem to work as I was hoping it would
[code]

[2019-11-18 18:14] olafurpg commented on #1101
Corresponding YouTrack issue https://youtrack.jetbrains.com/issue/SCL-16615 I believe the best approach is to fix this on the Bloop side however.

[2019-11-20 12:44] propensive opened #1103 "Not all files for v1.3.5 have been published and installation fails"
The bloop [`install.py` script](https://github.com/scalacenter/bloop/releases/download/v1.3.4/install.py) fails to find at least one file when attempting to install version 1.3.5.

Here is an output log:
[code]

[2019-11-20 12:46] propensive opened #1104 "Website is showing old "latest" release versions"
The website shows version 1.3.2 as the "latest" version throughout the site, and in particular here:
https://scalacenter.github.io/bloop/versions

[2019-11-20 13:02] propensive opened #1105 "`sbt install` fails with reference to gradle-api JAR"
There seems to be a problem running the `sbt install` command, for reasons that aren't clear, but seem to include Gradle.

This is a full log of the output from `sbt install`:
[code]

[2019-11-20 17:49] jvican commented on #1105
Hey @propensive, I was not able to reproduce this in a fresh machine. There must be some corruption in the machine where this stack trace was captured from.

[2019-11-20 17:49] #1105 closed

[2019-11-20 17:51] jvican commented on #1103
Thanks for reporting! This is on purpose, that release was not supposed to be used by user but just unblock some development on the metals side.

[2019-11-20 17:51] #1103 closed

[2019-11-20 17:53] jvican commented on #1104
Thanks for reporting! I'm aware of this bug. I'll fix it before the next release. You can select "latest master" to see the most up-to-date docs from the master branch.

[2019-11-25 13:40] schleumer commented on #1084
@jvican, sorry for the delay, you have some material that i can follow?

[2019-11-27 13:35] odisseus opened #1107 "Bloop restarts automatically after having been killed by user"
## Steps to reproduce

1. Install Bloop 1.3.5 using the [script](https://scalacenter.github.io/bloop/setup#universal).
2. Open a terminal and run `bloop server`.
3. Open another terminal and run `bloop about` to make sure the server is up and running.
4. Kill the process that belongs to the server.

**Expected behaviour:** the server stops working
**Actual behaviour:** the server stops, but anothe

[2019-11-29 08:50] rtar commented on #882
`readLine()` does not seem to work either. It just hangs without ever passing input to the application.

[2019-11-30 07:16] #1101 closed

[2019-12-01 10:19] olafurpg opened #1109 "Shaded Bloopgun is missing a dependency on scala-xml"
In a computer without Bloop installed:
[code]

A workaround is to add scala-xml to the dependencies
[code]

Another workaround is to use the unshaded bloopgun

[code]

[2019-12-01 12:34] #1109 closed

[2019-12-01 13:25] olafurpg commented on #1109
I can confirm that this issue has not been fixed:

[code]

[2019-12-01 23:53] jvican commented on #1084
@schleumer I think @olafurpg is already looking into this, so let's close this ticket in favor of #1094.

[2019-12-01 23:53] #1084 closed

[2019-12-02 09:40] olafurpg commented on #1104
The website shows the latest nightly release now, which is 1.3.4+251-1d81dfe5 from #1111

https://scalacenter.github.io/bloop/setup

[2019-12-03 15:16] regadas opened #1114 "Unexpected `WriteReportingJavaFileObject` with annotation processor"
I see a couple of issues #1024 #956 #962 regarding this matter and now I'm, seeing it with https://github.com/google/auto.

@jvican Is there any workaround that i missed?

**Error** that I'm seeing in `metals.log`

[code]

[2019-12-04 08:38] #1104 closed

[2019-12-04 13:33] jvican commented on #1114
Hi @regadas, thanks for reporting! What bloop version are you using? This is fixed in the latest versions.

[2019-12-04 13:34] jvican commented on #1107
Actual behaviour: the server stops, but another instance is immediately started

Yes, this is a side-effect of the current implementation -- it's an insidious bug. This will be fixed soon because the python script used by `bloop about` will be gone by our own bloopgun version.

I'll keep this ticket open until I've done the switch between the two.

[2019-12-06 12:05] Baccata opened #1116 "Add sbt-bloop offloading compilation instructions"
I'm trying out the offloading feature that was merged to master ~1 month ago (despite it not being documented)

I'm encountering a number of weird bugs in the context of multi-module builds. There are numerous, and I'm having a hard time producing minimal-reproducible examples (it's a work project, can't just upload it). I need to debug the sbt-bloop plugin against it to be able to formulate issue

[2019-12-06 13:19] nrinaudo opened #1117 "Issue resolving "ambiguous" import statements"
# Steps to reproduce

Compile the following code:
[code]

Such that `a.b.c` exists.

# Observed behaviour
Scalac will understand these imports as:

[code]

But bloop will understand:

[code]
# Suggested fix
I'm not actually sure which behaviour is correct, but I think it should be desirable for all compilers to agree on the semantics of the language.

If I replace my code with:

[code]

Then scala

[2019-12-06 13:28] olafurpg commented on #1117
Thank you for reporting! Bloop uses the normal Scala compiler so there should be no differences in how import statements are resolved. Can you provide a repo to reproduce the issue?

[2019-12-06 13:33] nrinaudo commented on #1117
Absolutely: https://github.com/nrinaudo/kantan.codecs/pull/176

If you were to run, say, `test:compile` in SBT, everything should work fine.

If, on the other hand, you were to get the bloop integration working (I've done it with both vscode / metals and sbt bloopInstall) and run `bloop compile shapeless-test`, you'll get compile errors.

[2019-12-06 16:08] regadas commented on #1114
Hi @jvican sorry for the delay ... so I was using the metals 0.76 bundled version which i believe it's `1.3.2`

[2019-12-06 17:44] jvican commented on #1114
Right, this is fixed in either 1.3.4 or 1.3.5. Please use latest Metals snapshot.

[2019-12-06 17:44] #1114 closed

[2019-12-06 17:50] regadas commented on #1114
Cool! Thx @jvican !

[2019-12-10 09:26] jvican commented on #1117
Thanks for reporting @nrinaudo and for the great reproduction. I'll have a look at this and figure out what's going on. 👍

[2019-12-10 09:28] jvican commented on #1116
Hi @Baccata, one of the reasons why it hasn't been publicized/documented yet it's because I'm aware of many of these small issues that add up and give the impression the feature doesn't work. I intend to fix these and when I do I'll make sure I modify the website to correctly reflect how people should interact with compile offloading. Thanks for creating this ticket to gather some clarity around t

[2019-12-10 09:47] nrinaudo commented on #1117
Let me know if I can do anything to help.

One possible avenue is - I *think* the behaviour for this kind of import changed between 2.12 and 2.13. I'm never sure which is which, but one version gives priority to explicit imports, the other to object "naturally" in the scope...

[2019-12-10 10:57] #1116 closed

[2019-12-10 11:09] jvican commented on #1117
I've tried to reproduce but I was not successful. I'm using the latest bloop master, but that shouldn't  be important if we want to reproduce this as there hasn't been any important change in the way compilation works between the version you're using and the one I'm using.

<details>
➜  kantan.codecs git:(readability) ✗ bloop compile kantan-codecs-test
Compiling core (40 Scala sources)
Compiling c

[2019-12-10 11:55] nrinaudo commented on #1117
I... wat.

Sorry. My mistake. After manually killing the bloop daemon, trashing all `target`, `.bloop` and `.metals` directories, and reinitialising everything, it seems to work fine now.

I'm honestly not sure what happened there. Sorry for having wasted your time :/

[2019-12-10 11:55] #1117 closed

[2019-12-10 11:57] jvican commented on #1117
No worries, thanks a lot for all of the time you put in creating this ticket and following up. It's a pleasure to always read this kind of tickets.

[2019-12-11 11:25] #1062 closed

[2019-12-12 09:34] chessman opened #1119 "Unexpected color when --no-color flag is used"
bloop 1.3.4
[code]
E-1, E1 are blue
L23 is red

[2019-12-12 10:07] jvican commented on #1119
Thanks for opening the ticket! We don't actually check that we respect `--no-color` in our tests so this behavior might have regressed. I don't think I'll have time to work on this. Is this something you'd be interested in picking up?

[2019-12-12 12:29] chessman commented on #1119
Sure. I'll try to have a look.

[2019-12-13 11:43] PAStheLoD opened #1121 "Show better feedback if Java is not installed during scoop install"
Hello,

This might be out of scope, but I found it rather puzzling, and the error message not very helpful, so maybe others stumble into this too.

[code]

It'd be helpful to recommend `scoop bucket add java` and then something like `scoop install adopt13-hotspot`.

[2019-12-15 17:12] jvican commented on #1121
Thanks for reporting this! Won't have time to look into this, but I suggest you look into it after our next release. I'll be happy to provide pointers to contribute to the project and get this issue addressed.

[2019-12-15 18:17] jvican commented on #1067
This is fixed in latest master. @marek1840 I'd love it if you could revert the latest commit to work around this ticket in Metals and confirm it works. It's an important part of the BSP contract Bloop promises to BSP clients and want to confirm there are no surprises.

[2019-12-15 19:12] #1107 closed

[2019-12-15 22:45] #1059 closed

[2019-12-15 23:15] #1094 closed

[2019-12-17 10:24] olafurpg opened #1126 "Reduce overhead from debug logging in BloopLookup"
While testing out Bloop, I noticed that calls to `pprint.apply` were appearing in profiling logs

<img width="1214" alt="Screenshot 2019-12-17 at 10 23 05" src="https://user-images.githubusercontent.com/1408093/70987223-5a0b1080-20b7-11ea-8a61-59e62003a904.png">

These lines here could be guarded so that they only run when debugging is enabled.

https://github.com/scalacenter/bloop/blob/2c6ff97151

[2019-12-17 10:38] jvican commented on #1126
Good idea, please feel free to send a PR to fix this issue.

[2019-12-17 15:10] #1126 closed

[2019-12-17 16:03] LLCampos opened #1128 "Unexpected `Nail raised unhandled exception` when using systemd"
I can run bloop ok when starting the server manually:

[code]

[code]

But it fails when run through `systemd`:

I start bloop server:
[code]

Nothing happens when I try to run a bloop command:

[code]

And this shows up in the logs:

[code]

The service config:

[code]

[2019-12-18 11:36] jvican commented on #1128
Thanks for reporting @LLCampos, first time I see that exception. What java version are you running? Make sure you do `java -version` in the running Systemd service. It's often the case that the Java version used in your terminal doesn't match the one used in Systemd, because the latter has no access to any customizations you might have done in `.bashrc` or `.zshrc` et al.

[2019-12-18 18:00] countfloyd opened #1130 "Be able to compile scala code with different jvms"
When compiling java code, the platform jvm is used to fork a java compiler of the correct version. I think it would be great to have a similar mechanism for compiling scala code.
My use case is that I have scala projects that need to be compiled against the java 11 standard library and some projects that are compiled against the java 8 standard library. Compiling all scala files with the java 8 jv

[2019-12-18 18:02] countfloyd commented on #1130
Attaching bloop output of compiling a java 13 scala project with bloop. Errors indicate java methods not found in the java 8 standard library.

[output.txt](https://github.com/scalacenter/bloop/files/3979826/output.txt)

[2019-12-18 19:33] tindzk opened #1132 "Debug messages are shown"
After upgrading to v1.4.0-RC1, Bsp debug messages started being sent to stderr even without the `--verbose` parameter.

I added some [logic](https://github.com/tindzk/seed/pull/64/commits/660051bc1784285fb72ebdb990f5387483d32fff) to detect the log level of messages. This does not always work since there are lines that do not have the `[D]` or `[E]` prefix.

See also the [CI log](http://ci.sparse.t

[2019-12-18 21:42] jvican commented on #1132
Err... this is not expected. It might be a regression. Or it might be that the launcher of this version surreptitiously enables --verbose on the server. Will have a look.

[2019-12-18 22:04] jvican commented on #1132
Are you by any chance running `--verbose` in the launcher? What are the specific arguments you pass to the launcher?

[2019-12-19 10:20] tindzk commented on #1132
No, I am not including `--verbose`. The CLI parameters are `bsp --socket <path>` ([code](
https://github.com/tindzk/seed/blob/55124732ba48da1e9225703fceee4eccb124bf3d/src/main/scala/seed/build/Bloop.scala#L448-L450)).

[2019-12-19 13:29] Arthurm1 opened #1133 "Change minimum supported Gradle version to 4.3"
The Bloop Gradle plugin doesn't work with the latest Gradle version: 6.0

It throws a NoSuchMethodException in [this](https://github.com/scalacenter/bloop/blob/2d96bcf6bb6c4ba7510ee7ad61bc090436435df3/integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/tasks/ConfigureBloopInstallTask.scala#L31) code

It seems that the plugin would need to be compiled against Gradle 4.3 or later to f

[2019-12-19 14:05] marek1840 commented on #1067
It seems the issue is still there. After reverting our changes in https://github.com/scalameta/metals/pull/1199 we get some failures:

the only source in the project is:
[code]
The logs from metals are:
[code]

`time: compiled a in 0.59s` log happens on `taskFinish` before asking for `buildTarget/testClasses`, so we can be sure the `taskFinish` was issued from bloop.
`registered ? classes for` tel

[2019-12-19 14:07] jvican commented on #1067
@marek1840 Thanks for looking into this, I'll have a look at this for RC2. I feel this race condition is coming from another place, I need to have a closer look at all of the moving pieces.

[2019-12-19 14:10] marek1840 commented on #1067
Thanks!

[2019-12-19 21:33] LLCampos commented on #1128
[code]

From running  `java -version` before `/home/lcampos/.bloop/bloop server`, it seems that `systemd` it's running the same Java version as the terminal.

[2019-12-19 21:37] jvican commented on #1128
Please do double check that the java version used by systemd is the same. This is a weird error and  if Nailgun is complaining there should be something fundamentally broken. Another way to investigate what's happening is to double check if there are permission issues connecting to a port started by another user or something like that (throwing out ideas, i really have no idea what we're looking f

[2019-12-20 10:26] jvican commented on #1132
I can reproduce. Will fix

[2019-12-20 19:13] jvican commented on #1133
I think it makes sense to upgrade to 4.3 and drop support for 3.5 if that gives us compat with the latest Gradle version. Thanks for volunteering to take this up! What about you create a PR? @pkolaczk will chime in at some point but I think he should not be affected by the ugprade.

[2019-12-20 19:16] jvican commented on #1121
@PAStheLoD I'm going to close this ticket since this is not likely to be worked on any time soon. If you have the time to do this, I'd appreciate if you can pick it up.

[2019-12-20 19:16] #1121 closed

[2019-12-20 19:16] jvican commented on #1091
@Alexey-NM Have you made progress writing a solution for semi-remote compilation on your own?

[2019-12-20 19:17] jvican commented on #1088
I'm going to have a closer look at this and will try to fix it and release it after Christmas @marcsaegesser

[2019-12-20 19:19] jvican commented on #996
Yes it does.

Could you look into this? It does look like the most robust solution and could be useful for other folks. Having support for JUnit 5 would be great.

Honestly, I wouldn't mind, but I would need to understand better the trade-offs involved. If you get back to me with an analysis of what we would merge in the repository and what it's necessary to bring that logic to the repo (and how m

[2019-12-21 15:27] LLCampos commented on #1128
Thanks for the help, @jvican. :)

Problem persists even if I have the following in `service` file:

[code]

It works ok if I run `/usr/bin/java -jar /home/lcampos/.bloop/blp-server` manually on the terminal.

Using `ps`, I can see that in both situations the process is being run by the same user.

Not sure how to do this?

Anyway, since this is not working, might just use other method to start `bl

[2019-12-22 22:55] jvican commented on #1128
Unfortunately not, I'd need to check StackOverflow or something. However, I think we should get some more information from Nailgun to figure out what it's really going on here. Can you follow these steps?

1. Set up bloop by following the contributing guide
1. Clone scalacenter/nailgun
1. Grep for that exception name in the nailgun repo and instrument the call-site to give us more information abou

[2019-12-29 16:35] LLCampos commented on #1128
Ok, so, followed the above. Here goes the stack trace of the "unhandled exception" being raised by nailgun:

[code]

[2019-12-29 16:41] gabro opened #1134 "Remove source code from 'code' property in BSP diagnostic"
See https://github.com/scalameta/metals/issues/1220 for reference.

The `code` property of `Diagnostic` seems to be intended for "error code", rather than "source code"

[2020-01-02 15:41] tgodzik opened #1136 "Unexpected Maven error of non existing directories"
This is part of an issue in https://github.com/scalameta/metals/issues/1062 and can be reproduced in https://github.com/Spielekreis-Darmstadt/lending

[code]

We need to check if the file exist before doing:

[code]

I will try to look at this soon unless someone wants to contribute?

[2020-01-05 11:05] LLCampos commented on #1128
Been investigating what's difference between running manually on terminal vs. using systemd.

When running manually, `settingsMap` is non-empty [this case applies](https://github.com/scalacenter/bloop/blob/master/frontend/src/main/scala/bloop/util/ProxySetup.scala#L118). When using systemd, `settingsMap` is empty and this is [run](https://github.com/scalacenter/bloop/blob/master/frontend/src/main/

[2020-01-05 11:09] jvican commented on #1128
Thanks for all of the digging @LLCampos

Yes, things shouldn't fail if that's the case. Mind sending a PR to fix this?

[2020-01-05 11:10] LLCampos commented on #1128
Yeah, I'll prepare something when I have the time. :)

[2020-01-05 11:30] jvican commented on #1116
@Baccata Could you describe them whenever you have some time? I'd like to fix this asap and I know of several issues regarding offloading compilation, but maybe the ones you ran into are different. Thanks for opening this ticket and early tester btw :smile:

[2020-01-05 12:44] #1133 closed

[2020-01-05 12:49] jvican commented on #1092
Fixed by @1137

[2020-01-05 12:49] #1092 closed

[2020-01-06 02:03] tuarba opened #1138 "Unexpected compile errors with `rocket-chip` project"
Set up the project with: `git clone --recursive https://github.com/chipsalliance/rocket-chip`. `sbt` compiles fine, but with "bloop compile rocketchip", got this error:

[code]

[2020-01-06 09:21] jvican commented on #1138
@tuarba This most likely has to do with an error in the macro implementation, not bloop. I've reproduced it locally and the stack traces point to compiler stack traces. The environment between sbt and bloop is a little bit different but fundamentally the same. As it compiles in sbt and not in bloop, it means the macro implementation must be assuming something that is generally not correct.

What i

[2020-01-06 17:04] Baccata commented on #1116
If I recall correctly, the most pernicious one was preventing SBT to restart, due to compile errors in code present in `$wd/project` (this was happening in a project that has a number of inlined sbt plugins). Calling sbt without the offloading flag would just work.

[2020-01-07 01:05] tuarba commented on #1138
As I am just a user of rocket-chip, I'm not sure about what Decode.scala is really doing. However I found a work around by adding "rocket-chip/chisel3/target/scala-2.12/chisel3_2.12-3.2.1.jar" to the 'classpath' section of .bloop/rocketchip.json. Then bloop will compile. The other sub projects don't seem to matter. Only adding chisel3 works.

[2020-01-07 09:30] jvican commented on #1138
That's very interesting. I'll have a closer look at this, I'm curious to see what's happening. Thanks for reporting @tuarba

[2020-01-07 12:17] Dnomyar opened #1139 "Use Scala compiler 2.11 ?"
Hey folks,

I have a project that contains multiple multiple modules all configured to use scala `2.11.8` (`.project.scala.version`).

However, when I compile modules using `--verbose`, I can see that the version which is actually used is the `2.12.8`
[code]

I believe that is what is causing the `java.lang.NoClassDefFoundError: scala/Product$class` when I compile the code.

How can I configure bl

[2020-01-07 21:55] Kazark commented on #1088
@jvican I believe I am experiencing this as well in Spacemacs on Mac. Anything I can do to help, or any information I can provide you with? My Spacemacs is set up to use Metals, which I understand uses Bloop. But I'm new to Scala and it's ecosystem.

[2020-01-07 21:56] jvican commented on #1088
Thanks for confirming that, I should have a look at this shortly :+1: Will keep you in the loop and let you know if there's anything you can do

[2020-01-07 22:01] Kazark commented on #1088
I appreciate it, Jorge!

[2020-01-09 11:09] Alexey-NM commented on #1091
Currently we are waiting more stable work of bsp in idea(for exalmpe  [SCL-16239](https://youtrack.jetbrains.com/issue/SCL-16239))
We plan to make our own build tool in our application server. It has sense because we have specific development process. So the replication of code is deeply integrated in our application server.
Currently I just do not know how to make this code available for other sb

[2020-01-09 15:40] tgodzik opened #1140 "Deduplicating might hang resulting in a broken workspace"
It seems I am getting more issues recently with deduplicating hanging in my workspace.
[code]

@jvican Any idea what is going on or where to look?

Killing the server usually works.

[2020-01-09 18:14] jvican commented on #1140
I've run into this only once during the past two weeks, I'd love to find what's happening here for a compile deduplication to hang -- it's unusual. Nex time it happens to you, can you run compile with `--verbose`? Those logs will be very helpful to track this issue down.

[2020-01-09 18:17] jvican commented on #1139
Hey there, thanks for reporting!

What build tool are you using? The build tool should be exporting the appropriate scala version for your projects. Bloop supports a wide range of Scala versions. You can check whether your project has been correctly exported from your build tool by looking at the content of the `scala` property in its JSON configuration file. The `scala` object contains the versio

[2020-01-09 18:57] Dnomyar commented on #1139
Thank for the answer.

I am using SBT and `bloopInstall`

I was able to check that scala versions are all the same in every file (`2.11.8`).
[code]

I had to remove the jars because they were throwing NPEs. What is strange is that each file exists. Could it be permission problem causing NPE? Currently their permission are `-rw-r--r--`.
[code]

Here is one example of the `scala` object :
[code]

[2020-01-09 19:06] jvican commented on #1139
Right, you can't do that. Scala jars must be there and they must be usable by the build tool. Can you reexport your project and copy paste traces of the exceptions you get?

[2020-01-09 19:38] tgodzik commented on #1140
Sure, I think it might have been also caused by me killing the server multiple times - testing automatic reconnect.

[2020-01-13 02:27] #1128 closed

[2020-01-13 02:29] jvican commented on #1139
If you find a bloop-related error when re-exporting, please feel free to open a new ticket. If it's a permission related error, then it's most likely this issue is caused by how you run bloop/sbt and it's not something we can fix in the codebase.

[2020-01-13 02:29] #1139 closed

[2020-01-13 08:38] jypma opened #1142 "Unexpected `NullPointerException` in `ScalaInstance.scala`"
When trying to run `bloop test` on an SBT-built mostly-java project ([ts-reaktive](https://github.com/Tradeshift/ts-reaktive/)):
- `git clone git@github.com:Tradeshift/ts-reaktive.git`
- `sbt bloopInstall`
[code]
Apparently the [`compilerJar`](https://github.com/scalacenter/bloop/blob/master/backend/src/main/scala/bloop/ScalaInstance.scala#L24) field is null in `ScalaInstance`. The error message c

[2020-01-13 11:48] Dnomyar opened #1143 "NPE on any action"
Hey folks,

I exported bloop files using `sbt bloopInstall`. That worked fine.

I tried to run `bloop projects` but I got a NPE.

<details><summary>Click to show stacktrace</summary>
<p>

[code]
</p>
</details>

Do you have any idea why?

[2020-01-13 11:52] Dnomyar commented on #1143
Looks like the same problem than this issue https://github.com/scalacenter/bloop/issues/1142

[2020-01-13 21:43] kbreidenbach opened #1144 "Overriding application.conf settings fails"
I have a required application.conf setting ($KAFKA_BOOTSTRAP_SERVERS) in `main/resources/application.conf` which I override in `test/resources/application.conf`. When I run `sbt clean test` the build passes, but with bloop it fails to read the application.conf in the test resources folder and I get:

[code]

This may be a reintroduction of the bug from this issue: https://github.com/scalacenter/bl

[2020-01-13 21:54] sloshy commented on #1144
@kbreidenbach and I found a temporary workaround for now: if you rename `test/resources/application.conf` to some other name, then it loads just fine. I think the root of the problem is a namespace conflict since it is trying to load the resource from the main resources folder first.

[2020-01-14 01:30] jvican commented on #1143
Thanks for reporting, duple of #1142

[2020-01-14 01:31] jvican commented on #1142
This is a regression, I'll fix it. /cc @dotta

This is not the most friendly way to put that your expectation as a user is a better error message.

[2020-01-14 01:37] jvican commented on #1144
Thanks for reporting. Bloop tries really hard to reproduce the same classpath as the source build tool, but sometimes it's not possible. Could you folks have a look at the classpath of the project you're running and see the order of the classpath entries? Could you compare that with `dependencyClasspath` of the same project in sbt?

`getResource` follows the classpath order to find the first match

[2020-01-14 01:37] #1143 closed

[2020-01-14 06:04] jypma commented on #1142
Thanks a lot for jumping on this!

I apologize if I've offended anyone, that was certainly not my intent. I was expressing expectations of the program, not of any of its creators or contributors. The anthropomorphism obviously was too subtle; again, my apologies for that.

I'll edit the description to the intent is more clear. Thanks for mentioning it.

[2020-01-14 07:17] jvican commented on #1142
No worries, no personal offense taken. As a user, I agree with your expectation that NPEs should not leak to the end user. This must be a regression from some of the low level compiler APIs that we use in Bloop.

Could you provide more info about the contents of the configuration file `ts-reactive-actors`, maybe copy paste it here?

[2020-01-14 08:29] jypma commented on #1142
It's open source (MIT license), here is its entire [build.sbt](https://github.com/Tradeshift/ts-reaktive/blob/master/build.sbt), but I can try and copy the relevant details here:
[code]

I'm guessing the `autoScalaLibrary := false` may be to blame?

[2020-01-14 16:58] Arthurm1 opened #1146 "Missing resources when missing class files?"
When Project B depends on Project A, then Project A's resources are added to the classpath of Project B.
E.g. when compiling Project B using --verbose, the classpath contains...
[code]

If Project A doesn't have any classes, i.e. it purely holds resources then these resources are missing from Project B's classpath.  The path instead contains...
[code]

Notice the reference to Project A's classes d

[2020-01-14 18:48] jvican commented on #1146
Thanks for reporting @Arthurm1, this looks like an important problem, I'll have a look at this in my afternoon.

[2020-01-14 19:03] Arthurm1 commented on #1146
I'm now wondering whether it is an error.

I was looking at "bloop compile Project --verbose" and was confused because there was a difference in the classpath between projects with classes & resources and projects with just resources.

Should resources be on the **compile** classpath at all - should they only feature on the **run/test** classpath?

On checking the runtime classpath it seems they a

[2020-01-14 19:04] jvican commented on #1146
They need to be on the compile classpath because of macros.

[2020-01-14 20:31] jvican commented on #1142
It's a good lead, I'll let you know what I find.

[2020-01-14 23:37] agilesteel commented on #1146
@jvican I'm not 100% sure if I reproduced "my" bug but I definitely reproduced "a" bug related to resource loading. Let me know if you manage to reproduce it https://github.com/agilesteel/bloop-resource-loading-bug I'm on the latest `1.4.0-RC1+9-e94b10c3` btw.

[2020-01-15 13:20] antonoal opened #1147 "Unsupported configuration `compile-internal` in sbt"
I'm using vscode with the latest metals which uses sbt-bloop plugin v1.4.0-RC1.
In my project I've got a module with a few macros and module that depends on the macros one with "compile-internal" settings.
Just in case here's the information about compile-internal: https://www.scala-sbt.org/1.x/docs/Macro-Projects.html#Distribution
Here's a gist to a simple project to reproduce the issue:
https://

[2020-01-15 14:24] dotta commented on #1142
@jvican If this is a regression (as it seems to be), I guess a simple fix is to wrap usage of `compilerJar` in the `supportsHydra` impl with an Option. This is how it should have been done already. Happy to push a PR with the change if that helps.

[2020-01-16 06:33] jvican commented on #1147
Hi @antonoal, thanks for reporting. Yes, `compile-internal` is not supported on purpose and there are no plans to support it. Please, use the regular `compile` scope if you want to distribute those class files together with your core code I suggest creating a task that copies them over and it's called before `package` or `packageBin`.

[2020-01-16 06:35] #1147 closed

[2020-01-17 19:03] jvican commented on #61
I'm re-scoping this issue to only implementing the same test quick functionality people are used to.

[2020-01-20 16:13] TobiasRoland opened #1149 "Adding documentation for install trouble shooting"
I was facing some problems installing bloop; I'm using zsh under WSL (Ubuntu) on Windows 10, and after executing the default bloop install curl, I was getting:

[code]
I needed to add `$HOME/.bloop` to my path in the `.zshrc` file:

[code]

Not exactly rocket science to update my path, but definitely enough to trip up newcomers - it might be worth adding a line or two to clarify this in the docs.

[2020-01-21 03:42] jvican commented on #1149
Thanks for the suggestion @TobiasRoland 👍 I agree this part of the docs needs fixing and this error can trip up newcomers. I'm marking it as help wanted in case someone can contribute some fixes. I'm not sure when I'll have time to get to this.

[2020-01-21 12:10] guizmaii opened #1150 "Unexpected JDK detection error in macOS"
"To use Java command-line tools you need to install a JDK"

Here's what I do:

[code]

When, I'm launching the `bloop server` command the following Macos popup shows up:
<img width="532" alt="Screenshot 2020-01-21 12 09 19" src="https://user-images.githubusercontent.com/1193670/72803817-de1c5f00-3c46-11ea-8e5e-a0a25001141f.png">

I installed the JDK with SDKMAN (https://sdkman.io/).
My `JAVA_HOME`

[2020-01-22 12:47] ioleo commented on #427
Any updates on this? What is missing / needs improvement? How can I help to make this happen?

[2020-01-22 13:58] natansil commented on #427
I think that there is a key difference between the way bloop optimises builds (caching and pipelining of "large" code modules) and the way "standard, canonical" bazel does it (caching and parallelising of many "small" code units).
I think this is the main reason for delay.

[2020-01-22 17:27] olafurpg commented on #427
FWIW, Metals has an experimental Bloop integration with Pants that is implemented as a standalone command-line tool that generates `.bloop/*.json` files given a Pants build. The interface is like this
[code]

It's possible to export all targets with `pants-bloop ::` but it's slow for very large builds.

If there is something equivalent to `.pants export-classpath export` in Pants then you should b

[2020-01-22 17:30] olafurpg commented on #427
Bloop BTW performs nicely for builds that have a large number of small targets. The latest 1.4.0-RC1 release includes several fixes that improve the performance in esp. larger build graphs (~several thousand targets)

[2020-01-23 09:00] natansil commented on #427
@olafurpg sounds interesting. Bazel analyses the build graph and sends each target separate build request to the build tool/server. So now does bloop works well in the limited scope of a test target?

[2020-01-23 11:28] olafurpg commented on #427
Can you elaborate?

[2020-01-23 13:37] natansil commented on #427
Sorry, I meant does bloop works well in the limited scope of a bazel target (when dependent targets have already been compiled)?

[2020-01-23 15:58] olafurpg commented on #427
No-op compiles in Bloop are pretty fast in my experience even with multi-GB classpaths with ~2k jars and >1k targets. The v1.4.0-RC1 release fixed a few issues in this particular area and I think there are still a few opportunities to speed up things (see https://github.com/scalacenter/bloop/issues/1093).  In the worst case, I have seen Bloop take 2-3 seconds to do a no-op compiles.

[2020-01-23 16:08] natansil commented on #427
Thank you @olafurpg for the info! How long will cold scala compiler take for a no-op compilation?

[2020-01-23 20:15] olafurpg commented on #427
The scala compiler is not incremental so it doesn’t have no-op compilation. In Bazel iiuc a no-op compilation would be a cache hit.

[2020-01-24 15:18] olafurpg opened #1155 "Unable to run "bloop exit" with bloopgun native-image"
Using a native-image of bloopgun, I'm unable to run `bloop exit`
[code]

After running this command once, I'm unable to communicate with the Bloop server with other commands
[code]

[2020-01-24 15:21] olafurpg commented on #1155
The issue looks related to native-image, I am unable to reproduce with the JVM version of bloopgun
[code]

[2020-01-25 23:52] jvican commented on #1155
Thanks for reporting! I'm not sure why this might be happening. I would expect bloopgun to be able to communicate with the server even if `bloop exit` fails.

[2020-01-25 23:56] jvican commented on #1150
Thanks for reporting @guizmaii. This issue happens because `/usr/libexec/java_home` doesn't support sdkman. @ahjohannessen has also reported the same issue in Discord.

I plan to fix this by getting rid of `java_home` in the macOS brew formula so that we don't force JDK 8 on macOS. This is a thing inherited from the past where bloop didn't support JDK 11 and where I was wary of supporting JDK 11 o

[2020-01-26 00:23] jvican commented on #1144
ping @kbreidenbach

[2020-01-26 00:51] jvican commented on #1155
I've just tried to reproduce this issue and couldn't. I'm using GraalVM 19.2.1 (` /Library/Java/JavaVirtualMachines/graalvm-ce-19.2.1/Contents/Home/jre`).

[2020-01-26 02:02] jvican commented on #1138
Hi @tuarba, after digging into this, I've realized this error happens because `chisel` is using `compile-internal` which is an exotic sbt configuration that we don't support. Thanks for reporting. Looping in @jackkoenig who might be able to change that upstream

[2020-01-27 15:48] olafurpg commented on #1155
I'm unable to reproduce this with a single `bloop exit` command but I am still able to consistently reproduce this when running the same failing test. The problem seems unrelated to native-image, since I can reproduce it with both a standalone JVM bloopgun binary as well as `bloop.py`.

[code]

After the test fails I'm no longer able to run any bloop command
[code]

I'm only able to stop the Bloop

[2020-01-27 15:50] olafurpg commented on #1155
I'm able to reproduce with 1.4.0-RC1 as well as 1.4.0-RC1+16-1cd95092

[2020-01-27 16:14] olafurpg commented on #1155
I may have tracked down the root cause by running `bloop console PROJECT_NAME`

[code]

This Bloop JSON file contains jars on the classpath, which don't exist. This JSON file was created with an older version of the Pants exporter. I am unable to reproduce when using the latest version of the Pants exporter (which copies over jars and uses an immutable classpath).

I believe Bloop should still be

[2020-01-27 19:05] #1142 closed

[2020-01-28 17:07] tgodzik opened #1158 "References to undefined settings `compileIncremental`"
Managed to reproduce an issue that some of the users are having with sbt 0.13.18
[code]

It seems `.settings` is removing `compileIncremental`

[2020-01-28 17:10] tgodzik commented on #1158
The log we are getting:
[code]

[2020-01-28 17:40] tgodzik commented on #1158
@jvican Does it make sense to change the Offloader.scala:19 to an empty List?
`val bloopCompileConfigSettings: Seq[Def.Setting[_]] = List()`
It does fix it for me on the test project.

[2020-01-29 08:41] olafurpg commented on #1155
A minimized reproduction can be found here https://github.com/olafurpg/intellij-bsp-pants/issues/11

Following up from an offline investigation, @jvican discovered that the Pants test runner is setting `System.err` which (to my understanding) caused an exception in Nailgun that shuts down the IO scheduler in Bloop causing the unresponsiveness. I can confirm that I'm unable to reproduce the error b

[2020-01-29 08:52] jvican commented on #1155
Thanks for the follow-up and the reproduction, I'm happy we tracked this issue down!

Given that `System.setErr` could be triggered by classloading the test jars, I believe we should add some logic to bloop to reset back streams right after classloading is done. Nailgun needs the streams to be instances of their concrete thread-local stream classes so that it can redirect in, out and err directly

[2020-01-29 09:02] jvican commented on #1158
Thanks for reporting! Hmmm, I think that would work, could you submit a PR with that fix and the test case? I'm happy we tracked this one down, sbt 0.13 has some scoping issues and it's desirable that we don't regress when we go enable compile offloading.

[2020-01-29 14:51] davidpdrsn commented on #882
I'm also having issues with this. Any possible solutions?

[2020-01-29 16:06] #1158 closed

[2020-01-30 00:55] jvican commented on #882
This is an important issue I intend to fix soon.

In the meanwhile, you should be able to run the application via Metals in VS Code. Metals can run application reliably because it uses DAP instead of Nailgun, and DAP allows for fine-grained user input to be transmitted over the wire.

[2020-01-30 00:57] jvican commented on #1144
Hey @kbreidenbach, need some of your input here. Otherwise I'll need to close since this ticket is not actionable as it is.

[2020-01-30 01:38] agilesteel commented on #1146
@jvican hey I just noticed that you renamed this issue after my post. I also added a class file to project `b` but that didn't help so I'm not sure if it is related.

[2020-01-30 06:23] jimmycuadra-stripe commented on #1150
I'm guessing it's the same underlying issue, but I get similar output trying to run `bloop server` and I'm not using sdkman, nor is `$JAVA_HOME` set. I also have JDK 13.

[code]

Note the lack of "No Java runtime present, requesting install." and GUI popup as described in the OP.

[2020-01-30 08:26] jvican commented on #1150
JDK 13 is not supported, please check docs for more info.

[2020-01-30 09:32] jvican commented on #1146
I’ll have a look 👍

[2020-01-30 18:29] matheussbernardo opened #1162 "Missing classes in integration test sbt config"
Hello, I am trying to setup metals with bloop at vscode and my build.sbt looks like this
[code]

But VScode is saying that a Class from /test is not on scope of a class at /it

[2020-01-30 19:11] kbreidenbach commented on #1144
Sorry for the delay. Please find attached a test project that you can use to see the issue.

If you run with sbt you will see:
[code]

Running bloop install gives:
[code]

Trying to test with bloop gives this error:
[code]

Hopefully this will be more useful than the classpaths from our internal project.

[bloop-error.tar.gz](https://github.com/scalacenter/bloop/files/4135841/bloop-error.tar.gz)

[2020-01-31 11:31] jvican commented on #1144
This is very useful. Thank you, will have a look.

[2020-01-31 15:36] dangerousben opened #1163 "Find other way to get to build tools docs in website"
The [Installation Guide](https://scalacenter.github.io/bloop/setup) is great for setting everything up when starting from scratch.  But if (for example) I'm already happily using bloop with sbt, and now want to use it with maven I find [this page](https://scalacenter.github.io/bloop/docs/build-tools/maven), which links to the install guide.  I then have to skip through a load of stuff that's no lo

[2020-02-02 10:54] smcpeak commented on #1138
I have the same problem as the OP.  I got here by trying to use VS Code to modify Rocket using the Scala (Metals) plugin, which chokes because of this assertion failure.

I tried the workaround suggested by @tuarba .  It did not work.  Now, instead of an assertion failure, "bloop compile rocketchip" spews around 7500 lines of (to me) inscrutable error messages.  FWIW, the first of those message is

[2020-02-02 11:44] jvican commented on #1138
Bloop doesn’t support any configuration that ends with -internal. As a workaround, I recommend replacing `compile-internal` with `compile` and so on for every internal configuration. The semantics of the build will change slightly, you can read more about it in the sbt docs, but it should work to hack on chisel.

[2020-02-03 16:14] olafurpg opened #1164 "Add support for sources globs"
Currently, the Bloop JSON configuration has as "sources" field which contains a list of files and directories.
[code]

Some build tools like Pants and Bazel support globs like this
[code]

The sources for the "foo" target include

* all files that match the glob `Foo*.scala`
* excluding files that end with `*Test.scala`

It would be nice if the Bloop JSON config supported this somehow, for example

[2020-02-03 16:25] jvican commented on #1164
Thanks for taking the time to document source glob support @olafurpg

Would it make sense to reuse the existing `sources` field and add the `include-glob:` or `exclude-glob:` prefixes for every item of the sources array, instead of having an independent field for it?

Also, do source globs apply to directories or only files?

[2020-02-03 16:26] olafurpg commented on #1164
@jvican I've thought about that and I think that design might be problematic for the current bloop-config API that uses `List[Path]`. We would need to convert that into `List[String]` if we go ahead with that design (which might be an OK tradeoff).

[2020-02-04 11:54] smcpeak commented on #1138
I tried replacing "compile" with "compile-internal" (all 3 instances) in build.sbt, but that made no difference; bloop still fails the assertion in the same way.

[2020-02-04 11:55] jvican commented on #1138
Try nuking the contents of `.bloop` and reexporting the project with Metals again. If the issue is the same I'll have a closer look.

[2020-02-04 12:27] smcpeak commented on #1138
That may have worked; now, instead of an assertion failure, "bloop compile rocketchip" produces a large number of compile error messages.  The first is:

[code]

Given that sbt can still compile the project after replacing "compile-internal" with "compile", but bloop cannot, is that a separate bloop incompatibility?

[2020-02-04 21:06] jackkoenig commented on #1138
Sorry @jvican, been on vacation but am now back. Per the "compile-internal" stuff, I am not sure but will dig.

I'm going to guess that the issue @smcpeak is seeing is due to hardfloat's dependency on chisel3 not working properly. The most likely reason I can think of for this is that some of the source dependencies in rocket-chip are conditional on environment variables (to allow switching betwee

[2020-02-08 17:13] Baccata opened #1167 "Bloop does not use the root of the project as working directory"
[Relevant gitter conversation](https://gitter.im/scalacenter/bloop?at=5e3b3200594a0517c26c32be)

Bloop follows SBT's behaviour when fork is enabled. SBT considers the submodule's folder as CWD when fork is enabled, but the root of the project when fork is disabled.

My personal opinion on the matter is that this behaviour makes little sense :

1. As @tpolecat points out, forking is disabled by def

[2020-02-09 09:21] olafurpg commented on #1167
@Baccata thank you for this suggestion! I agree it's confusing when run/test in bloop uses a different directory from the sbt build when `fork := false` (which is the sbt default).

Since https://github.com/scalacenter/bloop/pull/1154, you can work around this behavior with the following settings
[code]

One thing we could do is change sbt-bloop to automatically add this `-Duser.dir` option when `

[2020-02-09 16:07] Baccata commented on #1167
That'd be an improvement, but it'd only address the (perceived) weirdness for the specific case of SBT though, and other build tools (mill) are subject to the same issue.

In particular, as the person who wrote the bloop-mill integration, I was unaware that this would be a consequence of setting [the directory](https://github.com/scalacenter/bloop/blob/master/config/src/main/scala/bloop/config/Con

[2020-02-09 16:20] olafurpg commented on #1167
Other build tools can also use the user.dir system property so I don’t think it’s an sbt-only solution. The directory field is important for IntelliJ and should be unique from other Bloop projects (excluding the companion test project).

[2020-02-09 16:33] Baccata commented on #1167
My point was more that since the behaviour makes little sense (to me, anyway), I find it somewhat unfair for the build tools integrations, or even users, to have the responsibility to work around it. That's also why I'd like to understand arguments for keeping it as it is (as opposed to changing it at the root).

NB : "we made that decision and now it's too late to change because users might depen

[2020-02-09 20:11] olafurpg commented on #1167
I think it’s a good idea to add a new optional “workingDirectory” field that defaults to “directory” when not present. It’s a better solution than user.dir because it’s cross-platform (works for JVM/JS/Native).

[2020-02-09 22:08] japgolly opened #1168 "Increase default stack size used by launcher when .jvmopts does not specify -Xss"
I'm running Bloop 1.4.0-RC1 on linux.

Step 1. `bloop clean` - works great, np

Step 2. `bloop compile root-test` - compiles everything doesn't exit at the end. Zipkin shows that all modules are compiled successfully.

Output looks normal, like this:

[code]

and then it hangs and I have to ctrl-C to kill it.

What's really, really bad about this is that after I ctrl-C, if I run the same command a

[2020-02-09 22:12] japgolly commented on #1168
I can't publicly point you at a project to reproduce this because it's closed-source (it's for shipreq.com which is my bootstrap startup all in Scala :tada: ) but please let me know how to extract more diagnostic info from bloop and I'll send it through.

[2020-02-10 10:15] tgodzik commented on #1168
Hey, thanks for reporting!
`Deduplicating compilation of base-test from cli client 'bloop-cli' (since 6m 51.545s)`

Looks like an issue we had previously:
https://github.com/scalameta/metals/issues/1347

You could try create a $HOME/.bloop/.jvmopts file if it doesn't exist and set `-Xss4m`

[2020-02-10 17:00] mangosmoothie opened #1169 "Unresolved compiler bridge with proxy config in jvm opts"
I can run bloop compile / test on a project with Scala 2.11 but not 2.12

I get the following error when running bloop compile root:

Unexpected error when compiling root: 'Couldn't retrieve module ch.epfl.scala:compiler-bridge_2.12:1.3.0-M4+32-b1accb96:compile'

[2020-02-10 17:42] mangosmoothie commented on #1169
so I'm behind a web proxy and I have $JAVA_OPTS setup to respect this. I can use coursier just fine from the command line - I guess my env is not getting passed to coursier when invoked from bloop.

I was able to get past my issue finally by running `coursier fetch --sources ch.epfl.scala:compiler-bridge_2.12:1.3.0-M4+32-b1accb96:compiler-bridge_2.12-1.3.0-M4+32-b1accb96`

[2020-02-11 11:03] tgodzik commented on #1169
@mangosmoothie I am not sure if JAVA_OPTS will work for Bloop. I wrote a troubleshooting guide recently on how to deal with Metals and Bloop proxy settings: https://scalameta.org/metals/docs/build-tools/proxy.html

There might something helpful there.

[2020-02-11 13:14] maciejbak85 commented on #1162
the same issue with Intellij :(

[2020-02-11 20:08] psilospore commented on #427
Hey! Just submitted a draft PR here: https://github.com/bazelbuild/rules_scala/pull/997

[2020-02-12 06:38] japgolly commented on #1168
Awesome that fixes it, thank you!

[2020-02-12 09:59] olafurpg commented on #1168
I wonder if the bloop launcher should by default increase the stack size if it's not defined in `.jvmopts`? It's normal that compilation requires a deeper stack size than the default and the error is currently quite cryptic when the stack overflows.

[2020-02-12 13:52] jvican commented on #1168
I agree we should increase stack size by default in the bloop launcher to make sure these issues don't happen again.

[2020-02-12 14:06] jvican commented on #1163
I agree with your analysis @dangerousben We should have independent pages for the build tool docs. This is even more important because we're going to remove independent installation methods and instead prefer installing bloop through coursier. Thanks for taking the time to writing your thoughts.

[2020-02-12 14:12] jvican commented on #1169
Depends where and how you're setting up `$JAVA_OPTS`, Bloop will pick it up. How are you launching the bloop server?

The preferred way of getting bloop to work with proxies is that you set up the PROXY environment variables. You can read https://github.com/scalacenter/bloop/blob/master/frontend/src/main/scala/bloop/util/ProxySetup.scala to understand the code handling proxies.

Another interestin

[2020-02-12 14:20] jvican commented on #1162
@matheussbernardo Sorry for the late reply. The sbt build code that you've shared looks a little bit hacky in that you only express the dependency between the integration test project and the test project via `exportedProducts`. You should instead express the dependency at the project level so that bloop can pick it up. You can do that by writing this instead:

[code]
You need to make sure you rep

[2020-02-12 16:03] mangosmoothie commented on #1169
Thanks @tgodzik and @jvican for taking a look at this.

I actually got bloop running by setting my proxy options in`~/.bloop/.jvmopts` that I got from the guide @tgodzik https://scalameta.org/metals/docs/build-tools/proxy.html sent.

Contents of `~/.bloop/.jvmopts`

I'm running squid locally with the authenticated web proxy as a parent proxy. I'll look into updating the docs with this solution.

[

[2020-02-12 16:03] #1169 closed

[2020-02-12 19:30] tpolecat commented on #1140
I don't know if this is the same issue or not. I'm getting this from time to time when running with metals:

[code]

Verbose looks like

[code]

Perhaps overly dramatic but `rm -f .bloop` and restarting bloop and re-importing the project fixes it.

[2020-02-13 13:07] maciejbak85 commented on #1162
Ive added in my project:

[code]

and still does not work :(

[2020-02-13 13:53] arbitrary-dev commented on #1031
I'm trying to develop a plugin for Bloop SBT integration to compile files in Tmpfs, here's the link:
https://github.com/arbitrary-dev/sbt-bloop-tmpfs/blob/master/src/main/scala/bloop/integrations/sbt/SbtBloopTmpfs.scala#L21

Here's the error I receive in another project when I try to use this plugin:

But as per v1.3.4 sources, the bloopAnalysisOut option is there:
https://github.com/scalacenter/b

[2020-02-13 14:08] arbitrary-dev commented on #1031
I guess it's due to Metals use a different version of Bloop server…

[2020-02-13 14:13] arbitrary-dev commented on #1031
But `bloopAnalysisOut` is stil there:
https://github.com/scalacenter/bloop/blob/dfd03f5333c2fc292db78bfcd4205a0cdd828967/integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala#L210

[2020-02-13 14:16] arbitrary-dev commented on #1031
Also `classesDir` isn't respected…
[code]

[2020-02-13 14:36] matheussbernardo commented on #1162
@maciejbak85 Hello, Here it worked.

[code]

[2020-02-13 15:11] jvican commented on #1162
@maciejbak85 You should remove the `exportedProducts in Test` hack and most likely scope `Defaults.itSettings` to the correct custom config you've just introduced.

[code]

The `extend(Test)` bit in the `DeepIntegration` config definition is the one already giving you access to the test classpath.

[2020-02-13 17:20] tgodzik commented on #1140
@tpolecat

Something looks really wrong here, are you indeed using Scala 2.12.1 ? :fearful:
`[D] Disabled compiler plugin classloading, unsupported in 2.12.1`

Does the same happen in `2.12.10`?
From what we found, bumping xss should help in situations where there is a lot of `deduplicating` messages, but nothing is happening.

[2020-02-13 17:21] jvican commented on #1140
He's not using 2.12.1, the fact that we print the version like that is a bug in Bloop.

@tpolecat I'm aware of that issue and how to fix it, will try to send a PR soon and figure out why that exception doesn't cancel the compiled deduplication.

[2020-02-13 17:22] olafurpg commented on #1140
@tgodzik that 2.12.1 warning happens for all scala versions, even when you’re on 2.12.10

[2020-02-13 17:24] tgodzik commented on #1140
Ok, thanks! I was super confused by that warning.

[2020-02-14 09:43] jvican commented on #1167
Thanks for starting the discussion on this @Baccata, I appreciate the time you took to write this out in such a detailed manner.

For context, Bloop also follows the way it works in Gradle and Maven where independent project directories are more of a first-class citizen because the build configuration lives right at the root of every subproject. Bazel has the same semantics. So I posit that users

[2020-02-14 10:00] olafurpg commented on #1167
This doesn't need to be a breaking change and I'm still not sure it's necessary to introduce a new `workingDirectory` field. It should be possible to fix this with a few line change in sbt-bloop to set the `-Duser.dir` system property based on `fork.value`.

[2020-02-14 10:06] jvican commented on #1167
That's a good callout, yeah, we don't need this to be a breaking change. I'll fix this in the build tools we maintain, @Baccata could you fix this in the mill bloop integration?

[2020-02-14 10:31] Baccata commented on #1167
Thanks a lot for providing context.

@jvican can do. What about JS/Native platforms though ? Will bloop respect `-D.user.dir` for them too ?

[2020-02-14 10:34] olafurpg commented on #1167
@Baccata currently it doesn't work that way for Native/JS projects but I think it could, the logic is here https://github.com/scalacenter/bloop/blob/a2040035b6a9ec795414c222ca1940e6b78caa51/frontend/src/main/scala/bloop/data/Project.scala#L73

[2020-02-14 10:34] olafurpg commented on #1167
I think it would be an acceptable solution to first make it work for JVM projects because it's low-effort and open up a followup ticket to solve the problem for JS/Native.

[2020-02-14 10:36] Baccata commented on #1167
Agreed.

[2020-02-14 12:47] jvican commented on #1168
Fixed by https://github.com/scalacenter/bloop/pull/1174

[2020-02-14 12:47] #1168 closed

[2020-02-14 12:53] jvican commented on #1162
BTW, I've just remembered that we have a test covering this use case in https://github.com/scalacenter/bloop/blob/master/integrations/sbt-bloop/src/sbt-test/sbt-bloop/custom-configurations/build.sbt

I think this was a configuration issue and it's solved already. I'm closing, feel free to let me know if you're still having trouble with this but my general advice is that you avoid configurations su

[2020-02-14 12:53] #1162 closed

[2020-02-14 15:28] jvican commented on #1140
FTR the 2.12.1 well-known issue has just been fixed in latest master. Will have a closer look at errors during deduplicated compilations soon.

[2020-02-18 12:52] #1164 closed

[2020-02-20 13:30] #1167 closed

[2020-02-21 09:40] jvican commented on #1136
@tgodzik Will you look into this at some point? Would be nice to start fixing some of these maven issues we've been experiencing :smile:

[2020-02-21 10:32] tgodzik commented on #1136
Not likely very soon, but I will try to take a look!

[2020-02-23 17:38] aleksander-newstore opened #1180 "Typo in gradle configuration docs"
The guide mentions Gradle version 4.8 which came out in June'18. The instructions mentioned no longer work, eg `apply plugin bloop` seems to be no longer valid syntax. As a person with not much Gradle experience it's difficult for me to work out the details of what exactly needs to be updated to make it work ...

[2020-02-23 17:49] aleksander-newstore commented on #1180
it's possible that the only thing thats needed is to add `:` after `apply plugin:`

[2020-02-23 20:29] aleksander-newstore commented on #1180
another issue:
if as in the guide I add
[code]
metals log contains a line:
`Cannot add extension with name 'bloop', as there is an extension already registered with that name.`
and the initialisation fails

[2020-02-23 21:14] Arthurm1 commented on #1180
If you're only using **Import Build** from Metals then there is no need to manually add the Bloop plugin to your project.

If you're adding the Bloop plugin because you want to manually run **gradlew bloopInstall** then you can write...
[code]
... which shouldn't conflict with Metals

I think you're correct: `apply plugin 'bloop'` should probably be `apply plugin: 'bloop'` in the docs or better -

[2020-02-23 23:03] nafg opened #1181 "Running a project concurrently many times fails"
I'm hitting this with Seed custom class targets but I made a minimal reproducer. I made minimized the bloop file.

[code]

(note: the session is edited for clarity. I'm using fish shell.)

[2020-02-25 18:52] olafurpg opened #1182 "Add new "refreshProjectsCommand" workspace setting"
Currently, `.bloop/bloop.settings.json` includes workspace settings like the SemanticDB version, which is only used by Metals to simplify the installation of SemanticDB.

This issue is a proposal to add a new `refreshProjectsCommand: Option[List[String]]` field with the goals to improve the IntelliJ BSP experience. The contract of the `refreshProjectCommand` field is that Bloop invokes this system

[2020-02-25 23:20] jastice commented on #1109
We're getting this error with the bloop-launcher bundled in Scala plugin, but so far only seen on one device. https://youtrack.jetbrains.com/issue/SCL-17095
Using launcher version `1.4.0-RC1-74-e0147604`

[2020-02-27 09:24] jvican commented on #1181
Will look into this

[2020-02-27 09:28] jvican commented on #1180
@aleksander-newstore Thanks for bringing this up, this might be a small issue in the docs. I can say I'm using bloop with Gradle successfully at work where we use a heavily customized Gradle called Nebula. So if it works there it must work in your project. Let me know if the fixes that @Arthurm1 mentions have fixed your issue.

I'm going to start investing some resources in the project to make Gra

[2020-02-29 23:49] dfarrel1 opened #1188 "how to run bloop server in docker and expose port to localhost"
I'm able to bring up a docker container and I can use bloop from within the container itself if I move my entire scala project in there, but I'd like to only serve bloop from the container, expose it on the same port and use it as my server while I develop locally.

Here's what I have:

Dockerfile:

[code]

docker-compose.yml:

[code]

then `docker-compose up bloop`

and from my local machine if I

[2020-03-03 01:35] kubukoz opened #1189 "Running a project while another is running may yield `java.lang.NoClassDefFoundError`"
I'm using Metals in a project and running one of the projects in background (`bloop run proj1`).

In the meantime, I edited some files (in fact, they are shared by both projects), and ran another project (`bloop run proj2`) in the same source root.

I got a NoClassDefFoundError in `proj2`, mentioning one of the classes in one of the modified files.

I know it's a tricky problem because I shouldn't

[2020-03-04 10:14] jvican commented on #1188
Thanks for the detailed ticket @dfarrel1. I'm not sure what could be causing that error. It might be an error with Python because you're using our current python nailgun client to talk to the server.

In the past months, we've worked on a new CLI that is built on GraalVM and https://github.com/jvican/snailgun, it's called `bloopgun`. Could you try running `coursier launch ch.epfl.scala:bloopgun_2.

[2020-03-04 10:15] jvican commented on #1189
@kubukoz Thanks for reporting! I'm aware of this issue and want to fix it soon.

[2020-03-06 11:42] PAStheLoD opened #1192 "Expected non-zero exit code when CLI compile fails"
Hello,

We tried to integrate bloop into our CI flow, and at first everything seemed magical, but then on one run it finished pretty fast, the run was marked successful, yet the log was full of compile errors.

We're launching the client like this: `python3 /var/lib/gitlab-runner/.bloop/bloop test ourFancyProject` and then a simple `exit $?` is used.

Here's the log from the CI run:

[code]

Inter

[2020-03-08 20:33] dene-latch commented on #1188
@jvican  thanks for getting back to me. Before we delve deeper I just wanted to reiterate the basic scope of the problem to make sure our wires didn't get crossed at the start. I want to run a bloop server in a container and use it from outside of that container. I expect that this pattern might be helpful in normalizing development across teams and eventually hosting a shared bloop server if I un

[2020-03-08 20:37] dene-latch commented on #1188
here are the three results of using bloopgun as you outlined (in docker against itself, locally against docker, locally against local):

inside of docker against itself
[code]

locally against docker verbose
[code]

locally against local installation of bloop
[code]

[2020-03-09 21:44] aappddeevv opened #1194 "Add post-compile hook for bloop command"
It would be useful to have a post compile hook that is run after compilation, e.g, `bloop compile -w -p myproject --after cool_script_to_run.sh` so I can run some additional post compilation steps.

[2020-03-10 17:19] Alexey-NM commented on #1091
I have tried to continue working on remote compilation, I created a prototype project on github.
https://github.com/global-system/remotebloop

Could you answer?
How is it possible to create internal classes manually on load remote state(bloop-internal-classes\bloop-cli-1AkgQmagRb2MnKRiNghfIQ==\)?

I do not know whether it will be enough just to replace analysis.

Is it posbile to avoid duplication

[2020-03-11 13:29] aappddeevv opened #1197 "Missing class files in classes directory of configuration file"
When using sbt-bloop, sbt wants the files in `project/target/scala-2.13` and they are placed there. The `.bloop/project.json` seems to indicate that the outputs will go under the `.bloop/project` directory. The .bloop config classpaths also point to `.bloop/project/scala-2.13/classes` so it appears that the .bloop config is not right, at least with respect to where sbt wants the outputs. After com

[2020-03-12 11:57] Alexey-NM commented on #1091
I have written a light bloop client
https://github.com/global-system/remotebloop/blob/master/rbpcommander/src/main/java/ru/bitec/remotebloop/rbpcommander/BloopConnection.java
It seems there are no way to get access to bloop-internal-classes, so it is currently impossible to continue to work on this project.  I just cannot safely restore internal cache in the last bloop version.

[2020-03-15 15:41] jvican commented on #1194
Hi @aappddeevv, thanks for the feature request. I have considered this in the past and I don't want to enable this kind of customization downstream.

If you want to run some additional code after compilation, there are two ways:

1. Fork the project and implement this logic yourself
2. Implement a [BSP](https://github.com/scalacenter/build-server-protocol) client that proxies requests to Bloop. Bl

[2020-03-15 15:48] aappddeevv commented on #1194
That's fine. Thanks for considering. You may want to mention this in the docs somewhere although I should have asked this on the chat first. You could also watch the outputs directly, but that's alot more latency.

[2020-03-15 16:06] #1194 closed

[2020-03-15 16:06] jvican commented on #1194
That's a good suggestion, I'll update the docs to emphasize this use case.

[2020-03-16 22:18] jvican commented on #1197
@aappddeevv This works as expected. For the record, and I'll write this in the docs in an update I'm preparing, the directory written to the configuration file is to be used *exclusively* in the case the build tool generating it triggers a compilation. The build tool can trigger a compilation by enabling a bloop-specific BSP option in the `InitializeParams`, check the use of `BloopExtraBuildParams

[2020-03-16 22:24] jvican commented on #1192
@PAStheLoD Thanks for reporting!

I recommend using `bloopgun`, our Scala-based and native CLI. You can use `coursier` to invoke it.

It is not recommended to use bloop in the CI. Bloop uses incremental compilation, so your CI might fail because of an incremental compiler error. The well-established standard is to have non-incremental compilation.

However, you can use bloop to run a resident bloo

[2020-03-16 22:29] jvican commented on #1182
Thanks for opening such a detailed feature request @olafurpg

I agree this feature is desirable. I like that it only runs in the expensive scenario of "refreshing projects" which is already expected to be slow. The side effects run by the build tool when this command is executed might be useful for future use cases. Looking forward to reviewing the PR implementing it.

[2020-03-16 22:47] #1144 closed

[2020-03-16 22:47] #1146 closed

[2020-03-16 22:50] jvican commented on #1189
Bloop is actually built, from first principles, to address this scenario and let you have as many concurrent clients running and using the build resources. Bloop isolates the different clients you have running (Metals, CLI, other tools) so that you don't run into these issues.

You're running into this issue (and I've run into this too) because of a tricky bug I'm chasing down and hope to have fix

[2020-03-16 23:10] jvican opened #1200 "Add `coursier install bloop` as the recommended installation"
The next bloop release will be mainly installed via `coursier`, instead of forcing clients to either run the generic `curl` script or install bloop via a dependency manager. The brew, Scoop and Linux distros installation formulas/recipes will be changed to use `coursier install` to install bloop. The only reason why somebody would install bloop this way instead of via a manual `coursier install` w

[2020-03-17 00:37] aappddeevv commented on #1197
Im not sure I followed that.  If I use sbt-bloop and the config files that sbt created, when sbt compiles via the compile command I would expect it, as a Bsp client, to generate files per its bloop config. I’m assuming  that sbt maintains the same connection all the time. I also kept a watch out the .bloop specified output directory and never saw any files placed into the configured destination. T

[2020-03-17 01:01] Elephant454 opened #1201 "Add support for Android projects in Gradle"
I set up the Gradle plugin and did a `./gradlew bloopInstall -Si` and was told

`Ignoring 'bloopInstall' on non-Scala and non-Java project 'RadiusMessage'`

I looked at the build.gradle for my app, and it is indeed an Android project as opposed to a Java project. How difficult would it be to add minimal Android support in order to allow compilation of Java code?

[2020-03-17 09:24] jvican commented on #1201
I don't think it should be difficult. f we can indeed export an Android project safely it'd be enough to whitelist it in the sources of the gradle plugin. Mind looking into it? @Elephant454

[2020-03-17 09:25] jvican commented on #1201
I've never worked on Android projects in Gradle, but which JDK does the Android project require for compilation? Can we assume you won't run the android project with bloop and that you'll keep using Gradle?

[2020-03-17 09:43] jvican commented on #1188
Yes, I confirm we're on the same page here, I think I've understood your issue correctly.

Bloop is a great tool to normalize development across teams. Note that if you reuse one bloop server from different workstations, you will experience long incremental compilations and possibly correctness issues, as the incremental compiler might have some bugs and the compilations you trigger from the diffe

[2020-03-17 13:39] jvican commented on #1197
OK, so there has been a misunderstanding here but the behavior you mentioned here still works as expected. The classes dirs between bloop and sbt are kept separate by design. Bloop needs to own the classes directories to ensure that they are properly isolated should more clients ask for the compilation of the codebase concurrently.

There's a feature called compile deduplication that allows sbt to

[2020-03-17 13:48] aappddeevv commented on #1197
That does explain it and we should close this issue and move the conversation to chat if needed. I get that the files wind up where SBT expects them and I did read the compile deduplication notes.

I would have expected the files to appear in the location specified in the .bloop config `classesDir` location *and* wherever sbt wants them. I want to run a CLI program that reads the bloop config and

[2020-03-17 13:58] #1197 closed

[2020-03-17 14:29] jvican commented on #1197
To summarize, the classes directory in the configuration file is to be exclusively and consumed by the build tool generating the configurations. That means, if the build tool is not a BSP client triggering compiles to bloop, those directories will be empty.

The best way to do this is to trigger compilation via a BSP client. The most likely scenario is that there won't be any changes in the worksp

[2020-03-17 18:49] Elephant454 commented on #1201
@jvican I would love to look into it. 🙂

I think the project can use whichever JDK version, as the Gradle config doesn't seem to specify one. Android Studio is currently set to use its own internal JDK version, which is OpenJDK 1.8.

Yes, I would like to continue using Gradle. My plan is to be switching between using Android Studio and Emacs (with Metals).

[2020-03-17 21:22] ashkan-leo commented on #1088
I'm also encountering this issue on Doom Emacs, using latest Metals version and Bloop 1.4.0-RC1.

[2020-03-17 22:37] jvican commented on #1201
Cool, so long as you don't run your android project with bloop that should be fine. I would expect that running your android project with the JVM bloop uses would make it crash because IIRC Android projects don't work well with JDK >= 8.

I encourage you to have a look at the gradle plugin sources (the entrypoint is `bloop.integrations.gradle.BloopPlugin`) and change the code to make it work with

[2020-03-17 22:38] jvican commented on #1182
Fixed by https://github.com/scalacenter/bloop/pull/1195

[2020-03-17 22:38] #1182 closed

[2020-03-17 23:25] jvican commented on #1088
I've had another look at this problem. I believe the solution to this problem is not a delay, but instead filtering out the interlock files from `SourceWatcher` as well as filtering them out from the source hashing that occurs in `CompileInputs`.

@marcsaegesser @Kazark @ashkan-leo I've created a PR with this change, I'll merge it as soon as CI is passing so that you can confirm if this issue is f

[2020-03-17 23:42] Elephant454 commented on #1201
I've never worked on a codebase this large before, and I've never worked in Scala either, but this has certainly piqued my interest. I'll let you know what I find. :slightly_smiling_face:

[2020-03-17 23:48] ashkan-leo commented on #1088
Thanks a lot @jvican!

[2020-03-18 00:24] #1088 closed

[2020-03-18 00:25] jvican commented on #1088
PR is merged. As soon as the CI runs there will be a version published and referenced in the website here https://scalacenter.github.io/bloop/setup

[2020-03-18 00:27] jvican commented on #1138
@jackkoenig Let me know if you've unraveled the why of those dependencies in rocket-chip. It'd be useful to know how critical fixing this would be for people using compile internal and test internal dependencies.

[2020-03-18 00:30] jvican commented on #1130
Hi @countfloyd thanks for opening this feature request. The reality is that implementing this is not trivial, would require large changes in pretty much all the project, and I believe most of the times one can find ways to rearchitect their builds to avoid having dependencies to different JVMs. For those reasons, i'm going to mark this ticket as wontfix for now at least.

[2020-03-18 00:30] #1130 closed

[2020-03-18 00:38] jackkoenig commented on #1138
I *think* it was copied from [Chisel3](https://github.com/freechipsproject/chisel3) where someone used it to publish all of the sub-projects as a single project on maven. We discussed this at a dev meeting recently and decided that there's no real reason to do that so we can probably get rid of it. This is assuming we can still build the Scaladocs together even if the artifacts publish separately

[2020-03-19 09:42] the-kenny opened #1204 "Resources fail to load / `Import Build` doesn't generate `resources` in <project>.json"
Hello,

I'm using `bloop` and VSCode to build a fairly big scala project at the University Hospital Essen. Thanks for the great work - `bloop` is a really nice tool :-)

Unfortunately I ran into an issue regarding resources: One of our projects tries load a resource from the classpath - which usually works fine and never caused issues in any other project.

I'm loading the resource `/fhir/r4/searc

[2020-03-19 09:49] the-kenny commented on #1204
Ah, I just found #1199. I'll try to build `bloop` from source and see if my issue is fixed.

[2020-03-19 10:07] jvican commented on #1204
Hi @the-kenny, thanks for reporting and the kind words.

Instead of building from source you can also depend on the latest release from master, it's in the installation page https://scalacenter.github.io/bloop/setup

It suffices to change your bloop version in the build to 1.4.0-RC1-105-118a551b	 and you might want to change it as well in Metals too.

I'm going to close this ticket operating on th

[2020-03-19 10:23] #1204 closed

[2020-03-19 12:08] the-kenny commented on #1204
Can confirm that setting `metals.bloopVersion` to `1.4.0-RC1-105-118a551b` and using the internal server seems to fix the issue.

[2020-03-20 12:52] voidcontext opened #1205 "Xss option override"
With the changes in #1174 it seems there is 2 Xss option passed to the `java` binary if there is one in `~/.bloop/.jvmopts`.

[code]
On my jvm the last setting is going to be used

[code]

This is causing the compilation to hang as described in https://github.com/scalameta/metals/issues/1483.

[2020-03-20 13:42] olafurpg commented on #1205
Thank you for reporting! There's an open PR that adds a new way to globally configure  JVM options along with Java home via `$HOME/.bloop/bloop.json`. The `$HOME/.bloop/.jvmopts` file will continue to be respected, I pushed a new commit changing the order so the default option appear first

[2020-03-20 16:29] voidcontext commented on #1205
That should do it, thank you for the quick response and fix!

[2020-03-20 18:13] jvican commented on #1091
Hey @Alexey-NM, sorry for my late reply. Have you read https://github.com/scalacenter/bloop/issues/1197 ? I need to add this information to the docs website and I will do that shortly. I'm already working on several important changes there.

That link will give you valuable information to get bloop working remotely. Feel free to ask more questions here.

[2020-03-20 18:42] #1181 closed

[2020-03-20 18:42] #1189 closed

[2020-03-21 15:00] Alexey-NM commented on #1091
Thank you, I plan to finish prototype in near time then I will prepare questions and desirable features.

Thank you, I plan to finish prototype in near time then I will prepare questions and desirable features.

I see the main concept.  We have a large project currently it has  600 mega bytes of class files in out folder( it is folder for IntelliJ-BSP) and plus that I has more than 1 giga bytes in

[2020-03-22 18:34] jvican commented on #1138
Thanks for the feedback! The less projects using `CompileInternal` and `TestInternal`, the better.

[2020-03-22 23:13] jvican commented on #1189
The next release will have this fix /cc @nafg since you reported essentially a dupe of this ticket. I recommend you both upgrade to the latest bloop version. Thanks for your detective work.

[2020-03-23 00:11] #1163 closed

[2020-03-23 00:11] #1180 closed

[2020-03-23 10:40] Alexey-NM commented on #1091
I have created the prototype of utility to save\restore compilation state.
See: https://github.com/global-system/remotebloop/blob/master/README.md

Could you answer:
 - Is it correct to return [emptyStamp](https://github.com/global-system/remotebloop/blob/18b366171284a0fee1ee60a23588070e46dbb39b/rbpcommander/src/main/scala/ru/bitec/remotebloop/rbpcommander/CommanderIO.scala#L12) in [mapBinaryStamp

[2020-03-23 11:01] Alexey-NM commented on #1091
I need the ability to flush bloop state to disk and lock it until it is saved\restored.
It seems that stopping bloop server is not the good choice(see also [long reconnection](https://youtrack.jetbrains.com/issue/SCL-16239#focus=streamItem-27-4000992.0-0) )
It is very desirable that such mechanism should not require long connection and large copying of files.

It would be good to have the ability

[2020-03-23 12:22] jvican commented on #1091
Hi @Alexey-NM, I'm glad you're looking into this. I have some reservations about how you're planning to implement remoting. Let me leave you my thoughts.

The bloop state should only be managed by bloop, it is transactional and it defines the core of bloop. The bloop state is defined by all of the output files written to disk and all of the in-memory state. No other tool should use or spy on the b

[2020-03-23 12:26] olafurpg commented on #1091
I want to echo @Alexey-NM's concern with classfile copying. I would also love to have an option to disable it. In our case, we would be willing to accept the risks by disabling this behavior.

[2020-03-23 12:30] jvican commented on #1091
Disabling class file copying is just not possible at all. It can be optimized. If it becomes a priority I'm happy to start a discussion around it, but I think there are more pressing things to do atm.

[2020-03-23 12:56] Alexey-NM commented on #1091
I agree it is a very broad term.

This experiment is based on:
https://github.com/sbt/zinc/blob/9200d1e7ec363fc069aa0fc903f548b786410706/internal/zinc-persist/src/main/scala/sbt/internal/inc/cached/ExportableCache.scala

Are there any other alternatives to prevent bloop from full recompilation of a project?

[2020-03-23 13:47] olafurpg commented on #1091
I agree disabling classfile copying is not a priority. I was just adding an experience report that we have encountered difficult-to-reproduce problems with this feature when compiling large codebases. We can discuss it separately if it becomes a blocking issue.

[2020-03-23 13:48] Alexey-NM commented on #1091
I agree that it would be better to leave it as internals to decrease dependency.
I can only see one decision, it is to make mapping of analysis internally in bloop and give out some portable artifacts.
What can I help to define roadmap?

[2020-03-23 17:32] Alexey-NM commented on #1091
It seems it have been mistake to estimate overall size, actually it is much important to consider the amount of files because  file opening is a bottleneck, at list in some desctops.
I agree it is not priority at any case.

[2020-03-23 17:45] tpolecat opened #1210 "working directory is not properly set for sub-projects"
Hi,

The change in #1175 doesn't actually change the working directory when you run from a sub-project. Relative paths are still relative to the project root; it's only when they're canonicalized (`getAbsolutePath` for example) that they are reinterpreted as being rooted at `user.dir`. Here is an example.

Here is a little program, in subproject `main` under `modules/main` in my project:

[code]

[2020-03-23 18:58] plokhotnyuk commented on #1138
As W/A `compiler-internal` usually replaced by `provided` that is initially designed for frameworks and environment which provide own implementation of the dependency in run-time.

Main difference that dependencies with `...-internal` scopes don't appear in the published `.pom` files and users shouldn't gues if it really required in run-time or not.

I've have listed a couple of use cases for thos

[2020-03-23 19:45] jvican commented on #1138
Yup, I’m aware of these issues. Nevertheless that behavior can be simulated by post processing the Pom files with sbt. If people really need this then I encourage them to find other ways of excluding dependencies as I don’t have the time to add support for these configurations right now.

[2020-03-23 20:00] ritschwumm commented on #1138
hm.. https://www.scala-sbt.org/1.x/docs/Macro-Projects.html suggests using "compile-internal".

[2020-03-23 20:28] jsatk commented on #1119
I'm still getting this error locally. I'm on `1.4.0-RC1-105-118a551b`.

[2020-03-23 20:30] jsatk commented on #1119
Ah. Looks like commit https://github.com/scalacenter/bloop/pull/1120 hasn't been released yet?

[2020-03-23 20:34] jackkoenig commented on #1138
Looks like that's where we originally got this for `chisel3`. It is a bit annoying that SBT conflates the notion of compilation units with publishable units. I don't see any reason why it should require `compile-internal` to accomplish such a goal.

[2020-03-23 20:48] jvican commented on #1119
What version are you using? 1.4.0-RC1 should have that commit

[2020-03-23 21:15] jsatk commented on #1119
Version: `1.4.0-RC1-105-118a551b`
The command I'm running (with some sensitive information edited out):
[code]

[2020-03-24 08:58] olafurpg commented on #1210
Thank you for reporting! What Bloop version are you using?
[code]

[2020-03-24 11:12] olafurpg commented on #1210
You can start a new version of bloop with the commands
[code]

I believe the latest version of master uses the -Duser.dir option to determine the working directory of the forked process.

[2020-03-24 21:14] jsatk commented on #1150
I'm also seeing this "Invalid or corrupt jarfile" warning. As far as I can tell everything is working fine though.

[code]

[2020-03-24 22:51] jvican commented on #1150
Don't worry about that, that's expected, it's a bening error

[2020-03-24 22:54] jvican commented on #1150
It's an error that will be gone in the next release btw @jsatk it's caused by the python client that starts up the server

[2020-03-24 22:55] guizmaii commented on #1150
@jvican Does that PR https://github.com/scalacenter/bloop/pull/1196 fix the problem reported here?

[2020-03-24 23:28] jvican commented on #1150
Yup, the launcher should already be working on these environments. Our next release deprecates the bloop python client that you are currently using and will use the launcher exclusively, which means both of these issues will be gone in 1.4.0

[2020-03-24 23:42] guizmaii commented on #1150
<img width="1792" alt="Screenshot 2020-03-25 10 41 30" src="https://user-images.githubusercontent.com/1193670/77486994-4543d300-6e85-11ea-86e8-f26a770030dc.png">

[2020-03-25 00:02] jsatk commented on #1150
Thanks for the explanation @jvican.

When I see scary errors I tend to think I've done something wrong 😆.

[2020-03-25 00:06] jvican commented on #1150
@guizmaii Yes, that is not the launcher, that is the installer. Long story short, bloop 1.4.0 will update the installation methods so that you don't see that anymore! Will elaborate more on this point in the release notes

@jsatk That's a totally reasonable expectation, I agree the script should not be showing that error when it's benign.

[2020-03-26 02:53] jackkoenig commented on #1138
I have removed `compile-internal` from chisel3, it won't be visible in rocket-chip until we bump (hopefully early next week to the soon to be released 3.3.0). There is also some `compile-internal` in rocket-chip that I intend to remove when bumping.

[2020-03-27 18:32] #1205 closed

[2020-03-27 18:39] jvican commented on #1138
Great, thanks @jackkoenig Let's close this ticket.

Yeah, this is a judgment call, it's exotic but publically documented, I think they both can be true at the same time.

[2020-03-27 18:39] #1138 closed

[2020-03-28 11:05] jvican commented on #1201
Let me know whenever you pick this up @Elephant454

[2020-03-28 13:55] dos65 opened #1218 "Show sbt meta projects through BSP server"
It seems that it needs just to fix it by adding meta-build handling [here](https://github.com/scalacenter/bloop/blob/master/frontend/src/main/scala/bloop/bsp/BloopBspServices.scala#L945)

Required for scalameta/metals-feature-requests#48

[2020-03-28 19:03] jvican commented on #1218
Thank you for opening this ticket and opening a PR. Supporting meta projects is indeed supported, but not enabled by default. Add the bloop plugin to `project/project/plugins.sbt` and bloop will automatically export the build for you every time sbt is run.

[2020-03-28 19:08] jvican commented on #1218
The reason why https://github.com/scalameta/metals-feature-requests/issues/48 exists is that there's not a right-off-the-bat solution to access the build projects from the user build, e.g. the build projects and the user projects are treated as independent. If you follow the steps in my previous comments, you'll notice the that bloop configuration files are added to `project/.bloop` instead of `.b

[2020-03-28 19:20] jvican commented on #1200
To close this ticket and the 1.4.0 release we need the following:

1. Native binaries need to be created in CI and published to the release.
2. Our dependency on `install.py` needs to go away.
    - We will still keep the installer for a while but we will no longer use it in our official installation methods.
    - We will mark the "universal" installation method on the website as deprecated.

[2020-03-28 19:46] dos65 commented on #1218
Oh, probably I've chosen not the clearest name for this issue.

Meta builds export works correctly using the steps you've mentioned.  There is only one minor problem with bloop-server. On build-targets request, it always returns ScalaBuildTarget without sbt related data(`autoImports`) instead of SbtBuildTarget.

#1219 fixes it.

[2020-03-28 20:27] olafurpg commented on #1218
I wonder if it's possible for Bloop to generate all meta builds in the toplevel `.bloop/` directory 🤔 It would be nice if we can keep using a single BSP connection to deal with the entire workspace

[2020-03-28 21:30] jvican commented on #1218
@dos65 Thanks for the explanation. #1219 exports the sbt build targets via BSP but that will only work if Metals starts a BSP connection under `./project/` instead of `./` because Bloop only sources the configuration files from the `./.bloop` directory, it doesn't yet source configuration files from `project/.bloop` and nested project directories.

The elephant in the room here is to make bloop un

[2020-03-28 21:31] jvican commented on #1188
@dfarrel1 Let me know if you follow up on this. I'm curious to find a solution.

[2020-03-28 21:43] jvican commented on #1218
@olafurpg Actually, I misread what you said. What bloop will do is to source config files from `project/.bloop` but the metabuild will not write directly to `.bloop` because it'd be hacky to do that and still get the automatic removal of projects that no longer exist. Making bloop understand config files from other .bloop directories seems like the best way of making it easy for BSP clients to get

[2020-03-28 22:37] dos65 commented on #1218
@jvican  Yes, I know about several connections. I've started implementing sbt support in metals and made a lot of dirty temporary changes in metals to allow it to works with several bsp-connection.
It would be great if bloop will allow working with all build-targets using a single connection.

However, this change is enough for me to complete a working prototype. Scala files under `project` direct

[2020-03-29 02:53] jsatk opened #1220 "Broken build tool sections in installation page"
See this 7 second video. http://i.jsatk.us/pOLpng

[2020-03-29 07:04] igor-ramazanov commented on #1150
Am I right that the workaround for now if I must have JDK11 locally would be as follows:
1) Clone the project (since the fix is already there, just haven't been published yet)
2) Switch to JDK8
3) Build `bloop` and then install it locally
4) Switch to JDK11
5) Start compiling projects using bloop + JDK11
?

[2020-03-29 12:16] olafurpg commented on #1150
@igor-ramazanov Since https://github.com/scalacenter/bloop/pull/1203 you can globally configure the Java version for bloop in `$HOME/.bloop/bloop.json`. Docs
 https://scalacenter.github.io/bloop/docs/server-reference#custom-java-home

This option is respected regardless if you use bloopgun (the new `bloop` cli), Metals or IntelliJ

[2020-03-29 16:46] jvican commented on #1220
Thanks for reporting @jsatk, it was an issue with the docs build, it's fixed now.

[2020-03-29 16:59] jsatk commented on #1220
@jvican thanks for the super fast response. 😄

[2020-03-29 20:02] igor-ramazanov commented on #1150
@olafurpg Thank you so much for the quick answer! I haven't tried it yet, but will do tomorrow and let you know if it works out. Thank you and stay healthy ✊

[2020-03-30 00:06] guizmaii commented on #1150
@olafurpg Is it normal that when I configure the custom java home is the `bloop.json`, I still have this problem: https://github.com/scalacenter/bloop/issues/1150#issuecomment-603561109?

[2020-03-30 07:54] olafurpg commented on #1150
I have never seen that message. The custom java home is only respected in the latest nightly build, the homebrew is older. How are you launching bloop?

[2020-03-30 09:20] guizmaii commented on #1150
`brew start bloop`

[2020-03-30 10:22] olafurpg commented on #1150
The brew formula is using an old Bloop version. You can start a Bloop server with the latest version like this
[code]

[2020-03-30 10:47] jvican commented on #1220
For some reason this particular issue still happens. Will look deeper into why...

[2020-03-30 10:49] jvican commented on #1200
Made good progress porting the brew formula to install our CLI directly and changing the launcher to use coursier as the only way of starting the bloop server. I will follow up with more progress updates here soon.

[2020-03-30 23:51] matthughes opened #1224 "CLI --help flag doesn't work as advertised"
[code]

Bloop says to run `bloop 'command' --help`

As you can see from below I tried various incantations and none of them worked.

[code]

[2020-03-31 07:46] Duhemm commented on #1224
Thanks for the report! It looks to me like bloopgun is parsing the `--help` flag, and not passing it along to `Cli`.

https://github.com/scalacenter/bloop/blob/61fbbe084c0f70492058c1748e7272fa803011f4/bloopgun/src/main/scala/bloop/bloopgun/Bloopgun.scala#L105-L108

[2020-03-31 09:46] #1224 closed

[2020-04-01 07:37] yannick-cw opened #1226 "Error `MissingRequirementError` running ammonite console"
Hey, any idea what is going wrong here?
I can reproduce it with running:
`sbt new scala/scala-seed.g8` and then `bloop console root --verbose --version` in this fresh project. Starting ammonite standalone works fine. Is that some misconfiguration of my machine or can you reproduce it?

[code]

[2020-04-01 07:38] yannick-cw commented on #1226
Oh I also tried with java 9, same problem for me

[2020-04-01 11:29] JD557 opened #1228 "Experienced slowdown when starting sbt with sbt-bloop"
Using
* SBT 1.3.8
* Scala 2.12.10,
* SBT-Bloop: 1.4.0-RC1

I get the following times:

## Without sbt-bloop (second run)

[code]

## With sbt-bloop (second run)

[code]

The project in question has ~70 subprojects. Running `ls -l | wc -l` inside `.bloop` after `sbt bloopInstall` returns 231 files, while `ls -lR | wc -l` returns 1447 files.

Running sbt with `-Dsbt.task.timings=true` doesn't show a

[2020-04-01 12:38] Duhemm opened #1229 "Test's `--include-dependencies` is ignored when `--cascade` is set"
Looking at `bloop.engine.Interpreter`, it looks like `--include-dependencies` is ignored when `--cascade` is set in a test run (this is the only reference to `includeDependencies`):  https://github.com/scalacenter/bloop/blob/f69dd3ba74d81e71f6f1ca73a0b557055138d0b2/frontend/src/main/scala/bloop/engine/Interpreter.scala#L342-L346

I don't see why `--cascade` should exclude `--include-dependencies`.

[2020-04-01 18:06] igor-ramazanov commented on #1150
@olafurpg
I tried the #1204 (not thoroughly) and failed to properly setup it having the same `couldn't find JDK 1.8` error.
I wrote personal bash scripts using `coursier` to run bloop as you showed in the above message.

[2020-04-02 09:56] yannick-cw commented on #1226
I tried on a fresh installed mac, the same error happens

[2020-04-02 11:29] jvican commented on #1228
Thanks for reporting @JD557. If most of the time is spent after "Resolving key references", it looks like something might be running here as an `onLoad` hook. We need to know what. Can you run `sbt  -debug` and tell me what's running?

[2020-04-02 12:00] jvican commented on #1229
My expectation is that `--cascade` could be combined with `--include-dependencies`, but `--cascade` shouldn't implicitly enable `--include-dependencies`.

[2020-04-02 12:19] JD557 commented on #1228
Running `sbt -debug`, I get:

[code]

Where most of the time is spent on the second `[debug] Copy resource mappings:`

I was expecting more logs from a `-debug` flag, am I missing some argument?

[2020-04-02 13:07] jvican commented on #1228
I guess that's about it. If nothing is bloop-related running with the debug log level enabled, then this is likely not caused by bloop at all and it's just sbt being slow to load our plugin. `sbt-bloop` doesn't do anything out of the ordinary at boot time by default. I would double-check your numbers and make sure you're not profiling something else.

[2020-04-03 09:49] Duhemm opened #1233 "Distinguish between compile-time and runtime classpaths"
Currently, Bloop doesn't make any distinction between compilation-time and runtime classpaths. This situation brings several problems for projects that expect to have different runtime and compile-time classpath:
 - Some code may compile in Bloop, but not in the tool that generated the config (for instance, my code references a symbol that appears only on my runtime classpath)
 - Some code may com

[2020-04-03 10:01] #1220 closed

[2020-04-06 09:05] jvican commented on #1228
@JD557 If you find some more evidence that sbt-bloop might be at fault here, let me know and I'll reopen the ticket. Let's close for now

[2020-04-06 09:05] #1228 closed

[2020-04-07 14:45] Duhemm commented on #1233
I've been prototyping 2 different implementations of a distinction between compile-time and runtime classpath, in order to evaluate the advantages and drawbacks of each approach.

## Use `compileClasspath` and `runtimeClasspath` in every target
https://github.com/scalacenter/bloop/commit/ebbf0dfa12c21f92e2127e68acc1e4a3aa77d2a8
Here, each Bloop configuration file will have 2 fields `compileClasspa

[2020-04-07 15:03] olafurpg commented on #1233
Thank you for writing up this thorough comparison of the two approaches!

Some open questions:

* `workspace/buildTargets`: should `-runtime` targets be listed? IntelliJ struggles to represent two targets that have the same base directory and relies on a heuristic to merge targets to recover in this scenario.
* `buildTarget/jvmTestEnvironment`: should Bloop use the classpath of `a-runtime` or `a`?

[2020-04-07 15:51] jvican commented on #1233
Thanks for looking into this @Duhemm so carefully and following up with a prototype to the second proposal I made to you privately.

Hmm, I would not say this is a trick. It's exactly how runtime classpath has been meant to be encoded in bloop from the very beginning. It's part of the design. One build target, one classpath. I've responded to similar runtime classpath requests in the issue tracker

[2020-04-07 17:14] olafurpg commented on #1233
@jvican one concerns I have with the `-runtime` approach is that it introduces special meaning to the project name. This sounds conceptually like a regression in the design of the Bloop JSON config format. It's a different situation from `-test` because the BSP server does not have special treatment of targets named `*-test`.

This sounds like a lot of edge-cases that need to be handled in order t

[2020-04-07 17:18] olafurpg commented on #1233
I think it's worth adding that all build tools that are supported by Bloop have a built-in feature to encode runtime classpaths. In sbt there `% Runtime`, in Bazel there are `runtime_deps`, in Pants there is `strict_deps`. I think this should be sufficient evidence to support that runtime classpaths are a primitive feature that should be supported in a JVM build tool.

[2020-04-07 17:21] olafurpg commented on #1233
Would it make sense to move `runtimeClasspath` into the JVM `"platform"` field? It's not possible to encode runtime classpaths for JS/Native projects. We may also want to rename the field into something like `runtimeExtraClasspath` to stress that these are additional classpath entries that are added on top of the `classpath` field.

[2020-04-07 17:43] jvican commented on #1233
Our CLI does have this special treatment. Running `bloop test foo` is mapped to `bloop test foo-test`. I agree this approach introduces even more special treatments to the names of the generated configuration files, but I think this is a fair requirement.

I don't think you require that many special cases. I have in my mind exactly the places where we would need to hook up this presentation logic

[2020-04-07 17:49] jvican commented on #1233
I like the fact that you scope it to the JVM platform. It eases some of my concerns with this approach and I could make my peace with a `classpath` field added under runtime JVM. This would mean we would add a `resources` field there.

But note that you cannot encode it as `extraClasspath` because the runtime and compile classpath can be disjoint sets of URIs. You can add new URIs to the compile c

[2020-04-08 08:03] Duhemm commented on #1233
I like the idea of scoping the runtime classpath / resources to the JVM platform, it makes a lot of sense. Let's try with that.

[2020-04-08 09:24] jvican commented on #1233
I suggest that if configuration file size is an issue because of large classpaths and resolution information, we add support for gzipped configuration files `foo.json.zip` so that build tools such as Pants or Bazel with lots of targets and classpath entries can use them.

Bloop can decode the JSON configuration files on the fly and then parse it and, in exchange, the overall size should be drastic

[2020-04-08 09:51] olafurpg commented on #1233
I agree we should keep the runtime/classpath fields separate, there is no need for `extraClasspath`. This design allows encoding compile-only dependencies (eg `% Provided` in sbt).

The file size of the configuration files is not a concern (at least not right now). I mentioned the file size only to demonstrate that the `"classpath"` field accounts for up to 90% of the size of the JSON files in our

[2020-04-08 10:05] jvican commented on #1233
Not if we intern them. In fact, we don't need to intern them manually, `Paths.get` interns them right when they are created at parsing time.

Yes, but let's call it `classpath`.

[2020-04-09 07:44] davidmlw opened #1240 "Can bloop server support socket file in addition to port number?"
It is better to have socket file as server entry point. Especially in a multi-user server, it makes users independent work locally.

[2020-04-09 15:09] jvican commented on #1240
Are you asking for support of something like UNIX Domain Sockets? And for which clients? The CLI or BSP clients such as Metals? Bloop supports Unix Domain sockets in BSP clients and CLI clients, though in the latter case it is not straightforward to set it up.

[2020-04-10 01:03] davidmlw commented on #1240
Thanks, would please share some documents or bloop repo code snippet? By Unix domain socket, I mean a file path. In this way, the users can be more isolated to each other.

The using senario includes BSP or Bloop clients or Bloop.CLI. Each user can start a server that totally private, that others in the same server cannot access through a public PORT.

Here is the requirement reason: https://githu

[2020-04-11 11:28] PhilAndrew opened #1242 "Allow hot class reloading with DCEVM"
I would like to have hot class reloading with DCEVM. http://dcevm.github.io/
Bloop is used with the Seed Scala build tool. In this issue is described the problem found with attempting to get DCEVM to work. https://github.com/tindzk/seed/issues/76

The main problem as described is boop writing class files to different directories, as it says.

The first command wrote the class files to
/tmp/build-d

[2020-04-11 12:20] jvican commented on #1242
Thanks for opening the ticket @PhilAndrew.

Bloop has complete control over how class files are managed internally. For example, you have referenced some of those internal directories on your ticket. But Bloop still keeps the invariant that class files are written to a stable directory for the duration.

So, Bloop will write the updated class files to the external directory of your client. If you'

[2020-04-11 14:30] jvican commented on #1240
@davidmlw Thanks for elaborating on your use case.

You can use Unix Domain Sockets or named pipes (which are essentially just socket files) with Bloop via `bloop bsp --help` will tell you how to connect to it. Our launcher (used by tools to start bloop in a machine and connect to it as a client) also has support for it, see [the implementation](https://github.com/scalacenter/bloop/blob/72a856b615

[2020-04-12 18:16] dos65 commented on #1218
@jvican @olafurpg
I got a working version for [sbt-files-support](https://github.com/dos65/metals/tree/sbt_support) in metals.
To work around this problem with connections I've just added a hack by copying `.project/.bloop/*-build.json` to the root bloop directory between `bloopInstall` and `initialize` actions. It seems like it works ok.

I've also made a quick glance at bloop sources and it seem

[2020-04-13 01:54] davidmlw commented on #1240
Your reply resolves my confusion. I was wondering how bsp clients, like metals, start bloop server. I dont have capabilities to do such kind of development now.

I think the root requirement is how to support multi-user. If the current server mode can support multi-user without security problem, it is a better solution. So a server may need start only one service and provide services to every user

[2020-04-14 11:20] tgodzik commented on #1240
@davidmlw Metals uses the Bloop launcher to start Bloop itself. Not sure if we can just add another parameter there to use socket files or we still need to have the changes mentioned by @jvican

In both cases we will need to have something changed inside Metals for sure.

[2020-04-14 11:46] tgodzik commented on #1218
@dos65 I quickly took a look at the changes you did in Metals, it looks good!

I think an alternative to copying those json files we could go a similar route as in Ammonite [PR](https://github.com/scalameta/metals/pull/1538) and creating another connection. Though, I think it would also be nice to be able to have everything sent together.

[2020-04-15 14:58] #1233 closed

[2020-04-15 21:19] jvican commented on #1200
Brew installation is now out of the way, I'm focusing on porting the archlinux installation. Latest master already has code to publish GraalVM binaries for macOS and Linux as well, so we'll reuse that to attach them to the created GitHub release automatically.

[2020-04-16 01:31] Arthurm1 opened #1247 "Runtime classpath and resources are swapped when saved"
JVM Platform runtime classpath gets saved as resources in JSON file and vice versa

possibly resources and classpath are swapped [here](https://github.com/scalacenter/bloop/blob/b8c48e3fe089ceb198d113bee1a730d1c76358de/config/src/main/scala-2.11-13/bloop/config/ConfigCodecs.scala#L192)

[2020-04-16 06:56] Duhemm commented on #1247
Thanks for the report @Arthurm1 ! This should be fixed by #1248.

[2020-04-16 09:46] mihaisoloi opened #1249 "Update build logic to ignore loading builds from `$HOME/.bloop`"
When running from `$HOME`

`coursier launch ch.epfl.scala:bloopgun_2.12:latest.release -- about`

the server correctly starts with the config values from `$HOME/.bloop/bloop.json` but it also gives this error:

`[E] Failed to load project from $HOME/.bloop/bloop.json`

This happens because you run `bloop about` in your `$HOME`,  but the change that introduced `$HOME/.bloop/bloop.json` has the shap

[2020-04-16 10:01] #1247 closed

[2020-04-16 13:35] davidmlw opened #1251 "Can bloop support package command?"
It is better to have a bloop package command, so that it is easy for bloop to package a project to jar file. Will this feature be supported?

[2020-04-16 19:37] olafurpg commented on #1249
Thank you for reporting! I'm able to reproduce, I'll send a PR to fix

[2020-04-16 19:53] tindzk commented on #1242
Presently, there are two limitations in Bloop which make DCEVM support slightly inconvenient:

1. The BSP protocol does not allow users to specify environment variables. This would be useful to selectively run a module with the DCEVM agent via `JAVA_TOOL_OPTIONS` (see example below).

2. Seed does not support running commands in parallel over a single BSP connection yet (as discussed [here](https:

[2020-04-17 14:55] #1251 closed

[2020-04-20 15:46] #1249 closed

[2020-04-21 06:02] davidmlw opened #1255 "How bloop package a scala project to jar?"
I didn't see bloop package command in documents. Is there such a command or other special considerations?

[2020-04-21 06:23] davidmlw opened #1256 "What does classesDir define now?"
From documents: https://scalacenter.github.io/bloop/docs/configuration-format, classesDir defines the output directory for the compiled binaries. While I saw the current bloop v1.4.0-RC1 does not respect this directory and put the files in .bloop/module/bloop-internal-classes/bloop-cli-RANDOM/.

[2020-04-21 07:57] adpi2 opened #1257 "Force source generation for cached `sbt bloopGenerate`"
Running `bloopGenerate` task in sbt should trigger the source generation even if the sbt settings have not changed since the last source generation.

[2020-04-21 10:03] davidmlw commented on #1256
And the directory  `.bloop/module/bloop-internal-classes/bloop-cli-RANDOM/` is not only random named, but is also random generated with multiple versions. how to get a stable classesDir ?

[2020-04-21 12:02] #1256 closed

[2020-04-21 12:03] jvican commented on #1255
Your previous question was converted to a discussion and it's now available at https://github.com/scalacenter/bloop/discussions/1251 I will chime in when I get the time.

[2020-04-21 12:03] #1255 closed

[2020-04-21 13:36] marcinzh opened #1259 ""Server unexpectedly disconnected in recv_into()" when bloop runs a program that prints a lot to the console"
Using sbt, installed bloop with curl.

[code]
[code]
Never fully completes: after several 10.000s of lines printed, either quits with said error message, or silently freezes.

When run from within sbt, program completes successfully.

[2020-04-21 22:03] #1200 closed

[2020-04-22 08:58] svalaskevicius opened #1260 "Use `.bloop/bloop.json` opts for forked java compiler"
my bloop server is started with ` -Xss1m -XX:MaxInlineLevel=20 -XX:+UseParallelGC `

even if the service is configured with:
[code]

AND I also have ~/.bloop/bloop.json with:
[code]

where is the `1m` taken from for the `-Xss` flag?

[2020-04-22 09:35] olafurpg commented on #1260
@svalaskevicius Thank you for reporting! Can you elaborate on your expected behavior? The idea with `~/.bloop/bloop.json` is that it should contain all the Java options so that the same JVM options are used regardless of how the Bloop server is started (via `bloop help` in the terminal, Metals or IntelliJ).

When I have this configured
[code]

The options are picked up by Bloop
[code]

I can confi

[2020-04-22 10:01] svalaskevicius commented on #1260
hi, the server process seems to have, them, yes, but the actual compiler jobs - do not, and fail with stack overflow, which makes both bloop and metals unusable for this project.

I have .sbtopts which makes sbt working for it though, but have to use intellij until the bloop ivoked compiler can pick up the Xss parameter