[2020-04-22 10:13] olafurpg commented on #1260
@svalaskevicius it sounds like Bloop is forking a Java process for the compiler and it not using the custom JVM options there. My understanding is that this happens only if the Bloop JSON configure a different Java home from the running Bloop server.

You can explicitly declare what Java home to use for the Bloop server in `~/.bloop/bloop.json`, can you try to check if the Bloop server process is

[2020-04-22 10:40] jvican commented on #1259
Thanks for reporting @marcinzh, this is a good catch! I ran into this issue lately as well. In my case, I got a similar error, but the server never froze. I wonder if our new bloop CLI (bloopgun) will handle this case correctly.

[2020-04-22 10:49] #1257 closed

[2020-04-22 10:59] svalaskevicius commented on #1260
I have started bloop as:
[code]

bloop.json:
[code]

I still have the compile task:
[code]

[2020-04-22 12:54] marcinzh commented on #1259
Hi @jvican, I thought this might be related:

[code]
When run with bloop, it never completes. Just keeps swallowing input forever, including newlines.

[2020-04-22 12:58] jvican commented on #1259
This is an independent issue, I think there’s an open ticket for it. In this particular ticket, I think there’s something going on with the way we’re sending output from the server and reading it from the client.

[2020-04-22 18:16] svalaskevicius commented on #1260
What puzzles me is where does it get that 1m flag from? I've grepped the places I suspected and nothing - would simply forking add it to the process cmd?

Also if forking is the problem how to make it to not fork?

[2020-04-22 21:45] svalaskevicius commented on #1260
Update: apparently this project used to use scala 2.12.10..updated to 2.13.1 and the issue is the similar, but 1m is changed to 4m

[2020-04-23 09:42] svalaskevicius commented on #1260
another update: 4m seems to be coming from coc-metals?
anyways, after upgrading scala I don't see any more issues and can compile!

Thus, I'll close the ticket - sorry for the noise :)

[2020-04-23 09:42] #1260 closed

[2020-04-24 17:15] alekseiAlefirov opened #1264 "Support environment variables parameters for debug session to start"
It would be useful to have an option to start a debug session (via `debugSession/start` request method) with environment variables configured.

As a context:
recently [Metals](https://github.com/scalameta) have supported [user configuration for starting a debug session](https://github.com/scalameta/metals-vscode/issues/217), and now are being asked, if enviranment variables can be supported as wel

[2020-04-27 12:31] matthughes commented on #1140
Also getting the same thing.  Running CLI concurrently with Metals has not been super reliable lately.  If I'm coding all day I say I hit this at least once a day:

[code]

In my case I never get it to fail with NPE but it just hangs there forever.  Using ```bloop 1.4.0-RC1-190-ef7d8dba```

[2020-04-27 13:40] tgodzik commented on #1140
@matthughes  Will you be willing to make take a stack trace next time this happens? We are trying to fix all possible issues connected to this.

[2020-04-27 14:56] matthughes commented on #1140
Sure I actually took one but of course didn't paste it.  I didn't see anything interesting but I'm sure you would know better than me.

[2020-04-27 15:00] tpolecat commented on #1140
This has happened to me once or twice recently but it seems that `brew services restart bloop` now unconfuses it, at least temporarily (I no longer need to wipe out the `.bloop` directory and re-import my project). So at least for me it's less severe and much less frequent than before, but hasn't disappeared entirely.

[2020-04-27 15:00] jvican commented on #1140
The issue reported by @tpolecat is now fixed by https://github.com/scalacenter/bloop/pull/1265. I need to add another fix to Bloop so that when there's an exception, the compilation that is tracked and deduplicated fails altogether. It should be working like that, I don't know why it doesn't.

@matthughes Regarding your issue, it seems different from the one reported here. If you see, you have at

[2020-04-30 10:14] jvican opened #1267 "Check Arch Linux installer works before release"
As we're getting ready for the release, I'd like to make sure there are no breakages with our existing installation methods. @TheElectronWill Could you check that running `sbt install` produces a valid Arch Linux package that you can install in your box? I can't do that because I no longer own an Arch Linux box.

[2020-05-02 09:08] TheElectronWill commented on #1267
Yes I can! I've checked the generated package.

I first ran into issue coursier/coursier#1613, which is fixed by using the latest coursier version (RC6-13) but it's not available in AUR yet. I've made a [PR](https://github.com/2m/coursier-pkgbuild/pull/18) for that.

After updating coursier, the pkg built and installed. But bloop isn't installed correctly: `.bloop.aux` is missing from the package

[2020-05-02 10:22] jvican commented on #1267
Thanks a lot for looking into this!

I don't fully understand why those issues are happening but let me share some context that might explain some of the changes in the new installer: from v1.4.0 on, bloop has changed its installation method and it now only installs bloopgun (our new CLI that compiles to GraalVM Native). Bloopgun is installed by coursier and the resulting binary will make sure the

[2020-05-06 23:58] jvican commented on #1267
Friendly ping @TheElectronWill :smile: There's an open PR adding 1.4.0 release notes and would like to release as soon as we figure this one out. Tried to set up a vagrant environment in macOS with Arch Linux but that failed, so any help to figure out if the coursier fix is the only one required would be great!

[2020-05-07 01:12] kubukoz opened #1272 "Unexpected error when compiling dotty"
I'm getting this when compiling some Dotty code:

[code]

`compile` in sbt works without errors.

The code:

[code]

Important: I'm depending on `"org.typelevel" % "cats-core_2.13" % "2.1.1"`. `map` comes from an implicit conversion defined in the`cats.syntax.flatMap` object, which uses the `ioFunctor` instance.

Dotty versions checked: `0.24.0-RC1`, `0.25.0-bin-20200506-4da1f25-NIGHTLY`

Bloop ab

[2020-05-07 10:35] #1140 closed

[2020-05-07 14:52] TheElectronWill commented on #1267
Unfortunately no, I've got the same results when I first uninstall bloop completely.

In that case I think the PKGBUILD should be modified, since it currently symlinks `/usr/bin/bloop -> /usr/lib/bloop/bloop`. I'll try to fix things and report back to you ASAP :smiley:

[2020-05-07 15:46] TheElectronWill commented on #1267
First problem fixed by installing graalvm and graalvm-native-image (of course! should have thought of that earlier...). But 8 gigs of RAM don't seem to be enough to complete the building of the native image so I can't test any further :slightly_frowning_face:

The current PKGBUILD creates a folder `/usr/lib/bloop`, then a link to the executable within it. If we don't need the folder anymore (I see

[2020-05-07 15:52] jvican commented on #1267
I'll remove the creation of the `/usr/lib/bloop` folder as well as the symlink, thanks!

Keep in mind that you should not be compiling to GraalVM during the installation process, we compile to GraalVM native in CI/CD during the `install` step that generates all of the formulas and binaries. Could you try the installation doing `sbt install` instead of `sbt createLocalArchPackage`?

[2020-05-07 15:57] TheElectronWill commented on #1267
Yes, it's the `install` task that fails (more precisely, `bloopgun/graalvm-native-image:packageBin`). The rest doesn't consume that much memory (fortunately) :smile:

[2020-05-08 10:06] slice commented on #1226
This still happens on bloop `v1.4.0-RC1`
(Using Scala v2.12.8 and Zinc v1.3.0-M4+32-b1accb96)

As far as I can tell, this only happens when using JDK >8.
It might be an outdated ammonite.

[2020-05-08 10:25] slice commented on #1226
Okay, I did more investigation and it looks like you can get it to work like this:

[code]

Seems like the Coursier bloop is using is too outdated. Also the `--scala-version` flag needs to be removed for whatever reason.

[2020-05-08 19:50] jvican commented on #1259
Seems like we get a `ConnectionReset` for some reason:

[code]

[2020-05-09 01:33] eanderson13 opened #1274 "Missing index.html after ScalaTest execution"
Bloop doesn't generate the ScalaTest index.html test summary file when using the `-h` option

Steps to reproduce:

[code]

[2020-05-11 11:10] aywengo opened #1275 "Unexpected error during installation on Mac OS"
`brew install scalacenter/bloop/bloop` is failing on Mac OS Catalina  with

Full output:
[code]

[2020-05-11 11:22] jvican commented on #1275
This is caused by some changes I'm doing to the installer. I'm working on this, you should be able to install bloop in 30 minutes.

[2020-05-11 12:57] jvican commented on #1275
This is fixed now @aywengo :+1:

[2020-05-11 12:57] #1275 closed

[2020-05-11 13:01] agilesteel commented on #1200
The button which expands the universal installation section on the webpage now says `coursier` however the installation information still describes the python based installation.

[2020-05-11 13:11] aywengo commented on #1275
Thank you very much @jvican !

[2020-05-11 15:25] agilesteel commented on #1200
Never mind. It's fixed now.

[2020-05-11 22:47] danking opened #1276 "Unexpected error when compiling root after upgrading to 1.4.0"
I killed the bloop process listed by `ps aux | grep bloop`. I removed the `.bloop` folder. I ran `sbt bloopInstall` on a project that otherwise works with `sbt` and then I asked bloop to compile the project and got this error message.

[code]

How can I get more detailed information? I don't know what `--debug` does but I couldn't get it to work. `--verbose` doesn't seem to help. The project itsel

[2020-05-11 23:34] davesmith00000 commented on #1276
Additional information.

I'm getting the same error when I try a CLI bloop compile with `1.4.0`.
[code]
Not just on root but on a whole host of projects.

Downgrading* the bloop server version from `1.4.0` to `1.4.0-RC3` "fixes" normal compilation but test compiles continue to fail as above. Downgrade to `1.4.0-RC1` and everything is working again, perfectly.

In my case, this is true for both SBT

[2020-05-12 08:06] Duhemm commented on #1276
I ran into a similar issue. Wiping out my project's `.bloop` and re-creating the configuration files fixed the problem for me.

[2020-05-12 08:11] jvican commented on #1276
I recommended in gitter to run `bloop exit` as well, it hasn't worked for some folks but for others it has. I don't know why this issue has happened now. We've been testing all changes exhaustively locally. I don't think there's a code change made between 1.4.0 and 1.4.0-RC3, so I'm wondering if this is just a spurious issue.

[2020-05-12 08:15] jvican commented on #1272
Thanks for reporting @kubukoz! Any idea what could be going on here @smarter?

[2020-05-12 08:23] jvican commented on #1274
Thanks for reporting @eanderson13. I don't know why this is happening. It might be because sbt is doing the `index.html` generation itself or calling some scalatest logic to do it? Bloop doesn't do that. We do generate an `ExampleSpec.html`.

![Screen Shot 2020-05-12 at 10 20 21](https://user-images.githubusercontent.com/2462974/81659649-32d42780-943a-11ea-80ef-96a2fe353cef.png)

I can't dig into

[2020-05-12 08:32] davesmith00000 commented on #1276
Just for completeness:
@Duhemm I have tried that but the problem remains.
@jvican 1.4.0-RC3 didn't seem to work for me either, only 1.4.0-RC1 works as expected - I don't know if that helps. Was there an RC2 I could test for you?

[2020-05-12 08:43] jvican commented on #1276
Sorry, can you confirm you have run `bloop exit`, you have removed `$CWD/.bloop` and then you run `bloop about` and the issue remains? `bloop about` should print "bloop 1.4.0". I just want to be 100% sure.

There are only two changes I have not tested locally in my machine before cutting 1.4.0: upgrading to the latest Coursier RC and https://github.com/scalacenter/bloop/pull/1262. I wonder if this

[2020-05-12 09:21] davesmith00000 commented on #1276
No worries! :-)

So just for you, I have now:

- Put my machine back into a broken state with `1.4.0`, checked both editor wasn't responding and that I couldn't `bloop compile <project>`.
- `bloop exit`
- `rm -fr .bloop/`
- `rm -fr .metals/`
- `bloop about` (starts up bloop again "let's fire one...")
- `bloop compile <project>` fails due to lack of project files
- `sbt bloopInstall` to generate
-

[2020-05-12 11:08] jvican commented on #1276
@davesmith00000 Can you try with `1.4.0-RC1-229-b7c15aa9`? Also, what bloop version is your sbt project using? Have you upgraded `sbt-bloop`? What happens if you do?

[2020-05-12 11:40] jvican commented on #1276
Alright, seems like the coursier upgrade is the reason causing this error. I'm reverting that upgrade in https://github.com/scalacenter/bloop/pull/1277 and will cut a release tonight.

In the meanwhile, for those wanting to try 1.4.0 out, I recommend following these instructions:

- Checkout https://github.com/scalacenter/bloop/pull/1277
- Run `sbt install`
- Install bloop via the brew, arch or th

[2020-05-12 11:41] jvican commented on #1276
If nobody wants to build bloop locally, you can use `1.4.0-RC1-237-80d969bb` which it's also a good version very close to the end product of 1.4.0. Remember to upgrade `sbt-bloop` as well.

[2020-05-12 12:20] davesmith00000 commented on #1276
@jvican Thank you very much for looking into this. I can confirm that both those versions work:

You asked me to test, and it does work.
`1.4.0-RC1-229-b7c15aa9`

Your recommendation, also does appear to work just fine.
`1.4.0-RC1-237-80d969bb`

I'm using the same `sbt-bloop` version as the bloop server in all cases.

[2020-05-12 14:08] danking commented on #1276
Wow, this was a much faster response than I anticipated! Thank you all, particularly @jvican!

I cloned sbt, checked out that branch, ran `git submodule init`, and ran `sbt install`. I think I ran into this issue: https://github.com/sbt/sbt/issues/4857. I copied the output to the end of this post. I tried adding `sbtPlugin := true` to both `sbtBloop10` and `sbtBloop10Shaded`. The version of SBT I

[2020-05-12 18:36] smarter commented on #1272
No idea.

[2020-05-13 00:51] eanderson13 commented on #1274
I explored some of the other options ScalaTest supplies for running tests, and found that both their native runner and the IntelliJ plugin both generate index.html.
I updated the test project to demonstrate the native runner and the screenshot below shows the IntelliJ configuration used.
<img width="723" alt="intellij-scalatest" src="https://user-images.githubusercontent.com/6733038/81759237-04c20

[2020-05-13 01:11] eanderson13 commented on #1274
I happened across this note in the ScalaTest docs, which I'm guessing is what's missing: https://github.com/scalatest/scalatest/blob/master/scalatest/src/main/scala/org/scalatest/tools/Framework.scala#L116-L119

[2020-05-15 09:18] Duhemm opened #1279 "Add support for resources globs"
Bloop supports globs for source files since #1176.

The same should be done for resources.

[2020-05-15 09:59] jvican commented on #1279
:+1: In fact, we don't support resource file watching at all, so it should be implemented.

[2020-05-15 12:15] jvican commented on #1276
Thanks for that information @danking and thank you everyone who chimed in. I've just released v1.4.1 which should have this issue fixed. The conclusion is that 1.4.0 is not working for Java 8 users, but it is working of Java 11 users. This error was caused by an upgrade in GraalVM version which changed its default from Java 8 to Java 11. As a result, our build process released our artifacts with J

[2020-05-15 12:15] #1276 closed

[2020-05-15 13:25] tgodzik opened #1280 "multi-jvm source directory not added to configuration"
sbt-bloop does not recognise multi-jvm sources when using https://doc.akka.io/docs/akka/current/multi-jvm-testing.html.

**To Reproduce**
Steps to reproduce the behavior:

1. Add multi-jvm plugin in build.sbt
2. Enable MultiJvm plugin for one of the sbt module
3. Add scala file in multi-jvm directory
4. The file will not be compiled

I suspect this has something to do with the way those sources ar

[2020-05-15 13:26] tgodzik commented on #1280
I am not 100% sure how the plugin works, so this might actually need to fixed inside multi-jvm plugin.

[2020-05-15 18:08] Arthurm1 opened #1281 "Bloop won't install via Scoop"
Bloop v1.4.1 gives an error when installing on Windows using Scoop...

[code]

Coursier looks like it's merging 2 directory names together.  Trying to call it directly gives the same error (although I'm not sure if this is how `--channel` is supposed to be specified)...
[code]

It works if I remove channel info and run...
[code]
I'm using coursier 2.0.0-RC6-16

Also - the shim isn't setup. I think

[2020-05-16 11:51] Arthurm1 commented on #1281
Temporary workaround...

Uninstall Bloop if you have installed it...
`scoop uninstall bloop`

Add the Bloop bucket
`scoop bucket add bloop-stable https://github.com/scalacenter/scoop-bloop.git`

Edit the bucket file:  `%home%/scoop/buckets/bloop-stable/bloop.json` (or wherever you installed Scoop) to be...
[code]

install bloop:
`scoop install bloop`

[2020-05-17 20:57] TheElectronWill opened #1283 "bloop --version is broken"
Expected: should print the same thing as `bloop about` (which works)
Actual:
[code]

[2020-05-17 21:23] TheElectronWill commented on #1267
PR #1284 should make the package work again!
Sorry I couldn't fully test it before the release.

[2020-05-18 00:41] marcin-rzeznicki commented on #1267
@TheElectronWill  You mention in the PR that the use of systemd service was questionable. It's an interesting note - using a service manager to run a service seems to be a very logical choice. Care to elaborate?

[2020-05-18 08:02] #1274 closed

[2020-05-18 08:06] jvican commented on #1283
Thanks for reporting @TheElectronWill! I think this works as expected. If `bloop --version` ever worked in the old CLI, that is no longer the case with bloopgun. There are good use cases for supporting `--version`, especially for scripting purposes. If somebody needs this command, they can open a PR and implement this feature in two steps: adding a `version` command in bloop and then changing `blo

[2020-05-18 08:08] jvican commented on #1280
Thanks for reporting @tgodzik! We probably need to support these directories in sbt-bloop itself. Handling different configurations is probably the hairiest part of the sbt-bloop code, so it should be done with care. However, we should clearly define what are the semantics of these directories.

[2020-05-18 08:12] jvican commented on #1281
Hey @Arthurm1 thanks for reporting! Would you mind opening a PR with those changes in scoop-bloop so that it can be consumed right away and following up to that change with a PR in bloop itself, so that the next release contains these changes?

[2020-05-18 09:40] tgodzik commented on #1280
`Please note that by default MultiJvm test sources are located in src/multi-jvm/..., and not in src/test/....`

Seems that it's only a single additional directory that will live alongside the existing ones.

[2020-05-18 18:31] Arthurm1 commented on #1281
@jvican please merge scalacenter/scoop-bloop#7 if you're happy with it

[2020-05-18 21:45] TheDaemoness opened #1286 "Unexpected resolution error when using Bloop on Gradle 6.1"
To produce this issue, I initialized an empty Gradle 6.1 project with an empty `settings.gradle`, then followed the instructions [here](https://scalacenter.github.io/bloop/docs/build-tools/gradle/), resulting in a `build.gradle` containing the following:

[code]
When attempting to run `./gradlew tasks`, what follows is an attempt to fetch `gradle-core:5.0`, which fails:
[code]
There is a fix which

[2020-05-19 18:26] heksesang commented on #1281
So, it seems to not like it when you start the directory path with a drive letter, and it seems to not like that the file is called `bloop-coursier.json`. When you specify to install the app `bloop`, it looks for `bloop.json`, and for some reason if you have `C:\` at the start, it gets confused and doesn't understand it's a Windows path. Doing `\Users\...\bloop`, just dropping the `C:\` seems to w

[2020-05-21 14:57] davidmlw opened #1287 "Can't install bloop in Alpine with coursier install"
[code]

[2020-05-21 17:10] davidmlw opened #1288 "How do I pass arguments to scalatest main runner in v1.4.1"
For some reason, I need run org.scalatest.tools.Runner from bloop run. In bloop 1.4.0-RC1, it is working:

`bloop run --projects MyProject --main org.scalatest.tools.Runner --args -oF --args -s --args MySpec --args -Dkey=value --args -Dkey2=value2`

But in bloop 1.4.1, the `--args -Dkey=value --args -Dkey2=value2` does not pass the key values to the runner. I tried this, not working:

`bloop run -

[2020-05-22 10:23] jvican commented on #1288
Thanks for reporting. This is addressed in the Getting Started guide, you need to add those arguments after `--`. Please see https://scalacenter.github.io/bloop/docs/cli/tutorial#pass-jvm-arguments-to-run and https://scalacenter.github.io/bloop/docs/cli/tutorial#pass-test-arguments-to-test

[2020-05-22 10:24] #1288 closed

[2020-05-22 10:26] jvican commented on #1287
Thanks for reporting. You're most likely not using coursier install correctly. I don't think the installation directory should be `/usr/bin`. You might want to report this in coursier.

[2020-05-22 10:26] #1287 closed

[2020-05-22 10:28] jvican commented on #1286
@TheDaemoness Thank you, this is a great ticket. Yes, it looks like that workaround you're using should not be needed 🤔 I'll look into this, I think the problem is that gradle-core should be a runtime dependency and it isn't.

[2020-05-22 10:34] tgodzik opened #1289 "Wrong boot classpath when scala-library:0.23 is included"
Dotty is publishing an additional empty jar scala-library:0.23, which is due to the fact that some tool would break without it. I am not exactly sure if it's the right approach, because it just hides any issues that should actually be fixed.

This also causes Bloop to fail and I think this is due to the fact that it is later used as bootclasspath.

[code]

This is reproducible using a mill build:

[2020-05-22 10:42] tgodzik commented on #1289
Also created an issue in Dotty to stop publishing that empty jar: https://github.com/lampepfl/dotty/issues/9024

[2020-05-22 12:48] alexarchambault commented on #1287
The problem seems to originate from the bloop binary itself:
[code]

[2020-05-22 12:49] alexarchambault commented on #1287
This probably general to GraalVM native-image executables. I'm getting the same error with the native coursier launcher:
[code]

[2020-05-22 12:50] alexarchambault commented on #1287
Possibly some libc issues, which are common from alpine.

[2020-05-22 13:21] davidmlw commented on #1287
`coursier bootstrap bloop --standalone -o bloop`

solved.

[2020-05-22 13:42] davidmlw commented on #1288
I tried -- solution. I am pretty sure that 1.4.1 and 1.4.0-RC1 have different behavior. I also find that, I run 'bloop server' with 1.4.1, and run 'bloop run --projects MyProject --main org.scalatest.tools.Runner -- ......` with 1.4.1, not working, with 1.4.0-RC1, working.

The behavior is the "-Dkey=value" are not passed in, but others are right.

[2020-05-23 16:09] Arthurm1 commented on #1281
Thanks @heksesang - I think you're right

I've raised an issue coursier/coursier#1741

[2020-05-25 15:59] user753 opened #1290 "Resolving ch.epfl.scala:bloop-frontend_2.12:1.4.1 timeout"
I am using Windows 10 and I am behind the proxy
I installed bloop with coursier
but when I try to use bloop compile
[code]
Where can I put the proxy settings?

[2020-05-26 03:07] davidmlw commented on #724
I would suggest a command option to setup the working directory. In some cases there are senerio to set the working directory to the one that holds `.bloop`.
[code]

[code]

[2020-05-27 03:46] davidmlw opened #1291 "What will happen when submit multi run jobs from bloop cli?"
A well prepared workspace with multiple projects. If the following command is typed mannually in a terminal, it is passed.

[code]

But what will happen if multiple run job submitted simultaneously by a program? Could they be locked by each other? Is bloop designed to be used in this way? Is Bloop an acctually a Job Scheduler too?

[code]

[2020-05-27 08:02] davidmlw opened #1292 "How to start bloop server in background and know it has been started?"
In a script, one may need to start bloop server, bloop work, work done, bloop stop server, leave. like:

[code]
While this is not working, because line 1 will not quit. But if use `bloop server &` then it has race problem with line 2, because line 1 takes some time to start the server.

Is there some option or shell tips to start bloop server, make sure it has been started, and submit jobs to the

[2020-05-27 08:54] Duhemm commented on #1292
You don't need to run `bloop server` beforehand. If a server is already available on Bloop's default port (`8212`), then this instance will be used, otherwise a new instance will be started.

If you need to be sure to use a new Bloop server for you run, then you can invoke Bloop with `--nailgun-port <my-port>`.

To kill the server, use `bloop exit`.

This should give you the behavior you're lookin

[2020-05-27 08:54] #1292 closed

[2020-05-27 09:09] Duhemm commented on #1290
Hi @user753, thanks for the report.

The first time you start Bloop for a given version, `bloop` will be resolving the server using Coursier. You can configure the proxy by passing `-Dhttps.proxyHost=https://foobar.com -Dhttps.proxyPort=3123` to you call to `bloop`:

[code]

It shouldn't be necessary to pass these flags when you're using a Bloop versions that is already cached on your machine. We'

[2020-05-27 09:09] #1290 closed

[2020-05-27 09:12] Duhemm opened #1293 "Document how to start Bloop server from behind a proxy"
A user asked how to start Bloop server from behind a proxy. This should be documented.

See #1290

[2020-05-27 09:18] tgodzik commented on #1293
We did add some docs here: https://scalameta.org/metals/docs/build-tools/proxy.html

Might be useful in adding the Bloop docs.

[2020-05-28 08:30] #1291 closed

[2020-05-28 12:23] davidmlw commented on #1292
Nice!

[2020-05-28 12:29] davidmlw opened #1294 "How to pass --full-stacktrace to java?"
`bloop run -p project -m main args` is fast. But when there is an error, it only prints a short stacktrace and it saying to get a full stack trace, "rerun with --full-stacktrace if you wish to see..."

`--full-stacktrace` should be an option to java, and I refer the document "-J--full-stacktrace", it is rejected either by bloop, or (of course) by main.

I googled and didn't find the answer.

[2020-05-28 13:13] olafurpg opened #1295 "Publish Bloop launcher for Scala 2.13"
Currently, the Bloop launcher is only available for Scala 2.12. It would be nice if the launcher was also available for 2.13 so that downstream applications like Metals can upgrade to 2.13 even if the Bloop server runs on 2.12.

[2020-05-28 16:46] olafurpg opened #1296 "AssertionError: expected protocol to be 'file' or empty in URI"
While running `bloop compile` with v1.4.1 I got the following error that I have never seen before 🤔

[code]

I'm still working on minimizing a reproduction but wanted to start by opening a ticket with the stack trace. Any idea what might be causing this issue?

The jar from the exception is here [response.jar](https://github.com/scalacenter/bloop/files/4697087/response.zip) (rename to `response.ja

[2020-05-31 16:21] imcharsi commented on #1242
Hi.

I'm trying to use VS Code + Metals + Bloop + DCEVM and I think that I found some problem.

Let me explain about it.

At first, Below is example `bsp.trace.json` when **DCEVM** was used.
[code]
And Below is another `bsp.trace.json` when **Oracle JVM** was used.
[code]
And here is somewhere I guess that it may be related to this.

https://github.com/scalacenter/bloop/blob/681434ff9bb4153873050d

[2020-06-01 10:46] user753 opened #1298 "Couldn't retrieve module ch.epfl.scala:compiler-bridge_2.13:1.3.0-M4+42-5daa8ed7:compile"
about
[code]
How to fix it?

[2020-06-02 11:13] jvican commented on #1294
Hey @davidmlw, thanks for reporting. Just to clarify, does `bloop run -p project -m main args -- -J--full-stacktrace` not work? Note that it's specified after `--`.

[2020-06-02 11:16] jvican commented on #1296
Thanks for reporting! I have never seen this issue, looks like it's being thrown in the sbt-zinc universe. I'm wondering if sbt needs to be changed to process the `jar:file` URI protocol correctly. Is this jar specified only in the classpath of a project?

[2020-06-02 11:21] jvican commented on #1298
Thanks for reporting. Are you behind a proxy (check [this](https://github.com/scalacenter/bloop/issues/1293) if you are)? Are you getting the error from the CLI or through another tools such as Metals?

It would be good you share some reproduction steps to make sense of your error.

[2020-06-02 11:48] jvican commented on #1295
Thanks for the feature request. How urgent is this?

[2020-06-02 12:23] olafurpg commented on #1295
It's not urgent at all. I just wanted to open an issue to track this since I saw there wasn't any related open ticket. Feel free to close if you prefer, I will work on this myself if it becomes urgent.

[2020-06-02 13:13] user753 commented on #1298
Yes, I have added proxy settings to `.jvmopts` and I also have tried to run bloop with `-Dhttps.proxyHost` parameters. Is there any simple way to check if bloop has a correct proxy settings?

[code]

[2020-06-02 13:59] jvican commented on #1298
Have you exited the bloop server after those changes? Otherwise, the current server won't pick them up. Make sure that you do `bloop exit` and then `bloop about`. `bloop about` should log that a new server is being started.

[2020-06-02 14:31] user753 commented on #1298
Thanks. AFter restart the first time I run `bloop compile` it shows full stack trace for the error instead of only 'Couldn't retrieve module ch.epfl.scala:compiler-bridge_2.13:1.3.0-M4+42-5daa8ed7:compile` so I was be able to figure out what is the problem (some error with proxy configuration)

I think is would be helpful if bloop shows full stack trace for the errors every time.

[2020-06-02 14:31] #1298 closed

[2020-06-02 14:37] jvican commented on #1298
I agree, this is some area where I'd like us to improve. Thanks.

[2020-06-02 14:38] #1286 closed

[2020-06-02 17:15] fooblahblah opened #1301 "Bloop console exits with NoSuchMethodError"
I'm using bloop-1.4.1 (installed via Coursier) and receiving an error when trying to issue `bloop console <project>`.

[code]
[code]

[2020-06-05 11:12] MaximeKjaer opened #1304 "Bloop link does not work for Scala.js projects without a main class"
# Bug description

`bloop link` is not able to link Scala.js projects without a main class. It reports the following error:

[code]

However, Scala.js projects do not always need to have a main class: for instance, a valid use-case is to have no main class, but have methods with `@JSExport` annotations in order to export functionality to JavaScript code.

# Reproduction

I created a simple project

[2020-06-06 14:41] arosien commented on #1301
I'm getting this too!

[code]

[2020-06-06 15:01] arosien commented on #1301
Ah, https://github.com/lihaoyi/Ammonite/issues/1014 has a clue. There was a reference to kind-projector in my `~/.amm/predef/sc`, and `kind-projector` was using a fixed scala version `import $plugin.$ivy.`org.typelevel:kind-projector_2.12.11:0.11.0` that wasn't compatible with the scala 2.13 ammonite being run by bloop.

@fooblahblah maybe there is something like this in your `predef.sc`?

[2020-06-07 03:46] imcharsi commented on #1242
Hi.

I tried this in Ubuntu and there is no problem.

So, I opened the `bsp.trace.json` file and the related parts are below.
[code]

Maybe the reason is single `LF(0x0A)` instead of `CR(0x13)+LF(0x0A)` in case of Windows?

[2020-06-08 00:29] jvican commented on #1304
Thanks for the descriptive bug report!

[2020-06-08 12:20] fooblahblah commented on #1301
@arosien Thanks for the clue. I do have some code in my `~/.amm/predef.sc` so that might be a good starting point for debugging. I don't recall any refs to kind-projector though.

[2020-06-08 14:26] fooblahblah commented on #1301
Commented my `~/.ammonite/predef.sc` and still get the same error.

I'm using Scala 2.13.1 BTW.

[2020-06-10 15:09] MaximeKjaer opened #1308 "Support Scala.js 1.1.0"
Bloop is currently able to compile and link Scala.js 0.6.x and 1.0.x, but not 1.1.0. It fails with the following error:

[code]

Based on the [release notes](https://www.scala-js.org/news/2020/05/18/announcing-scalajs-1.1.0/) of 1.1.0, I think Scala.js 1.1.0 could largely reuse the Scala.js 1.0 bridge.

[2020-06-10 17:32] MaximeKjaer opened #1309 "Scala.js module kinds are not being generated by sbt-bloop with Scala.js 1.x"
## Bug description

Running `sbt bloopInstall` on a Scala.js 1.0.1 project generates a Bloop config that has `platform.kind` set to `none`, regardless of the module kind in the sbt config.

## Reproduction

I created a simple project with a small `build.sbt` config:

[code]

The `project/plugins.sbt` file adds the Scala.js 1.0.1 sbt plugin:

[code]

Running `sbt bloopInstall` produces `.bloop/root

[2020-06-11 09:41] lloydmeta opened #1311 "Undetected Gradle test dependencies are ignored"
Given a Gradle project setup with subprojects:

- `a`
- `b`, which depends on `a.test` artefacts

The `b-test.json` bloop file generated from `bloopInstall` does not take the `a.test`dependency  into account (`a-test` not a dependency and its output dir is not on the classpath). This means `bloop test b` does not work, instead failing with

[code]

I've put up a basic repro here with more details

[2020-06-11 16:23] Arthurm1 commented on #1311
We have handling for dependencies on test sourcesets but it looks like `tasks.named` produces a LazyPublishArchive wrapper around the ArchivePublishArtifact (which is what we check for).

I'll try and add handling for this wrapper sometime next week.

For now a workaround is to change `a/build.gradle.kts` artifacts section from...
[code]
to
[code]

[2020-06-12 01:13] lloydmeta commented on #1311
@Arthurm1 I gave that a go, and it added `a-test` to the list of `b` dependencies, but if we do that, the generated `b-test.json` is now missing `a` (non-test) from its dependencies as well as its classpaths.

As a result, if we reference `a` non-test classes from `b` test, it breaks. This "just works" in Gradle.

The file after using `getByName`:

[code]

[2020-06-12 08:27] lloydmeta opened #1312 "Gradle plugin doesn't handle `scalaCompilerPlugins`"
When you use `scalaCompilerPlugins` to add a scalac plugin as per [the docs](https://docs.gradle.org/current/userguide/scala_plugin.html#sec:scala_compiler_plugins), it doesn't appear to work or get picked up by the bloop definition from `bloopInstall`.

For instance, I have a project where I have `-Xfatal-warnings` enabled and added the [`silencer`](https://github.com/ghik/silencer) plugin to sel

[2020-06-12 09:47] olafurpg commented on #1312
Thank you for reporting! The silencer issue may be related to https://github.com/scalameta/scalameta/pull/2065 instead of Bloop. If you open the `.bloop/*.json` fields, can you check if the silencer plugin is enabled via `-Xplugin:/path/to/silencer.jar` in the Scala compiler options field?

[2020-06-12 10:14] biboudis commented on #1169
This didn't work for me when using VSCode behind a proxy. I get the same error. I tried setting `.jvmopts` both inside the home directory .bloop and on my projects `.bloop` directory.

I get the same error as @mangosmoothie's (version v1.4.0-RC1-229-b7c15aa9)

[2020-06-12 11:08] jvican commented on #1169
Great 👌 happy it’s fixed after the restart.

[2020-06-12 12:14] Arthurm1 commented on #1312
I don't think we handle the `scalaCompilerPlugins` option.  I'll look to add it.

For now you can do something like...
[code]

[2020-06-12 13:30] lloydmeta commented on #1312
@Arthurm1 indeed; just confirmed that this works.

[2020-06-12 14:14] lloydmeta commented on #1311
I was using `extendsFrom(configurations.testRuntime.get())` in `a` , and now that I've switched to `extendsFrom(configurations.testImplementation.get())` instead (since it's [now not recommended](https://docs.gradle.org/current/userguide/java_library_plugin.html))

After that, I get the same inability to resolve `a` files from `b` tests from Gradle, so I've updated the demo project's `b` to explic

[2020-06-12 14:38] Arthurm1 commented on #1311
Looks like a bug in resolving to the correct sourceset - I'll look to fix.

For now you should be able to add `testImplementation(project(":a"))` as a workaround.

FYI - transitive project dependencies will never appear in the `dependencies` section, only the `classpath` section

[2020-06-14 23:41] jvican commented on #1308
Is Scala.js 1.1.0 not binary compatible with Scala.js 1.0? If they are both binary compatible, we should just upgrade to Scala.js 1.1.0.

[2020-06-14 23:43] jvican commented on #1308
I've just checked the release notes as they have the answer to my question. I think it is safe to just upgrade the Scala.js version in the 1.x bridge series.

[2020-06-15 02:44] lloydmeta commented on #1311
@Arthurm1 I gave that a try, but I think that causes the bloop plugin to no longer resolve the _test_ dependencies 😕

Works fine w/ Gradle

[code]

Bloop install finishes

[code]

`bloop test b` fails

[code]

Turns out `a-test` is no longer in the class path for `b-test.json`...

[code]

[2020-06-15 03:27] lloydmeta commented on #1311
Another attempt.. I learnt about the `java-library` plugin that allows users to use the `api` dependency declaration to export transitive dependencies and thought I'd give that a shot (code at https://github.com/lloydmeta/bloop-gradle-subprojects/tree/two-projects-getByNamed-with-api)

I'm not sure if it's related to the same bug, but it revealed a possible hesienbug/race-condition whereby `b-test

[2020-06-17 07:23] mnd999 opened #1315 "Maven plugin fails at bloopInstall"
When running against a multimodule project, some modules succeed, and then I get:

[code]
Maven version 3.6.3  Java version: 11.0.7

I ran manually to make sure I had a recent version:
[code]

[2020-06-17 09:27] sjrd commented on #1308
At least it won't break anything that is not already broken today.

But the way bloop handles its dependency on the Scala.js linker has serious flaws already now:
* It should not depend statically on a version of scalajs-linker. It can statically depend on a version of scalajs-linker-interface, but should load the correct scalajs-linker depending on the `scalaJSVersion` used by the project. Proble

[2020-06-17 12:18] Duhemm commented on #1296
This is caused by javac reporting the following warning:

[code]

The error is indeed attached to a classfile inside a JAR on my classpath. This is fixed in upstream Zinc in https://github.com/sbt/zinc/commit/db028c338af528876e24fc8d6214e24f7d19d707#diff-8c308205e560ef07b6e6b8e73e438e5dR109-R123

[2020-06-17 14:32] olafurpg commented on #1296
Nice job tracking that down! Do I understand correctly this would be fixed by rebasing on top of the latest changes in zinc 1.4.0-M1?

[2020-06-17 14:42] Duhemm commented on #1296
Yes, I believe so.

[2020-06-17 16:27] mnd999 commented on #1315
This https://github.com/scalacenter/bloop/pull/1317 seems to make it run, I have no idea how correct it is though:

[2020-06-18 08:31] Duhemm commented on #1296
I cherry-picked the relevant parts of the commit I linked above to scalacenter/zinc#13.

I built it manually, and can confirm that this fixes our issue 🎉

[2020-06-18 09:13] jvican commented on #1308
Was this option possible in 0.6.x and the early 1.x RC or is this something new? Is the `scalajs-linker-interface` missing any API/feature available in the scalajs-linker artifact? I'm totally fine doing this. I suspect we're using `scalajs-linker` in Scala.js 1.0 because we were not aware of the linker interface artifact.

All of the linking infrastructure we have in place assumes we work against

[2020-06-18 09:24] #1312 closed

[2020-06-18 09:24] #1311 closed

[2020-06-18 09:34] jvican commented on #1315
Fixed by https://github.com/scalacenter/bloop/pull/1317

[2020-06-18 09:34] #1315 closed

[2020-06-18 09:35] jvican commented on #1294
Closing because I think that answers your question, feel free to reopen if it doesn't.

[2020-06-18 09:35] #1294 closed

[2020-06-18 09:50] sjrd commented on #1308
No that wasn't possible in 0.6.x. And in fact I realized since yesterday that it is not possible either in 1.x (I've opened https://github.com/scala-js/scala-js/pull/4087 for discussion upstream). So in fact the only way to make this work is to classload `scalajs-linker` and all its transitive dependencies (including scalajs-linker-interface) then reflectively call a few things from there.

Hum, I

[2020-06-18 10:18] jvican commented on #1308
Yeah, agreed :+1: I tried to say that our infra allows us to do this, and for some reason, I thought that's what we're doing for Scala Native, but after double-checking now it isn't the case: we depend on a static version of the Scala Native and Scala.js linker. I would love it if this changes. Ideally, we would avoid resolving the scalajs linker artifacts ourselves and get them from the build too

[2020-06-19 07:45] #1296 closed

[2020-06-19 09:15] olafurpg opened #1320 "Releases are failing in CI"
From https://github.com/scalacenter/bloop/runs/787304809?check_suite_focus=true#step:7:988
[code]

@jvican Any idea what might be causing this issue?

[2020-06-19 09:37] jvican commented on #1320
No idea, I was trying to fix that last night. Just sbt not finding the scope when it should. I wonder if we should rerun that as a command instead of a task.

In the meanwhile it should be possible to get the offending task outside of the task dyn and force its evaluation. I can’t do this now but if someone does a PR we can merge and go ahead with the release.

[2020-06-19 12:43] mnd999 commented on #1136
I think my very hacky https://github.com/scalacenter/bloop/pull/1317 fixed this.

[2020-06-19 13:01] Duhemm commented on #1320
I just opened #1321 which tries to fix it. I don't understand why sbt-sonatype defines a TaskKey called `sonatypeReleaseBundle`, which is apparently left unbound. Hopefully this should be fixed by calling the command `sonatypeReleaseBundle` instead, which apparently is what was being done 5 weeks ago.

[2020-06-19 13:06] #1136 closed

[2020-06-19 13:28] #1320 closed

[2020-06-19 14:56] mnd999 commented on #519
This branch supports Java modules, and attempts to read the Javac args from there as well but the second part doesn't seem to work.

https://github.com/mnd999/bloop/tree/generate-maven-java-modules

[2020-06-19 15:11] mnd999 opened #1322 "--add-exports doesn't seem to work"
When I try to compile a module with some dubious module usage, I get errors in bloom:

[code]
If I compile the same module with Maven it's fine.

The bloop config for this was generated using my branch https://github.com/mnd999/bloop/tree/generate-maven-java-modules as bloop won't support this out of the box.

[2020-06-19 15:12] mnd999 commented on #1322
Module config:
[code]

[2020-06-19 16:59] jvican commented on #1322
Thanks for reporting! It's the first time I see that error.

I recommend you try to move a minimal example of your javac setup in Maven to a build tool like gradle or sbt and check the generated configuration file. Off the top of my head, I'm not sure what can be missing. The compile order you configure your project with might also matter here, try playing with it too.

[2020-06-20 07:08] mushtaq opened #1324 "Does not work with coursier managed Java"
Trying latest bloop 1.4.2, sbt 1.3.12, IntelliJ 2020.1.2 on MacOs catalina.

Loading in IntelliJ fails when it calls `bsp --protocol local --socket .....` because it can not find java executable.

I am using [coursier to manage Java](https://get-coursier.io/docs/cli-java). As described in the docs, JAVA_HOME is correctly set. So `java` command work as expected on Mac.

I think problem is is relate

[2020-06-20 10:56] jvican commented on #1324
Thanks for reporting! I agree this would be nice. Is this something you could contribute to the project?

[2020-06-20 13:17] mushtaq commented on #1324
Maybe eventually, not right now.

[2020-06-21 09:52] mnd999 commented on #1322
I added more stack trace, I don't think it's Maven specific, running javac with the bloop generated CLI manually seems to work but the bloop / zinc compiler seems to trip up when it hits the bit of code that requires the add exports.
At this point, I've only figured out how to build the Maven plugin so I don't think I can take this any further quickly.

[2020-06-22 08:46] jvican commented on #1322
I don't think zinc has ever been tested with this javac option so I'm not surprised it doesn't work. Maybe Maven is doing something special here to make this option work. I don't have the time to have at this but if I was to keep investigating I would look at the maven-scala plugin and look if they are doing something there to make this option, or the scala-java compile integration, work.

[2020-06-22 16:50] fooblahblah commented on #1301
Same issue with bloop-1.4.2

[2020-06-22 17:09] arosien commented on #1301
@fooblahblah maybe remove your `~/.ammonite/cache`? Just a guess.

[2020-06-22 17:10] fooblahblah commented on #1301
@arosien Thanks for keeping tabs on this one, but removing `~/.ammonite/cache` did not help.

[2020-06-22 17:11] fooblahblah commented on #1301
I'm working around this for now just using Ammonite REPL from SBT, but the bloop integration was much quicker when it used to work.

[2020-06-23 23:55] jvican commented on #1301
I don't have the time to work on this, but help on this one is highly welcome.

[2020-06-24 06:18] jeffrey-aguilera opened #1326 "Obtained setrlimit to increase file descriptor limit failed, errno 22"
Description is error reported when running bloop 1.4.2 on macos Catalina 10.15.5

[2020-06-24 06:37] davidmlw commented on #1294
I tried:
`bloop run --projects progect --main main -- mainArg1 mainArg2 -J--full-stacktrace`
`bloop run --projects progect --main main -- mainArg1 mainArg2 -- -J--full-stacktrace`
`bloop run --projects progect  -J--full-stacktrace --main main -- mainArg1 mainArg2`
`bloop run --projects progect  --main main -- -J--full-stacktrace -- mainArg1 mainArg2`
`bloop run --projects progect --skip-jargs -J--

[2020-06-24 09:55] davidmlw commented on #1294
I have also tried to invoke main directly from java -cp ....., I still met same message, requiring rerun with "--full-stacktrace". And I still  have no idea where to put "--full-stacktrace" even directly from command line java.

[2020-06-24 09:57] jvican commented on #1294
Is that option for the java command or the javac compiler? If it is for the compiler you need to add it to the options field of the java object in the configuration file.

[2020-06-25 14:43] fooblahblah commented on #1301
I've narrowed this down a bit. I've shortened the command generated by `bloop console` removing the `--extra-jars` args, while reproducing the issue. Then I found that dropping the `--scala-version 2.13.2` arg seems to work.

Not sure how to proceed in terms of a patch, but hopefully someone else can do that easily.

[code]

[2020-06-25 15:18] fooblahblah commented on #1301
I submitted PR #1329.

[2020-06-25 15:32] #1301 closed

[2020-06-26 11:14] tgodzik opened #1330 "Bloop not compiling with Scala 2.13.3"
It's seems it's unable to compile the compiler bridge:
[code]

anyone knows what might be going on? Do we need to just update zinc?

[2020-06-26 14:47] jvican commented on #1330
Looks like 2.13.3 broke this API compared to 2.13.2. I'll need to publish a specific version of the compiler bridge for Scala version greater than 2.13.3. I can look into this over the weekend.

[2020-06-26 14:50] jvican commented on #1326
There are literally so many things that could be happening here... This ticket lacks version information and context and it's not actionable for the maintainers of the project. It's not even clear to me this is caused by Bloop itself. I'm closing, feel free to reopen if you can guarantee this is an error caused by bloop and can provide the context needed for people to look into this.

[2020-06-26 14:50] #1326 closed

[2020-06-26 15:01] jvican commented on #1330
Commit message that has broken this https://github.com/scala/scala/commit/1c22f682614f991a527096ade981a50645e5c1bd

[2020-06-28 08:39] davidmlw commented on #1294
I compiled a jar and run the jar from Java directly. **So it is not a bloop issue, I think.** I googled and saw some similar questions, but it seems java does not have a simple solution for this.

[2020-06-29 18:58] gregghz commented on #1188
fwiw, i've hit this same issue on both a macos host and a linux host.

[2020-06-30 08:38] tgodzik commented on #1330
@jvican  Any luck with that? We could try to fix it on our side, but we could use some pointers on how to approach it.

[2020-06-30 10:14] jvican commented on #1330
Fixed in https://github.com/scalacenter/bloop/pull/1331

[2020-06-30 14:40] #1330 closed

[2020-06-30 19:56] jvican commented on #1322
@mnd999 I think what's going on here is that this option adds magic imports to Javac and therefore the Scala compiler that can compile Java signatures fails because it doesn't recognize this option. This is an error that should be reported upstream to scala/scala.

The reason why this works in Maven though is because Maven is compiling this module only with the Java compiler, thanks to java->scala

[2020-07-02 00:05] jeffrey-aguilera opened #1332 "bloop 1.4.3 reports version as 1.4.2"
[code]
but then
[code]

[2020-07-02 14:49] pityka commented on #1332
Had a similar symptom. Try to shut down the old bloop server which is likely still running.

[2020-07-03 01:01] lloydmeta opened #1333 "Implement standalone runner+installer wrapper script"
Just floating this idea out there; it might be nice to have a wrapper runner script like `gradlew` that auto downloads and installs Bloop and runs it.

[2020-07-03 15:08] mnd999 commented on #1322
@jvican I'm not convinced. I've added some detection and setting of the compile order to my branch https://github.com/mnd999/bloop/tree/generate-maven-java-modules and it doesn't seem to make much difference. Even in the log above, javac is getting invoked and completing successfully. It seems to be some other process coming in after that to do some analysis that seems to trip up. Maybe it is an u

[2020-07-04 18:51] ctataryn opened #1334 "Unexpected "discarded non-Unit value" warning from type inference"
I have the following code:

[code]

In VSCode, bloop highlights each function call in in yellow within the `if` statement and claims:

`discarded non-Unit value`

I know the code is really ugly, but it is valid as far as I can tell. Whatever branch of if statement is reached, that will be the return value of the function.

![image](https://user-images.githubusercontent.com/435719/86519097-1e3e5b00

[2020-07-06 16:01] olafurpg commented on #1334
Thank you for reporting! These warning are reported by the Scala compiler by respecting the compiler options that are defined in your `build.sbt`, Bloop only forwards them. Can you elaborate on what is your expected behavior?

[2020-07-07 11:14] lloydmeta commented on #61
I've been exploring `bloop` for a large-ish Gradle work project recently (hence all the noise), and this is one of those features that I miss from SBT.

[2020-07-07 13:32] ctataryn commented on #1334
@olafurpg I have the following scalac options in my build.sbt:

[code]

When I run `;clean;compile` from sbt I don't get a warning like the one stated in this issue.

The expected behaviour would be to not issue a warning because the functions in each branch of the if-statement renders a value which is not actually discarded (it should be the return value of the if statement, and thus the return v

[2020-07-07 21:45] jvican commented on #1332
Yes, this happens because you didn't shut down the bloop server.

[2020-07-07 21:45] #1332 closed

[2020-07-07 21:49] jvican commented on #1334
@ctataryn Thanks for reporting! Your issue might just be related to the incremental compiler. If you're not compiling the caller, which forces the return type to be non-unit, then the compiler might assume this returns a `Unit` and give you that warning. I don't see a way we can fix this in bloop itself, it's more of a compiler-specific thing.

Have you tried to run `bloop clean --propagate $YOUR_

[2020-07-07 21:52] jvican commented on #1333
Thanks for the question. You can achieve that with our launcher through coursier: `coursier launch ch.epfl.scala:bloopgun_2.12:latest.release -- projects` will launch bloop in the background, connect to it and run `projects`.

[2020-07-07 21:52] #1333 closed

[2020-07-07 21:54] jvican commented on #61
@lloydmeta Would be great if you can have a look at it and implement it. I feel like porting the implementation should be reasonably simple.

[2020-07-09 02:07] lloydmeta opened #1335 "Missing test frameworks for integration test projects"
### Problem

Gradle supports having integration-tests under a different source set with an accompanying task ([docs](https://docs.gradle.org/current/userguide/java_testing.html#sec:configuring_java_integration_tests)), but it seems like the [bloop Gradle plugin](https://scalacenter.github.io/bloop/setup#gradle) doesn't work with this, because the resulting bloop project definition lacks the `proje

[2020-07-09 10:16] Arthurm1 commented on #1335
Thanks for the extensive reproduction.

I'm not against adding test configs to all non-main projects as I think integration tests are an important use-case.

I'll have a look at whether we can make this more intelligent by maybe checking if Gradle `Test` tasks are associated with source sets and then setup test configs only for those projects - or something along these lines.

[2020-07-09 12:48] jvican commented on #1335
Great ticket, thanks for reporting!

Me neither. I think this should be fine because it's just a configuration tweak. It would be a different story if this meant that we add test jars to the classpath, which we don't do, it's something only gradle does.

[2020-07-09 12:50] jvican commented on #1334
Closing because I believe this is unrelated to bloop. Please feel free to reopen or comment when you can have a look at this

[2020-07-09 12:50] #1334 closed

[2020-07-12 09:08] Raffiki opened #1338 "Cannot find 'sourceDir' in class bloop.integrations.maven.BloopMojo"
Got the exact same as https://github.com/scalacenter/bloop/issues/508 when running `mvn ch.epfl.scala:maven-bloop_2.12:bloopInstall -X` :

[code]

[2020-07-15 00:01] DylanArnold commented on #1188
Same issue here. I think this could be because the server is listening on 127.0.0.1 but may need to listen on 0.0.0.0 for docker to port forward correctly.

I'm trying to change the listen address to test but haven't figured out how yet. Does anyone know how?

[2020-07-16 20:57] NoamShaish commented on #1338
same here. I have created a example [project](https://github.com/NoamShaish/blooptest)
```mvn clean package``` works fine
```mvn ch.epfl.scala:maven-bloop_2.12:bloopInstall``` fails:
```[ERROR] Failed to execute goal ch.epfl.scala:maven-bloop_2.12:1.4.3-3-2e49bd22:bloopInstall (default-cli) on project blooptest-scala: Unable to parse configuration of mojo ch.epfl.scala:maven-bloop_2.12:1.4.3-3-2e4

[2020-07-17 14:44] jvican commented on #1188
Yes, that's a good hint @DylanArnold, I think that's what's happening. Bloop decides the listening address that forwards to Nailgun [here](https://github.com/scalacenter/bloop/blob/2e49bd2222b4979666924ce465302cd0636c181d/frontend/src/main/scala/bloop/Server.scala#L26-L43). Usually, the launcher is the piece running the server, so if we want to make the address configurable we would need to add an

[2020-07-19 12:35] jvican commented on #1338
Hey folks, thanks for reporting and the repro. I won't have time to look into this, so I'd recommend that someone plays with the maven-bloop source to try to fix this. It could have to do with some maven version conflict or scala version mismatch.

[2020-07-19 17:34] #1335 closed

[2020-07-20 13:12] tgodzik opened #1344 "Copy previously compiled artifacts even in case of errors"
I think it was discussed at some point, but I wanted to create an issue to start a discussion/not forget about it.

We would greatly benefit in Metals from having artifacts copied from the previous compilation in case of a new client even if there are existing errors. This would allow allow all features depending on presentation compiler and semanticdb to function properly even in a broken workspa

[2020-07-20 16:42] jvican commented on #1344
My understanding is that we're already doing this. If bloop fails to compile a project, the old artifacts are always copied over. Have you checked that this is not working?

[2020-07-20 16:54] tgodzik commented on #1344
Doesn't seem to be the case. I did the following:
- compiled workspace
- closed VS Code
- introduced an error outside of the VS Code
- reopened the project and it seems old artifacts were in internal directories, but not the client ones:

![image](https://user-images.githubusercontent.com/3807253/87964330-58c11c80-caba-11ea-9277-2cce0027ceed.png)

after fixing the error the artifacts were properly

[2020-07-20 17:01] jvican commented on #1344
I'll double check this. If it isn't the case, I'll submit a PR to fix this.

[2020-07-20 17:02] tgodzik commented on #1344
Awesome! Thanks!

[2020-07-20 20:16] NoamShaish commented on #1338
@jvican I have created a [PR](https://github.com/scalacenter/bloop/pull/1346)
I have an assumption that this is due to the fact the scala-maven-plugin [change](https://github.com/davidB/scala-maven-plugin/commit/e2ce8b3759a581f32593a56bac100a1a51a68966#diff-2660d2ba8fa58383b0f754f4a4155f71R31) which turns sourceDit to private.
I tested it on my sample repo and it works, the only thing I couldnt fi

[2020-07-21 05:05] odisseus opened #1347 "Compilation results are not updated when the source directory that had been removed is added back"
### Environment details
[code]

### Steps to reproduce
#### Download the example project
[code]
or:
[code]
#### Compile and run for the first time
[code]

*Expected output: 14*

#### Exclude one of the source directories
[code]
Find the source entry called `"/tmp/fury-testing/src2"`, and remove it from the configuration file.

#### Compile and run for the second time
[code]
The code will still com

[2020-07-21 07:19] propensive commented on #1347
@odisseus It looks like your reproduction has a few absolute paths to JAR files in it, notably the Scala compiler JARs. I'm not sure the best way to make this repeatable, given that they will be in different locations for every user. Is there any sort of Bloop docker build we could extend?

[2020-07-21 10:06] jvican commented on #1344
I'm actually quite surprised this is happening because this test case https://github.com/scalacenter/bloop/blob/cfd142a011227019b95840776fe781891eb6288a/frontend/src/test/scala/bloop/bsp/BspCompileSpec.scala#L416 checks that class files are present in the BSP client classes directory after a failure and restarting the BSP connection.

[2020-07-21 12:14] #1338 closed

[2020-07-22 01:14] odisseus commented on #1347
Thank you for spotting this omission! I have created a Docker file with the example project and the complete environment needed to test it: https://gist.github.com/odisseus/e849e1800b79abee7c5bd69229ad0cfd

Build and tun the image:
[code]

Inside the container:
[code]

[2020-07-22 14:59] Duhemm commented on #1119
Indeed, the line numbers in the reporter are still colored, and so can be the output of the test frameworks. I'll take a look.

[2020-07-23 11:12] #1119 closed

[2020-07-23 12:57] #1218 closed

[2020-07-25 13:36] user753 opened #1350 "How to install latest version with coursier?"
[code]
I tried
[code]
But my version is still
[code]

[2020-07-25 14:03] jvican commented on #1350
Hey @user753, thanks for reporting. You need to exit bloop with `bloop exit` after you install it because the old server is still running in the background.

[2020-07-25 14:03] #1350 closed

[2020-07-28 14:07] dkovalenko commented on #558
+1 for this issue, without it there's no way to iterate fast with server development.

[2020-07-31 23:02] Alexey-NM opened #1351 "Caching artifacts in bloop"
It would be very useful to have the ability to share compilation cache between different computers.
There is prototype for such feature, it is [remotebloop](https://github.com/global-system/remotebloop)
It has been said that it is quite fragile and it can be fixed by adding built-in support for such feature.

see also:
[Reload analysis files when they change](https://github.com/scalacenter/bloop/i

[2020-08-08 18:59] vito-c opened #1353 "bloop .plist on os X"
I installed bloop via homebrew but the plist was not there. So `brew services start` doesn't work.

[code]
This was also really confusing. Is the version in correct  in brew?

[2020-08-12 22:47] jvican commented on #1353
Hey! Thanks for opening the ticket. Bloop no longer supports brew services, you can find that information in the release notes for 1.4.0.

[2020-08-12 22:47] #1353 closed

[2020-08-13 00:27] kubukoz opened #1354 "Java sources break compilation"
Hi! I was trying to add a Java source to a project, and both putting it in the `src/main/scala` and `src/main/java` yields the same result:

[code]

Here's the source:

[code]

And the location:

<img width="184" alt="image" src="https://user-images.githubusercontent.com/894884/90081003-7c1f6600-dd0c-11ea-9eaa-d5f6bd26212f.png">

I can push a reproduction if needed. It compiles fine in sbt...

[2020-08-13 07:01] Duhemm commented on #1354
Hi @kubukoz, thanks a lot for the report.

If you don't mind creating a small repo with the reproduction, that'd be greatly appreciated!

[2020-08-20 18:36] eatkins opened #1357 "Bloop generate is automatically called during sbt project loading"
I've noticed with the latest metals that when I start sbt (in the sbt project) I see:
[code]
This makes sbt noticeably slower to start up. Without the bloop plugin, I find the sbt project loads in about 9 seconds. With the bloop plugin, it increases to about 11 seconds. I also would prefer not having the success messages displayed during project loading (though they did help make it obvious why st

[2020-08-20 20:14] eatkins commented on #1357
If reverting to the old behavior is not possible, I have two suggestions that would improve the ux:
1) Log what bloop is doing before calling bloopGenerate. The success messages are mysterious in a vacuum. It is also weird that the same success message is logged twice). It would be better if it looked like:
[code]
2) Cache the state if possible so that the auto bloop generation happens once the fi

[2020-08-24 08:23] Duhemm opened #1358 "Bloop runs the same test class multiple times"
Test classes that match more than a single fingerprint are run more than once:

`build.sbt`:
[code]

`framework/src/main/scala/foo/Framework.scala`:
[code]

`test/src/test/scala/foo/MyTest.scala`:
[code]

sbt output:
[code]

bloop output:
[code]

The test should have been run only once in Bloop.

[2020-08-25 10:07] #1358 closed

[2020-08-25 21:39] 4lex1v opened #1360 "NullPointerException in bloopGenerate with extra unmanagedResources configuraiton"
Hey bloop team!

I'm hitting a NullPointerException error when trying to generate bloop's config for the project. It works for all modules except one. After some investigation I've noticed that the error occurs because we have some additional resources configuration outside of module's root, e.g:
[code]
With the above setting, I'm getting the following error:

<details><summary>java.lang.NullPoint

[2020-08-28 17:33] tgodzik opened #1362 "Stale zipkin threads increase CPU time"
It seems to happen to quite few people that at some point Bloop start using all available processor power and the only solution is to kill it.

Took a stack trace:

[jstack.txt](https://github.com/scalacenter/bloop/files/5143391/jstack.txt)

what struck me the most is that it looks like there are 932 zipkin threads and I am not doing anything with zipkin at all. Shouldn't it be disabled normally?

[2020-08-28 17:50] tgodzik commented on #1362
It also seems to happen more if I compile Scala 3, although in this case I was working on Metals itself.

[2020-08-31 13:34] jastice commented on #1295
Now that we changed the IntelliJ Scala plugin to 2.13, this suddenly became relevant for us :D

[2020-08-31 18:15] zzvara commented on #1281
I had the same problem, this fixed it for me with 1.4.3.

[2020-09-01 15:49] kubukoz commented on #558
@dkovalenko if you need to iterate that fast, maybe you should write a test instead of starting an entire server ;)

On a more serious note (or is it?), I'd also appreciate this feature.

[2020-09-01 19:28] antekone opened #1366 "Support Scala.js v1.1.1"
Scala.js is currently at version 1.1.1, but Bloop doesn't seem to support it in `link` step:

[code]

[2020-09-02 17:02] mihaisoloi opened #1367 "Time to compile project summary"
When compiling a multi-module project, `bloop` says how long each module takes. It would be really helpful for CI purposes to have a summary or a total time for compiling the whole project. This is especially helpful on big projects with tens of modules.

Currently:
[code]

Proposal:
[code]

[2020-09-08 14:42] eugene-sy opened #1371 "Confusing output of bloop command without parameters"
When a user executes `bloop` command without any parameters/flags, the output is quite misleading:
[code]

I'd expect it to print the same output, that `bloop --help` and `bloop help` does:
[code]

Just in case my environment:
- OSX
- bloop 1.4.4 installed with homebrew formula

[2020-09-13 07:41] felixbr commented on #1272
Hi, I just wanted to say that I'm also getting this error multiple times in a codebase using `monix`, `fs2`, and `cats-effect` (on jdk8).

The application doesn't use any annotations or `Array[String]` anywhere.

Sadly there is no file name or line number in the output, so it is hard to shrink it to a repro case.

[2020-09-16 00:48] inkytonik opened #1373 "bloopInstall omits dependency for internal dependency"
In my project Kiama (https://github.com/inkytonik/kiama) I have a multi-project structure that includes a base project with macros that are used by other sub-projects. I am using the approach from the sbt reference manual (https://www.scala-sbt.org/1.x/docs/Macro-Projects.html, section Distribution) to set it up so that the macro sub-project is published as part of the main sub-project, rather tha

[2020-09-16 07:02] plokhotnyuk commented on #1373
I use internal types of dependencies even for external dependencies (not just for sub-projects): `compile-internal` for [macros](https://github.com/plokhotnyuk/jsoniter-scala/blob/532bbf784701fc66f00bf036b6810c20c132c651/build.sbt#L111) or [GraalVM stubs](https://github.com/plokhotnyuk/jsoniter-scala/blob/532bbf784701fc66f00bf036b6810c20c132c651/jsoniter-scala-examples/build.sbt#L11), `runtime-int

[2020-09-16 07:50] jvican commented on #1373
Hey @inkytonik @plokhotnyuk thanks for chiming in. You can read this past thread on internal sbt configurations. We currently don't support them and I don't think this will change any time soon. In the thread, I recommend users using internal dependencies (which is quite an exotic feature), use sbt tasks to remove the dependencies from the pom files directly or to replicate the specifics of the co

[2020-09-16 07:52] #519 closed

[2020-09-16 08:03] jvican commented on #1371
@eugene-sy Thanks for the suggestion, I agree your proposal looks better than the status quo. If you want, you can send a PR updating this output message. You can do that in `Cli.scala`. I would most likely concatenate the error with the `--help` output you're proposing, so that users know that just running `bloop` does nothing and returns a non-zero exit code.

[2020-09-16 08:07] jvican commented on #1367
Hey @mihaisoloi, I agree this would be nice. This is something that we could do in CI environments but I would not show these timings by default because one could argue they clutter the UI output when used in my local machine. Feel free to submit a PR for this feature request!

[2020-09-16 08:07] jvican commented on #1366
Thanks for the suggestion! @antekone You're right, this is long overdue.

[2020-09-16 08:09] jvican commented on #1362
Hey @tgodzik thanks for the report! I'll give this some priority and investigate what's going on. The zipkin thread detail is a good lead.

[2020-09-16 08:11] jvican commented on #1360
Thanks for the report! This should be an easy to fix, could you submit a fix in `ConfigUtil` so that `null`s are correctly dealt with? I don't understand why the nulls are thrown but I wouldn't be surprised if it has anything to do with the relative file paths you have in your `unmanagedResources`.

[2020-09-16 21:11] keynmol commented on #1295
Can I help with this?

If I understand correctly all the module dependencies of `launcher` need to be made into cross-builds, and dependencies fixed (like with [snailgun](https://github.com/jvican/snailgun/pull/2)) or updated.

There's one bigger problem though - case-app from `frontend` is quite old and not published for 2.13, and newer versions have a dramatically different API (plus they're pub

[2020-09-17 00:32] inkytonik commented on #1373
Thanks @jvican for your response and all of the work by everyone on Bloop.

I'm not sure which thread you mean. Is the link missing from your comment?

I agree that internal dependencies are not commonly used, but they are used in real projects, so it would be great to have support for them. I'm not keen to rewrite my build (which has been mostly unchanged for years), re-test publishing, etc, just

[2020-09-17 08:35] jvican commented on #1295
@keynmol Hey Anton, it'd be great if you can help cross-compiling the launcher to Scala 2.13. Given that upgrading the whole project to Scala 2.13 is going to be a difficult and performance-sensitive task, I prefer to do it myself since I'll likely need to run some performance checks. However, the launcher is not performance sensitive and any help there is appreciated.

[2020-09-17 14:12] jvican commented on #1373
@inkytonik I forgot to link the thread out, here it is https://github.com/scalacenter/bloop/issues/1138

I agree that it's annoying that internal dependencies are not supported in sbt but that's expected to be like that for the time being, there's no plan to support them now. I don't know why your project was working before but it could have been because you were relying on a bug in the sbt export

[2020-09-18 00:21] inkytonik commented on #1373
Ok, thanks @jvican. If I manage to find time in the future to work out how to do the proper workaround, I'll try to contribute some instructions for general use. This project is on the back-burner now though, so I don't think I can do anything soon.

[2020-09-18 00:26] inkytonik commented on #1373
Actually, @jvican, one more suggestion if I may: is there a way for Bloop to warn if it's ignoring internal dependencies? In my case, it took quite a bit of investigation to even work out that this aspect was related. It would be very helpful if an "internal dependencies are not currently supported" message appeared in the logs.

[2020-09-18 14:12] marksutt opened #1375 "Gradle plugin (1.4.4) regression: NPE while executing task: bloopInstall"
Thanks for providing a Gradle plugin for bloop!

We use it for generating bloop config, so that we enjoy super fast compilation in the IDE.
We apply the plugin like:
[code]
But when trying to update to version 1.4.4, we get the following NPE when executing `./gradlew bloopInstall`:
[code]

Without appling the application gradle plugin, `./gradlew bloopInstall` seems to work as expected.
So it look

[2020-09-20 13:33] Arthurm1 commented on #1375
Thanks for the report.

BloopInstall uses the application plugin to find the mainClassName which I guess in this case must be null.  I'll look to change the plugin to handle this.

For now, a workaround would be to specify a blank name which in Kotlin I guess would be something like...
[code]

[2020-09-22 06:02] marksutt commented on #1375
Hey @Arthurm1, thanks for your fast reaction.

Sorry, I missed that snipped to define the main class when I tried to minimize our build file for creating this issue..
But even with it, we get the NPE.

I updated my first comment for completeness:
[code]
Les me know if we can try/help somehow.

[2020-09-22 11:25] Arthurm1 commented on #1375
There are 2 different ways to specify the main class

Could you try the following as a workaround rather than setting via the `mainClass` property...
[code]

I'll look to add support for the property as it seems `mainClassName` is being deprecated

[2020-09-22 15:05] marksutt commented on #1375
Thanks for the hint, didn't know that there are two ways to specify the main class.
And with your suggestion: `setMainClassName` it works. :clap:

[2020-09-24 07:02] ornicar commented on #1362
Hi and thank you so much for bloop.

I'm using it to develop lichess.org ([source code](https://github.com/ornicar/lila)) and running into this issue all the time. After using bloop for a few minutes, it will start hogging a CPU at 100%.
Killing the bloop process then running `bloop compile lila` immediately gets a CPU indefinitely back to 100%.

Removing all bloop files from the project will get

[2020-09-24 10:09] jvican commented on #1362
Hi @ornicar, thanks for the detailed comment! We've used lichess in our community build to test for compilation correctness and speed in the past, it's great you're using bloop.

I'm going to investigate what's going on by first trying to reproduce the issue in my macOS machine. Will get back to you to let you know if I've succeeded. If you could share a yourkit cpu profile with the methods that h

[2020-09-24 10:33] jvican commented on #1362
I can't reproduce. I've exported the project manually with `sbt bloopInstall`, compiled the whole project several times, made some changes in code, recompiled, and after the compilations the bloop server gets back to idle CPU consumption (or almost insignificant, e.g. 1-3%).

[2020-09-24 10:38] ornicar commented on #1362
Hmm. Could it have to do with me not only compiling but also running lila? I use

`bloop run lila -m play.core.server.ProdServerStart -c /home/thib/lila/.bloop`

I could also try to produce a zip of the entire project when it fails, so you could try to reproduce with that?

In case you want to discuss this in near real-time, you could join our discord server dev channel: https://discord.gg/VkbG3P

[2020-09-24 10:44] tgodzik commented on #1362
For me it happens very rarely with normal usage - happened realy only once. More often on Dotty projects, but usually after doing a lot of recompilations in a larger codebase.

I will try out lila too to see if maybe I can reproduce it.

One thing I confirmed is that it seems new zipkin thread is created on each compile request.

[2020-09-24 11:13] tgodzik commented on #1362
Cannot seems to reproduce the issue with compiling lila on linux either :/

[2020-09-25 09:16] ornicar commented on #1362
I'm uploading a tgz of the entire project in the current broken state, will update the issue when ready.

Notes:
`bloop compile user` always fine
`bloop compile team` first run always fine. Second run always breaks (i.e. creates the 100% CPU thread)
`bloop compile api` always breaks
`bloop compile app` always breaks

[2020-09-25 09:58] tgodzik opened #1376 "MacOS file watching can randomly stop"
At some point when used with `-w` Bloop might start throwing:

`2020-09-22 10:40 java[45159] (FSEvents.framework) FSEventStreamStart: register_with_server: ERROR: f2d_register_rpc() => (null) (-21)`

and stop rerunning.

This seems to be a problem with directory watcher and how it works on MacOS, which should either be fixed there or we could switch to swoval. There is a great explanation in https

[2020-09-26 20:39] aishfenton opened #1377 "Gradle applicationDefaultJvmArgs doesn't get exported"
I have Gradle project that I export to Bloop, which uses the Gradle [application plugin](https://docs.gradle.org/current/userguide/application_plugin.html). One of the config options for that plugin is `applicationDefaultJvmArgs`. This lets you specify Jvm arguments to use when running the app.

These jvm args don't get exported to the .bloop config json files (the MainClass config does however)

[2020-09-27 11:51] ornicar commented on #1362
The TGZ has been moved to there: http://khiaw.lichess.ovh/public/lila.tgz

[2020-09-28 10:09] tgodzik commented on #1377
Thanks for reporting! I think this might be fixable around here:  https://github.com/scalacenter/bloop/blob/master/integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/model/BloopConverter.scala#L410

If the test task is empty we should try to get applicationDefaultJvmArgs - should not be too hard I think. Though I am not sure why we are only getting information from the test task th

[2020-09-28 11:47] Arthurm1 commented on #1377
Probably because I didn't know `applicationDefaultJvmArgs` existed :smiley:

I'm just waiting on [this](https://github.com/gradle/gradle/issues/14662) to hopefully get some info on the recommended way to properly extract the `mainClass` and then I'll add `applicationDefaultJvmArgs` in too

[2020-09-28 16:02] jvican commented on #1377
Thanks for looking at this @Arthurm1! Looking forward to supporting default  jvm args, I've seen them be used often in OSS builds.

[2020-09-29 20:15] #1375 closed

[2020-09-29 20:15] #1377 closed

[2020-10-03 19:37] ckipp01 opened #1380 "Issue with compiling `@main` annotation when there is extra lines"
Just to make sure it's tracked here, I figured I'd create this and link it to the [issue in Metals](https://github.com/scalameta/metals/issues/2117).

So I've been playing around with this a bit to see if I can consistently reproduce it, and I can. It's very odd because it's a certain combination of things based on empty lines. For example, if you create a new project with the [Dotty g8 template](

[2020-10-04 21:25] VladPodilnyk opened #1381 "Failed to start test for laucher."
Hi, guys, I was trying to play  with bloop and to look around when found this. So, I basically finished the installation and just tried to run test in `laucher` project and it failed with the error I've attached below. Also, I've spotted that some tests pass like`BloopLoggerTest`,  but `BloopLoaderTest` fails with the same error I've mentioned. So, it's probably the issue on my side,  but I have n

[2020-10-05 07:37] tgodzik commented on #1380
Thanks for the reproduction @ckipp01 ! I wonder how it's influenced by some missing features when it comes to Scala 3 and Zinc integration. @jvican You mentioned that there might be some issues when it comes to Scala 3, if you find the time could you mention what you think needs still to be done make Bloop and Scala 3 work 100% ?

[2020-10-05 08:15] tgodzik commented on #1381
Thanks for reporting! Might this have something to do with the java version? Or maybe the launcher jar got corrupted?

[2020-10-05 16:48] VladPodilnyk commented on #1381
@tgodzik, hi, thanks for coming here and for support!
here is my `jenv versionsn` result
[code]
here is what I have when run this command `java -XshowSettings:properties -version 2>&1 > /dev/null | grep 'java.home'
    java.home = /Library/Java/JavaVirtualMachines/adoptopenjdk-8.jdk/Contents/Home/jre`
[code]

Oh, that's interesting, I found out that `<project-dir>/.bloop/bloop.json` does not conta

[2020-10-06 15:40] tgodzik commented on #1381
It should pick up the right java version from Intellij anyway. I haven't noticed before, are you trying to run Bloop tests from Intellij? I have never tried that, but does it work in sbt itself?

Intellij seems to be missing the config module, so maybe export is not working properly. Could you try adding a dependency on the config module?

[2020-10-06 20:13] VladPodilnyk commented on #1381
@tgodzik, I am able to start test via `sbt test`. Originally, I've run them from Intelij. The project structure seems OK, I have  dependency on `config`. Anyway, I have the result I need, but it would be great to run test from IDE too. Since it is not critical for me, I dunno if we wanna pursue the issue, specially considering the fact that it's on my side. __Thanks a lot for you help__!
<img widt

[2020-10-07 09:34] tgodzik commented on #1381
@VladPodilnyk The reason might that Intellij doesn't work well with multiple Scala versions in the same module. The only other thing you could try is switching that module dependency with jsonConfig212 or jsonConfig213. If the tests have a different Scala version than the tests are actually running on then that could be the reason.

If that doesn't help, I would recommend running from sbt then or

[2020-10-08 07:08] IlyaHalsky opened #1382 "Zinc and Scala versions"
Hi,

I've noticed when calling `bloop about` it prints `Using Scala v2.12.8 and Zinc v1.3.0-M4+45-d4354be3`,
I get why Scala version could be outdated, but Zinc is now 1.4.0 (4 days ago) with previous minor version being v1.3.5 (Mar 30).
Is it intentional?

[2020-10-08 07:13] tgodzik commented on #1382
Thanks for the question! Bloop is using a separate fork of zinc, I don't remember exactly why, but I think it was connected to some changes needed for Bloop itself, which weren't possible merge upstream.

We should probably update the fork though.

[2020-10-08 07:16] Duhemm commented on #1382
Thanks for reporting @IlyaHalsky. Bloop is using a fork of Zinc, which includes some features that weren't available in vanilla Zinc at the time (build pipelining, for instance).

I'd personally be in favor of migrating back to sbt/zinc since it now includes all of the features that our fork has, and I believe it has received a significant number of other improvements that haven't been ported to o

[2020-10-08 07:36] Duhemm opened #1383 "Consider migrating back to sbt/zinc"
Currently, Bloop is using a fork of Zinc (https://github.com/scalacenter/zinc) which is a bit outdated compared to sbt/zinc (https://github.com/sbt/zinc).

At the time, this fork was introduced to support features that weren't available in sbt/zinc, such as build pipelining for instance. In the meantime, sbt/zinc got support for build pipelining and received bug fixes and performance improvements.

[2020-10-08 07:37] Duhemm commented on #1382
Closing in favor of #1383

[2020-10-08 07:37] #1382 closed

[2020-10-13 18:14] VladPodilnyk commented on #1381
@tgodzik, hi! Sorry, for such late response. I've had a bad luck trying to run tests via Intelij, but since `sbt test` works, I'll close the issue. Thank you a lot for help and support!!!

[2020-10-13 18:14] #1381 closed

[2020-10-20 14:27] mrobakowski opened #1384 "Bloop does not work with JDK 14"
[code]

<details>
<summary> full list of nix stuff here...</summary>

[code]

</details>

[code]

I'm on Ubuntu using nixpkgs-unstable channel, revision: `cfed29bfcb28259376713005d176a6f82951014a`

[2020-10-20 15:10] dpdearing commented on #1353
I also had this same problem and was really confused about the conflicting documentation.  The current Bloop documentation for the Homebrew (macOS) package manager has a "Running the server in the background" section that says:

This contradicts the information when running `brew services start bloop` that said:
[code]

Finding this issue and the 1.4.0 release notes makes it appear that it's just

[2020-10-20 19:35] tpolecat opened #1385 "bloop randomly starts burning CPU when idle"
I find that from time to time bloop consumes 25-30% of my CPU even when it's idle and no clients are connected. A thread dump indicated 2066 `AsyncReporter` threads, which seems suspicious (see [dump.txt](https://github.com/scalacenter/bloop/files/5411110/dump.txt)).

[2020-10-21 07:07] Duhemm commented on #1385
Reproduction in scalacenter/bloop with Bloop 1.4.4:

[code]

![image](https://user-images.githubusercontent.com/1765926/96685007-cd874980-137c-11eb-9121-010685996959.png)

[2020-10-21 10:30] tgodzik commented on #1384
Thanks for reporting! I think there is an issue currently when running on JDK 14 and we currently do not test it.

[2020-10-21 11:04] mrobakowski commented on #1384
Oh yeah, seems to be jdk14 issue. Runs fine under jdk11, which, for the curious about nix, can be configured in nix-shell like this:
[code]

[2020-10-21 15:12] #1385 closed

[2020-10-21 15:12] Duhemm commented on #1362
Fixed in #1386

[2020-10-21 15:12] #1362 closed

[2020-10-21 21:58] ornicar commented on #1362
Amazing. That makes me very happy. Congrats and thank you so much!

[2020-10-22 14:37] olafurpg opened #1388 "BSP clean request does not clean IntelliJ classes directory"
Followup of https://youtrack.jetbrains.com/issue/SCL-18354

Steps to reproduce the issue:

* Import sbt project via BSP (Bloop)
* Build the project, observe that classfiles are generated in the out/ directory for the IntelliJ BSP client
* Run "Rebuild project" action, the IntelliJ `out/` directory is not cleaned even if the IntelliJ BSP client sends a clean request to Bloop.

I expected the Intell

[2020-10-22 15:34] bplommer commented on #1272
I'm also getting this when trying to cross-build fs2-kafka with SBT - see linked issue above.

[2020-10-25 23:06] Arthurm1 opened #1389 "Java errors/warnings have no column position info"
When Bloop compiles a _Java_ source file that contains errors/warnings it will report the correct line number but the column is always zero.
This leads directly into Metals and highlighting in VSCode.

In [ZincInternals](https://github.com/scalacenter/bloop/blob/dbacf644f3a7f0e3e694c9c1a1e95e60376b5a2c/backend/src/main/scala/sbt/internal/inc/bloop/ZincInternals.scala#L18-L33) the `xsbti.Position`

[2020-10-26 07:50] ornicar commented on #1385
Thank you for the fix. How can I go about using it?

I checked out https://scalacenter.github.io/bloop/docs/contributing-guide, didn't find artifacts in the github actions https://github.com/scalacenter/bloop/actions/runs/319367801, and tried building it myself without success:

[code]
Using java `openjdk version "1.8.0_265"`

[2020-10-26 18:07] meldmy commented on #1353
@jvican Can you help us? I have the same issue as @dpdearing

[2020-10-27 12:33] tgodzik commented on #1389
Thanks for reporting! I think it would be best to have it tackled in zinc itself, as sbt seems to have the same problem:
`/home/tgodzik/Documents/workspaces/dotty-sample/src/main/java/example/Other.java:4:1:`

So best to fix it or at least report in zinc, but we would need to first migrate to the main zinc fork from our own.

[2020-10-28 16:26] zingmane commented on #1150
Setting `$HOME/.bloop/bloop.json` hasn't worked for me (macOS)

But that fixed it:
- `brew uninstall bloop` (1.4.4)
- set SDK path`export JAVA_HOME="/Library/Java/JavaVirtualMachines/openjdk-11.0.2.jdk/Contents/Home"`
- reinstall `brew install bloop`
- first call fails again `bloop exit`
- second call (also starts the server) `bloop about`
- everything working as expected again 🎉🤷‍♂️

[code]

[2020-10-28 20:56] vito-c opened #1390 "Installing on ArchLinux"
Hi I went to install bloop on arch and was unable to run bloop.

I did the following
- `yay -Sy bloop`
- `$ systemctl --user enable bloop`

Which gave me the error:
[code]

When I try to run the console I get:
[code]

Everything seems to be installed though because I can do `bloop compile <project>` which gives me:
[code]

[2020-10-29 08:09] ornicar commented on #1362
Any ETA for a release with that fix? I tried building bloop for myself but that didn't work. Also there's no artifacts in the github actions because the builds failed: https://github.com/scalacenter/bloop/actions

I would really love to use bloop again <3

[2020-10-29 10:11] tgodzik commented on #1362
The recent SNAPSHOT builds have failed, I will try to take a look into it today.

[2020-10-29 11:29] tgodzik commented on #1390
Thanks for reporting! The arch build definition is defined here: https://github.com/scalacenter/bloop/blob/master/project/ReleaseUtils.scala#L255

@TheElectronWill do you have any idea what is going on?

[2020-10-29 11:37] tgodzik commented on #1353
I think the current best way is to install via coursier. Once you run Bloop the first time it will start in the background, so there is no real reason to run it via services. We might need update the documentation to reflect the current recommendations better.

[2020-10-29 11:41] TheElectronWill commented on #1390
As explained on [AUR](https://aur.archlinux.org/packages/bloop/), the systemd service is no longer (for quite some time now) included in the `bloop` package. You need to install `bloop-systemd` too.

[2020-10-29 17:38] vito-c commented on #1390
@TheElectronWill will that fix the CLI error as well?
[code]

[2020-10-29 17:54] tgodzik commented on #1390
I think that one is because you need to provide a command for Bloop to run.

`error: Missing CLI command for Bloop server!` is valid here due to the fact that indeed no command is provided. Happens the same if it's installed via courier.

[2020-10-29 18:22] vito-c commented on #1390
I was going off the documentation outlined here: https://scalacenter.github.io/bloop/setup#aur which is why I didn't know the extra `bloop-systemd` package was needed :)

[2020-11-01 12:36] #1390 closed

[2020-11-04 12:21] hugo-vrijswijk opened #1394 "Bloop can not import Scala 3.0.0-M1 projects"
When using Dotty 3.0.0-M1, `sbt bloopInstall` will run succesfully, but any following bloop command will fail with `[E] Failed to load project from /home/hugovr/ws/dotty/.bloop/root.json`

## Steps to reproduce

1. Start a new Dotty example project https://github.com/lampepfl/dotty.g8
2. Update sbt-dotty to `0.4.5` and dotty to `3.0.0-M1`
3. Add `addSbtPlugin("ch.epfl.scala" % "sbt-bloop" % "1.4.4

[2020-11-04 12:23] tgodzik commented on #1394
Thanks for reporting! We are already working on this in https://github.com/scalacenter/bloop/pull/1393

[2020-11-04 14:59] #1394 closed

[2020-11-14 23:58] jsatk opened #1401 "Attempting to install on macOS Big Sur (11.0.1) fails via Homebrew."
[code]

Oddly running `brew install coursier/formulas/coursier` and `brew install adoptopenjdk` works just fine.

[2020-11-15 14:05] ornicar opened #1402 "bloop constantly maxes out a CPU"
Unfortunately this problem is not fixed yet, or there exists another one with the same symptoms.

Previous issues: #1385, #1362, #1386.

The problem still occurs on my lila project with same frequency (i.e. every 10 minutes).

- bloop-frontend_2.12:1.4.5
- Metals version 0.9.5
- java version "11.0.8.0.2" 2020-07-09 LTS
Java(TM) SE Runtime Environment GraalVM EE 20.2.0 (build 11.0.8.0.2+1-LTS-jvmci

[2020-11-16 09:36] the-kenny commented on #1384
Bloop runs just fine as long as you ignore this error. I'm pretty sure updating `snailgun` to `0.3.2` (from `0.3.1`) would fix this error because https://github.com/jvican/snailgun/pull/1 is included in `0.3.2`.

@tgodzik Maybe you could bump the dependency and give it a try? Unfortunately I'm not able to test a local build myself right now.

[2020-11-16 12:15] tgodzik commented on #1402
Thanks for reporting! We will need to investigate it further to see what's going on.

[2020-11-16 12:54] tgodzik commented on #1401
Thanks for reporting! Did it break with `1.4.5`? I might have broke something there. Though it seems like the second
`brew cask install adoptopenjdk`

fails due to the fact it's already installed? Anyone able to try to fix it on MacOS ? I do not have access to any machine with the system.

[2020-11-17 17:53] jsatk commented on #1401
It's definitely already installed on this machine. I use a `Brewfile`. So when I do `brew install` it just skips over the installed ones. The behavior of this is unique.

[2020-11-19 22:55] jgogstad opened #1403 "sbt bloopCompile doesn't work after bloopInstall on a new project"
Running the task `bloopCompile` doesn't work on a new sbt project according to scala/scala-seed.g8, it fails with

[code]

This happens on macOS Catalina, but it's also reproducible in the docker image `eed3si9n/sbt`:

[code]

[2020-11-20 09:53] tgodzik commented on #1403
Thanks for reporting! `bloopCompile` is part of an experimental feature and is currently disabled by default. I wouldn't recommend using it currently.

[2020-11-22 05:09] dannyhlee opened #1405 "Character encoding issue"
**Describe the bug**
Certain characters are not being written to text/csv file properly.  I noticed it with Asian (Korean, Japanese) and European language (Polish, German?) characters.  Some examples are:
[code]

I believe it's the encoding when the string is being written out.   It works properly in sbt from IntelliJ and CLI.  I came across the issue when I was testing out VS code and Metals.  I

[2020-11-23 13:23] tgodzik commented on #1405
Thanks for reporting! This seem to work correctly for me when running:
[code]

what are you using to write to file? The needed `-Dfile.encoding=UTF-8` seems to be the default currently.

[2020-11-24 10:27] sergei-grigorev commented on #1401
I downloaded bloop.rb locally) where I replaced dependency on `openjdk@11` as recommended by brew in its output. Then brew build it from file  (`--build-from-source ./bloop.rb`), it downloaded coursier, openjdk@15 instead of openjdk@11 and then bloop was also installed and it works fine now.

[2020-11-24 16:50] tgodzik commented on #1401
@sergei-grigorev That sounds cool! Would you be able to create a PR with those changes for https://github.com/scalacenter/homebrew-bloop ?

[2020-11-24 18:35] dbingham commented on #1401
@tgodzik I just submitted [a PR](https://github.com/scalacenter/homebrew-bloop/pull/11) along the lines of what @sergei-grigorev described.

[2020-11-24 18:53] jsatk commented on #1401
Nice!

[2020-11-25 00:29] dannyhlee commented on #1405
Thanks for responding.  I loaded this code in VS code and tried running it and got the same response `???`.

[code]
The only change Ive made is to scala 2.12.12.

If I run the code in scala repl it works fine.  I also tried disabling all plugins except for Scala(Metals) and Scala Syntax (official).  I looked in VScode settings but did not see `-Dfile.encoding=UTF-8`.  I was looking for a way to du

[2020-11-25 09:58] hmemcpy opened #1412 "Unable to install via brew on macOS Catalina"
Running:

getting:

[code]

<details>
<summary>Contents of my 01.coursier</summary>

    coursier
    install
    --install-dir
    bin
    --default-channels=false
    --channel
    channel
    bloop
    -J-Divy.home=/home/runner/.ivy2

    Downloading https://repo1.maven.org/maven2/ch/epfl/scala/bloopgun_2.12/1.4.5/bloopgun_2.12-1.4.5.pom
    Downloaded https://repo1.maven.org/maven2/ch/epfl/sca

[2020-11-25 10:50] #1401 closed

[2020-11-25 12:56] tgodzik commented on #1412
Thanks for reporting! Did you try to delete that lock file? I thinking it might have some strickt permissions set. Maybe if ever coursier was run via sudo? Is that possible?

[2020-11-26 15:46] tgodzik commented on #1403
Closing this, since bloopCompile is not supposed to work currently. Please use the CLI, Metals or Intellij with BSP. More info about the CLI can be found on the Bloop webpage [here](https://scalacenter.github.io/bloop/docs/cli/tutorial).

[2020-11-26 17:11] tgodzik commented on #1405
I can't reproduce the issue on my machine. Seems encoding is correct. Are you checking the output within VS Code? Maybe it's having issues understading the encoding?

[2020-11-26 19:38] dannyhlee commented on #1405
I tried it on another windows machine and had the same output, but I do indeed believe it an issue with understanding encoding and will investigate on my own.  Thank you for your responsiveness and hard work on building Scala.

[2020-11-26 19:38] #1405 closed

[2020-11-27 14:47] ornicar commented on #1402
Actually I have not seen it for the last few days. The bug might be gone for good.

I will reopen if it happens again.

Thank you so much.

[2020-11-27 14:47] #1402 closed

[2020-11-30 22:54] fooblahblah commented on #1226
Is this related to https://github.com/scalacenter/bloop/issues/1301? Did that change get reverted?

[2020-12-03 00:01] clayton-sayer-hs opened #1420 "`JsonReaderException` when running `bloop projects`"
I'm setting up a new laptop and have been having issues using Bloop, both on the command line and through IntelliJ. Both running `bloop projects` or loading the project via IntelliJ on any Scala project I've tried results in the same error:

[code]

In each of these projects it fails on `project.platform.runtimeConfig`, which it looks like it's assuming will be a JSON object when it's actually an

[2020-12-03 00:32] clayton-sayer-hs commented on #1420
It looks like this might be an issue with the latest version of IntelliJ and the json files it generates. I upgraded my old laptop from 2020.2 to 2020.3 and after re-importing the projects they started failing on the old laptop. I also compared the json files between 2020.2 and 2020.3 (different projects) and they're quite different:

2020.2:
[code]

2020.3
[code]

I'll open a bug ticket with JetB

[2020-12-03 01:43] clayton-sayer-hs commented on #1420
Here is [a YouTrack bug report for IntelliJ](https://youtrack.jetbrains.com/issue/IDEA-256752) that also describes this issue. Please feel free to close this issue ticket if you think this is solely a bug in IntelliJ.

[2020-12-03 10:09] ckipp01 opened #1421 "Relative path for compiler plugin while using sbt >= 1.4.0 breaks compilation."
I've noticed that when using sbt >= 1.4.0 and `sbt-bloop`, there is a difference in how a compiler plugin is listed under `project.scala.options` in the bloop json file. We'll use wart remover as an example. When using sbt 1.3.13 and wart remover the path to the plugin is absolute and pointing towards my coursier cache. However, in sbt >= 1.4.0 it's a relative path to `/target/compiler_plugins/<pl

[2020-12-03 10:19] tgodzik commented on #1421
Thanks for finding this! I will need to take a look at this soon.

[2020-12-03 10:19] tgodzik commented on #1421
Is this the reason for https://github.com/scalameta/metals/pull/2279 ?

[2020-12-03 10:49] ckipp01 commented on #1421
I don't believe so. I still don't know what's going on there. When I compare the json files for 1.4.2 and 1.4.3 all of the sbt source jars are missing. However, when I checked they were published, so I have no idea why as of 1.4.3 the sources aren't getting included.

[2020-12-03 10:52] tgodzik commented on #1420
Thanks for reporting! I think it's an issue that we fixed just after 1.4.5 release. Could you try updating the Bloop plugin to the newely released 1.4.6?

[2020-12-03 11:41] ckipp01 commented on #1421
So it looks like this may be wart remover specific. This commit is the one that seems to have caused it https://github.com/wartremover/wartremover/commit/fadeadc174a10874e301ca4d6161f0a1751fc330 since they needed to go away from the absolute path in relation to this https://github.com/sbt/sbt/issues/6027.

[2020-12-03 17:31] clayton-sayer-hs commented on #1420
Thanks for the quick response!

I tried updating bloop to 1.4.6 and restarting the server, but that doesn't seem to have helped, both in IntelliJ and with the bloop console:

[code]

I've also tried cleaning all the generated files and re-importing it in IntelliJ to see if that would fix it, but it still fails, with those extra fields causing exceptions in Bloop.

Please let me know if there's any

[2020-12-03 18:27] tgodzik commented on #1420
Ach sorry! You need to change the sbt plugin versions and reimport the build via `bloopInstall`. I wasn't too clear about that.

[2020-12-03 18:48] clayton-sayer-hs commented on #1420
Hmm... We don't actually have the bloop plugin installed as an SBT plugin in any of our repos. We all just have it as a regular SBT project and use IntelliJ's File -> New -> Project from Existing Sources and import the project as BSP there. It may be that JetBrains needs to update the bloop plugin in their Scala plugin for this to be fixed.

I'll try adding the plugin to our SBT plugins for a sing

[2020-12-03 18:57] tgodzik commented on #1420
Ach! It might be that Intellij somehow does add this plugin automatically. Not sure how it works, but most likely they just need to bump a dependency. It might be nothing we can do from our side at this time.

Other option is to upgrade sbt, since this problem only with Scala 2.10, which sbt 0.13 uses.

[2020-12-03 19:13] tgodzik commented on #1421
Is that relative path elative to the workspace? Maybe we could detect if a path is relative and try to do `workspace.resolve(path)` ?

[2020-12-03 19:20] tgodzik commented on #1421
We already do something similar here: https://github.com/scalacenter/bloop/blob/master/integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala#L616

We could see if an option starts with `-Xplugin:` but doesn't follow with `/` and then try to use the working dir to find the absolute path.

[2020-12-03 19:27] tgodzik commented on #1226
The change didn't get reverted. Are you having the same problem still? I am not exactly sure what was happening originally, but I can try to help.

[2020-12-03 19:48] tgodzik commented on #1226
From what I checked this might be an issue with missing jars on classpath, updating coursier should help as I did have the same problem with an older version, but it worked after updating.

[2020-12-03 19:50] fooblahblah commented on #1226
@tgodzik I'll try updating coursier. Thanks. Just to reply to your previous comment I'm seeing the same error as the OP.

[2020-12-03 19:52] tgodzik commented on #1226
Not sure if Bloop is not using an internal version of coursier, I wasn't really able to find it right now. I haven't been able to run Bloop console yet.

[2020-12-03 21:45] clayton-sayer-hs commented on #1420
Good to know that the problem only affects sbt 0.13. For all our Play 2.6+ services I'll try to get them updated to sbt 1.x, but we have a few services that are unfortunately still on Scala 2.11/Play 2.5 which requires sbt 0.13. Updating them is in the works but won't be for a couple months.

In the mean time, there's the ticket open with JetBrains that I've linked to this ticket, and the [PR that

[2020-12-03 21:45] #1420 closed

[2020-12-03 23:16] sjrd commented on #1421
Because of Windows and its `C:\` or `C:/`

[2020-12-04 07:12] tgodzik commented on #1420
@clayton-sayer-hs I just realised you could also workaround it by:
- adding an additional `bloop.sbt` file to project, that just adds the bloop plugin:
`addSbtPlugin("ch.epfl.scala" % "sbt-bloop" % "1.4.6")`
- add that file to gitignore
- use `sbt bloopInstall` to generate the configuration file that should be picked correctly by Bloop
- if you don't reimport via Intellij everything should work ok

[2020-12-04 07:13] tgodzik commented on #1421
Right, thanks @sjrd ! As always I forgot about windows :sweat:

[2020-12-05 12:11] sirinath opened #1424 "Error when running bloop"
I get the following error on Win 10 x64 on Azul JDK 15.0.1:

[code]

I encoded this when trying:

[code]

[2020-12-05 12:54] Arthurm1 commented on #1424
Sounds like #1384.  Maybe try downgrading to jdk11

[2020-12-06 09:17] ckipp01 commented on #1295
Hey @keynmol! Were you still planning on tackling this?

[2020-12-06 09:39] ckipp01 commented on #1403
Popping in here. I really don't think we should close this without some type of action signifying that this isn't supported. I'm trying to do some work on the plugin atm, and running through the commands trying to get a better understanding of what is all happening. When playing around with this one, I don't actually think we should just leave it as is in its current state.

Being accessible to us

[2020-12-06 13:05] keynmol commented on #1295
Hey @ckipp01!

I was waiting for snailgun to be published, but the case-app yak is much bigger and harder to shave (launcher needs frontend for tests, and frontend depended on a very old version of case-app not published for 2.13).

I've opened a draft PR where I've started the conversion: https://github.com/scalacenter/bloop/pull/1425

So if you can provide advice on how to convert the rest of th

[2020-12-06 14:21] ckipp01 commented on #1295
😬 sorry, I'm really not the person to ask for this as I'm also pretty unfamiliar with the Bloop code base. With that said, I also played around with seeing what was needed for the case app update and also hit on some pretty large roadblocks like you have. As you'd expect, it's changed a lot in the past 3 years, and I'm _assuming_ the version that is currently being used was a forked/published vers

[2020-12-07 12:44] tgodzik commented on #1403
@ckipp01 you are right, I would opt for throwing that setting out for now, but I am not exactly sure about the reasons for including it.

[2020-12-07 16:43] fooblahblah commented on #1226
I'm running the latest coursier (2.0.7) and Java 11. I tried running Ammonite directly via coursier and it's still borked. So maybe this more of an Ammonite issue? This command is the same one I was using to test https://github.com/scalacenter/bloop/issues/1301, but removing the `--scala-version` flag has no effect.
[code]

[2020-12-07 16:45] fooblahblah commented on #1226
Opened on Feb 24 https://github.com/lihaoyi/Ammonite/issues/1035

[2020-12-07 17:00] tgodzik commented on #1226
Hmm... This might be it, I tested it all again and it doesn't work again. I might have had JDK 8 by mistake since I was switching back and forth a lot.  I checked what classpath is loaded and i all seems correct:
[code]

[2020-12-24 16:41] pavelfatin commented on #1421
Related: https://youtrack.jetbrains.com/issue/SCL-18534#focus=Comments-27-4614571.0-0

[2020-12-28 00:47] kubukoz commented on #1354
Just reminding myself to do it...

[2020-12-29 17:03] tpolecat opened #1434 "provide a complete stacktrace when the compiler crashes"
I had an issue today where a `java.lang.NoSuchMethodError` was thrown from a compiler plugin, and all bloop reported was the error's text:

[code]

It would be nice if bloop were able to provide the stacktrace in these cases.

[2020-12-30 09:45] tgodzik commented on #1434
Thanks for reporting, do perhaps have a reproduction that we could test it out on?

[2020-12-30 09:47] tgodzik commented on #1424
Thanks for reporting! This is indeed a duplicate for #1384 The current workaround is to use JDK 11

[2020-12-30 09:47] #1424 closed

[2020-12-30 09:48] tgodzik commented on #1412
The brew formula was recently updated, let us know if you are still having problems. We can reopen the issue then.

[2020-12-30 09:48] #1412 closed

[2020-12-30 09:53] tgodzik commented on #1389
Thanks for the work in zinc! We will need to now address https://github.com/scalacenter/bloop/issues/1383 in order to get all the zinc improvements, but I think we can close it now.

[2020-12-30 09:53] #1389 closed

[2021-01-04 11:01] tgodzik commented on #1289
The related issue is now fixed :tada:

[2021-01-04 11:01] #1289 closed

[2021-01-06 21:07] pjoneswork opened #1440 "Bloop ignores excludeFilter in build.sbt"
As far as I can tell bloop ignores the sbt setting `excludeFilter`.

Simple setup:

[code]

`sbt compile` compiles successfully.

But I get the following error mesage in VSCode for the file `bar.scala`

[code]

Is there a way to get bloop to ignore this file as well?

What I expect: No error messages in VSCode

[2021-01-06 21:08] pjoneswork commented on #1440
<img width="1469" alt="Screen Shot 2021-01-06 at 1 02 29 PM" src="https://user-images.githubusercontent.com/9849341/103819965-4b73fc00-5020-11eb-90c4-8556bf98bea3.png">

[2021-01-07 09:34] tgodzik commented on #1440
Thanks for reporting! This is currently not supported as far as I can see and would most likely require the change in Bloop model. There is nothing int he configuration that corresponds to the exclude filters at present.

[2021-01-09 20:15] mdbergmann opened #1441 "Changing 'resources' sourceSet in Gradle results in empty 'sources' in Bloop JSON"
Relates to #992

I'm working on a Apache Wicket project where html, css and other resource files exist as part of the scala source folder.

In Gradle I can expand the resources sourceSet via:

[code]

This make Gradle copy any resource file into the build output folder.
However, `bloopInstall` will create a Bloop JSON project that is missing the 'sources' folders:

[code]

When I remove the 'resou

[2021-01-10 14:03] Arthurm1 commented on #1441
Looks like a bug - the gradle export doesn't cope with resource and source dirs being the same.  I'll look into fixing it.

As far as I remember, resources deliberately aren't copied to the build output folder.  As Bloop is not intended for archive/deploy there's no reason to copy the resources dir - it's just used directly.

[2021-01-10 14:45] mdbergmann commented on #1441
That's fine as long as it's in the classpath.

Thanks for looking into it.

[2021-01-13 07:33] mdbergmann commented on #1441
If you can direct me where to look I can have a try fixing it.

[2021-01-13 08:07] mdbergmann commented on #1441
I would guess the issue might be this:

Line 66.
[code]

Unfortunately I can't get the project to build with sbt.

[2021-01-13 10:03] Arthurm1 commented on #1441
Yes that's the place.  I should be able to put a fix in this weekend

In terms of getting the project to build - have you looked at [this guide](https://scalacenter.github.io/bloop/docs/contributing-guide)?

[2021-01-13 10:44] mdbergmann commented on #1441
I didn't look at this guide but kind of assumed something similar.
Started from scratch though with the guide, but still facing this problem with resoilving the dependency:

[code]

I've checked maven central, it seems this dependency is not there. Seems to not be a direct dependency.

[2021-01-13 13:09] Arthurm1 commented on #1441
Sorry - beyond my ken - I'm not that familiar with the codebase.  You could ask on the gitter channel.

[2021-01-15 18:45] #962 closed

[2021-01-15 18:45] #1441 closed

[2021-01-16 20:44] philwalk commented on #723
I have a fix for this bug, but I'm only able to verify the fix manually via the bloop command line (no automated tests).

This bug seems to possibly be bleeding over into vscode-metals, so I'm eager to fix it.   Essentially, the fix consists of two parts:

1.  change `string.split(File.lineSeparator)` to `string.split("\\r?\\n")` everywhere it occurs
2.  modify BloopLogger#printInfo to output a po

[2021-01-18 12:52] tgodzik commented on #723
This should not influence `vscode-metals`, but kind of problems are you having?

I think the command completions do not have any tests really and checking it manually is the only way to do it now. Thanks for taking a look at it!

[2021-01-19 00:02] philwalk commented on #723
FYI: Coursier sees that my underlying system is Windows, so it installs only a Windows batch file (bloop.bat).    It should also copy the linux script as well, in order to support MinGW/Cygwin/Git bash.

I was able to copy the bloop client from a linux install to my system, and it works as expected in the cygwin environment.  (except for the Carriage Returns appended to autocompletions, the bug I'

[2021-01-19 09:46] tgodzik commented on #723
[code]

is nothing to worry about, that exception is sometimes logged, not sure for the reason, but it also happens on linux.

[2021-01-19 15:22] philwalk commented on #723
The current location of developer docs appears to be here: [https://scalacenter.github.io/bloop/docs/contributing-guide](https://scalacenter.github.io/bloop/docs/contributing-guide)
No luck yet getting intellij to work, but am hopeful.

[2021-01-19 20:10] philwalk commented on #723
I have a fix for the autocompletion error, which is almost ready to commit.   I can also fix some other possible bugs, if there is an appetite.   Here's what the issue is:

Some remaining code uses an idiom that is problematic.   Here are some examples from frontend code:

[code]
It seems to me that splitting a String to lines should never depend on the OS default line endings.
Doing so sometimes

[2021-01-19 22:18] philwalk commented on #723
The associated pull request is here:

https://github.com/scalacenter/bloop/pull/1443

[2021-01-20 09:59] tgodzik commented on #723
Line endings is something that just keeps giving us problems :sweat_smile: We should probably fix that too. Especially if we can easily make it work without `Sytem.lineSeparator`

[2021-01-24 01:15] philwalk commented on #723
I still have a couple of changes to push, although I'm investigating some things I don't understand yet.

There are some failed tests, but in at least some cases, I suspect it's because I haven't installed all requirements on my system.

Here's the summary for a run of `sbt test`:

[code]

[2021-01-25 13:19] lolgab commented on #1308
The underlying problem described in the conversation between @jvican and @sjrd is still there.
However, the particular issue with Scala.js `1.x` where `x != 0` was solved here: https://github.com/scalacenter/bloop/pull/1423

[2021-01-26 13:41] tgodzik commented on #1308
@lolgab let's maybe open another issue and point to this one? Do you know the details enough to create an issue with description?

[2021-01-31 14:11] jypma opened #1448 "bloop console fails when invoked from path containing spaces"
The parent directory of my project has a space in it, which yields in the following mysterious error message:
[code]
After a lot of back-and-forth, it turned out that having a space in a parent directory caused that problem. Probably the space has something turned into two "apps" internally.

Renaming the parent directory got it to work fine.

I actually couldn't trace that exact error message to

[2021-02-01 15:04] dos65 opened #1450 "Sbt-bloop - no `source` artifacts in meta-builds"
Bloop has `bloop.export-jar.classifiers` java option that allows Metals additionally specify `source` classifier.
It seems that this setting isn't used for meta-build and  `goto definition` doesn't work for symbols that come from Sbt plugins.

[2021-02-01 16:24] tgodzik commented on #1450
Thanks for reporting! I think I've seen it and haven't actually wondered why it's not working.

We should take a look at it at some point.

[2021-02-01 16:42] tgodzik commented on #1448
Thanks for reporting! This looks like an issue in coursier:

https://github.com/coursier/coursier/blob/7bba8ce7881a90fdc386c6533f08a114ae964944/modules/cli/src/main/scala/coursier/cli/resolve/Resolve.scala#L316

However I am unable to reproduce it, what is your Bloop version and what system are you running under?

You can use `bloop about` to check:
[code]

[2021-02-01 16:58] jypma commented on #1448
Running on arch linux (fairly up-to-date), installed through [aur](https://aur.archlinux.org/packages/bloop/). Looks similar to yours:
[code]
The directory also sits inside a LUKS-encrypted loopback volume (in case that makes any difference), so I'm invoking bloop from `/run/media/{user}/{volumeId}/path/With Spaces/morepath`.

[2021-02-01 17:00] jypma commented on #1448
So dependencies are called "Apps" in coursier? I wonder if there's some escaping to be done when calling the Coursier API, or whether there's no real way to add space-containing args that way at all. [Looks like](https://github.com/coursier/coursier/blob/7bba8ce7881a90fdc386c6533f08a114ae964944/modules/cli/src/main/scala/coursier/cli/resolve/Resolve.scala#L312) it expects some `app:{args...}` stuf

[2021-02-01 18:13] tgodzik commented on #1448
Somehow I didn't see that you are invoking `console` instead of `compile` :sweat_smile:
I managed to reproduce it, but I get a different exception:
[code]

which probably is due to the classpath not being escaped here:
https://github.com/scalacenter/bloop/blob/f81585d437a44e76b4c2c2919f94067396130f3b/frontend/src/main/scala/bloop/engine/Interpreter.scala#L286

We should be able to just add `"` the

[2021-02-02 16:28] #1448 closed

[2021-02-02 16:30] tgodzik commented on #1448
After https://github.com/scalacenter/bloop/actions/runs/531315279 finishes (if it finishes successfuly) we should be able to test it out in your case.

[2021-02-03 00:27] tribbloid commented on #949
+1, very important to be used in industry

[2021-02-03 00:59] tribbloid opened #1452 "gradle integration doesn't work with multi-module project"
Tested with gradle 6.4.1, with latest bloop plugin.

For a project with multiple submodules defined in settings. running `gradlew bloopinstall` only generates bloop metadata for the top level project

[2021-02-03 07:59] Arthurm1 commented on #1452
Hi @tribbloid

Did you apply the plugin to the sub-projects as seen [here](https://scalacenter.github.io/bloop/setup#gradle)

Alternatively - if you're using Metals/VSCode you don't need to specify the plugin in the gradle build - Metals will do that for you when you run Import Build

[2021-02-03 23:51] kubukoz opened #1453 "`bloop run` sometimes exits with code 64"
Hi!

I've noticed that `bloop run` will sometimes exit without giving any output. The exit code it'll produce is 64 (as seen in `$?`).

I was able to reproduce it in a simple project, but unreliably:

[code]

[code]

In my work project, it seems like I'm more likely to get that behavior after canceling (ctrl+c) a previous run - but it's still not happening every time.

[2021-02-04 14:17] tgodzik commented on #1453
Thanks for reporting! This is probably something around bloopgun and I remember similar issues being reported at some point.

[2021-02-08 11:57] tgodzik commented on #1383
We are starting to work on this, based on @Duhemm feedback we plan to do the migration in two main step steps.

1. Remove custom build pipeling and migrate to newest zinc to benefit from all the recent improvements -> Bloop 1.5.0
This step would include:
 - run benchmarks on current state
 - simplify the tests removing any that touch pipelining, remove the custom build pipelining and migrate to th

[2021-02-08 21:21] mdbergmann commented on #1452
When the plugin is applied in the `all-projects` closure it works fine here.

[2021-02-09 15:54] tgodzik opened #1456 "Remove stripPrefix("-J") workaround for Metals"
In order not to leak internal Bloop implementation we decided to no longer user `-J` when running via DAP. This is no longer needed since we have a separate field for jvm options. For a smooth transition however, we decided to add a workaround that will strip `-J` prefix when it's passed from Metals.

We should be good to remove it once Metals is release with 1.4.7 version of Bloop.

PR that intro

[2021-02-10 22:57] #723 closed

[2021-02-10 22:58] philwalk commented on #723
PR #1443

[2021-02-11 00:01] tribbloid commented on #1452
@mdbergmann  do you have an example project?

It doesn't work for me in https://github.com/tribbloid/shapesafe/blob/7e29090e67f50415d7b92e677eaa22cc8949d758/build.gradle.kts#L37-L37:

[code]

[2021-02-11 00:03] tribbloid commented on #1452
BTW, I use the commandline tool to try to generate the .bloop dir:

[code]

But it is only generated under root directory

[2021-02-11 00:25] tribbloid commented on #1452
sorry, just realized that the .bloop dir already contains definition files for all the submodule.

Case closed, should have read more carefully

[2021-02-11 00:25] #1452 closed

[2021-02-11 22:49] kubukoz opened #1457 "-jvm-debug flag"
Hi! I think it would be pretty valuable to allow passing a flag to `run` / `test`, like [we can do in sbt](https://github.com/sbt/sbt-launcher-package/commit/211ffa3e3#diff-64087abe6d4b2df660baa360f5041e2e3c05ed9d406e6d297d13c314c3f3ded5R285).

I saw a `--debug` flag in `bloop run`, but it's not very well documented and I'm not sure it can even be used for this.

[2021-02-12 16:03] tgodzik commented on #1457
Thanks for reporting, what is the use case here? Is it that you want to debug the application run in Bloop via Intellij?

Otherwise, you can debug any application by running it from a DAP client via Metals for sure, but I guess if you need expression evaluator then Intellij is needed.

Anyway, I think that is a good flag to have and should not be difficult to add.

[2021-02-12 17:55] kubukoz commented on #1457
It's to debug via IntelliJ or just jdb ;)

[2021-02-16 15:46] olafurpg opened #1459 "Bloop launcher hangs during initialize request"
Opening this issue so that it can be indexed by Google in case anyone else hits on the same issue.

I'm creating a BSP client with bloop-launcher and when I send the initialize request it gets stuck on this output here.

[code]

The fix was to pass in a URI instead of a file path in the `rootUri` parameter of `InitializeParams`.

[2021-02-16 15:46] #1459 closed

[2021-02-18 08:34] ckipp01 opened #1460 "Unexpected Error on MacOS"
With a fresh install of Bloop via `cs install bloop`, I now get the following when attempting to run any command:

[code]

Going back in the versions this started for me with `1.4.6-38-2f6fdcba`.

OS: MacOS
Install Method: Coursier
Java Version: openjdk version "11.0.9.1"

Creating this as a follow-up to my comment in here: https://github.com/scalameta/metals/pull/2524

[2021-02-18 09:14] tgodzik commented on #1460
It seems that the issue might be coming from https://github.com/scalacenter/bloop/pull/1443/files :thinking:

[2021-02-18 11:07] #1460 closed

[2021-02-19 21:43] przemek-pokrywka opened #1463 "No longer able to run with Coursier launch - regression from 1.4.6 to 1.4.7"
Hi,
[code]
runs fine, but
[code]
fails with error:
[code]

and trying to add extra jars:
[code]
doesn't help.

I suspect that something might be missing within the 1.4.7 jar, I'll appreciate any clues.

**important note**
This happens only when no Bloop server is running.

[2021-02-19 21:54] tgodzik commented on #1463
Thanks for reporting! This is probably an issue with the upgrade of coursier we did recently. What version of coursier are you using?

[2021-02-20 06:47] przemek-pokrywka commented on #1463
Coursier 2.0.12

[2021-02-20 08:47] tgodzik commented on #1463
I will take a look, not sure exactly what is happening since this LazyList should be available. This might something that I misunderstood about shadowing though.

Is it possible for you to run `cs install bloop` ?

[2021-02-20 17:51] przemek-pokrywka commented on #1463
Yes, `cs install bloop`, followed by `bloop about` works fine.

Running `cs launch bloop -- about` fails with the mentioned LazyList error.

[2021-02-21 10:42] przemek-pokrywka commented on #1463
@tgodzik regarding your shadowing comment, have you noticed that the missing class is from `compat` package (`scala.collection.compat.immutable`)?

That package is missing in Scala 2.12, it is present in Scala 2.13.

[2021-02-21 11:10] tgodzik commented on #1463
It think it's the scala-collection-compat library which adds the LazyList for 2.12 so that it's easier to crosscompile coursier. Not sure why it's a problem, but I added it to ignored shading workspace, which I might need to unignore.

[2021-02-21 11:29] przemek-pokrywka commented on #1463
The missing Lazy List class needs to be somehow supplied to the shadowed Coursier if `cs launch` is to work.

Thanks for the scala-collection-compat remark, I managed to make `cs launch` work using:

[code]

Can the problem with the current configuration of shadowing be that the `scala` namespace is excluded and the compat classes are from `scala...` package tree?

[2021-02-21 12:24] tgodzik commented on #1463
Yes, that's what I think. Excluding seemed safe as it's binary compatible for the most parts and Bloop itself is not using it. However, I wonder if excluding means that it's not added to jar instead of just not being shaded.

[2021-02-21 15:23] przemek-pokrywka commented on #1463
It's not added to the jar, I've checked. Meanwhile Coursier still expects it to be there.

[2021-02-23 18:42] pjoneswork opened #1466 "Converting package to object gives "<object> is already defined as package <package>""
Converting a package to a top level object with the same name gives "<object> is already defined as package <package>"

To reproduce start with the follow setup:

[code]

After metals has loaded and built the project change `foo.scala` to

[code]

Get the error message `bar is already defined as package bar`.

The error message remains even through doing the following commands exposed by VSCode:

[2021-02-24 15:08] tgodzik commented on #1466
Thanks for reporting! I think the issue here is that we don't fully clean the results when being sent the clean request. It's soemthing on my list to take a look at.

[2021-02-25 09:43] the-kenny opened #1467 "Installation via brew fails on M1 Macs"
Trying to install the latest bloop via Homebrew on a M1 MBP fails:

[code]

[2021-02-25 10:07] tgodzik commented on #1467
Thanks for reporting! It looks like graalvm is not support in jabba, which is used underneath in coursier:

https://github.com/shyiko/jabba/blob/master/index.json

arm64 architecture only has jdk currently.

It also looks like it's graalvm is not supported on arm64? https://github.com/oracle/graal/issues/2666

Probably it would be best to use normal jdk currently, though I am not up to date on spe

[2021-03-01 09:47] #1463 closed

[2021-03-01 17:49] flomebul opened #1470 "Error on scalacOptipons translation from sbt to bloop"
I use `bloop` via `VSCode + Metals` on top of sbt (`sbt-bloop 1.4.8`).
I just discover an issue with the following `build.sbt` extact:
[code]

Under sbt, all is fine. But with bloop the  `test scalacOptions` is wrong: it look like that the two last lines for `Test` where applied after the three first lines destinated only for `Compile` where applied.
The result is an an error:
[code]

[2021-03-01 19:13] shasts opened #1472 "Gradle integration generates incorrect project names when the same project name exist in a non code directory"
### Description

When generating `bloop` config for a Gradle project, the config file/project names have a regression that got introduced in https://github.com/scalacenter/bloop/pull/1193

Consider a project structure like below where code and infra are stored in the same repository.

[code]

`project-a` can be seen in both `infra` and `code`. `code` is a scala project whereas `infra` could be inf

[2021-03-01 19:16] tgodzik commented on #1470
Thanks for reporting! Not sure exactly what is happening since we do get the information from sbt itself. Is the order correct in `.bloop/asuivre-test.json` ? We might be mixing the scalac options ordering if that is the case.

[2021-03-01 21:31] flomebul commented on #1470
Extract from `.bloop/asuivre-test.json`:
[code]
We can see that `3.0` is before and after `-source` and that there is no `-Ycheck-init`.

My understanding is that the first three lines for `Compile` where apply, resulting to removal of `-Ycheck-init` and replacement of `-source future` by `-source 3.0`. Then the two line for `Test` are apply that try to remove `-source future`, but remove only `-s

[2021-03-01 22:05] flomebul commented on #1470
After investigation (and discovering how to debug with `sbt`), you're right... Same options in `sbt`.
Th difference is that `bloop` report the error while `sbt` does not.
I propose to close the issue.

[2021-03-01 22:12] tgodzik commented on #1470
Glad that you found the issue!

[2021-03-01 22:12] #1470 closed

[2021-03-02 15:07] alexfoxgill opened #1474 "Bloop compiler crashes on compilation error"
When running `bloop compile root --verbose` on one particular project (unfortunately a work project that i can't share) I see an error with this stack trace:
https://gist.github.com/alexfoxgill/b55773b096a425230b0265f0a934a5dd

[2021-03-02 15:29] tgodzik commented on #1474
Thanks for reporting! Looking at the issue it seems that we are rethrowing the exception on purpose :thinking:

[2021-03-02 22:30] carlosedp commented on #1467
It's also not supported on arm64 Linux hosts using AdoptOpenJDK 8:

[code]

My environment:

[code]

[2021-03-03 09:18] tgodzik commented on #1467
I think I know what's going on. Homebrew install uses the graalvm-native-image by default, which is not possible to use on arm. We should probably detect it an install jar based launcher in this case.

The workaround currently is to use coursier to install it:
`coursier install bloop-jvm`

It would be best to fix it in https://github.com/scalacenter/homebrew-bloop/blob/master/bloop.rb to detect th

[2021-03-03 14:19] carlosedp commented on #1467
Just adding that I haven't used Homebrew to install Coursier on Linux. Used the native binary directly and then `cs install cs`.

[2021-03-03 14:29] tgodzik commented on #1467
The default `bloop` app is using the native image. That's why you need `bloop-jvm`

[2021-03-04 10:37] #1472 closed

[2021-03-11 14:01] ckipp01 opened #1478 "[Feature Request] - Support `noColor` in launcher."
Depending on the client, they may not support color in the way they are displaying test output during a debug session. For example, using [Vimspector](https://github.com/puremourning/vimspector) via coc-metals, the output is showing the escape codes. There are ways to disable color output via the cli etc, but as far as I can tell, there isn't a way to disable the colored logging, but also it seems

[2021-03-11 14:37] tgodzik commented on #1478
Btw. you should also be able to use `NO_COLOR` env variable to work around it.

[2021-03-11 14:43] ckipp01 commented on #1478
Yup, that works, but also turns color off when using Bloop cli, which I don't want. Actually literally as typing this I'm not thinking this all may be problematic in general. If we have this in launcher and we say `noColor`, and then launch bloop with that. If you then use Bloop cli, that reporter with `noColor` set will still be used won't it?

[2021-03-11 14:46] tgodzik commented on #1478
@ckipp01 uch, I think it will. We would need a per client setting.

[2021-03-11 14:50] ckipp01 commented on #1478
😆 your idea to do this in Metals is looking more and more appealing to me.

[2021-03-11 14:51] tgodzik commented on #1478
Yeah, it seems much less complex :sweat_smile:

[2021-03-13 16:23] godenji commented on #949
Apparently [this issue](https://github.com/scalameta/metals-feature-requests/issues/15) over at Metals never actually happened in Bloop?

Not the end of the world manually defining:
`bloopAggregateSourceDependencies in Global := true`

but would be nice to get `ProjectRef` support out of the box to clue in VS Code et al...

[2021-03-15 16:42] tgodzik commented on #949
I actually haven't realized there is a separate option for that, but this seems to be true by default. If it doesn't work for a project, we should investigate.

[2021-03-16 00:39] godenji commented on #949
To be clear, without the referenced setting sbt compiles just fine; it's VS Code/Metals/Bloop that doesn't recognize dependent git `ProjectRef` sources.

Also, Scala 3 RC1.

[2021-03-16 10:00] tgodzik commented on #949
@godenji does it work with the setting? Do you have an example project maybe somewhere?

[2021-03-16 13:26] ohechtl opened #1479 "bloop fish completion prints errors"
Hi!

When I hit <Tab> after inputting an expression like `bloop test ` in the fish terminal, I'll get this text printed before I'll get my completion:
[code]

Although I'll get my completion after this, and I won't get a new error if I try to reproduce it again, it's a minor pain point for me.

Do you have any idea what could cause this?

[2021-03-16 15:58] tgodzik commented on #1479
Thanks for reporting! I am not exactly sure what might be causing these issues. I would welcome any help if anyone is more versed in fish.

I might take a look into it at some point in the future as I also use fish, but I cannot promise anything.

[2021-03-17 02:32] godenji commented on #949
Yes, it works fine when I manually define the setting in my build.sbt; it's when I omit the setting that VS Code no longer recognizes git `ProjectRef` dependent sources.

[2021-03-23 11:16] othon2000 opened #1481 "bloop server with vscode "recently" became a memory hog"
Hi all,

Since "a few months", as I use vscode with metals/bloop throughout the day, bloop server `java` processes basically eat up all the memory on my laptop, eventually making it unusable and forcing sometimes to boot it when it becomes 100% unresponsive even to open a shell outside of the X environment. For now my workaround is to run `pkill java` a couple times a day.

![image](https://user-i

[2021-03-23 11:44] maxstreese opened #1482 "Rename And Re-Reference The Coursier CLI Usages"
# Proposed Change

Rename and re-reference the Cousier CLI from `coursier` to `cs`.

# Motivation

For some time now the Coursier CLI is named `cs` instead of `coursier`. However in both the Bloop documentation as well as the code it is still named/referenced as `coursier`. I think this should be adjusted for two reasons:

## 1. Documentation Alignment

The change should be made to make the docume

[2021-03-23 12:25] tgodzik commented on #1481
Thanks for reporting! Java processes will eat up all available memory over time if not limited. I recommend adding something like `-Xmx=2G` to `~/.bloop/bloop.json` as described here: https://scalacenter.github.io/bloop/docs/server-reference#custom-java-options

Especially that compiling requires creating a lot of objects, that are later discarded, there is no other possibility in larger project t

[2021-03-23 15:30] othon2000 commented on #1481
I tried, not helping.

![image](https://user-images.githubusercontent.com/16350492/112172314-e5e1e580-8bf4-11eb-9c66-fe00d69352a5.png)

Either the configuration is being ignored, or the memory consumption is on  the`PermGen` space instead. It would make sens because it seems to never be freed by the garbage collector.

[code]

[2021-03-23 15:39] tgodzik commented on #1481
If it's ignored the option will not show when you do `ps -ef | grep bloop`, but some memory usage is indeed might be coming from PermGen, you can check that out using jconsole, that should be included in your JDK. Also (you probably did it) Bloop server needs to be stopped and restarted to actually pick up the options.

[2021-03-23 16:32] othon2000 commented on #1481
@tgodzik I see it was added only to one out of the 4 `java` processes related to `bloop` -> `pid 345267` in the below list.
[code]
The process `345267` seems "under control" regarding memory, however the `pid 350572` from `Metals` is not. Maybe I

I guess that `metals` is my problem, and not `bloop`. I should search for the equivalent settings there and/or report the problem.

Thank you very much

[2021-03-23 17:09] tgodzik commented on #1481
For metals you can use the server settings in the VS Code configuration:

![image](https://user-images.githubusercontent.com/3807253/112187938-d7022f80-8c02-11eb-8ef6-865d06f264af.png)

[2021-03-23 17:16] tgodzik commented on #1482
Thanks for reporting!

Scala 3 should work almost exactly the same while all the tooling is in place.

We could do that, especially that most people will be using `cs` now, though `coursier` is still used for the jar based launcher, so not 100% sure about it.

I think if possible it would best to do 5, we already do a similar thing in Metals:

https://github.com/scalameta/metals/blob/65c1ec565efbe

[2021-03-23 17:18] tgodzik commented on #1478
This one is solved in Metals, so I don't think we will be working on it in Bloop as that will require a lot more effort. We can reopen once this becomes an issue again.

[2021-03-23 17:18] #1478 closed

[2021-03-23 19:00] kammoh commented on #882
Hi,
Any updates on this issue?

bloop v1.4.8, JDK 15:
[code]

[2021-03-23 19:09] kammoh commented on #1384
Any updates on this? Seems like an easy fix if only requires a bump on the snailgun dependency?

[2021-03-24 10:34] tgodzik commented on #1384
@kammoh Let's see if it helps: updating snailgun here https://github.com/scalacenter/bloop/pull/1483

[2021-03-24 14:20] tgodzik commented on #1384
Tested it out an it seems to work - you can downlaod the most recent binary here: https://github.com/scalacenter/bloop/actions/runs/683113002

We'll probably need to release next version to have it sensibly available for the users.

[2021-03-24 14:20] #1384 closed

[2021-03-24 14:22] tgodzik commented on #1481
Closing this as it's hard to always know what memory requirements are needed. I suggest using always -Xmx in those cases.

[2021-03-24 14:22] #1481 closed

[2021-03-28 04:01] kammoh commented on #1384
Thank you @tgodzik! It seems to have fixed the issue.

[2021-04-01 17:21] maxstreese commented on #1482
Hi @tgodzik,

Apologies for getting back so late. I did take a look at point (5) and it's easy enough in a dummy application:

[code]

The above assumes a recent version of the Coursier API but is otherwise dependency free. Packaging into a static binary via `GraalVMNativeImagePlugin` works on my machine using GraalVM CE 21.0.0.2 with OpenJDK 11.0.10. It's obviously not final as things like the Sc

[2021-04-01 17:41] tgodzik commented on #1482
There is more info about snailgun (Scala nailgun client) here: https://github.com/jvican/snailgun
You can read the motivation behind it there.

I think the biggest issue here is that have the Bloop server that actually know things about the codebase and you have a separate native image client app, which is Bloopgun. The way it currently works is that we send the `console` command via Bloopgun to B

[2021-04-12 12:15] Alexey-NM opened #1486 "Prevent full compile on server reloading"
Currently( bloop v1.4.8), after restarting server bloop trigger full compile. That  does not allow to use docker's containers for sharing night builds.

[2021-04-12 12:18] ckipp01 opened #1487 "Migrate back to `alexarchambault/case-app`"
Taking a quick peek again at #1295 , I think a necessary first step is to actually migrate away from the `ch.epfl.scala:case-app` that Bloop uses. This is a fairly large task in itself that can be done apart from migrating to 2.13, which already seems to be quite a large task.

I have no idea why this was forked and used, I don't see it under the scalacenter org at all, and I'm unsure if there is

[2021-04-12 13:12] tgodzik commented on #1486
Thanks for reporting! Not sure why this happens, but I will take a look later this month.

[2021-04-14 08:22] gravelld opened #1488 "Scala project within multi module Grade build utilising 'includeFlat' will not build"
Original discussion: https://gitter.im/scalacenter/bloop?at=607564bdae90f368407a336a

I'm trying to install and compile some Scala projects which are part of a Gradle multi module build. End result is I want to use Metals, but Metals isn't playing nice, so I thought trying to compile via bloop might be a good first step to work out what is happening.
I have installed bloop. However, when I run the

[2021-04-14 08:25] gravelld commented on #1488
Note that the source set shows `src/main/java`! Changing it to `src/main/scala` appears to make no difference.

Also, there are no `dependencies` listed, but the build does define JAR based dependencies (not source dependencies).

[2021-04-14 08:46] Arthurm1 commented on #1488
Hi @gravelld

What version of the Bloop gradle plugin are you using? 1.4.8?
What version of Gradle are you using? >5.0 <7.0?
What's the definition of `libraries.scala_library` "org.scala-lang:scala-library:2.13.5"?

The Gradle export seems to think this is a pure Java project and doesn't have the Scala plugin applied.

[2021-04-14 20:01] keynmol opened #1489 "Bug: jsdom hardcoded to false in Scala.js projects"
## Bug

Seems like (unintentionally?) jsdom setting in the generated config is set to false: https://github.com/scalacenter/bloop/blob/3eab1f8079cfaf228ec68740daadf5854070c89b/integrations/sbt-bloop/src/main/scala/bloop/integrations/sbt/SbtBloop.scala#L779

Which means the tests don't run from IDEs.

Manually changing `jsdom` to `true` in the generated json config leads to tests running successful

[2021-04-15 03:17] kammoh commented on #1288
I also the see issue in bloop 1.4.8 and master.
I'm trying to pass config map to scalatest.
The same code works fine using `sbt`.
[code]
I also tried the `--args` flag and different variations of quotations. None works.
Tried bloop "1.4.8" and "v1.4.8-19-4d9f966b", also JDK 8 and 11.

[code]
Should I create a new issue or can this one be reopened?

[2021-04-15 07:14] tgodzik commented on #1288
Hey @kammoh  thanks for letting us know. Would it work with `-J-Dasdf=123` ? Just guessing here, because I haven't dug match into the problem, we can open another issue if that doesn't help.

[2021-04-15 08:50] tgodzik commented on #1489
Thanks for reporting! It seems that this just the default and we should pick that up somewhere else. I do not have time to take a look right now, but I will get back to it later on.

[2021-04-15 09:36] keynmol commented on #1489
I've already started hacking on the codebase trying to fix it - would you mind assigning it to me?

[2021-04-15 09:51] tgodzik commented on #1489
Not at all! Thanks!

[2021-04-15 10:16] gravelld commented on #1488
Yep, 1.4.8, apologies for not posting this before.

Gradle 6.8.3.

	scala_library: 'org.scala-lang:scala-library:2.12.8',

So my next step was to move all configuration contributed by the root project into the subproject so with total control, see if I could just get this small project building.

TL;DR: **I did a bunch of frigging about on this, but to cut to what the fix appears to have been...**

[2021-04-15 10:53] Arthurm1 commented on #1488
Hi @gravelld

I'll look to add `includeFlat` support.  You shouldn't have to change your project to use Bloop/Metals

[2021-04-15 15:47] alexarchambault commented on #1487
I started to have a look at this, as I'd need bloop-launcher in 2.13 in a project I'm working on.

[2021-04-15 17:35] kammoh opened #1490 "Passing arguments from CLI to Scalatest runner does not work"
CLI runner [arguments](https://scalacenter.github.io/bloop/docs/cli/tutorial#pass-test-arguments-to-test) are not passed to [Scalatest](https://www.scalatest.org/scaladoc/3.2.7/org/scalatest/ConfigMap.html). Previously reported (and not fixed) in  #1288.

[code]

It works perfectly fine with `sbt`:
[code]

Tried and not worked:
- The `--args` flag and/or variations of quotations
-  bloop "1.4.8" a

[2021-04-15 17:38] kammoh commented on #1288
Thanks @tgodzik for the feedback. Unfortunately it did not work. I opened #1490.
I'm running on macOS and OpenJDK 11/8. Does it work on under other OSes and/or JVM versions?

[2021-04-15 17:39] tgodzik commented on #1288
It should work there.

[2021-04-15 17:39] tgodzik commented on #1490
Thanks for reporting! I will try to take a look at it at some point unless anyone else is able to take a look :s

[2021-04-16 13:33] gravelld commented on #1488
@Arthurm1 I've re-opened this as you have implied this should be fixed - I also changed the title to reflect the issue.

[2021-04-18 04:47] aishfenton opened #1493 "gradle broken javac options"
Since the v1.4.7 release the Gradle integration is producing a broken set of javac options. Basically, `./gradle bloopInstall` runs fine, but when you run Bloop compile it now has the following exception:

`Unexpected error when compiling my-project_2.11: invalid flag`.

Poking around a bit I think the problem is that in Bloop 1.4.7+, it started to support annotation processing. This adds an addit

[2021-04-18 05:01] aishfenton commented on #1493
Can confirm that once I remove the `-sourcepath` option manually (i.e. edit the `.bloop/myProject.json` file everything works fine.

[2021-04-18 07:49] Arthurm1 commented on #1493
Hi @aishfenton

The javacoptions were being corrupted in v1.4.8.

This should be fixed by #1476 and you can use the latest snapshot of the plugin `1.4.8-19-4d9f966b` to try out the fix

[2021-04-18 08:06] Arthurm1 commented on #1488
@gravelld

Just to confirm I've got your `includeflat` project layout correct...
[code]

So you always have to execute `gradlew` commands from within the `elsten-software_bliss`  or `com.elsten.google.gson` dirs and you can't execute them when you're in the `git-repo` dir?

[2021-04-19 13:27] gravelld commented on #1488
No, it's like this:

[code]

[2021-04-19 13:31] gravelld commented on #1488
You can execute Gradle commands in any folder - specific tasks can be added to specific subprojects. In fact, my main build is a separate subproject.

If you're in the root `elsten-software_bliss` folder you can't really do anything even if you have a gradle executable in your PATH - it doesn't know to route your request to `master` and so it doesn't know what the subprojects are.

[2021-04-19 15:30] aishfenton commented on #1493
Can confirm, that fixed it for me. Thanks @Arthurm1

[2021-04-19 15:46] #1493 closed

[2021-04-22 16:32] EveryonePrint-dev opened #1494 "Import code action makes the wrong code change"
(I see this mostly since either 0.10.1, or 0.10.2)

The code actions show the right completions (imports).
But choosing a completion makes the wrong code change.

I.e.:

This class which not yet has an import:
[code]
shows the right code action as "import" -> "akka.actor.Address".

But when executed the code action the code is changed inline as:

[code]
And no import is being made at all.

In othe

[2021-04-22 17:19] EveryonePrint-dev commented on #1494
The JSON code for the replacement looks like this:

[code]

[2021-04-22 18:17] tgodzik commented on #1494
Thanks for reporting! This issue is actually connected to Metals, so I will transfer it there.

[2021-04-22 18:18] tgodzik commented on #1494
Ok, I need to close it and reopen actually.

[2021-04-22 18:24] tgodzik commented on #1494
Opened https://github.com/scalameta/metals/issues/2736

[2021-04-22 18:24] #1494 closed

[2021-04-26 16:49] #1487 closed

[2021-04-26 19:34] odwrotnie opened #1495 "Incorrect unreachable code problem"
Bloop is reporting `unreachable code` in wrong place

# The code

[code]

# Visual Studio Code screenshot

![image](https://user-images.githubusercontent.com/473035/116139761-a9634700-a6d6-11eb-8d96-dee8f6d1557b.png)

[2021-04-27 11:38] Alexey-NM commented on #1351
They say in https://www.scala-sbt.org/1.x/docs/Remote-Caching.html

It can be done similar

[2021-04-27 11:52] Alexey-NM commented on #1351
There is said in https://www.scala-sbt.org/1.x/docs/Remote-Caching.html
sbt 1.4.0 / Zinc 1.4.0 virtualizes the file paths tracked during incremental compilation, and uses content hash for change detection. With these combination, we can realize repeatable build, also known as build as function.

[2021-04-27 16:29] tgodzik commented on #1495
Thanks for reporting! Do you maybe have a smaller reproduction that we can take a look at? Is it just a question of wrong position, stale warning or altogether out of the blue weird warning? Does it get reported via the build tool itself?

The warning comes from the compiler itself, but some things might be broken when it comes to incremental compilation. Did you try clean build?

[2021-04-27 18:00] odwrotnie commented on #1495
It is a weird warning in this class only. I have tried to clean.

[2021-04-28 09:22] tgodzik commented on #1495
Does it pop up with sbt? Any chance for a reproduction?

[2021-04-28 10:21] odwrotnie commented on #1495
It is only visible in VS Code, SBT does not mention it.

[2021-05-07 18:00] fernandoracca commented on #1467
Reproduced this issues on a Mac M1 via Homebrew installation.

This file is been used as an index for the JVM to pull

https://raw.githubusercontent.com/shyiko/jabba/master/index.json

however, there is no such version 19.3, instead it has a minor version

        "19.3.0": "zip+https://github.com/graalvm/graalvm-ce-builds/releases/download/vm-19.3.0.2/graalvm-ce-java8-windows-amd64-19.3.0.2.zip",

[2021-05-07 18:04] fernandoracca commented on #1467
this PR looks related

https://github.com/scalacenter/bloop/pull/1278

[2021-05-12 19:41] #1134 closed

[2021-05-13 15:45] pjrt opened #1502 "Flag to in inverse output in the cli"
Bloop's CLI currently prints out errors last-to-first. Though this is great when you are running the cli next to code, it makes it hard to pipe the errors into simple text-based jumping mechanisms (like vim's quickfix list).

Bloop should include a way to inverse the output back to the traditional first-to-last order.

[2021-05-13 16:29] tgodzik commented on #1502
Thanks for reporting! I think it's something that's possible to do, however not totally sure how to tackle that currently. Let's keep it open and get back to it in the future once I maybe get a better hang of what is exactly going on.

[2021-05-13 19:27] j-potts opened #1503 "Inaccurate Scalaz-deriving Errors"
Hey guys,

Looks like there may be some compatibility issues with the latest scalaz-deriving and bloop. Under my multi-project mono-repo I'm using the following libs:

- scalaz-deriving 3.0.0-M2
- scalaz 7.3.3
- pureconfig 0.13.0

The issue I'm facing is that using those libs together will cause persistent errors to show up, despite not showing up when compiling within SBT. Here a code snippet as

[2021-05-17 14:57] #1488 closed

[2021-05-19 06:56] tgodzik commented on #1503
Thanks for reporting! Were you able to run with SBT BSP as suggested on Discord? I am not too familiar with pureconfig or scalaz-deriving. Might this be indeed an issue that macro annotation reads configuration from the classpath at compile-time?

[2021-05-19 15:29] pjrt opened #1504 "`sbt bloopInstall` does not share resource files if there are no scala files in a project"
The title might be confusing, here's what's happening.

We have a project (sbt) that has nothing in it but a resource file. This file is shared with other projects via "depends" method on SBT projects.

When we call `sbt bloopInstall`, the projects that have a dependency on it seem to not get access to those resource files.

Adding a dummy scala class to that resources-only project fixes the issue

[2021-05-19 15:31] tgodzik commented on #1504
Thanks for reporting, this should not be that hard to fix I think. We most likely treat the module as empty is there are no Scala files.

[2021-05-19 15:33] pjrt commented on #1503
I found the underlying issue to be a bug around `sbt bloopInstall`.

https://github.com/scalacenter/bloop/issues/1504

[2021-05-21 14:10] tgodzik commented on #1503
Do you have maybe some sample project I can take a look at ?

[2021-05-21 18:43] stefanrybacki opened #1505 "Bloop generates .bloop/.json file for root project with empty project.name"
In VSCode using metals:

What can be the reason that bloop generates a json without a name with empty project.name within the json for a gradle project.

It leads to error: `WARN  no build target for:` or any scala file within the project.

Manually changing the json name and project.name fixes the error.

[2021-05-23 09:22] Arthurm1 commented on #1505
We do play with the project names to create the simplest version of each project while making sure project names don't clash.  I imagine it's to do with that but can't think how it would produce empty project names.

Could you create a minimised reproduction of your build file(s) and post it here please.

[2021-05-23 11:17] stefanrybacki commented on #1505
Will try to create a minimalistic example. However, it is weird, using the same repository on machine, different folder, it works as expected.

[2021-06-13 19:14] GavinRay97 opened #1508 "Scala 3 Maven integration broken (`mvn bloopInstall`)"
https://github.com/davidB/scala-maven-plugin/issues/487#issuecomment-860177157
https://github.com/davidB/scala-maven-plugin/blob/master/src/it/test_scala3/pom.xml

I have `pom.xml` like below:

[code]

Trying to let `Metals` import it to `bloop` errors, because of inconsistency in the URL's:
- Right `Downloaded from central: https://repo.maven.apache.org/maven2/org/scala-lang/scala3-library_3/3.0.

[2021-06-14 08:35] ckipp01 opened #1509 "Warnings not cleared or not shown for Scala 3"
This relates to this issue created in Metals: https://github.com/scalameta/metals/issues/1683

Using Bloop via Metals
Bloop version:  1.4.8
Scala version: 3.x

Given the following code:

[code]

You see the about the pure expression doing nothing. If you then remove the `""` the warning is not cleared. The task finishes and does say that there was no errors or warnings:

[code]

However, there is

[2021-06-14 11:25] ckipp01 opened #1510 "Update Monix to 3.x.x"
Started to again take a look at https://github.com/scalacenter/bloop/issues/1295 in hopes to get launcher published for 2.13. Another large task that can be separated out is an update to Monix 3.x.x. Due to the build graph publishing launcher forces updates in other modules, which forces Monix to be updated to a version that supports Scala 2.13. This happens to only be the Monix 3.x.x series. Look

[2021-06-14 14:08] gdxn96 commented on #1150
I followed your steps and it also fixed my issues @zingmane thank you!

[2021-06-16 15:43] Arthurm1 commented on #1505
Could you post the result of `./gradlew projects`

[2021-06-17 05:38] stefanrybacki commented on #1505
Here it the projects output (had to change some project names for legal reasons though):

[code]

I have jsons for all projects and sub projects including -test.json in my .bloop folder but for mmvs, which is the .json file with an empty project name. (maybe it has to do with :doc:sub1:mmvs?)

[2021-06-17 08:44] tgodzik commented on #1508
Thanks for reporting! I will take a look at it.

[2021-06-17 11:00] Arthurm1 commented on #1505
Ah - it looks like `rootProject#getPath` returns ":".  We only use that on name clashes.  I'll see about a fix.

I guess you have source code at the root project level?  I've not seen that in multi-project builds before.

[2021-06-17 11:47] stefanrybacki commented on #1505
We don't have source at the root level, we have buildSrc though.

[2021-06-17 12:06] Arthurm1 commented on #1505
OK - but you must be applying the Scala or Java plugin to your root project - otherwise Bloop wouldn't try to export that project.

[2021-06-17 12:14] stefanrybacki commented on #1505
We do have this:

[code]
I would assume `plugins` will auto apply the java plugin also for root.

[2021-06-18 11:54] Arthurm1 commented on #1505
AFAIK the following code will declare _and apply_ the java plugin...
[code]

To declare a plugin for use but not apply it you'd usually write...
[code]
but Gradle won't let you do this because `java` is a built in plugin so there's no need to declare it at all.

Just remove `java` from your `plugins` section and apply it as you do here...
[code]

The same is true with the `scala` plugin

[2021-06-20 08:23] AugustNagro opened #1519 "Java 11 Apis highlighted red using JDK 17 EA build"
Hi, with my JAVA_HOME set to `/home/me/jdks/loom-jdk-17ea`, Java 11+ apis such as `Path.of(...)` are highlighted red.

All setting are default, and using the latest Metals/Bloop version (using Linux).

[2021-06-21 09:01] #1505 closed

[2021-06-21 09:17] tgodzik commented on #1519
Thanks for reporting! JDK 17 is not yet supported and not tested. I would suggest downgrading to JDK 11 if possible. We will most likely need to support 17, as it's going to be an LTS version, but I will msot likely take a look at it around the release.

[2021-06-21 16:38] alexarchambault commented on #1240
This would be interesting in the context of developments I work on right now. In particular, using a named socket to connect to the bloop CLI would make it easier to use bloop from docker (where it can be a hindrance to set up networking just for bloop).

This shouldn't require a lot of work. I think the following should do:
- in snailgun, add a `Client` accepting a `Socket` rather than [just an h

[2021-06-24 16:35] #1508 closed

[2021-06-24 18:05] GavinRay97 commented on #1508
Thank you for the fix @tgodzik!

[2021-06-25 13:03] tgodzik commented on #1508
We still need to release it, but I guess I will do this next week as it's pretty important to make it work with Maven.

[2021-06-27 03:48] GavinRay97 opened #1524 "Bloop `run --watch` doesn't appear to reload when Spring Boot "Spring-Fu" functional routing Netty app source changes"
I have a Scala 3 app with the build in SBT, using the above mentioned setup.

Doing `bloop run <appname> --watch` doesn't appear to reload it on changes:

https://user-images.githubusercontent.com/26604994/123532152-bb626580-d6d8-11eb-94e3-281a3516b5c2.mp4

[code]
[code]

[2021-06-28 14:58] tgodzik commented on #1524
Thanks for reporting! Did this work with an equivalent project in Scala 2? Or is it an overall global issue? Not sure yet what might be exactly a reason, but will take a look at it at some point.

[2021-06-28 17:31] GavinRay97 commented on #1524
I haven't yet tried it with Scala 2 (just started looking into Scala in general a few days ago, so still getting acquainted with the ecosystem/tooling).

Does `bloop` wait for a process to finish before reloading?
It could be that -- after I worked more on this, I found that the below two solutions both worked:

[code]

The trick with `watchexec` and it's cousin `entr` http://eradman.com/entrproje

[2021-06-29 15:38] tgodzik commented on #1524
`--watch` should work here from what I understand, but I might know the full story here.

[2021-07-01 07:06] hmemcpy opened #1526 "Bloop: unable to start the launcher due to `java.lang.NoClassDefFoundError: scala/collection/immutable/List`"
Disclaimer: I'm not sure if the problem is with bloop or IntelliJ, or both.

I'm using BSP via bloop with IntelliJ (selecting "import existing sources", and choose `sbt via bloop` during import).
For some reason, it just started failing to import giving this error:

[code]

This worked just last week, so I'm not sure what could have happened.

AFAIK, bloop is compiled with Scala 2.12, and seemingl

[2021-07-01 22:10] kubukoz commented on #1524
I tried `--watch` a couple times with bloop and it never stops the application. The app neeeds to quit on its own, only then will the file watching trigger a re-run.

This, in general, could be improved but seems like a bigger project :)

[2021-07-02 02:02] jtjeferreira commented on #1272
also facing this "error" but since there is no file name or line number in the output is hard to understand what might be the problem...

[2021-07-02 08:57] tgodzik commented on #1524
Ach, yeah you are right! Something like hot swapping would most likely be useful here, but I haven't yet got back to that PR

[2021-07-02 13:13] tgodzik commented on #1526
Thanks for reporting! It seems that the invocation is missing Scala library, could this be the issue?

[2021-07-02 13:23] hmemcpy commented on #1526
Oh! I think you're right - I just compared the command-line with the older IntelliJ version - and indeed the `scala-library` is missing from the classpath!

So this is definitely an IntelliJ bug, I'll report it to Justin :)

Thanks, closing for now!

[2021-07-02 13:23] #1526 closed

[2021-07-10 06:12] 2m commented on #882
I have a clean MacOS install with `coursier` installed via brew and `bloop` installed via `coursier`. I get this error when running `bloop about`:

[code]

[2021-07-10 19:58] r4ravi2008 commented on #882
Facing the same issue as @2m

[code]

[2021-07-12 10:12] tgodzik commented on #882
This seems to be an issued with JDK 16, could you try with JDK 11? I think we fixed it in master, but will need to confirm. Anyway, I don't think this is related to current issue.

[2021-07-15 12:26] ckipp01 opened #1532 "`maven-bloop` no longer being published."
The last version of `maven-bloop` that was published was `1.4.8-69-93b5aa87`, which corresponds with https://github.com/scalacenter/bloop/actions/runs/964000053. The next pr was https://github.com/scalacenter/bloop/pull/1512/files, which looking at it I can't tell why that would stop publishing. Although the pr has to do with Maven so it does likely seem like the culprit. I noticed this today when

[2021-07-19 10:50] tgodzik commented on #1532
Thanks for reporting! I think this is due to the fact that we needed to bump the Scala version to 2.13, so the invocation also changed to:
`mvn ch.epfl.scala:maven-bloop_2.13:1.4.8-81-e170cd66:bloopInstall`

We need to update it together with the update PR.

[2021-07-19 10:50] #1532 closed

[2021-07-19 10:54] ckipp01 commented on #1532
Ahhhh I totally missed that, sorry!

[2021-07-19 10:56] tgodzik commented on #1532
Yeah, it's super not obvious. I haven't yet changed the docs since it refers to 1.4.8 https://scalacenter.github.io/bloop/docs/build-tools/maven#export-your-build

I will need to do a reelease, probably after dropping nuprocess to support M1s

[2021-07-21 08:56] #1450 closed

[2021-07-23 15:05] Arthurm1 commented on #1201
This can probably be closed because of #1464

[2021-07-23 15:08] tgodzik commented on #1201
Thanks!

[2021-07-23 15:08] #1201 closed

[2021-07-30 04:57] kpodsiad commented on #1510
Seems like a lot of fun 😅. I'll give it a try!

[2021-07-30 06:16] ckipp01 commented on #1510
That would be incredible @kpodsiad! I'll go ahead and assign you on here just to ensure someone else doesn't grab it while you're working on it. If you end up not finding the time, no worries, just let me know and I can remove you from it.

[2021-08-04 16:51] tgodzik commented on #1022
I am trying to improve the Maven support recently, so I will take a look at this soon, most likely before the next release.

[2021-08-08 23:31] Sciss opened #1543 "sbt plugin sbt-compat no longer found"
Hi there. I try to open the bloop root dir in IntelliJ. It tries to create model from sbt build, but ends up with

[code]

How to solve this? I want to navigate the sources inside IntelliJ.

[2021-08-10 10:38] tgodzik commented on #1543
It might be helpful to use BSP and Bloop support in Intellij, since that seems to work in Metals, so I suspect it should also be good in Intellij.

[2021-08-10 10:43] Sciss commented on #1543
Hmmm, I tried via New-Project-from-existing-sources and explicitly specifying External-model-BSP / sbt-with-bloop based project, but the same happens, these dependencies are tried and failed.

[2021-08-10 16:40] tgodzik commented on #1543
Are you behind a proxy maybe? I can't seem to reproduce the issue in sbt. Are you able to do at least `sbt compile` ?

[2021-08-10 18:47] Sciss commented on #1543
Not behind a proxy, tried different networks. `sbt compile` also fails. I'm at e7d4e01ed0ae1d7ddbaa41dac85cbd6b71005ca4

[2021-08-10 18:54] Sciss commented on #1543
Hold on. These are my global sbt plugins. Seems to be related to https://github.com/cb372/sbt-explicit-dependencies/issues/102 - still weird that this only comes from the bloop project and not any of the gazillions of other sbt based projects I'm using.

[2021-08-10 19:07] Sciss commented on #1543
Hmmm, not fully. sbt-compat is not a global plugin of mine, I think bloop uses it. Seems also affected by bintray having disappeared. Opening an issue [here](https://github.com/dwijnand/sbt-compat/issues/66)

[2021-08-11 17:39] tgodzik commented on #1543
I can't find reference to ` sbt-compat` anywhere in the codebase. Are you sure it is caused by Bloop? If that was the case all the CI build should be failing.

[2021-08-11 19:27] Sciss commented on #1543
Here is a bit more info, I think it is created by `sbtBloopBuildShadedJar`. The whole thing looks very contrieved anyway as there at least _four_ levels of projects: `project/project/project/project`. Oof.

Here is the relevant output after running again from total clean state:

[code]

You see, there are sbt project compilation errors because of File / Path mismatch, which I _guess_ is where sbt-

[2021-08-12 11:18] tgodzik commented on #1543
Are you sure that you don't have an old Bloop branch or that it's not declared somewhere in you env? On the newest Bloop master:
- no `sbt-compat` can be found in the project
- I don't have it on my machine and everything publishes ok
- I asked a collegue to compile Bloop, who has never did that before and it worked for him

I just don't see any possibility that it's being caused by Bloop itself.

[2021-08-12 12:19] Sciss commented on #1543
After recloning the repo and wiping `~/.sbt/1.0`, it seems something is reset. I now get this which I had never seen before:
[code]
So closing for now, as have move on to other things; I guess it was a local problem somehow.

[2021-08-12 12:19] #1543 closed

[2021-08-12 13:11] tgodzik commented on #1543
That's expected. You need to do `git submodule update --init` and also install `clang`

[2021-08-12 23:15] GavinRay97 commented on #996
Some years later, I am having some troubles understanding this (not very familiar with SBT or bloop internals).

1. I can see that bloop allows you to mark `TestFrameworks` -- you can do this in SBT with `testFrameworks += TestFramework()`, or I believe in `.bloop/<project-name>.json` via the key `project.test.frameworks`, which looks like:

[code]

2. So I have tried to install this library, and

[2021-08-13 00:50] Arthurm1 commented on #996
As far as I understand...

To identify tests, SBT (and Bloop) iterate through all the **public** classes and methods in the project classes dir and query the specified test frameworks to see if these classes/methods are tests relevant to these frameworks.

This is fine for most test frameworks, except for JUnit 5 which, unlike JUnit 4, allows **non-public** classes/methods to be declared as tests.

[2021-08-13 14:34] GavinRay97 commented on #996
@Arthurm1

Ahh -- that makes sense to me

But there is one thing which is confusing
That Scala code above compiles to only `public` Java methods as bytecode 😧

So if it does not work even as fully `public` code then I am not sure what might be the root of the issue 🤔

![image](https://user-images.githubusercontent.com/26604994/129372216-6b777e27-0ce3-4b48-aa39-a58c274c71b4.png)

[2021-08-14 18:55] Arthurm1 commented on #996
You should probably ask the author about it but I don't think the plugin uses the test discovery sbt test interface methods **at all**.

You can see [here](https://github.com/sbt/junit-interface/blob/320b6787dceb1b38f33064f6e74713dc862a87c8/src/main/java/com/novocode/junit/JUnitFingerprint.java#L5) that the working Junit 4 implementation tells the build tool to look for the annotation `org.junit.T

[2021-08-14 20:35] rodrigogdea commented on #1272
Same here... adding code inside quoted code (macro), getting:
[code]

[2021-08-15 22:24] GavinRay97 commented on #996
Ahh sonofabitch, yeah I see what you're saying.
I'm still not quite sure I understand the entirety of it -- but I think that if I fork this repo, and modify the contents of:

[code]
To instead have:
[code]

Then maybe we'd be getting somewhere?
I will try this and report back

[2021-08-17 15:05] tgodzik commented on #996
Would we be just able to use JUnit via LauncherDiscoveryRequestBuilder to discover the tests?

[2021-08-17 15:38] tgodzik commented on #996
Anyway, this looks like we need to implement it entirely in Bloop, perhaps we could even do some custom logic for discovery. Not 100% sure yet how best to try achieve it.

From what I've seen the logic checking if class is public is in Zinc, so it might be harder to change that.

Alternatively, a better overall JUnit 5 support could be a proposal to Scala Center that could be raised by community r

[2021-08-17 21:44] GavinRay97 commented on #996
This was along the lines of what I was thinking tbh

- Currently, I _think_ the reason this doesn't work in bloop is because (quite sensibly so, given state of Scala users preferred tooling) bloop choose to implement `sbt:test-agent` for detection of test classes
- Doing this means that you cannot use a regular Java `.jar` based test library like `JUnit`, or `TestNG`, but instead must write an `ad

[2021-08-18 10:20] Arthurm1 commented on #996
Can this not be solved by adding something like `getMinimumScope` method to `sbt.testing.Fingerprint` and have it return `Public, Package Private etc.`  Then maybe [Discovery](https://github.com/sbt/zinc/blob/c18637c1b30f8ab7d1f702bb98301689ec75854b/internal/zinc-apiinfo/src/main/scala/xsbt/api/Discovery.scala#L26) can be changed to take that minimum scope parameter and check against that instead

[2021-08-18 13:48] tgodzik commented on #996
It might be better to change the interface instead of coming up with an alternative solution, which would allow all other tools to work with it. We could move the discussion to sbt repo to see if they are against that and why it was never done?

[2021-08-21 18:18] GavinRay97 opened #1549 "Using "Metals -> Import Build", get `'Couldn't retrieve module org.scala-lang:compiler-bridge_2.13:3.1.0-RC1-bin-20210819-408e6d2-NIGHTLY:compile'`"
For some reason this only seems to happen with the `3.1.0` series and none of the dependency versions are different between `3.1.0`, `3.0.3-RC-NIGHTLY`, and `3.0.1/2`.

It just could be: "Hey, it's a nightly, stuff is going to break, who knows." 😅

[code]

[code]

[2021-08-22 09:47] Arthurm1 commented on #1549
Down to [this](https://github.com/scalacenter/bloop/blob/3d7bbe2c578cbe4f5d7b9b7569fa082de34fcf4b/backend/src/main/scala/sbt/internal/inc/BloopComponentCompiler.scala#L55)?

[2021-08-22 12:32] tgodzik commented on #1549
It seems so, but the 2.13 suffix looks wrong. Wasn't there an issue with releases? I will confirm on Monday!

[2021-08-23 10:45] tgodzik commented on #1549
Ach, that's actually my fault. I haven't figured that Scala 3.1 would come so quickly.

[2021-08-23 11:22] #1549 closed

[2021-08-25 19:09] shonfeder opened #1551 "Autocompletion instructions don't explain how to get autocomplete scripts"
I've run through the steps for installing bloop, but the instructions for command completions seem to be missing any info explaining how to actually get the scripts downloaded or initialized in `~/.bloop`.

Currently, on https://scalacenter.github.io/bloop/setup#command-line-completions, it says:

[code]

And then gives instructions for how to source the relevant rc files.  But this `.bloop` direc

[2021-08-28 02:45] shonfeder commented on #1551
Thank you for the tip! This will help me, and likely will help others until the solution is documented :)

[2021-09-02 11:13] #1132 closed

[2021-09-04 16:11] fineconstant commented on #1281
And same now with 1.4.8

[2021-09-06 09:50] #1022 closed

[2021-09-13 21:22] shawjef3 opened #1566 "Gradle bloopInstall fails with ConcurrentModificationException"
Unfortunately this is a project for my employer, so I can't share the project files. It is a multimodule project. I can share that the particular project that has the error uses these plugins.

[code]

 I was testing bloop with it. I got to the point where I needed to run `./gradlew bloopInstall -Si`, but this results in a tremendous stack trace. Removing the `allProjects` bloop installation and p

[2021-09-13 22:24] Arthurm1 commented on #1566
I'm guessing your `gradle.properties` contains `org.gradle.parallel=true` ?

Could you try
`./gradlew bloopInstall --no-parallel`

There's an issue with resolving classpaths with dependent projects in parallel

[2021-09-14 21:19] shawjef3 commented on #1566
It's possible that would fix it, but downloading dependencies is going to take so long that I can't wait for it to finish. It seems like whatever that collection is should be made synchronized or Concurrent.

[2021-09-15 00:43] Arthurm1 commented on #1566
If downloading dependencies sequentially is an issue then you could create a task like...
[code]
and execute...
`./gradlew downloadDependencies`
and then
`./gradlew bloopInstall --no-parallel`

I've not been able to replicate this issue myself on multi-builds although a few others have had this problem.

We don't share any collections across projects when exporting the build so I can only conclude

[2021-09-19 21:29] aishfenton opened #1569 "Release 1.4.9 broken in Gradle 7.2"
Since upgrading to Bloop `1.4.9`, and Gradle `7.2`, I'm seeing below error. Downgrading to Bloop 1.4.8 fixes it. Unfortunately it's an internal project, so I can't post the full gradle file here.

[code]

[2021-09-19 21:43] aishfenton commented on #1569
Scratch that. Clearly out the gradle dependency cache resolved it.

[2021-09-19 21:43] #1569 closed

[2021-09-26 13:01] nigredo-tori opened #1573 "maven-bloop doesn't include directories with generated sources"
Consider this maven project: [maven-example.zip](https://github.com/scalacenter/bloop/files/7231391/maven-example.zip). It includes a protobuf model for which Java code is generated, which is later compiled together with the unmanaged sources. Documentation instructs us to export it as follows:

[code]
(actually, documentation says 2.12, but that artifact does not exist). However, when exported th

[2021-09-27 23:08] aishfenton commented on #1566
I also get very often. I typically have to run `bloopInstall` 5 or more times, before it'll complete with out the issue. I suspect I get it so often because our project has so many sub-modules.

My setup:
* Gradle 7.2
* Bloop 1.4.9
* 32 CPUs
* We have large project containing 36 sub-modules

[2021-09-27 23:33] aishfenton commented on #1566
Also get this exception, which seems related as it's intermittent, and doesn't happen when you use `--no-parallel`.

[code]

[2021-09-29 11:01] tgodzik commented on #1573
Thanks for reporting! We should be able to switch to `process-sources`, let me try to experiment with that.

[2021-09-29 12:12] tgodzik commented on #1573
I tested it out and it seems there is not other way than adding `generate-sources`.

I updated the [docs](https://github.com/scalacenter/bloop/pull/1575) and will add the change to Metals also.

[2021-09-30 09:50] Arthurm1 commented on #1566
@aishfenton Don't suppose you could share your build files for this?  Part of the issue is that I can't reproduce this.

[2021-10-03 01:47] aishfenton commented on #1566
@Arthurm1 unfortunately I can't, as it's Netflix internal code :(

[2021-10-04 08:56] tgodzik commented on #1573
I updated the docs for Bloop and changed the way Metals runs the Maven command. Otherwise, I don't see any better workaround, because when Bloop is run as an outside plugin it will not invoke other phases.

Some power users might want to add Bloop to `pom.xml` and bind it to the `process-sources` phase, but we don't want to force it on people.

Closing it for now, unless anyone comes up with a bet

[2021-10-04 08:56] #1573 closed

[2021-10-05 10:42] Arthurm1 commented on #1566
The latest snapshot version `ch.epfl.scala:gradle-bloop_2.12:1.4.9-26-24f0bbad` should contain my attempts at a fix for both issues.

Could you both @aishfenton and @shawjef3 have a go testing with this?

You can test by putting this in your `build.gradle`...
[code]

and running `./gradlew bloopInstall`

[2021-10-05 11:27] olegbonar commented on #1490
Faced the same problem today.

[2021-10-05 16:54] alexarchambault opened #1578 "Bloop should delete domain socket files used for BSP communication"
When opening a BSP connection with Bloop via `bloop bsp --protocol local --socket /path/to/socket`, Bloop doesn't delete the socket file when it stops listening on it.

Even though this path is provided by clients, the socket file itself is created by Bloop. So I assume it should be deleted by Bloop itself, when it stops listening on it.

[2021-10-09 00:25] aishfenton commented on #1566
Will do ! Thanks @Arthurm1

[2021-10-09 00:39] aishfenton commented on #1566
Amazing @Arthurm1 . I think it worked !! 🥳  At very least I haven't been able to reproduce it with that snapshot (whereas when I revert to `1.4.9` it happens immediately)

[2021-10-10 15:47] nigredo-tori opened #1581 "maven-bloop: JUnit tests don't work out of the box"
### Symptoms

After importing a Maven project to Metals, it doesn't show lenses for JUnit test classes, as well as for ZIO specs which piggyback on JUnit machinery as described [here](https://zio.dev/usecases/usecases_testing/).

### Reproduction

(This example focuses on running tests via Bloop CLI, but the root reason is the same, and fixing one leads to fixing the other)

Consider this Maven pr

[2021-10-11 14:57] Arthurm1 commented on #1566
@tgodzik I thought we should wait a few days for @shawjef3 to reply as I wasn't sure if this has solved both issues.

[2021-10-11 22:06] oyvindberg opened #1582 "missing sbt-updates breaks build"
I tried to chase this to make a PR, but got lost. It seems to be on the first meta project level (in  `project/project` i can `sbt update` fine).

[code]

I went ahead and copied the files into place, and the build continued. I suppose this is some aftermath of the bintraypocalypse

[2021-10-19 09:42] kpodsiad opened #1584 "Set `canDebug` in BuildTargetCapabilities"
Metals since https://github.com/scalameta/metals/pull/3210 generate run lenses for sbt, bloop (there are custom checks for them), and any build server which support `canDebug`. Setting this capability in bloop would allow to simplify metals' logic.
See https://github.com/build-server-protocol/build-server-protocol/pull/161 for more info.

[2021-10-19 14:00] hamnis opened #1585 "External classes dir may contain stale class files"
Hello.

I have experimented a bit with building jar files and distributions from bloop compiled code. My current experiment can be found [here](https://github.com/hamnis/bloop-packager/).

It seems like sometimes there may be class files left if I delete the corresponding source code. Thereby having more class files in t he external class files directory.

One such problem can be observed by check

[2021-10-20 10:27] tgodzik commented on #1582
Thanks for reporting! I am not sure where does this dependency come from actually:
[code]

Are you sure it's not a part of a globally added plugin?

[2021-10-26 11:53] igor-ramazanov opened #1593 "Autocompletion regression on zsh"
Bloop version:
[code]

SBT plugin version:
[code]

SBT plugin options:
[code]

Autocompletion installation:
[code]

Reproduce:
[code]

Expected: something like that as it was before
[code]

[2021-10-29 13:45] #1593 closed, assigned to nobody

[2021-10-30 13:35] igor-ramazanov commented on #1593
@tgodzik Many thanks! I've just built it locally, like a breath of the fresh air.

[2021-11-02 09:48] tgodzik opened #1598 "Bloop doesn't compile Scala 2.13.7"
The issue is because of the Zinc fork the compiler bridge doesn't compile anymore:
[code]

taking a look at it but I have no estimates for when it will work.

[2021-11-02 10:29] tgodzik commented on #1598
I made a fix in https://github.com/scalacenter/zinc/tree/main based on changes in https://github.com/scala/scala/commit/f51e204fb53f4155320bb5f75271991417453d76

@Duhemm would you be able to publish the fork?

[2021-11-02 13:50] Duhemm commented on #1598
The updated Zinc fork is in Maven central with version `1.3.0-M4+47-d881fa2f`.

[2021-11-02 14:51] SethTisue commented on #1598
Is there something we could add to the Scala 2 community build so we'd know in advance?

[2021-11-02 14:52] tgodzik commented on #1598
Theoretically, the zinc fork compilation, but we want to get rid of it, so maybe it doesn't make sense. I plan to put aside all other work next week to work on it

[2021-11-02 16:18] #1598 closed

[2021-11-03 09:59] ches commented on #1524
I believe this boils down to a duplicate of #558

[2021-11-03 12:09] kpodsiad opened #1603 "Stale `match may not be exhaustive` diagnostic"
I have the following scala file (scala-cli also uses bloop so the problem concerns bloop itself)
[code]
After saving there is a diagnostic which says:
[code]
but if I uncomment `// case C => ???` diagnostics aren't refreshed and warning remain. After manual reconnecting to the build server, the diagnostic is gone.

[2021-11-03 12:14] dos65 commented on #1603
Could you check if the same thing happen on 3.1.0?
I remember issues about stale diagnostic but probably it's gone after some of 3.0.x version

[2021-11-03 12:17] tgodzik commented on #1603
If it's a warning then the issue is https://github.com/scalacenter/bloop/issues/1509 which needs a zinc bump

[2021-11-03 12:19] kpodsiad commented on #1603
Yup, it's a warning.
Closing because it's contained in #1509.

[2021-11-03 12:19] #1603 closed

[2021-11-05 16:28] aishfenton opened #1604 "Gradle bloopInstall produces absolute paths, could they be relative?"
Gradle bloopInstall produces absolute paths, could they be relative to the project root directory instead? This would unlock a few things :

* Potentially checking the exported files into source control. So as folks switch between branches, they don't have to re-export each time
* Supporting Gradle's remote cache functionality.

For context, why the above two items feel important for our project,

[2021-11-05 16:35] tgodzik commented on #1604
Thanks for reporting! This might actually be related to the version of Zinc that is being used by Bloop.

Related issues: https://github.com/scalacenter/bloop/issues/1351

I will work on migrating to newest zinc next week, which could unblock this possibly.

Anyway, this is a great suggestion and hopefully should be possible.

[2021-11-05 16:40] aishfenton commented on #1604
I guess the problem is that the Gralde cache could at different locations, on different machines. Hmm, I wonder if there's a way to work around this.

[2021-11-05 17:07] Arthurm1 commented on #1604
I don't know why the export should take anywhere near that long.  I've had to create test projects with 100s of subprojects and BloopInstall has only taken 10s to run.

Have you got source generation going on that's triggering on every export?  Some task that's being triggered due to us reading the classpath?  Or is this 15mins down to downloading dependencies

Adding an option to change the absol

[2021-11-05 18:40] aishfenton commented on #1604
Yeah, I'm not sure either why it's such a long task. My guess is our dependency graph is just extremely big (unfortunately unavoidable in our situation). The generated Json files are ~200MB so I'm thinking we really do just have a lot of dependencies.

[2021-11-06 11:17] Arthurm1 commented on #1604
Any chance you could post just the dependency sections of your project build files?

[2021-11-12 17:53] eikek opened #1606 "Dependencies from Runtime configuration are not visible"
Hello! I have an issue with `bloop run …` in one of my projects where it seems that dependencies that are declrared in sbts `Runtime` config are not visible. I prepared a small example project to reproduce it. Thank you very much!

[bloop-demo.tar.gz](https://github.com/scalacenter/bloop/files/7529480/bloop-demo.tar.gz)

[2021-11-18 13:31] tgodzik commented on #1606
Thanks for reporting! Looks like we never did https://github.com/scalacenter/bloop/pull/1387 for sbt, so we should be able to add it for the sbt integration.

[2021-11-22 12:16] kovacshuni opened #1608 "Incompatibility with better-monadic-for"
Compilation error comes up when using oleg-py's [better-monadic-for](https://github.com/oleg-py/better-monadic-for)

in places like
[code]

`not found: value implicit0`

The issue comes up nondeterministically. I haven't been able to find the perfect re-producing project, but in larger projects it comes up definitely with a higher probability: 90%+. If you create a mini-project for the above examp

[2021-11-22 12:22] tgodzik commented on #1608
Thanks for reporting! I haven't seen an issue like this previously. I am currently working on updating Bloop's Zinc to the newest version, since a lot of problems might have been fixed already. Let's confirm if it help in this situation after that work is complete.

[2021-11-24 12:20] kovacshuni commented on #1608
Turns out it was the `wartremover` plugin that can break other compiler plugins.

Removing
[code]

from `project/plugins.sbt` and making sure no other components pull this dependency fixed my build, or rather fixed my compilation errors shown in my editor.
Thanks

[2021-11-24 12:20] #1608 closed

[2021-12-13 13:37] pdziedzic-sumo opened #1624 "Bloop export directory name clashes"
Hi, I've got a large Gradle project with 'sql' and 'sql-test' sub-projects in it.

It seems that bloop export [generates](https://scalacenter.github.io/bloop/docs/build-tools/gradle) its own 'sql-test' config based on the 'sql' project and ignores/overwrites my original 'sql-test' project in .bloop/ - I see various errors about missing classes in my IDE (vscode).

This issue would affect projects

[2021-12-13 15:30] dos65 commented on #1624
Thanks for reporting!
Probably it might be an issue in exporting from maven and sbt too.

[2021-12-13 15:45] tgodzik commented on #1624
This can probably be fixed in https://github.com/scalacenter/bloop/blob/24f0bbad9889b47b2106e54f481b2fea05ae23dd/integrations/gradle-bloop/src/main/scala/bloop/integrations/gradle/model/BloopConverter.scala#L738

For sbt and maven, I think the situation is a bit worse.

[2021-12-13 15:58] Arthurm1 commented on #1624
I can take a look at it

[2021-12-13 21:28] kraktus commented on #1467
Installation is still failing

[2021-12-14 14:18] #1624 closed

[2021-12-14 18:01] tgodzik commented on #1467
Graal still doesn't seem to work for M1 (https://github.com/oracle/graal/issues/2666) so best to use `bloop-jvm` instead

[2021-12-14 19:29] tgodzik opened #1626 "Rethink sbt offloading compilation to Bloop"
One of the features that we wanted to add at some point was allowing sbt to hand off all the compilation to Bloop, which would mean that running Bloop in Metals and using sbt CLI would use the same compilation

This however was never fully finished and I removed it in https://github.com/scalacenter/bloop/pull/1623 due to compatibility issues with never sbt versions.

The approach is archived at:
h

[2021-12-14 20:06] avsaase opened #1627 "Maven <classifier> is not correctly appended to artifact"
I'm running into an issue exporting a Maven built to bloop using `mvn ch.epfl.scala:maven-bloop_2.13:1.4.11:bloopInstall`. Some of my dependencies have a `<classifier>` in the pom file and I believe it is not correctly appended to the package name when retrieving the artifact.

I cannot share my code or the dependency but the problem can be reproduced with a seed project such as `sbt new scalameta

[2021-12-14 21:28] avsaase commented on #1627
I want to use VSCode and the Metals extension for my Maven project. Some dependencies are fetched from a private repository and this fails, probably because of this bug. The error I get is something like
[code]

When I look in the repository the path is
[code]

From this I get the idea that the classifier is important and needs to be appended after the version number.

[2021-12-14 22:35] tgodzik commented on #1467
`bloop` is native image based (which doesn't work on M1) while `bloop-jvm` is just a jar.

[2021-12-15 14:55] avsaase commented on #1627
Is there any way to manually specify the correct artifact?

[2021-12-20 18:03] dos65 opened #1630 "Incorrect stdout/stderr lines positions"
Having the following source:
[code]

The output from `bloop run` or from run in Metals prints sterr lines earlier than it should be.
Output from bloop:
[code]

Output from `sbt run` - expected one:
[code]

[2021-12-21 09:50] lwronski opened #1631 "Resources file not visible in classes directory"
Hello, I have an issue with `bloop run`, that resource files are not copied to the classes directory.

Using this source:
[code]

With SBT:
[code]

`classes directory` contains `input` file

With bloop:

After running `sbt bloopInstall`
[code]

but with `bloop` classes directory doesn't contain `input` file

[2021-12-21 10:57] tgodzik commented on #1631
Thanks for reporting! We might not be correctly copying the results to the client class directories.

[2021-12-21 15:32] Arthurm1 commented on #1631
As far as I understand - Bloop intentionally doesn't copy resources into the classes dir.  Instead it puts the resources dir on the classpath (and expects it to be on the classpath of dependent projects).  I guess this is an optimisation to save on file copying.  This works fine for compile/test/run but not packaging.  It might be easier to change the package code to include the resources dir.

[2021-12-21 16:12] tgodzik commented on #1631
Thanks for pointing that out! Bloop wasn't doing any packaging yet, so that would explain it.

[2021-12-21 18:20] kpodsiad commented on #1631
@tgodzik It's worth noting that the issue is not about packaging, @lwronski provided an example with `sbt run` which compiles and runs code.

For me, the main issue is that once compiled stuff shouldn't change its behavior. If bloop puts _**current** **resources**_ from the working directory on the classpath then after compilation I may do some changes in resources. Suddenly the program is working

[2021-12-22 19:41] tgodzik commented on #1627
I am trying a solution where we will skip downloading of artifacts which are not the default classifier, since we don't need them for compilation. Would that be a correct assumption?

[2021-12-22 19:54] avsaase commented on #1627
To be honest I don't know as I'm quite new to Scala and Maven. From the example I posted [here](https://github.com/scalacenter/bloop/issues/1627#issuecomment-994031998) I think the classifier is important to get the correct artifact. That said, I am happy to test your PR right now and let you know if it works. How do I apply your fix in my project?

[2021-12-22 20:29] tgodzik commented on #1627
It's probably best to wait until this is merged, it should be easier to test out. What is the classifier that you need here?

I am aware of only 2 additional types such as `sources` and `javadoc`, which both are not needed for compilation.

[2021-12-22 20:31] tgodzik commented on #1627
The alternative would be to just set the classifier instead of empty if it's available. Maybe that is a better solution :thinking:

[2021-12-22 20:37] avsaase commented on #1627
It looks like we use the classifier to indicate a compatible version of the dependency 🤷🏻. For example, the classifier could be `dependencyname-1.1`.

[2021-12-23 12:15] tgodzik commented on #1627
Ok, so I changed the fix, it should work now.

But to make sure it makes sense, you should be able to actually test it out via running:
[code]

and then:
[code]
just change the version to the one that was printed in the previous version such as `1.4.11-26-d87f872c-20211223-1308`

[2021-12-23 12:35] avsaase commented on #1627
Do I need to run these commands in the `bloop` folder or in the Maven project?

[2021-12-23 13:00] avsaase commented on #1627
It works! I ran the first command in the `bloop` folder and then
[code]
in my Maven project. The build now seems to be imported in Metals as I can do go to definition and use the other features.  Awesome!

[2021-12-23 13:42] tgodzik commented on #1627
Cool, thanks! Sorry I didn't respond earlier, I was finishing up some christmas preperations.

[2021-12-23 13:47] avsaase commented on #1627
Oh, that's really no problem. There are more important things in life.

I'm super happy it is fixed. Thanks a lot! Happy holidays!

[2021-12-23 13:56] avsaase commented on #1627
One last thing. I noticed there is a `metals.bloopVersion` setting in VSCode. Can I use that to automatically use the fixed bloop version in all my projects? I tried setting it to `2.13:1.4.11-26-42024fe8` but that gave an error it couldn't find the build server.

[2021-12-23 14:52] tgodzik commented on #1627
You can set it to `1.4.11-26-42024fe8` , but you would need to run `sbt publishLocalAllModules` to have everything available locally.

[2021-12-23 16:11] #1627 closed

[2021-12-29 13:38] DoSOfRedRiver commented on #1272
@kubukoz did you have a chance to find what was the problem?

[2021-12-29 16:55] ckipp01 opened #1635 "Use multiple bloop servers on one machine"
Originally report here: https://github.com/scalameta/metals/issues/3301#issue-1058205570

[code]

Response from @tgodzik

[2021-12-30 08:07] nigredo-tori opened #1636 "bloop-maven: support per-execution configuration"
[Here](https://github.com/scalacenter/bloop/blob/75fb344129bc92d3fff76f57429660e7014322c2/integrations/maven-bloop/src/main/scala/bloop/integrations/maven/MojoImplementation.scala#L45) we take scalac options etc. from the `//plugin/configuration` element in `pom.xml`. However, Maven has an [option](https://maven.apache.org/guides/mini/guide-configuring-plugins.html#Using_the_executions_Tag) to ove

[2021-12-30 11:53] tgodzik commented on #1636
Thanks for reporting! Do you have an example of such a project? I would greatly help out figuring out the issue. We can use it for the tests to quickly check if everything is working properly.

[2021-12-30 13:07] nigredo-tori commented on #1636
I don't have an example project right now. I'll try and whip something up, but it'll probably be a couple of days.

[2021-12-30 14:14] tgodzik commented on #1636
Thanks!

[2022-01-02 08:02] jsngbin opened #1641 "maven-bloop can't resolve the 2-depth dependency with "system scope""
Hello.

I found that maven-bloop can't resolve the dependency with "system scope" **in specific case.**

First, I add dependency like below within my project's pom.xml and **it works fine**.

[code]

But, when I add the "hadoop-annotations" as a dependency like below (**without dependency jdk.tools 1.8 in pom.xml**)
  -  the hadoop-annotations library has dependency with 'jdk.tools' only when usin

[2022-01-02 17:22] kubukoz commented on #1272
@DoSOfRedRiver bloop 1.4.11 and scala 3.1.0 seem to work fine (using cats from 2.13 interop again). sbt is 1.6.1, but exporting to bloop with 1.5.6 also seems to work.

[2022-01-02 17:23] #1272 closed

[2022-01-02 17:23] kubukoz commented on #1272
Sorry, forgot to mention, if you're still seeing similar issues it might deserve another ticket 😅

[2022-01-03 06:13] nigredo-tori commented on #1636
Here's a tiny [example.zip](https://github.com/scalacenter/bloop/files/7800597/example.zip). It has kind-projector plugin enabled using per-execution configuration, which Bloop import ignores. As a result, Maven can compile the project just fine, while Bloop fails, and Metals shows a compilation error.

[2022-01-04 17:33] tgodzik commented on #1641
Thanks for reporting! The issue might be connected to the fact that we try to resolve artifact within the system scope, while we should not have just use the provided path.

[2022-01-05 02:02] jsngbin commented on #1641
I'm curious about `we should not have just use the provided path` you said.
Which case we should not have just use the path?
So, using 1-depth dependency will not guarantee works fine?

plz let me know!
thank you!

[2022-01-05 08:01] tgodzik commented on #1641
Ach sorry, I meant that we should use it :sweat_smile: Not sure how that `not` got in there.

[2022-01-07 19:06] kpodsiad opened #1649 "Change default branch to `main`"

[2022-01-08 16:37] tgodzik commented on #1649
Thanks for raising this!
I wanted to do that after I merge Zinc and also try remove any loaded language at that point (whitelist etc.). It's good to keep this as a reminder.

[2022-01-08 19:32] kpodsiad commented on #1649
I'll be more than to help you with the second part.

[2022-01-11 11:30] dos65 opened #1651 "Java compiler with semanticdb options fails on Jdk17"
To reproduce, I've opened the [scala-cli repository](https://github.com/VirtusLab/scala-cli) using the latest Metals snapshot
And got the following error in log:
[code]

It seems that in case if there are `-J` flags we need to force bloop to use ForkedJavaCompiler instead of local one.

[2022-01-11 11:34] tgodzik commented on #1651
Yeah, that's what I was meaning to take a look into.

[2022-01-11 11:44] dos65 commented on #1651
@tgodzik Ok, will look at it

[2022-01-11 14:39] #1651 closed

[2022-01-13 12:42] rreckel opened #1656 "NumberFormatException when using zulu 1.17 jdk"
# Description

bloop exits with exception when using the zulu 1.17 jdk

## Reproduction steps:
Install and use zulu 1.17 jdk using:
`eval $(cs java --jvm zulu:1.17 --env)`

Run bloop in project directory:
`bloop projects --verbose`

Result:
[code]

## Expected behavior

Return project names

## OS

macOS 12.1

## Bloop version

bloop v1.4.12

## Java version

openjdk 17-ea 2021-03-16
OpenJDK Runti

[2022-01-13 13:12] tgodzik commented on #1656
Thanks for reporting! You can switch to an earlier version for the time being. In the meantime I will take a look and fix this one.

[2022-01-13 13:33] rreckel commented on #1656
Thank you,
JFYI using openjdk 1.17.0 works as expected.
so using
`eval $(cs java --jvm openjdk:1.17.0 --env)`
will solve the problem.
I just wanted to use zulu because they compiled the jdk for the M1 chip ...

[2022-01-13 13:33] tgodzik commented on #1656
Weirdly enough I can reproduce it on Zulu, but I think I know what can help here.

[2022-01-13 14:24] keynmol commented on #1656
Indeed, Jabba's index is abandoned and is out of date.

More details is in the issue: https://github.com/coursier/coursier/issues/2261

Along with suggestions on how to force it to use a different index :)

[2022-01-13 14:29] Arthurm1 commented on #1656
I guess this is because Bloop doesn't understand how to parse `EA` versions?

[2022-01-13 14:39] tgodzik commented on #1656
That's right, fixing it here: https://github.com/scalacenter/bloop/pull/1657/files

I actually managed to reproduce it.

[2022-01-13 14:59] rreckel commented on #1656
Thank's a lot for your help.
I used the new index and with zulu:17.0.1 everything works as expected.
It seems that coursier 2.1.0 will default to the new index, but I am still running on coursier 2.0.16.
Thx again!

[2022-01-13 16:17] #1656 closed

[2022-01-17 17:34] vikasdp opened #1660 "Using SBT version which has log4j vulnerability fixed"
couldn't find bloop version that uses SBT version which has log4j vulnerability fixed in it. is there going to be a new bloop version available which addresses this?

[2022-01-17 17:42] tgodzik commented on #1660
Thanks for reporting! The bloop plugin can be used with the later versions of SBT. We haven't managed to update Bloop repo itself to 1.6.0 due to some incompatibilities. This should not cause any issues however, since we do not accept any user input or run jobs in prs from unknown contributors .

Please correct me if I am wrong.

[2022-01-17 18:55] vikasdp commented on #1660
thanks @tgodzik  for the response. may be I missed something but through Metals [Metals](https://scalameta.org/metals/blog/2022/01/12/aluminium) we using bloop -  do you know where/how we can configure bloop (again we use bloop only via metals plugin) use later version of SBT (which has log4j vulnerability fixed) ?

[2022-01-17 20:32] tgodzik commented on #1660
Bloop itself doesn't use sbt. The bloop plugin is only used to export configuration files that can later be used to compile the project.

[2022-01-20 22:23] oyvindberg commented on #1582
I tried again now on the same machine, and the error is gone. Closing